[2020-06-20 04:00] HarshCasper opened #2 "Lorem Ipsum Generator"
## AIM

Create a Script that can generate Lorem Ipsum Text given the number of Paragraphs that are needed by the User.

## Languages

- Python [ Assigned to @seema1711 ]

## Details

Lorem Ipsum is a popular text placeholder text. In this Script, we are removing the need for a Developer to copy-paste Lorem Ipsum Texts repeatedly and instead create a Script that can generate Lorem Ipsum Paragraphs,

[2020-06-20 04:04] HarshCasper opened #3 "Cryptocurrency Prices"
## AIM

Create a Script that can retrieve Cryptocurrency Prices from the [Coinbase Database](https://www.coinbase.com/price).

## Languages

- Python
- Javascript
- Go

## Details

Cryptocurrency Prices are subject to market changes and in this Script, we are giving the option to Developers to track them straight from their Command-Line. The Script should make use of Web Scrapping Options to get t

[2020-06-20 04:12] HarshCasper opened #4 "RSA Key Pair Generator"
## AIM

Create a Script that can generate an RSA Key Pair.

## Languages

- Python
-Javascript

## Details

Create a Script that can generate a [RSA Key Pair](https://en.wikipedia.org/wiki/RSA_(cryptosystem)) giving us a Public and a Private Key.

[2020-06-20 04:16] HarshCasper opened #5 "Website Blocker"
## AIM

Create a Script that can block specific Websites like Instagram, YouTube, Facebook during Work Hours.

## Languages

- Python

## Details

In this Script, you have to make use of the hosts' file and block some of the Websites mentioned above during Work Hours.

[2020-06-20 04:18] HarshCasper opened #6 "Vigenere Cipher"
## AIM

Create a Script to implement Vigenere Cipher

## Languages

- Python
- Javascript
- Go

## Details

In this Script, you have to implement the concept of Vigenere Cipher and encrypt/decrypt a text based on the User-choice.

[2020-06-20 05:55] seema1711 commented on #2
Can I work on this?

[2020-06-20 06:04] HarshCasper commented on #2
You have been assigned this issue @seema1711

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.

Best of luck with your Open-Source Journey :)

[2020-06-20 14:23] mbcse commented on #4
Would Like to work on this

[2020-06-20 14:56] HarshCasper commented on #4
You have been assigned this Issue @mbcse

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-20 17:50] mohitacecode commented on #6
would like to work on this.

[2020-06-21 04:10] #2 closed

[2020-06-21 04:11] HarshCasper commented on #6
You have been assigned this Issue @mbcse

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-21 04:16] HarshCasper opened #8 "NMap Scanner"
## AIM

Create a NMap Scanner using Python Programming Language.

## Languages

- Python

## Details

Create a Script to scan the Host's IP Address and the Hostname (If Present) using NMap by creating a script to automate the process. You can make use of [this](https://pypi.org/project/python-nmap/) library for your purpose and ease.

[2020-06-21 04:26] HarshCasper opened #9 "Initialize a HTTP Server"
## AIM

Create a Script to initialize an HTTP Server.

## Languages

- Python
- Javascript

## Details

In this Script, you have to initialize an HTTP Server straight from the Command-Line.

[2020-06-21 04:35] seema1711 commented on #9
Can I work on this?

[2020-06-21 04:35] seema1711 commented on #8
Can I work on this?

[2020-06-21 04:44] HarshCasper opened #10 "Hash the File"
## AIM

Create a Script that can hash a given file using specific algorithms like MD-5, SHA-256 and SHA-512.

## Languages

- Python
- Javascript

## Details

In this Script, you have to make use of File Handling and Hashing Functions to hash the given file.

[2020-06-21 04:52] HarshCasper commented on #8
You have been assigned this Issue @seema1711

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also, reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-21 04:52] HarshCasper commented on #9
You have been assigned this Issue @seema1711

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also, reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-21 08:24] AnkitaBIT commented on #5
Can I work on this @HarshCasper ?

[2020-06-21 08:32] HarshCasper commented on #5
You have been assigned this Issue @AnkitaBIT

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also, reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-21 16:09] HarshCasper opened #11 "Create an Air Mouse"
## AIM

Create an Air Mouse which allows you to control your Mouse Cursor using your Smartphone's Accelerator.

## Languages

- Python

## Details

You can make use of specific libraries like [Pynput](https://pythonhosted.org/pynput/mouse.html) and [Sockets](https://pypi.org/project/sockets/) to make your Smartphone function as an Air Mouse.

[2020-06-21 16:14] HarshCasper opened #12 "Create a Subtitle Downloader"
## AIM

Create a Subtitle Downloader Script that can download Subtitles in specific Languages, for any Movie or an Online Show straight from your Command-Line.

## Languages

- Python

## Details

You can make use of a Database like [Subdb](http://thesubdb.com/) for your purpose and specific libraries like Requests and Beautiful Soup for scrapping the Subtitles and storing them.

[2020-06-21 16:18] HarshCasper opened #13 "Download all Instagram Posts"
## AIM

Create a Script that can download all Pictures from a Public Instagram Profile using Web Scrapping and store them in your Local System.

## Languages

- Python
- Javascript

## Details

You can make use of Web Scrapping Libraries to download the Pictures from any Instagram Profile Page. Optionally you can mention options like the pictures that you want to be downloaded, or should videos be

[2020-06-22 09:59] YatinAdityaT opened #14 "Get memes from reddit !!"
AIM

Create a Script that can download all pictures of memes from any of these subreddits r/deepfriedmemes, r/surrealmemes, r/nukedmemes, r/bigbangedmemes, r/wackytictacs, r/bonehurtingjuice using Web Scrapping and store them in your Local System.
Languages

    Python

[2020-06-22 11:47] #9 closed

[2020-06-22 14:17] HarshCasper commented on #14
This is a Cool Idea 😂

I am assigning you to work on this issue.

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also, reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-23 00:31] sanket143 commented on #13
I would like to work on this

[2020-06-23 00:34] sanket143 commented on #10
we already have a tool for that.
[code]

[2020-06-23 02:59] HarshCasper commented on #10
But it is not available for Windows Users. I am looking at a script which can make use of specific libraries and take user's choice to hash the file and produce the output.

[2020-06-23 03:00] HarshCasper commented on #13
You have been assigned this Issue @sanket143

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also, reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-23 16:17] seema1711 commented on #12
Can I work on this?

[2020-06-23 16:19] seema1711 commented on #11
Can I work on this?

[2020-06-24 02:18] HarshCasper commented on #11
You have been assigned this Issue @seema1711

Please follow the general guidelines:

- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also, reference this Issue in your PR so that it becomes easy for us to review.

[2020-06-24 02:19] HarshCasper commented on #12
You can complete the Issues that have been assigned to you currently. At a single time, only two issues can be assigned to a single person.

[2020-06-24 06:42] mbcse commented on #4
There are already some js libraries that generate RSA keys, so what different we have to do ??

[2020-06-24 07:05] sanket143 commented on #10
Can I work on this?

[2020-06-24 10:48] HarshCasper commented on #10
Surely. I have assigned you the Issue.

[2020-06-24 10:58] #13 closed

[2020-06-24 11:04] HarshCasper opened #17 "Automate Committing using Git"
## AIM

Develop a Script to automate the Commit Operation using Git to a remote repository.

## Languages

- Python
- Javascript
- BASH

## Details

Currently, to push to a remote repository, we have to push in multiple commands like ```add```, ```commit``` and ```push```. Why don't we automate the whole process with a simple Script? Make a Python Script which can automate the whole process and pu

[2020-06-24 11:08] HarshCasper opened #18 "Update Interesting Facts"
## AIM

Create a Script that can flash up my Desktop Notifications with an interesting facts in a specific period of time.

## Languages

- Python

## Details

I am a Reddit Fan, and I love scrolling through specific Sub-Reddits, especially the ```/r/todayilearned``` Sub-Reddit which has got something to amaze every time. I want to automate this whole process and get interesting updates straight f

[2020-06-24 11:16] HarshCasper opened #19 "Find all Links"
## AIM

Create a Script to grab all the Links present in a Webpage and display them.

## Languages

- Python
- Javascript
- BASH

## Details

You have to create a script that can grab all of the Links present in a Webpage and display them. You can make use of Web Scrapping Libraries and Regular Expressions for this purpose.

[2020-06-24 14:12] mbcse commented on #3
would like to work on this

[2020-06-24 14:56] HarshCasper commented on #3
I have assigned you the Issue. You can work on this now @mbcse

[2020-06-24 14:59] #4 closed

[2020-06-24 15:07] HarshCasper opened #21 "Improve README + Add Contributors"
## AIM

Creating a Section to showcase all the Project Contributors and honour them. Also to improve the README and make it more visually appealing and supportive for new contributors.

## Features

- Configure a Github Bot named [All-Contributors](https://allcontributors.org/) to showcase all Contributors on the Repository.
- Improve the README and Content-Flow to allow new users to understand th

[2020-06-24 15:11] HarshCasper opened #22 "Make Contributors Guideline"
## AIM

Create Contributors Guideline to help new Contributors get started with this Project.

## Features

- Add a ```CONTRIBUTING.md``` to allow new users to get started with knowing how to contribute.
- Add Screenshots wherever possible.
- Add the basic information about creating Issues, Pull Requests and Branching.
- Mention tutorials related to Git and Github to help them better understand.

[2020-06-24 15:15] HarshCasper opened #23 "Create an Issue + Pull Request Template"
## AIM

Create a custom Issue and Pull Request Template.

## Features

- Make an Issue Template. Any new Contributor must be able to specify if it is a new script or enhancement to an older one. It should also be specified which language he is coding it in.

- Make a Pull Request Template. Any new Contributor must be able to specify if he has met all the requirements like Clean Code, proper README

[2020-06-24 18:07] AnkitaBIT commented on #22
Can I work on this @HarshCasper ?

[2020-06-25 02:35] HarshCasper commented on #22
I have assigned you the Issue @AnkitaBIT

You can start working on it!

[2020-06-26 10:10] sanket143 commented on #19
I would like to work on this

[2020-06-27 09:57] #5 closed

[2020-06-27 09:59] #3 closed

[2020-06-27 10:00] #10 closed

[2020-06-27 10:07] HarshCasper opened #29 "Build a Github Username Checker and Generator"
## AIM

Build a Github Username Checker and Generator.

## Languages

- Python
- Javascript
- Go

## Details

I want to check if a particular Username exists on Github or not. I enter a name and the Script should generate a list of Usernames possible out of my Initial Name and my Title and check which Username is available. In Python, you can make use of ```requests``` and ```random_word``` while

[2020-06-27 10:09] HarshCasper opened #30 "Create a Script to send Mails"
## AIM

Create a Script to send E-Mails to a list of Users.

## Languages

- Python
- Javascript

## Details

Make use of variety of libraries available in Python and JS like ```smtplib``` and ```nodemailer``` respectively to send E-Mails.

[2020-06-27 10:14] HarshCasper opened #31 "Create a File Organizer Script"
## AIM

Create a File Organizer Script.

## Languages

- Python

## Details

My Download Folder is a typical mess with files of all extensions like ```.mp4```,  ```.pdf```,  ```.docx``` and more. I want to group them in separate folders according to their Extension. Create a Script that can help me in that purpose.

[2020-06-27 10:17] HarshCasper opened #32 "Create a Script to download Instagram Videos"
## AIM

Create a Script to download Instagram Videos

## Languages

- Python
- Javascript

## Details

The User should pass in the ```Post``` ID and the Script should download the Video and save it in the Root Directory.

[2020-06-27 10:19] HarshCasper opened #33 "Create a Script to find a Phone Number in a Text"
## AIM

Create a Script to find a Phone Number in a Text.

## Languages

- Python
- Javascript
- Go

## Details

This is an interesting use case where you make use of Regular Expressions and try to find the Phone Number in a Text.

[2020-06-27 10:21] HarshCasper opened #34 "Convert Image to PDF"
## AIM

Create a Script to convert Image to a PDF

## Languages

- Python
- Javascript

## Details

Make use of Libraries to convert an image to a PDF using only a Script.

[2020-06-27 10:28] HarshCasper opened #35 "Create a Medium Article Downloader"
## AIM

Create a Medium Article Downloader.

## Languages

- Python
- Javascript
- Golang

## Details

Since most of the Medium Articles are behind a paywall, it would be quite better if you can create a Script that can privately downloaded Medium Article and save them in your Downloads Folder.

[2020-06-27 10:31] seema1711 commented on #17
I want to work on this.

[2020-06-27 10:31] HarshCasper opened #36 "Find the Current City Weather"
## AIM

Find the Current City Weather

## Languages

- Python
- Javascript

## Details

You can make use of an ```OpenWeather Map API``` to fetch the Weather of a City and display it on the CLI itself.

[2020-06-27 10:34] HarshCasper opened #37 "Ping your Servers"
## AIM

Create a Script that can ping a remote server and notify you if it is down.

## Languages

- Python
- Javascript
- Golang

## Details

I sometimes need to take a look if my Servers on platforms like ```Heroku``` are still operational after a time. You can create a Script that can ping your server and check if it is still functional or not.

[2020-06-27 10:38] HarshCasper opened #38 "Fetch Github Information"
## AIM

Create a Script that can fetch Github Information.

## Languages

- Python
- Javascript
- Golang

## Details

Make use of the ```Github API``` to fetch the Github Information of any particular User given the Username.

[2020-06-27 10:51] HarshCasper commented on #17
I have assigned you the Issue. You can start working on it @seema1711 🙌

[2020-06-27 11:34] mbcse commented on #6
would like to work on this

[2020-06-27 12:09] mohitacecode commented on #6
Working on it will soon submit a PR

[2020-06-27 15:22] Prahitha commented on #36
I would like to work on this.

[2020-06-27 16:41] Namyalg commented on #38
Hello,
I would like to work on this issue

[2020-06-27 16:56] Sanketwable commented on #29
I want to work on this

[2020-06-27 17:16] Namyalg commented on #35
I would like to try this.

[2020-06-27 17:17] Namyalg commented on #36
I would like to work on this

[2020-06-28 03:09] HarshCasper commented on #36
You can work on the Python Implementation @Prahitha

Would you like to work on implementation in Javascript @Namyalg ?

[2020-06-28 03:11] HarshCasper commented on #35
You can start working on this @Namyalg

[2020-06-28 03:16] Namyalg commented on #36
I have already done the python implementation.  I can try javascript.

On Sun, Jun 28, 2020, 8:39 AM Harsh Bardhan Mishra <notifications@github.com>
wrote:

[2020-06-28 03:18] HarshCasper commented on #29
I have assigned you the Issue. You can start working on it.

[2020-06-28 03:18] HarshCasper commented on #38
I have assigned you the Issue. You can start working on it @Namyalg

[2020-06-28 03:43] HarshCasper opened #39 "Develop a Screen Grabber"
## AIM

Create a Screen Grabber which captures the screen and saves it in a Folder.

## Languages

- Python

## Details

Often whiling Video Lectures, I wish to capture the Screenshots and save it. This process can be automated by creating a Script that can be launched which runs in the background, and with one press of a key, this snap can be captured.

[2020-06-28 03:54] HarshCasper opened #40 "Download all Repositories"
## AIM

Create a Script to download all Repositories.

## Languages

- Python
- Javascript

## Details

Sometimes, I need to backup all my Repositories on my Local Machine. Create a Script that can automatically download all the Remote Repositories from Github onto my Local Machine.

[2020-06-28 04:44] #8 closed

[2020-06-28 04:58] HarshCasper opened #41 "Remove the Charger"
## AIM

Create a Script that can notify that the Laptop has fully charged

## Languages

- Python

## Details

I never get a notification on my Windows when my Laptop Battery has completely charged. We can create a Script for this purpose which automatically pops a notification when the Laptop Battery is charged.

[2020-06-28 07:03] mbcse commented on #41
would like to work on this

[2020-06-28 07:03] mbcse commented on #40
would like to work on this

[2020-06-28 14:09] sanket143 commented on #41
I had a similar issue. My laptop used to get shut down without even notifying me. So I created [battery-notifier](https://github.com/sanket143/battery-notifier) to help me with that. It notifies us with custom messages that get triggered whenever it reaches a certain percentage of the battery and also depending on the status of the battery i.e Charging/Discharging.

Here is the default [config](ht

[2020-06-28 15:10] sanket143 commented on #37
`ping` is available for all Operating Systems. We can just `ping google.com`. :grey_question:

[2020-06-28 15:13] sanket143 commented on #39
For which Operating System?

[2020-06-28 15:15] sanket143 commented on #33
I would like to work on this

[2020-06-28 16:32] Sanketwable commented on #29
Generated a PR for this issue : https://github.com/HarshCasper/Rotten-Scripts/pull/43
@HarshCasper,  Please review

[2020-06-29 00:49] Namyalg commented on #38
How exactly am I supposed to submit the solution?

On Sun, Jun 28, 2020, 8:49 AM Harsh Bardhan Mishra <notifications@github.com>
wrote:

[2020-06-29 03:03] HarshCasper commented on #38
- Make a Branch off your Master and work on that.
- Make a proper README of how your Script works and what all libraries and modules you have used.
- Add Proper Comments and focus on Clean Code, in practice.
- Also reference this Issue in your PR so that it becomes easy for us to review.

For any doubts and queries, drop a message on the Communication Channel.

[2020-06-29 03:18] #29 closed

[2020-06-29 03:24] HarshCasper commented on #33
I have assigned you the Issue @sanket143

[2020-06-29 03:25] HarshCasper commented on #39
Primarily for Windows OS but if the accessibility is extended to Linux and OSX as well. That would be better. Currently, Windows Users can grab a screen with ```Windows+Prt Sc``` but this capability can be diluted to a simple click of a button like ```Shift```

[2020-06-29 03:28] HarshCasper commented on #33
Sorry, @sanket143

This Issue was for PSoC'2020 Participants and I mistakenly assigned you the Issue without looking at the Tags. Sorry for Misunderstanding.

[2020-06-29 03:28] HarshCasper commented on #37
@sanket143 This Issue is for PSoC'2020 Participants and serves as a Good First Issue for them to start over.

[2020-06-29 03:34] Sanketwable commented on #37
@HarshCasper How is this supposed to work??

[2020-06-29 03:39] Sanketwable commented on #33
@HarshCasper  how is it supposed to work?

[2020-06-29 04:08] HarshCasper commented on #33
@Sanketwable Well, the User can input a text file and the Script should make use of Regular Expressions to spit out all the Valid Phone Numbers in the Text

[2020-06-29 04:11] HarshCasper commented on #37
The Web Apps deployed on Heroku sometimes get non-operational when they are not in use for few days. This Script can ping that Heroku Server in a fixed interval and notify you when it has become non-operational and even 'force' it to wake up.

[2020-06-29 15:21] Sanketwable commented on #33
for checking whether a number is valid or not, we have to use an API.
but none of the API is public.

[2020-06-29 16:45] Namyalg commented on #36
Hey,
I wanted to know if I can improve my script for accessing github content
given username. I have created a pull request.

Regards,
Namya LG

[2020-06-30 02:39] #19 closed

[2020-06-30 02:45] HarshCasper commented on #41
This is a Cool Tool that you have built @sanket143. But since Rust is out of the Project Language, I don't have much idea on whether we can implement the same with this Project.

@mbcse You can work on the same.

[2020-06-30 02:47] HarshCasper commented on #40
I have assigned you the Issue @mbcse

You can work on the same

[2020-06-30 02:47] HarshCasper commented on #11
Are you working on this @seema1711 ?

[2020-06-30 02:48] HarshCasper commented on #14
Are you working on this @YatinAdityaT ? Let me know if you need any help.

[2020-06-30 02:49] HarshCasper commented on #22
Are you working on this @AnkitaBIT ?

[2020-06-30 03:10] AnkitaBIT commented on #22
Yes @HarshCasper

[2020-06-30 03:28] HarshCasper opened #47 "Script to upload File as a Github Gist"
## AIM

Create a Script to upload a File as a Github Gist

## Languages

- Python
- Javascript

## Details

In this Script, we wish to upload a specified file onto Github as a Private Gist straight from the Command Line Interface to be referenced later.

[2020-06-30 03:35] HarshCasper opened #48 "Script to apply Gradient Mapping to an Image"
## AIM

Develop a Script to apply Gradient Mapping to an Image
## Languages

- Python

## Details

Make use of modules like ```numpy```, ```CV``` and ```Matplotlib``` to apply Gradient Mapping to an Image.

[2020-06-30 03:45] YatinAdityaT commented on #14
@HarshCasper Yes, I am... unfortunately our end sems are approaching so I can't dedicate enough time to it... The barebones code is ready but I am not satisfied with its performance. For instance, the program downloads files one after another. I want to add multiprocessing to speed up this process. Also, the videos downloaded don't contain sound in them so I am looking into it...

Thank you for as

[2020-06-30 03:50] HarshCasper opened #49 "Script to track Data Usage"
## AIM

Create a Script to track Data Usage.

## Languages

- Python

## Details

Create a Python Script to keep a track of network usage and notify you if it exceeds a specified limit.

[2020-06-30 03:56] HarshCasper opened #50 "Script to convert Video Files to MP3 Files"
## AIM

To create a Script to convert Video Files to MP3 Files.

## Languages

- Python

## Details

In this Script, you have to convert the Video Files to MP3 Files.

[2020-06-30 06:30] Namyalg commented on #30
I would like to work on this.

[2020-06-30 07:31] AnkitaBIT commented on #39
@HarshCasper  I would like to work on this.

[2020-06-30 08:08] srimani-programmer commented on #50
I want to work on this issue. Can you please assign it for me?

[2020-06-30 08:09] seema1711 commented on #11
I am but it's not working, Maybe you can assign it to someone else.

[2020-06-30 08:32] HeroicHitesh commented on #33
@HarshCasper I am interested to work on this if no one is assigned.

[2020-06-30 08:37] HeroicHitesh commented on #34
@HarshCasper Interested to work on this issue. Please assign me this.

[2020-06-30 08:40] srimani-programmer opened #53 "Implementing the Cryptocurrency price tracker using Python."
<h2>AIM</h2>
Developing a Python Script to fetch all the cryptocurrency prices using Python.
<h3>Tools</h3>
1. Python <br>
2. Requests library <br>
3. JSON library

[2020-06-30 08:43] srimani-programmer commented on #53
<h2>AIM</h2>
Developing a Python Script to fetch all the cryptocurrency prices using Python.
<h3>Tools</h3>
1. Python <br>
2. Requests library <br>
3. JSON library

[2020-06-30 13:51] Prahitha commented on #32
I would like to work on this.

[2020-06-30 19:22] mohitacecode commented on #39
Would love to work on it.

[2020-07-01 06:35] HarshCasper commented on #39
@AnkitaBIT You can work on this.

[2020-07-01 06:38] HarshCasper commented on #32
I have assigned you the Issue. You can start working on it @Prahitha

[2020-07-01 06:55] HarshCasper commented on #11
You can try for some more time. Let me know if you need any help with this.

[2020-07-01 06:55] HarshCasper commented on #50
I have assigned you the Issue. You can start working on it @srimani-programmer

[2020-07-01 06:55] HarshCasper commented on #30
I have assigned you the Issue. You can start working on it @Namyalg

[2020-07-01 07:34] Puneet-Pal-Singh commented on #31
Hi Harsh, I like to work on this script.

[2020-07-01 08:30] HarshCasper commented on #31
I have assigned you the Issue. You can start working on it @Puneet-Pal-Singh

[2020-07-01 11:42] ArvindAROO commented on #12
Is this done, Can I contribute

[2020-07-01 11:48] HarshCasper commented on #12
@ArvindAROO This Issue is for the participants of ```Student Code-In``` Program.

[2020-07-01 11:50] ArvindAROO commented on #12
Oh, Ok. Is it open, am I allowed to join

[2020-07-02 11:32] #50 closed

[2020-07-02 11:34] HarshCasper opened #59 "Get Meaning of a Word"
## AIM

Create a Script to get the Meaning of a Word straight from CLI.

## Languages

- Python
- Javascript

## Details

In this Script, we have to make use of APIs to get the meaning of a word.

[2020-07-02 11:36] HarshCasper commented on #53
Already implemented here https://github.com/HarshCasper/Rotten-Scripts/issues/3

[2020-07-02 11:46] HarshCasper opened #60 "Get Stock Information"
## AIM

Create a Script to pick up Stock Information based on User Inputs and display on CLI.

## Languages

- Python
- Javascript
- BASH

## Details

You can make use of [Financial Modelling Prep API](https://financialmodelingprep.com/) to get access to various Stock Profiles and Stock Prices and display various details on the Command Line depending on the flags passed by the user.

[2020-07-02 11:57] HarshCasper opened #61 "Get Memes!"
## AIM

Create a Script to consume a REST API and get some cool Memes delivered straight on your Command-Line.

## Languages

- Python
- Javascript
- BASH
- Golang

## Details

Make use of the [Imgflip API](https://api.imgflip.com/) to consume REST endpoints and get some memes delivered to you straight from Command-Line.

[2020-07-02 13:59] srimani-programmer commented on #53
What should I do now? Shall i leave it.

[2020-07-02 16:55] seema1711 commented on #11
I don't wanna hold up on this issue for long. Can you assign it to someone else?

[2020-07-02 16:57] seema1711 commented on #47
I want to work on this.

[2020-07-03 04:29] HarshCasper commented on #11
Sure @seema1711 🤗

[2020-07-03 04:29] HarshCasper commented on #47
You have been assigned this Issue @seema1711

[2020-07-03 12:51] seema1711 opened #62 "Build a Twitter Bot using Python"
# AIM
Create a Twitter bot that will be used to like and retweet some particular hashtags.

# LANGUAGE

- Python

# DETAILS

To build a twitter bot, you can use [tweepy](https://github.com/tweepy/tweepy).

[2020-07-03 12:54] seema1711 commented on #62
@HarshCasper Can you consider this issue?

[2020-07-03 18:35] mohitacecode commented on #59
Please assign this issue to me

[2020-07-03 18:35] mohitacecode commented on #60
Please assign this issue to me

[2020-07-04 04:35] HarshCasper commented on #53
Yes

[2020-07-04 04:35] #53 closed

[2020-07-04 07:41] sanket143 commented on #61
Can I work on this?

[2020-07-04 22:19] Namyalg commented on #62
I would like to work on this

[2020-07-04 22:20] Namyalg commented on #61
I would like to work on this

[2020-07-04 22:21] Namyalg commented on #59
I would like to work on this

[2020-07-05 03:33] HarshCasper commented on #59
@mohitacecode You can work on this.

@Namyalg Issues tagged with ```SCI-2020``` are for SCI-Participants. Please take up Issues that have the ```PSOC-2020``` tag on them.

[2020-07-05 03:39] HarshCasper commented on #61
I have assigned you the Issue @sanket143

[2020-07-05 03:40] HarshCasper commented on #60
I have assigned you the Issue @mohitacecode

You can start working on this

[2020-07-05 05:50] sanket143 commented on #61
https://api.imgflip.com/get_memes is serving templates and not actual memes. Are we supposed to scrap
these?

[2020-07-05 08:13] seema1711 commented on #62
I think it's for SCI. @Namyalg

[2020-07-06 03:54] AnkitaBIT commented on #62
I would like to work on this @seema1711 @HarshCasper

[2020-07-06 04:04] AnkitaBIT commented on #48
I would like to work on this @HarshCasper

[2020-07-06 05:24] HarshCasper commented on #48
I have assigned you the Issue. You can start working on it @AnkitaBIT

[2020-07-06 15:04] SwagataJ commented on #39
Can I work on this? Do I also need to add a gui to it?

[2020-07-07 04:10] HarshCasper commented on #61
You can scrap the templates instead.

[2020-07-07 19:29] seema1711 commented on #49
I want to work on this. @HarshCasper

[2020-07-07 19:31] seema1711 commented on #12
Can I work on this?

[2020-07-08 03:08] HarshCasper commented on #62
@seema1711 You can work on this Issue. I would consider @seema1711 would be working on Python, so @AnkitaBIT can you work on its implementation in NodeJS ?

[2020-07-08 03:09] HarshCasper commented on #40
@mbcse Are you working on the same?

[2020-07-08 03:10] HarshCasper commented on #60
@mohitacecode Are you working on the same?

[2020-07-08 03:10] HarshCasper commented on #49
I have assigned you the Issue @seema1711

[2020-07-08 03:11] #47 closed

[2020-07-08 03:11] HarshCasper commented on #41
@mbcse Are you working on the same?

[2020-07-08 03:12] HarshCasper commented on #39
@SwagataJ This Issue is for ```SCI-2020``` Participants. You can take a look at ```Open-to-All``` Issues.

[2020-07-08 03:12] HarshCasper commented on #38
@Namyalg Are you working on the same?

[2020-07-08 03:12] #39 closed

[2020-07-08 03:14] #36 closed

[2020-07-08 03:14] HarshCasper commented on #14
@YatinAdityaT You can take your time on this. Let me know if you need any help with this!

[2020-07-08 03:15] #30 closed

[2020-07-08 03:15] #32 closed

[2020-07-08 03:16] Namyalg commented on #38
I have already contributed,  it has been reviewed and merged.

On Wed, Jul 8, 2020, 8:42 AM Harsh Bardhan Mishra <notifications@github.com>
wrote:

[2020-07-08 03:17] Namyalg commented on #30
I have written scripts in both python and JS. Have both been considered?

On Wed, Jul 8, 2020, 8:45 AM Harsh Bardhan Mishra <notifications@github.com>
wrote:

[2020-07-08 03:53] HarshCasper opened #68 "Script to populate Github Graph"
## AIM

Create a Script to populate Github Graph.

## Languages

- Python
- Javascript

## Details

You have to create a Script that can populate the Github Graph by making use of the Github API and the concept of Timestamps.

[2020-07-08 03:59] HarshCasper opened #69 "Script to generate Fake Data"
## AIM

Python Script to create Fake Numerical Data for Data Modelling and save it into an ```npz``` File.

## Languages

- Python

## Details

Often during Data Modelling, we need to generate Fake Data to create Basic Models. You can automate this process by making use of ```Numpy``` and ```Random``` Modules to generate fake numerical data and save it into a ```npz``` file.

[2020-07-08 04:20] HarshCasper opened #70 "Create a Word Cloud"
## AIM

Create a Script to create a World Cloud

## Languages

- Python
- Javascript

## Details

Take a Text File, preprocess the Content by removing Stopwords and Punctuation and create a Wordcloud out of them. In Python, you can make use of `numpy`, `Pillow`, and `matplotlib` to create a Word Cloud and save it as a Picture.

[2020-07-08 04:45] HarshCasper opened #71 "Develop a Script to download Quora Bookmarked Answers"
## AIM

Create a Script to scrap the Bookmarked Answers on Quora and save them as a PDF.

## Languages

- Python
- Javascript

## Details

I often Bookmark Answers on Quora which I can refer to later. It would be great for me if I can actually download all my Bookmarked Answers as PDFs which I can refer to later.

[2020-07-08 05:02] HarshCasper opened #72 "Create a Script to scrap Wallpaper from Reddit and set your Desktop Wallpaper"
## AIM

Create a Script to scrap Wallpaper from Reddit and set your Desktop Wallpaper

## Languages

- Python

## Details

`r/wallpapers` host a wide collection of Wallpapers. In this Script, you can scrap the top-rated Wallpaper and set it as the Desktop Wallpaper.

[2020-07-08 05:10] HarshCasper opened #73 "Download GeeksforGeeks Articles as PDF"
## AIM

Create a Script to download GeeksforGeeks Articles as PDF.

## Languages

- Python
- Javascript

## Details

Create a script which can download all the articles under a Tag like `Graphs` or `Trees` as a PDF File and store them.

[2020-07-08 05:12] HarshCasper opened #74 "Script to generate GIF"
## AIM

Create a Script to generate GIFs.

## Languages

- Python
- Javascript
- Golang

## Details

Take a Video Input and a Query from a user highlighting the portion whose GIF has to be generated. Generate a GIF using that Query. You can make use of the `ffmpeg` and `pysrt` library for that purpose.

[2020-07-08 05:20] HarshCasper opened #75 "Script to download an Amazon S3 Bucket"
## AIM

Create a Script that can download an Amazon Web Services (AWS) S3 Bucket.

## Languages

- BASH
- Python
- Javascript

## Details

Create a Script that can take the AWS Credentials and download the content of the specified S3 Bucket onto the Local Machine.

[2020-07-08 05:42] HarshCasper opened #76 "Create a Script to track Issues on a Github Repo"
## AIM

Create a Script which can help me to track the Issue on a Github Repository.

## Languages

- Python
- Javascript
- Golang

## Details

You have to create a script that can log all the Issues (Opened and Closed) and display them straight on the CLI.

[2020-07-08 05:55] Prahitha commented on #73
I would like to work on this.

[2020-07-08 06:13] HarshCasper commented on #73
I have assigned you the Issue @Prahitha

You can start working on the same?

[2020-07-08 07:02] mohitacecode commented on #60
Yes will soon submit a PR.

[2020-07-08 08:38] mbcse commented on #41
yes, created pull request

[2020-07-08 11:47] Sanketwable commented on #76
I want to work on this

[2020-07-08 12:03] HarshCasper commented on #76
I have assigned you the Issue. You can start working on this @Sanketwable

[2020-07-08 12:50] Aditya1001001 commented on #72
I would like to work on this.

[2020-07-08 13:13] HarshCasper commented on #72
Hello @Aditya1001001

Thanks for your interest in this Issue. I just wanted to check if you are a participant in ```SCI-2020```

[2020-07-08 13:16] Aditya1001001 commented on #72
I am afraid I'm not, is this repo exclusively for ```SCI-2020```?

[2020-07-08 13:17] HarshCasper commented on #72
@Aditya1001001 Issues tagged with ```SCI-2020``` is exclusive for the specific participants. This Repo is not exclusive.

If you want to work on any Issue, check for Issues that are `Open-to-All`. If you have something specific in mind, please make an Issue and I will promptly assign it to you.

[2020-07-09 13:18] HeroicHitesh commented on #33
@HarshCasper What is meant by `valid Phone Numbers` here? Is it a number having 10 digits with the first digit being one of the digits from 7, 8, or 9? or any other specific conditions need to be satisfied in order to qualify as a valid no?

[2020-07-10 02:03] Sanketwable commented on #74
I want to work on this.

[2020-07-10 15:48] AnkitaBIT commented on #62
@HarshCasper I would like to work on Twitter bot's implementation in NodeJS

[2020-07-10 16:01] mohitacecode commented on #69
Please assign this issue to me @HarshCasper

[2020-07-11 04:22] HarshCasper commented on #69
I have assigned this to you @mohitacecode

You can start working on this 🙌🤗

[2020-07-11 04:23] HarshCasper commented on #74
I have assigned this to you @Sanketwable

You can start working on this 🙌🤗

[2020-07-11 04:25] HarshCasper commented on #33
@HeroicHitesh It is a simple Regex Problem where you have to validate if a Phone Number is a valid number or not. You don't need an API to check if that number exists or not.

If you are still interested, I can assign this to you @HeroicHitesh

[2020-07-11 04:32] #60 closed

[2020-07-11 04:36] #59 closed

[2020-07-11 04:46] #61 closed

[2020-07-11 05:30] HeroicHitesh commented on #33
@HarshCasper actually I knew about the use of RE to solve this issue but I was curious about knowing what format is valid in our context?
There are different type of valid number formats available out there like - xxx-xxxx-xxx or xxx-xxx-xxxx, here x means a digit.
If you can clarify this doubt it will be easy for me to proceed.
Also, you can assign me this issue I am interested in it.

[2020-07-11 06:00] HarshCasper commented on #33
@HeroicHitesh You can handle this in context for Indian Phone Numbers in the format of both AAAAA-BBBBB (For Mobile Phones) and AAA-BBBBBBB (Landlines)

[2020-07-12 12:53] Sanketwable commented on #76
@HarshCasper Please review

[2020-07-12 15:33] mohitacecode commented on #18
Please assign this issue to me @HarshCasper

[2020-07-12 16:41] Namyalg opened #106 "Python-Telegram bot"
A telegram bot that can send memes, jokes, riddles and much more. A python-telegram wrapper is used.

[2020-07-13 02:47] #62 closed

[2020-07-13 02:56] #76 closed

[2020-07-13 03:33] HarshCasper commented on #106
I have assigned you the Issue @Namyalg

You can make a PR on that

[2020-07-13 03:34] HarshCasper commented on #12
I have assigned you the Issue @seema1711

You can work on this now

[2020-07-13 03:35] HarshCasper commented on #18
I have assigned you the Issue @mohitacecode

[2020-07-13 03:35] #22 closed

[2020-07-13 03:35] #31 closed

[2020-07-13 03:36] #33 closed

[2020-07-13 03:36] #34 closed

[2020-07-13 03:38] #38 closed

[2020-07-13 03:39] #41 closed

[2020-07-13 04:20] Namyalg opened #109 "Image filters using 3D convolution"
Use the idea of convolution to apply funky filters to images.
Written in Python.

[2020-07-13 07:02] srimani-programmer opened #110 "Image Encoder using Python"
Implementation of Image Encoder using Python.
### Language Used
- Python

[2020-07-13 17:25] deepraj1729 opened #111 "Mass-Email-Sender"
# Mass-Email-Sender

A Python script to send mass emails by :
1. Reading all the list of email ids from CSV and sending it in a loop
2. As well as by making a list of email ids inside the script and then sending it

# Later
Can be converted into a Python package

Mentions:
@HarshCasper

[2020-07-13 17:40] mohitacecode commented on #6
This issue can be closed I have already submitted a PR for this.

[2020-07-13 20:39] WinterSoldier13 opened #114 "Encoding text messages in an Image and Decrypting it from the image at the receivers end."
Language to be used: Python 3.x

[2020-07-14 03:36] #6 closed

[2020-07-14 03:37] HarshCasper commented on #114
Hello @WinterSoldier13

Thanks for making this Issue.

I am assigning you this Issues. Please follow the `CONTRIBUTING` guidelines while making a PR 🙌🤗

[2020-07-14 03:44] HarshCasper commented on #111
Thanks for raising this Issue @deepraj1729

I am assigning you this Issue. Please follow the `CONTRIBUTIONS` guidelines before making a Pull Request 🙌🤗

[2020-07-14 03:48] #110 closed

[2020-07-14 08:41] HeroicHitesh commented on #23
@HarshCasper I am interested in this, please assign it to me. Also, I have a doubt as far as I know it can be done from settings tab which is not accessible to contributors. So, how should I proceed with this issue?
One solution I am thinking of is I can create `issue_template.md` file and it can be used as a template but I am not sure it will work as required.

[2020-07-14 08:43] HeroicHitesh commented on #75
@HarshCasper I am interested in working on this issue, assign it to me. And are we supposed to use `boto3` to solve this issue or is there any other way?

[2020-07-15 03:20] HarshCasper commented on #75
@HeroicHitesh I have assigned you the Issue. You can make use of `boto3` to solve this Issue.

[2020-07-15 03:21] HarshCasper commented on #23
@HeroicHitesh You can add the templates in a separate Directory and I will integrate them with the Repository.

[2020-07-17 08:42] Prahitha opened #120 "Get sports score updates"
Get live matches scores, team info and match info using sports.py module

[2020-07-18 04:18] #23 closed

[2020-07-18 04:33] #120 closed

[2020-07-18 04:52] HarshCasper opened #124 "Script to bruteforce Admin Panels"
# Description

Create a Script that can brute-force Admin Panels on a Target Website.

## Language

- [X] Javascript
- [X] Python
- [X] Bash
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Adding a Script to Bruteforce Admin Panels|I'm looking to add more Sc

[2020-07-18 04:56] HarshCasper opened #125 "Find list of E-Mail in a Webpage"
# Description

Create a Script that can find me the list of E-Mails on a Webpage.

## Language

- [X] Javascript
- [X] Python
- [X] Bash
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Find list of E-Mail in a Webpage|To scrap all the E-Mails in a Webpage|Py

[2020-07-18 05:17] HarshCasper opened #126 "Script to develop a Keylogger"
# Description

Create a Script to create a Keylogger.

## Language

- [X] Javascript
- [X] Python
- [X] Bash
- [X] Powershell
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Keylogger|A Script that can log all your Key Press|Should be able to work for Window

[2020-07-18 05:24] HarshCasper opened #127 "Script to scrap an Instagram User's Followers and Following."
# Description

Create a Script to scrap an Instagram User's List of Followers and Following.

## Language

- [X] Javascript
- [X] Python
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Scrap Instagram's User's Followers and Follwoing|Store the List of Follow

[2020-07-18 05:31] HarshCasper opened #128 "Create a Script to fetch Comments from a Code"
# Description

Create a Script to fetch Comments in a Code and save them in a `README` markdown file for easy display and understanding the Project Details.

## Language

- [X] Javascript
- [X] Python
- [X] Bash
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|

[2020-07-18 05:43] HarshCasper opened #129 "Restructure the whole Project Codebase"
# Description

I'm looking to restructure the Whole Codebase to improve the readability and manage all the Scripts together. We have had a large number of contributions from `SCI-2020` and `PSoC-2020` Participants and we are looking for an even larger number of Contributions which needs to be managed now and upheaved before we move further.

## Language

- [X] Markdown

## Type of issue

*Please d

[2020-07-18 06:12] HarshCasper opened #130 "Create a Script to find Similar Images in the Directory"
# Description

Create a Script to find Similar Images in the Directory

## Language

- [X] Javascript
- [X] Python
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Find Similar Images in Directory|Find Similar Images and remove duplicated Images|Hard, Python,

[2020-07-18 06:23] HarshCasper opened #131 "Add a README Section for PSoC Participants"
# Description

Add a README Section for PSoC Participants

## Language

- [X] Markdown

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Add a README Section for PSoC Participants|Currently, the `README` Lacks a section for PSoC|Markdown, No-Code|`Open to PSoC Participants

[2020-07-18 06:31] HarshCasper opened #132 "Download all Python Libraries for Data Science and Machine Learning"
# Description

Create a Script to download all Python Libraries for Data Science and Machine Learning

## Language

- [X] BASH

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Download Python Libraries for ML/DS|Eliminate the need to download every library individually|Me

[2020-07-18 06:34] HarshCasper opened #133 "Download Project Euler Problems"
# Description

Create a Script to scrap and download Project Euler Problems.

## Language

- [X] Javascript
- [X] Python
- [X] Bash
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Download Project Euler Problems|Save all Project Euler Problems locally|Python

[2020-07-18 06:46] HarshCasper opened #134 "Download Mangas as save as PDF"
# Description

Create a Script to download Mangas from [Kissmanga](https://kissmanga.com/) and save them as PDF.

## Language

- [X] Javascript
- [X] Python
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Manga Downloader|Download Mangas and save as PDF|Pyth

[2020-07-18 06:50] HarshCasper commented on #12
Are you working on this @seema1711 ?

[2020-07-18 06:50] HarshCasper commented on #18
Are you working on this @mohitacecode ?

[2020-07-18 06:51] #21 closed

[2020-07-18 06:51] HarshCasper commented on #35
Are you working on this @Namyalg ?

[2020-07-18 06:51] #40 closed

[2020-07-18 06:52] HarshCasper commented on #48
Are you working on this @AnkitaBIT ?

[2020-07-18 06:52] HarshCasper commented on #49
Are you working on this @seema1711 ?

[2020-07-18 06:53] HarshCasper commented on #69
Are you working on this @mohitacecode ?

[2020-07-18 06:54] Namyalg commented on #35
Yes, I need a little assistance on this. We will know the URL of the
article that needs to be downloaded here right?

On Sat, Jul 18, 2020, 12:21 PM Harsh Bardhan Mishra <
notifications@github.com> wrote:

[2020-07-18 07:28] Prahitha commented on #134
I would like to work on this

[2020-07-18 07:29] Prahitha commented on #70
I would like to work on this

[2020-07-18 08:43] seema1711 commented on #49
Yes.

[2020-07-18 08:43] seema1711 commented on #12
Yes, it's a long procedure I need some time.

[2020-07-18 09:36] mbcse opened #135 "Show important Telegram messages"
# Description
As telegram use is increasing day by day, There are lots of communities operating on Telegram, but due to this we sometimes join a lot of groups which results in skipping some important messages that can be helpful for us. So want to make a script that will get all messages of the groups you have joined and show you only the relevant messages that you want to see!

## Language

- Jav

[2020-07-18 09:36] HarshCasper commented on #35
Yes, of course. The User will pass the URL of the Blog that needs to be downloaded.

[2020-07-18 09:37] HarshCasper commented on #134
I have assigned you the Issue @Prahitha

You can start working on this

[2020-07-18 09:37] mbcse commented on #135
@HarshCasper

[2020-07-18 09:38] HarshCasper commented on #70
I have assigned you the Issue @Prahitha

You can start working on this

[2020-07-18 09:57] HeroicHitesh commented on #68
@HarshCasper I will work on this, assign this to me.

[2020-07-18 10:54] gpsyrou commented on #128
Seems very interesting for my first time working in an open source. Can I work on this ? :)

[2020-07-18 11:39] Namyalg commented on #35
Okay, will continue working on it then.

On Sat, Jul 18, 2020, 3:07 PM Harsh Bardhan Mishra <notifications@github.com>
wrote:

[2020-07-18 11:55] HarshCasper commented on #128
Hello @gpsyrou

I am exhilarated to see that you are interested in taking up this Issue. Although this Issue is for `SCI-2020 Participants`, you can work on this in a specific language (Python/JS/Golang/BASH). Let me know the language on which you want to work, and I will assign it to you 🤗

[2020-07-18 12:35] mbcse commented on #128
would like to work on this

[2020-07-18 12:39] mbcse commented on #124
Is it like we need to find admin login page link for a given website

[2020-07-18 12:47] gpsyrou commented on #128
Awesome, thanks a lot! I wound like to use Python for this.

[2020-07-18 13:39] HarshCasper commented on #128
@gpsyrou I would assign you this Issue in Python

@mbcse Would you want to work on this in Javascript?

[2020-07-18 13:39] HarshCasper commented on #124
Yes @mbcse

[2020-07-18 13:41] mbcse commented on #128
Yes

[2020-07-18 13:42] mbcse commented on #124
Okay would like to work on this

[2020-07-18 13:54] HarshCasper commented on #128
I have assigned the Issue in Python @gpsyrou and in JS to @mbcse

[2020-07-18 14:27] AnkitaBIT commented on #48
Yes @HarshCasper

[2020-07-18 15:32] HarshCasper commented on #124
I have assigned you the Issue @mbcse

[2020-07-19 04:13] HarshCasper commented on #135
This was something that I needed 😁

I am assigning you this Issue @mbcse and I am assigning it in the `Hard` category.

[2020-07-19 05:52] HarshCasper opened #137 "Generate Bulk Certificates taking an input from a File"
# Description

Create a Script that can generate Bulk Certificates taking an input from a File which includes the Name of the person to whom the Certificate is issued.

## Language

- [X] Javascript
- [X] Python
- [X] Bash
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------

[2020-07-19 06:18] HarshCasper opened #138 "Create a Script to check who is Online"
# Description

Create a Script to check who is online on WhatsApp.

## Language

- [X] Python
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Check who is Online|A Script which can check your Contacts on who is Online at the given time and |Python, Golang|`O

[2020-07-19 06:54] HarshCasper opened #139 "Increase YouTube Views"
# Description

Create a Script which can inflate the number of views on a given YouTube video.

## Language

- [X] Javascript
- [X] Python
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Increase YouTube Views|Inflate the number of views on any YouTube Video

[2020-07-19 18:21] mohitacecode commented on #69
Will submit a pr soon @HarshCasper .

[2020-07-19 18:21] mohitacecode commented on #18
Will submit a pr soon @HarshCasper .

[2020-07-20 11:30] Namyalg commented on #133
I would like to take this up.

[2020-07-20 17:15] srimani-programmer commented on #139
I want to work on this issue Can you please Assign it to me.

[2020-07-21 09:24] #68 closed

[2020-07-21 09:26] #12 closed

[2020-07-21 21:06] mohitacecode opened #144 "[Discussion] We should start implementing class based module"
Hey Mohit here,

I think it's high time that we should start writing our scripts in the form of class so that the user can directly import the script and use it instead of running the whole file.

I know that it will take time to shift to this pattern but we should start it in near future as it will be required as codebase will increase.

for example:
[code]

[2020-07-22 03:16] #139 closed

[2020-07-22 03:23] #69 closed

[2020-07-22 04:01] HarshCasper commented on #144
That is a brilliant suggestion here @mohitacecode

I saw a similar proposal from @Sanketwable who has worked a lot on integrating Go Scripts with this Project. I would love to see a proposal coming up to be able to achieve this.

[2020-07-22 07:44] HeroicHitesh commented on #144
@mohitacecode @HarshCasper I liked this idea, and would love to contribute towards this shift. Let me know if I can help with anything.
Also, I have some small doubts
1. > import abc_script from RottenScript

in this line does it mean `RottenScript` will be a package/module which is imported? If so, do we need to publish it somewhere?

2. Can we have all language script under one class or do we ne

[2020-07-22 12:30] seema1711 commented on #125
I want to work on this issue.

[2020-07-22 12:39] seema1711 commented on #129
I think we can add an index page like structure in the readme file.

[2020-07-22 12:59] srimani-programmer commented on #132
Can you please assign this issue for me. I want to work it in python.?

[2020-07-22 13:03] Namyalg commented on #35
Is is necessary to download and include all the images included in the article ?

[2020-07-22 13:22] srimani-programmer opened #147 "Port Scanner in Python"
# Description

Please include a summary of the issue.

## Language

- [x] Python

## Type of issue

*Please delete options that are not relevant.*
- [x] Feature

[2020-07-22 14:06] mohitacecode commented on #144
Great Question. Let's Brainstorm on this @HarshCasper @HeroicHitesh.
It seems that we need to create seprate packages for each language.

for example:
we have `qt` package for desktop application development which is available in different languages such as Python, C. for instance in python it is call PyQT5,  QT in C.

[2020-07-22 14:07] mohitacecode commented on #144
Yes

Need to see it myself

[2020-07-22 14:09] mohitacecode commented on #144
Most probably we will start this once `Student Code-in` and `PSOC` is over so that new contributor does not have to struggle to implement scipts in `classes`.

[2020-07-22 14:10] mohitacecode commented on #144
It seems we can assign this issue `High Priority` tag. @HarshCasper

[2020-07-24 09:32] #70 closed

[2020-07-24 10:52] #35 closed

[2020-07-24 11:05] #147 closed

[2020-07-24 11:10] #133 closed

[2020-07-24 12:37] HarshCasper commented on #132
I have added a section for Python as well. You can start working on it in Python @srimani-programmer

[2020-07-24 12:37] HarshCasper commented on #129
@seema1711 It would be great if you can submit a short proposal for the same.

[2020-07-24 12:37] HarshCasper commented on #125
Assigned to you @seema1711

[2020-07-24 12:39] HarshCasper commented on #144
That would be great. Thanks for the fruitful debate up here, because this has clarified many ideas for my side @mohitacecode @HeroicHitesh

[2020-07-25 05:16] HarshCasper commented on #74
@Sanketwable Are you working on this?

[2020-07-25 05:16] #109 closed

[2020-07-25 08:28] AnkitaBIT commented on #126
I would like to work on this @HarshCasper

[2020-07-25 08:41] AnkitaxPriya opened #152 "Script to merge PDF files"
# Description

Develop a script for merging PDF files.

## Language

- [x] Python

## Type of issue

- [x] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Merge PDF files|We have many PDF files of our course at college |Python| |

**Is your feature request related to a problem? Please describe.**: We generally have many PDF files related to t

[2020-07-25 09:40] Sanketwable commented on #74
yes I will make PR by today

[2020-07-27 05:44] #48 closed

[2020-07-27 06:16] HarshCasper commented on #126
I have assigned this Issue to you @AnkitaBIT

[2020-07-28 15:48] srimani-programmer commented on #130
I will work on this issue with Python. Can you please assign it for me.

[2020-07-28 18:37] mohitacecode opened #154 "Substitution Cipher"
# Description

Create a Script to implement Substitution Cipher

## Language

- [x] Python

## Type of issue

*Please delete options that are not relevant.*

- [x] Feature
- [ ] Bug

## Details
In this Script, you have to implement the concept of Substitution Cipher and encrypt/decrypt a text based on the User-choice.

[2020-07-28 18:38] mohitacecode commented on #154
Please assign this issue to me and also assign specific labels to it. @HarshCasper

[2020-07-29 06:26] Namyalg opened #155 "Number of posts, followers and following on Instagram given username"
# Description

Please include a summary of the issue.

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

## Type of issue

*Please delete options that are not relevant.*

- [ ] Feature
- [ ] Bug

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Feature request|Details (Motivation behind) about your fea

[2020-07-29 09:07] kushal98 commented on #152
Hey,

Can I work on this?

Thanks

[2020-07-29 13:27] kushal98 commented on #155
Hey,

I would like to take this issue.

Thanks

[2020-07-30 13:15] Sanketwable commented on #138
I want to work on this

[2020-07-31 09:04] Namyalg opened #161 "Whatsapp Bot that gives statistics of COVID cases given a country"
# Description

This script aims at building a bot that can be used by all and provides the statistics of COVID cases in a country

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

## Type of issue

*Please delete options that are not relevant.*

- [ ] Feature
- [ ] Bug

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|-

[2020-07-31 09:10] Namyalg commented on #161
I would like to work on this. Will extend functionality to all Indian States also.

[2020-08-03 02:48] #134 closed

[2020-08-03 02:59] #137 closed

[2020-08-03 03:00] HarshCasper commented on #161
Assigned to you @Namyalg

You can work on this

[2020-08-03 03:02] HarshCasper commented on #155
@kushal98 I would like you to wait for sometime before any Project Admin/Mentor assigns you the Issue. Also currently this repo is being used by SCI-2020 and PSoC-2020 Participants hence Issues made by the individual participations would be solved by them.

[2020-08-03 03:02] HarshCasper commented on #154
Assigned to you @mohitacecode

You can work on this

[2020-08-03 03:04] HarshCasper commented on #152
@kushal98 I would like you to wait for sometime before any Project Admin/Mentor assigns you the Issue. Also currently this repo is being used by SCI-2020 and PSoC-2020 Participants hence Issues made by the individual participations would be solved by them.

Since you have already made a PR, I would like to know from @AnkitaBIT whether she wants to continue with this Issue or can I take into accoun

[2020-08-03 03:05] HarshCasper commented on #130
I have assigned you the Issue in Python @srimani-programmer

[2020-08-03 03:06] HarshCasper commented on #138
I have assigned you the Issue in Python @Sanketwable

[2020-08-03 03:15] HarshCasper opened #164 "Send Connection Requests on LinkedIn"
# Description

Create a Script that can send Connection Requests on LinkedIn with a personalized note as given by the User.

## Language

- [X] Javascript
- [X] Python
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Send Connection Request|Script to send per

[2020-08-03 03:23] HarshCasper opened #165 "Scrap Latest Torrents"
# Description

Create a Script that can scrap the latest torrents as per the labels given.

## Language

- [X] Python
- [X] Golang

## Type of issue

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Scrap Latest Torrents|Get Latest Torrents straight on your CLI as per the labels given|PSoC-2020, Python, Golang, Hard|`Open for PSoC-2020 P

[2020-08-03 03:42] HarshCasper opened #166 "Bomb WhatsApp Messages"
# Description

Create a Script to bomb your WhatsApp Contacts with one message. You can take a message content from a user and bomb that same message to all your Contacts. You can optionally add an option to bomb the same message multiple times to the same user.

## Language

- [X] Javascript
- [X] Python
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

[2020-08-03 03:46] HarshCasper opened #167 "Build an Amazon Price Tracker"
# Description

Create a Script that can track the price of a specific product for me.

## Language

- [X] Javascript
- [X] Python
- [X] Golang

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Script to track Amazon Prices|Log the Changes in price made over the time and gi

[2020-08-03 09:14] Namyalg commented on #167
I would like to work on this

[2020-08-03 15:29] AnkitaBIT commented on #152
No worries @HarshCasper, I will work on other issue.

[2020-08-03 16:20] Sanketwable commented on #74
close

[2020-08-04 06:47] #74 closed

[2020-08-04 15:15] Prahitha commented on #165
I would like to work on this

[2020-08-04 15:19] Prahitha commented on #72
I would like to work on this

[2020-08-05 13:34] Sanketwable commented on #71
I want to work on this

[2020-08-05 13:47] Anushka-S10 opened #171 "Shows Desktop Notifications"
# Description

A desktop notifier app runs on your system and it will be used to send you notifications after every specific interval of time.

## Language

- [ ] Javascript
- [X] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

## Type of issue

*Please delete options that are not relevant.*

- [ ] Feature
- [ ] Bug

## Checklist:
Name | About
:------------------ | :--------------

[2020-08-06 12:31] mohitacecode commented on #164
Please assign this issue to me

[2020-08-06 19:09] mohitacecode opened #174 "Script to find file on a given path"
# Description

Write a script to search a file on a given path.

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

## Type of issue

*Please delete options that are not relevant.*

- [ ] Feature
- [ ] Bug

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Feature request|Details (Motivation behind) abou

[2020-08-06 19:09] mohitacecode commented on #174
Please assign this issue to me.

[2020-08-07 17:15] amandp13 commented on #166
Please assign this to me

[2020-08-08 11:15] Namyalg opened #177 "A memory game built in PyGame"
# Description

Please include a summary of the issue.

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

## Type of issue

*Please delete options that are not relevant.*

- [ ] Feature
- [ ] Bug

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Feature request|Details (Motivation behind) about your fea

[2020-08-08 18:11] amandp13 commented on #125
@HarshCasper I also want to work on this issue.

[2020-08-10 02:08] HarshCasper commented on #164
I have assigned this to you @mohitacecode

[2020-08-10 02:09] HarshCasper commented on #71
I have assigned this to you @Sanketwable

[2020-08-10 02:09] HarshCasper commented on #72
I have assigned this to you @Prahitha

[2020-08-10 02:32] #174 closed

[2020-08-10 02:35] HarshCasper commented on #177
Hello @Namyalg

I don't see the point on adding a game, to a Repository which mainly consists of Scripts. Can you please elaborate further on how this would help us?

[2020-08-10 02:39] #138 closed

[2020-08-10 09:02] Namyalg commented on #177
Hello,

It might not be completely relevant....I will think a little more from next
time.

Regards,
Namya LG

On Mon, Aug 10, 2020, 8:05 AM Harsh Bardhan Mishra <notifications@github.com>
wrote:

[2020-08-11 03:30] HarshCasper commented on #165
I have assigned this to you @Prahitha

[2020-08-11 03:31] #72 closed

[2020-08-12 08:19] Anushka-S10 opened #184 "Regex Pattern Matching"
# Description

This script can be used to check if a string contains the specified search pattern.

## Language

- [X] Python

[2020-08-12 14:24] srimani-programmer opened #186 "Large File Indentifier"
# Description

Please include a summary of the issue.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-12 14:34] srimani-programmer opened #188 "Facebook Auto Post"
# Description
A script that helps to post the content automatically on Facebook using python.
## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-12 17:00] srimani-programmer opened #191 "Instagram Profile Pic Downloader"
# Description
Developing a Script in Python to download Instagram profile photos.

## Language

- [x] Python

## Type of issue

*Please delete options that are not relevant.*

- [x] Feature

[2020-08-13 21:48] #154 closed

[2020-08-15 04:39] #191 closed

[2020-08-15 04:46] #132 closed

[2020-08-15 04:57] #188 closed

[2020-08-15 04:59] #186 closed

[2020-08-15 06:12] sameersrivastava13 opened #193 "Script to Create an Amazon S3 Bucket"
# Description

If you want to create a S3 bucket using Python instead of creating it from the console. You can use the boto3 library for accessing AWS using Python.

## Language

- [ ] Python

## Type of issue

*Please delete options that are not relevant.*

- [ ] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Feature request| Will add a pyt

[2020-08-15 06:13] sameersrivastava13 commented on #75
Can i work on this issue? @HarshCasper

[2020-08-15 06:19] sameersrivastava13 opened #194 "Adding a common Secret Manager script to get the secret string."
**AIM**

To add a python script to retrieve the decrypted secret value from an AWS Secrets Manager secret.

**Languages**

- [ ] Python

**Details**

To add a python script to retrieve the decrypted secret value from an AWS Secrets Manager secret with custom exception handling.

[2020-08-15 11:16] Anushka-S10 opened #196 "Web Crawler in Python"
# Description

Automated program script that browses the world-wide-web and it can look and store the contents of the web page.

[2020-08-15 15:02] HarshCasper opened #198 "Welcome to HakinCodes Contributor's Hack 2020"
Hello, Everyone ✨🙌

Thanks for showing your interest in being a part of the [Contributor's Hack](https://hakincodes.tech/) 💥

We are super delighted to have you onboard for your Contributions on [Rotten Scripts](https://github.com/HarshCasper/Rotten-Scripts) 🙌

Here are the Mentors for the Project:

| Name 📛  |      Social Media #️⃣ |  Github 🐱‍💻 |
|----------|:-------------:|------:|
| Seema Saha

[2020-08-15 20:53] Namyalg opened #201 "Automate sending messages on WhatsApp"
# Description

This script aims at automating the process of sending messages on WhatsApp using Python and the webdriver Selenium.

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

## Type of issue

*Please delete options that are not relevant.*

- [ ] Feature
- [ ] Bug

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|

[2020-08-15 22:22] HeroicHitesh commented on #75
@HarshCasper, sorry for the delayed response, unfortunately, there's no way to download the entire bucket at once using `boto3` as far as I read. So, finally, I decided to create a Python script without using any SDKs by utilizing `AWS CLI` directly. I am done with the script waiting for approval of #200, as soon as it gets merged I'll make a PR to resolve this issue also.

Sorry, @sameersrivastav

[2020-08-16 02:44] #131 closed

[2020-08-16 02:47] #37 closed

[2020-08-16 02:53] HarshCasper opened #202 "Script to convert all HTML Files to Markdown Format"
# Description

Create a script which can convert all HTML Files to Markdown Format.

## Language

- [X] Javascript
- [X] Python
- [X] Bash

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

[2020-08-16 02:56] HarshCasper opened #203 "Create a Script to convert a JSON to a YAML"
# Description

Create a script which can convert a JSON File to a YAML File.

## Language

- [X] Javascript
- [X] Python
- [X] Bash

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

[2020-08-16 03:01] HarshCasper opened #204 "Create a Script to download Slides from Slideshare"
# Description

Please include a summary of the issue.

## Language

- [X] Javascript
- [X] Python
- [X] Bash

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Script to download Slideshows|The primary purpose of the Script would be to download LinkedIn SlideShare as PDF Fi

[2020-08-16 03:12] AdityaJ7 commented on #203
I would like to work on this issue in Python

[2020-08-16 03:17] tejan-singh commented on #202
I want to work on this

[2020-08-16 03:20] avinashkranjan commented on #126
I would like to work on this issue in C/Python

[2020-08-16 03:29] aastha985 commented on #167
I would like to work on this issue in JavaScript.

[2020-08-16 03:30] AkM-2018 commented on #204
I would like to work on this with python.

So, we input the url, and the python program downloads the file for us, rgt? Can I use Selenium for this?

[2020-08-16 03:37] HarshCasper commented on #202
Assigned to you @tejan-singh

You can work on the same now

[2020-08-16 03:38] HarshCasper commented on #126
Assigned to you in Python @avinashkranjan

We don't have C Language under the scope of this Project for now

[2020-08-16 03:38] HarshCasper commented on #204
You can use any tool you like fits the purpose @AkM-2018

I have assigned you the Issue in Python

[2020-08-16 03:40] avinashkranjan commented on #126
Do you want a script completely from scratch or I can use existing libraries ? @HarshCasper

[2020-08-16 03:51] aastha985 commented on #127
I would like to work on this.

[2020-08-16 03:52] aastha985 commented on #73
I would like to work on this.

[2020-08-16 03:53] aastha985 commented on #127
I would like to work on this issue.

[2020-08-16 04:13] HarshCasper commented on #127
I have assigned you the Issue @aastha985

[2020-08-16 04:28] kaustubhgupta commented on #18
I would like to work on this😃 @HarshCasper

[2020-08-16 04:49] tejan-singh commented on #202
What's the deadline to complete this assignment ?

[2020-08-16 04:58] HarshCasper commented on #18
Assigned to you @kaustubhgupta

[2020-08-16 04:58] HarshCasper commented on #202
7 Days @tejan-singh

[2020-08-16 06:41] bagofcodes commented on #166
I would like to try this in python

[2020-08-16 08:02] AkM-2018 commented on #204
Hey! I'm done with the code. I'm including the chromeDriver and requirements.txt with it. Should I write README file for it??

[2020-08-16 08:32] eternal-dreamer commented on #202
I also want to work on this .Can I ?

[2020-08-16 08:42] sahanabalappa commented on #203
I would like to work on this issue in Python

[2020-08-16 09:35] HarshCasper commented on #203
I have assigned the Issue to you @AdityaJ7

@sahanabalappa If you would like, you can work on this in JS

[2020-08-16 09:36] HarshCasper commented on #202
@eternal-dreamer You can but on some other languages like Javascript, Golang or BASH

[2020-08-16 09:37] HarshCasper commented on #166
I have assigned you the Issue @bagofcodes

[2020-08-16 14:37] harshareddy794 commented on #196
Please assign me this issue @HarshCasper

[2020-08-16 17:12] amandp13 commented on #203
@HarshCasper I would like to work on this issue

[2020-08-16 17:14] amandp13 commented on #196
@HarshCasper Please assign this issue to me

[2020-08-16 18:30] eternal-dreamer commented on #202
Okay , I will try to do it using JavaScript.

[2020-08-16 19:11] avinashkranjan commented on #127
@aastha985 Which language are you using to build the script? I'd like to build a script fro the same But I don't want both building it on the same language..

[2020-08-16 19:17] aastha985 commented on #127
I am doing it in Python

[2020-08-16 19:20] avinashkranjan commented on #127
@aastha985 Okay..Then I'm left with JavaScript and Golang..
I'll be building this in JavaScript..
Happy Coding.  👨🏻‍💻
@HarshCasper If you could assign me that'd be great

[2020-08-17 03:23] AkM-2018 commented on #73
I would like to work on this using Python.

[2020-08-17 06:18] HarshCasper commented on #73
I have assigned you the same @AkM-2018

[2020-08-17 06:51] alazar-w commented on #196
hey please assign me to this issue

[2020-08-17 07:37] HarshCasper commented on #194
Hello @sameersrivastava13

Would you like to work on this for Contributor's Hack 2020?

[2020-08-17 07:37] HarshCasper commented on #193
Hello @sameersrivastava13

Would you like to work on this for Contributor's Hack 2020?

[2020-08-17 07:38] HarshCasper commented on #202
I have assigned you the Issue in Javascript @eternal-dreamer

[2020-08-17 07:42] HarshCasper opened #211 "Clone the Whole Website"
# Description

Create a Script that can clone an entire Static Website and save it on my Root Directory.

## Language

- [X] Javascript
- [X] Python
- [X] Bash

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

[2020-08-17 07:43] HarshCasper opened #212 "Script to extract Pictures Metdata"
# Description

Create a Script which can extract a Picture's Metadata.

## Language

- [X] Javascript
- [X] Python
- [X] Bash

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

[2020-08-17 07:44] #201 closed

[2020-08-17 07:44] #75 closed

[2020-08-17 07:47] HarshCasper opened #213 "Add Github Actions"
## Type

Feature

## Description

Add Github Actions to the Project.

- [ ] Greet the User creating Issue/PR

## Tools

- Github Actions

### Motivation

I am literally tired adding Tags to respective Issues.

[2020-08-17 07:52] sameersrivastava13 commented on #193
@HarshCasper yes please assign me this.

[2020-08-17 07:53] sameersrivastava13 commented on #194
yes @HarshCasper .
Please assign me this i have the script ready with me.

[2020-08-17 08:16] alazar-w opened #214 "Telegram Channel Activity Evaluation"
# Description
This python Script is used to analizing telegram channel activity like how many active users to help advertisers choose best channel to advertise on.
## Language

- [x] Python

## Type of issue

*Please delete options that are not relevant.*

- [x] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Telegram Channel Activity Evaluat

[2020-08-17 12:38] AdityaJ7 commented on #213
I would like to work on this issue

[2020-08-17 16:17] amandp13 commented on #212
@HarshCasper I would like to work on this issue.

[2020-08-17 20:23] avinashkranjan commented on #211
I'd Like to work on this issue in python

[2020-08-18 04:11] #124 closed

[2020-08-18 04:11] #203 closed

[2020-08-18 06:45] bagofcodes commented on #166
I have completed the task for this issue...Thanks for this lovely issue..Really enjoyed doing it....Will be happy if you review it...

[2020-08-18 06:58] bagofcodes commented on #106
Is the issue still available? @HarshCasper

[2020-08-18 13:05] kaustubhgupta commented on #18
@HarshCasper made a pull request. PR #219

[2020-08-18 13:50] sameersrivastava13 commented on #194
@HarshCasper Assign me this.

[2020-08-19 11:05] HarshCasper commented on #127
I have assigned to you @avinashkranjan in Javascript

[2020-08-19 11:08] #18 closed

[2020-08-19 11:13] #204 closed

[2020-08-19 12:05] avinashkranjan commented on #211
Hey @HarshCasper, I can use **pywebcopy** and bring down the code to max 5 lines. I can also use multiple libraries like **bs4**, **urlib**, **cssutils** and code in an more elaborate way..How do you want to push the code..or _Should I push both the versions??_

[2020-08-19 12:06] avishmehta68710 opened #227 "Bugs in the code"
## Description

bugs in the code

## Language

- Python

## Type of issue

-- Bug

## Checklist:

- **For Bug**

bug|python|

|Bug|Found a bug!

![bug](https://user-images.githubusercontent.com/69706506/90632696-73fe8380-e242-11ea-9482-645864980f1e.png)
![bug1](https://user-images.githubusercontent.com/69706506/90632706-78c33780-e242-11ea-8dde-609f16cb61e2.png)

[2020-08-19 17:22] Namyalg opened #228 "Convert speech to text"
# Description

Please include a summary of the issue.

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

## Type of issue

*Please delete options that are not relevant.*

- [ ] Feature
- [ ] Bug

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Feature request|Details (Motivation behind) about your fea

[2020-08-19 17:31] sameersrivastava13 commented on #194
@HarshCasper assign me this issue.

[2020-08-20 03:29] #227 closed

[2020-08-20 03:33] HarshCasper opened #230 "Script to convert Video to Frames"
# Description

Create a Script to convert Video to Frames.

## Language

- [X] Javascript
- [X] Python

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

[2020-08-20 03:36] HarshCasper opened #231 "Script to convert Frames to Videos"
# Description

Script to convert Frames to Videos

## Language

- [X] Javascript
- [X] Python

## Type of issue

*Please delete options that are not relevant.*

- [X] Feature

[2020-08-20 03:42] kaustubhgupta commented on #230
I would like to take up this issue @HarshCasper

[2020-08-20 04:58] AkM-2018 commented on #231
I would like to work on this

[2020-08-20 07:06] HarshCasper commented on #231
Assigned to you @AkM-2018

[2020-08-20 07:18] AkM-2018 commented on #231
Sorry for being unclear. I want to work only on python

[2020-08-20 10:31] AdityaJ7 commented on #228
please edit the issue description accordingly @Namyalg and remove the unnecessary part

[2020-08-20 10:52] Namyalg commented on #228
Okay.

[2020-08-20 15:42] Puneet-Pal-Singh opened #233 "Script to convert folders to Zip file"
# Description
Create a Script using Python to convert folders or a directory to Zip file.

## Language

- [ ] Javascript
- [x] Python

## Type of issue

*Please delete options that are not relevant.*

- [x] Feature
- [ ] Bug

[2020-08-20 15:57] Puneet-Pal-Singh opened #235 "Script to find all links in a Web Page"
# Description

Create a Script that extract all the links from a Web page.

## Language

- [ ] Javascript
- [x] Python

## Type of issue

*Please delete options that are not relevant.*

- [x] Feature
- [ ] Bug

[2020-08-20 17:38] kaustubhgupta commented on #230
made PR #236 @HarshCasper

[2020-08-20 17:40] kaustubhgupta commented on #49
@HarshCasper can you reopen this issue under the CH20 label and assign it to me? I would like to work on this issue in python.

[2020-08-21 04:40] #230 closed

[2020-08-21 04:41] #231 closed

[2020-08-21 04:49] HarshCasper commented on #211
Use both of them @avinashkranjan

[2020-08-21 06:52] avinashkranjan commented on #211
Ok..will Push both the scripts today..

[2020-08-21 15:47] avinashkranjan opened #240 "Script to Convert Speech to Text"
# Description

A script which converts your speech to text in real time like google voice keyboard

## Language

- [ ✔️] Python

## Type of issue

- [ ✅] Feature

[2020-08-21 17:05] Prahitha opened #241 "Currency converter"
A script to convert the currency of one country to that of another country.

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

[2020-08-21 17:14] Prahitha opened #243 "Get time in a particular timezone"
# Description
Enter location/ country code to get the associated time depending upon time zone

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

[2020-08-21 17:50] Prahitha opened #246 "Lyric Scraper"
# Description

Scrape lyrics from atozlyrics website by specifying artist name and song name

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

[2020-08-23 05:38] #246 closed, assigned to nobody

[2020-08-23 05:40] #243 closed, assigned to nobody

[2020-08-23 05:44] #241 closed, assigned to nobody

[2020-08-23 06:14] Prathyusha-Guduru opened #251 "Magic Pen"
# Description
A script that draws stuff on the screen just by you waving your pen in the air.
![Demo](https://github.com/Prathyusha-Guduru/Data/blob/master/Magic%20pen.gif)

## Language

Python ( Open CV and NumPy)

[2020-08-23 11:46] sameersrivastava13 opened #254 "Python script to move files from s3 bucket to a specified directory."
# Description

Adding a python script to move files from s3 bucket to a specified directory.

## Language

- [x] Python

## Type of issue

- [x] Feature

## Checklist:

- **For Feature**

|name|about|labels|assignees|
|----|-----|------|---------|
|Feature request|  Adding a python script to move files from s3 bucket to a specified directory. |feature medium ch-20|self-assign |

[2020-08-24 09:52] kaustubhgupta commented on #49
@HarshCasper I think this is already done by Seema:
https://github.com/HarshCasper/Rotten-Scripts/tree/master/Track%20Data%20Usage
You can close this issue I will work on another one

[2020-08-24 09:58] kaustubhgupta opened #256 "Linkedin video downloader"
# Description

Download videos from Linkedin given the link of the video.

## Language

- [ ] Javascript
- [x] Python
- [ ] Bash
- [ ] Powershell
- [ ] Other (Please specify)

## Type of issue

*Please delete options that are not relevant.*

- [x] Feature
- [ ] Bug

[2020-08-24 10:00] kaustubhgupta commented on #256
@HarshCasper can you assign this issue to me and apply appropriate labels of CH20 to it? I think it can be considered as medium level else it's your call

[2020-08-24 16:34] HeroicHitesh commented on #235
@Puneet-Pal-Singh Yes, you can close this issue.

[2020-08-25 03:40] HeroicHitesh commented on #129
@HarshCasper today is the last date of PSoC'20. Please take a look at the PR and let me know if any update is required

[2020-08-25 13:25] simarpreetsingh-019 commented on #171
@Anushka-S10 I am a bit confused, could you please elaborate what type of notification message should we send to the user, news type that we should fetch, or anything else?

[2020-08-25 13:37] simarpreetsingh-019 commented on #256
@HarshCasper I would like to work on this issue.
as I see @kaustubhgupta created this issue, I think we both can work on this issue if it is allowed.
If possible, please assign me this issue

[2020-08-25 13:45] kaustubhgupta commented on #256
I will be working in Python language, you can work in another language @simarpreetsingh-019

[2020-08-25 14:07] simarpreetsingh-019 commented on #256
Well I work in python..😅 I think we both can make different scripts in same language doing same process..

[2020-08-25 14:08] #129 closed

[2020-08-25 14:12] kaustubhgupta commented on #256
let's see what harsh says

[2020-08-25 18:04] abhishekgupta368 commented on #49
I would like to do it if you allow

[2020-08-25 18:06] abhishekgupta368 commented on #111
can I do it?

[2020-08-25 18:56] amandp13 commented on #125
@HarshCasper Please Review #257

[2020-08-26 02:27] HarshCasper opened #260 "Create a README for Golang Language Directory"
# Description

Create a README for Golang Language Directory. Add these specific parts in it:

- A brief introduction about Golang
- List of all Scripts in Golang in form of a table
- Add three columns: `Name of Script`, `Directory Link` and `Author` (if mentioned).

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-08-26 02:28] HarshCasper opened #261 "Create a README for Python Language Directory"
# Description

Create a README for the Python Language Directory. Add these specific parts in it:

- A brief introduction about Python
- List of all Scripts in Python in form of a table
- Add three columns: `Name of Script`, `Directory Link` and `Author` (if mentioned).

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-08-26 02:29] HarshCasper opened #262 "Create a README for Javascript Language Directory"
# Description

Create a README for Javascript Language Directory. Add these specific parts in it:

- A brief introduction about Javascript
- List of all Scripts in Javascript in form of a table
- Add three columns: `Name of Script`, `Directory Link` and `Author` (if mentioned).

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-08-26 02:33] HarshCasper commented on #256
I am assigning this to you @kaustubhgupta

@simarpreetsingh-019 Let @kaustubhgupta make a PR. If you can provide a more efficient code, feel free to make an Issue and then a PR

[2020-08-26 02:38] HarshCasper opened #263 "Question: Can we have a Website for this Project?"
## Question

Can we have a Website for this Project? The minimum features I am looking for is:

- Static Landing Page which mentions the Core Objective of the Project
- A-List of Scripts in different Languages mentioned along with their description
- Contributors List

I will manage the deployment part on an AWS Instance, but this Issue is simply too large to be assigned to one person. It would be

[2020-08-26 02:52] kaustubhgupta commented on #263
@HarshCasper I think it can simply be done in markdowns, and then deployment using GitHub pages. Why I am saying markdowns is that because all the GitHub actions can be easily integrated on markdowns. The contributors list, project files and all. As the website you want is mainly static, no requirement of hardcore backend. As far as timeline is concerned, I think it can be covered in our current C

[2020-08-26 02:53] kaustubhgupta commented on #263
I am not well versed with GitHub actions but I would love to experiment with them.

[2020-08-26 03:03] AdityaJ7 commented on #261
I would like to work on this issue.

[2020-08-26 03:06] AdityaJ7 opened #265 "Add CH20 to open source events"
# Description

As this project is participating in CH20, so it will be legit to add CH20 to the open-source events

## Type of issue
- [x] Feature

## Possible fix:

Adding a folder for CH20 along with its readme file fill fix this issue.

[2020-08-26 03:07] HarshCasper commented on #265
Thanks for making this Issue. Assigning it to you @AdityaJ7

[2020-08-26 04:54] AkM-2018 commented on #262
I would like to do this

[2020-08-26 05:02] AdityaAshvin commented on #260
I would like to work on this @HarshCasper

[2020-08-26 07:39] HarshCasper commented on #262
Assigned to you @AkM-2018

[2020-08-26 07:39] HarshCasper commented on #260
Assigned to you @AdityaAshvin

[2020-08-26 07:46] #213 closed

[2020-08-26 08:35] SANKET7738 commented on #261
I would like to work on this issue.

[2020-08-26 08:40] HarshCasper commented on #261
@AdityaJ7 Assigning to you

[2020-08-26 08:51] SANKET7738 commented on #263
@HarshCasper I think it would be great to have a website. I think the task is doable and can be done within the timeline period. What framework are you suggesting for this or would simple HTML + CSS + JS website? According to me using a framework would be beneficial in the long run and it would be easy to manage and scale as per the future needs.

[2020-08-26 12:04] deepraj1729 commented on #111
@abhishekgupta368 I have already started building the Python package. You colab with me if u wish. I'm not launching it here for licensing purposes.

[2020-08-26 12:17] kaustubhgupta commented on #256
@HarshCasper made PR #271

[2020-08-26 12:52] kaustubhgupta commented on #71
@HarshCasper I want to work on this issue. I have done the previously assigned issue of LinkedIn video download

[2020-08-26 12:57] kritikaparmar-programmer commented on #263
@HarshCasper , I think we can use flask for making a website and for frontend - HTML, CSS or Bootstrap.. What say?

[2020-08-26 13:03] kritikaparmar-programmer commented on #165
Hey @HarshCasper , I want to work on this issue.. Please assign me..

[2020-08-26 14:37] HarshCasper commented on #165
Assigned to you @kritikaparmar-programmer

[2020-08-26 14:37] HarshCasper commented on #71
Assigned to you @kaustubhgupta

[2020-08-26 16:48] AkM-2018 opened #274 "Asciify your image"
# Description

Given an image, the code would convert your image into an ASCII image(google asciify images)

## Language

- [x] Python

## Type of issue

_Please delete options that are not relevant._

- [x] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees

[2020-08-27 05:55] #262 closed

[2020-08-27 06:10] #256 closed

[2020-08-27 06:11] #260 closed

[2020-08-27 06:12] #261 closed

[2020-08-27 06:14] HarshCasper commented on #11
Assigned to @avinashkranjan

[2020-08-27 06:25] #265 closed

[2020-08-27 06:43] HarshCasper opened #275 "Optimize/Modify the README File for the Project"
# Description

Optimize/Modify the README for the Project. The end results I am looking for:
- An Attractive Header with good Markdown Badges (I love them)
- Proper Section for all Languages
- Proper Instructions on how new Contributors can contribute. Link this to `CONTRIBUTING.md` and `Code of Conduct`
- Instructions on how everyone can use the Scripts

`NOTE: Don't change the Contributors and P

[2020-08-27 06:48] HarshCasper opened #276 "Generate Public Keys"
# Description

Create a Script to create a private/public keypair for SSH-authentication for password-less connecting to a remote server.

## Language

- [X] Bash
- [X] Go
- [X] Javascript
- [X] Powershell
- [X] Python

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-08-27 07:01] HarshCasper opened #278 "Send LinkedIn Connection Requests"
# Description

Create a Script to send LinkedIn Connection Requests in bulk from this [endpoint](https://www.linkedin.com/mynetwork/) with an argument as a Custom Connection Message. You can specify how many people you may want to send the Connection Request.

## Language

- [X] Bash
- [X] Go
- [X] Javascript
- [X] Python

## Type of issue

_Please delete options that are not relevant._

- [X] Fea

[2020-08-27 07:51] AdityaAshvin commented on #275
Can i work on this? @HarshCasper

[2020-08-27 14:01] SANKET7738 opened #279 "OCR to Google QuestionPapers"
# Description

A Python script that will take an image of a question paper and use OCR to identify questions and google the relevant answers for you.

## Language

- [x] Python

## Type of issue

- [x] Feature

## Checklist:

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | --

[2020-08-27 16:37] alazar-w commented on #214
@HarshCasper ;; i want to do it

[2020-08-27 18:13] tejan-singh commented on #276
I would like to work on it in python.

[2020-08-29 06:22] HarshCasper opened #281 "Generate QR Codes"
# Description

Create a Script to generate QR Codes in bulk.

## Language

- [X] Javascript
- [X] Python
- [X] Golang

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-08-29 06:25] HarshCasper opened #282 "Create a Script to implement Steganography"
# Description

Create a Script to implement Steganography

## Language

- [X] Python
- [X] Javascript
- [X] Golang

[2020-08-29 06:27] HarshCasper opened #283 "Script to scrap Amazon Reviews"
# Description

Create a Script to scrap Amazon Reviews for a particular product and save them in a CSV.

## Language

- [X] Python
- [X] Javascript
- [X] Golang

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-08-29 06:28] HarshCasper opened #284 "Script to extract PDF Tables into CSV"
# Description

Create a Script to extract PDF Tables into CSV

## Language

- [X] Python

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-08-29 06:34] HarshCasper opened #285 "Script to add Watermark to PDF"
# Description

Create a Script to add Watermark to PDF Files

## Language

- [X] Javascript
- [X] Python
- [X] Golang

[2020-08-29 06:38] HarshCasper opened #286 "Convert Image to Sketch [Image Processing]"
# Description

Create a Script to convert Image to Sketch

## Language

- [X] Python

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-08-29 07:29] AdityaJ7 commented on #285
I would like to work on this issue with python

[2020-08-29 11:17] #275 closed

[2020-08-29 12:01] seema1711 opened #288 "Strong password detection."
# Description

Make a Python Script that detects a strong password.

## Language

- [x] Python

## Type of issue

_Please delete options that are not relevant._

- [x] Feature

[2020-08-29 12:40] AdityaAshvin commented on #288
Can I work on this? @seema1711

[2020-08-29 14:08] srimani-programmer opened #289 "Hacker News Scrapper"
# Description
Develop a script to scrape the hacker news latest articles.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-29 14:20] srimani-programmer opened #290 "IMDB Scapper"
# Description

Develop a script that should scrape the following details with the given movie name

1. Move Name
2. Movie Length in minutes
3. Movie Release year
4. Movie Cast and Crew
5. Movie Director
6. Movie Writer
7. Movie Story Line
8. Movie Genres

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-29 14:23] seema1711 commented on #288
Sure.

[2020-08-29 14:31] srimani-programmer opened #291 "CodeForces Problem Scrapper"
# Description
Develop a python script that should scrape the problem statement into a PDF File with a given problem code from the code forces website. The script should scrape the following items:

1. Problem Statement
2. Images (If any are mentioned in the problem statement)
3. Given Input and Output of the problem statement.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-29 14:44] AdityaJ7 commented on #290
I would like to work on this issue

[2020-08-29 20:01] sharur7 commented on #286
I would like to work on this issue

[2020-08-30 03:17] HarshCasper commented on #286
Assigned to you @sharur7

[2020-08-30 03:17] HarshCasper commented on #285
Assigned to you @AdityaJ7

[2020-08-30 05:13] AkM-2018 commented on #291
I would like to do this. I've done a similar thing with geeksforgeeks

[2020-08-30 08:36] mandirarama commented on #281
I would like to work on it [Python]. Please let me know the preferred mode of input, if there is any, and assign.

[2020-08-30 09:33] srimani-programmer commented on #290
Yes.! You can proceed with this issue. @AdityaJ7

[2020-08-30 09:34] srimani-programmer commented on #291
Yeah.! Sure You can work on this issue @AkM-2018

[2020-08-30 09:41] srimani-programmer opened #294 "Codechef Problem Scrapper"
# Description
Develop a script that should scrape the problem statement with the help of the problem Code.

## Language

- [x] Python
## Type of issue

- [x] Feature

[2020-08-30 09:44] srimani-programmer opened #295 "Video Water Marker"
# Description
Develop a script that should watermark the entire video at a particular location on the Video Screen.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-30 09:48] srimani-programmer opened #296 "Document Scanner to Scan the tables and Convert it into Excel/CSV Files"
# Description
Develop a script that should scan any kind of document and convert all the tables in the document into an either excel/CSV file.

## Language
- [x] Go
- [x] Javascript
- [x] Python

## Type of issue

- [x] Feature

[2020-08-30 09:55] AdityaJ7 commented on #289
I would like to work on this issue

[2020-08-30 11:11] #290 closed

[2020-08-30 11:16] #285 closed

[2020-08-30 11:51] AdityaJ7 commented on #294
I would like to work on this issue

[2020-08-30 12:19] seema1711 opened #298 "Search for particular files on your computer."
# Description

There are 1000s of files on our laptop/PC, and searching for a particular file can be a tedious task. Write a script that can ease this task.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-30 12:23] seema1711 opened #299 "Random password generator."
# Description

Write a Python script to generate a random password.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-30 12:29] seema1711 opened #300 "Tweet search."
# Description

Sometimes we are searching for a particular tweet on the accounts you follow, and you just SCROLL down but don't get that tweet. Let this Python script help you.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-30 13:25] srimani-programmer commented on #294
Yeah sure, you can work on this issue @AdityaJ7

[2020-08-30 13:30] srimani-programmer opened #301 "Twitter Tweet Scrapper"
# Description
Develop a script that should scrape the tweets from twitter using Tweet Tag.

## Language

- [x] Javascript
- [x] Python

## Type of issue

- [x] Feature

[2020-08-30 13:37] srimani-programmer opened #302 "Twitter Bot"
# Description

Develop a script in python that should run in the system background and intimate us when we got any new message for us. This script should start automatically when the system is started and the script should manage processes properly without using many resources while running in the system background.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-08-31 05:02] rutujadhanawade commented on #289
I would like to work on this issue

[2020-08-31 05:04] rutujadhanawade commented on #284
I would like to work on this

[2020-08-31 10:13] AkM-2018 commented on #282
Steganography seems super interesting. I would like to take this up

[2020-08-31 10:14] AkM-2018 commented on #301
I would like to take this up :D

[2020-08-31 10:29] basketcase03 commented on #301
Would it be alright to use Tweepy?

[2020-08-31 11:20] tejan-singh commented on #283
I would like to work on this in python.

[2020-08-31 14:15] tejan-singh commented on #298
I would like to work on this in python.

[2020-08-31 14:46] srimani-programmer commented on #301
@basketcase03 Sorry I am not able to merge this because without intimating to us you should not proceed with the issue. first please follow the guidelines properly.

[2020-08-31 14:52] basketcase03 commented on #301
Sure, I thought asking would suffice for intimating. But I'll adhere more strictly from now on. Thanks!

[2020-08-31 14:58] basketcase03 commented on #300
I would like to take this up!

[2020-08-31 15:06] sameersrivastava13 commented on #299
i would like to work on this. Please assign me this issue.

[2020-08-31 16:30] kaustubhgupta commented on #71
@HarshCasper made PR #313

[2020-08-31 16:37] kaustubhgupta commented on #295
@srimani-programmer @HarshCasper I would like to take up this issue

[2020-08-31 16:52] seema1711 commented on #299
Sure, assigned to you @sameersrivastava13

[2020-08-31 16:58] seema1711 commented on #300
Sure.

[2020-08-31 17:00] seema1711 commented on #298
You can start working on this.

[2020-08-31 17:03] basketcase03 commented on #300
Thanks a lot!

[2020-09-01 03:41] #71 closed

[2020-09-01 03:45] #286 closed

[2020-09-01 03:46] #276 closed

[2020-09-01 03:47] #274 closed

[2020-09-01 03:49] HarshCasper commented on #301
Assigning this to you @AkM-2018

[2020-09-01 06:39] akshaysonawaneS commented on #233
I will like to work on it if no on one is working on it

[2020-09-01 13:12] srimani-programmer opened #318 "Google Drive Content Downloader"
# Description
Develop a script that should download the content that is stored in the google drive. The script should download the entire folder or a particular file based on the given link. The script should use multithreading to download the large files very easily.

## Language

- [x] Go
- [x] Javascript
- [x] Python

## Type of issue

- [x] Feature

[2020-09-01 13:42] amoghatsunil commented on #300
I would like to work on this

[2020-09-01 13:43] amoghatsunil commented on #299
I would like to work on this issue

[2020-09-01 13:46] amoghatsunil commented on #294
I would like to work on this issue

[2020-09-01 13:47] amoghatsunil commented on #289
I would like to work on this issue

[2020-09-01 13:49] amoghatsunil commented on #196
I would like to work on this

[2020-09-01 14:11] srimani-programmer commented on #289
@AdityaJ7 you can work on this issue.

[2020-09-01 14:11] sharur7 opened #319 "Convert image into cartoonified image"
# Description
**HackinCodes2020 Participant**
Computer Vision as we know is a very powerful tool with immense possibilities.
So, why not to use it?
Here, I want to implement a script that will read the original image and convert the original image into cartoonified image.

## Language

- [x] Python

## Type of issue

_Please delete options that are not relevant._

- [x] Feature

## Checklist:

- *

[2020-09-01 15:24] rutujadhanawade commented on #296
I would like to work on this issue.

[2020-09-01 15:30] srimani-programmer commented on #296
@rutujadhanawade you are assigned for this issue.

[2020-09-01 16:08] #235 closed

[2020-09-01 16:11] Puneet-Pal-Singh commented on #233
Akshay this Script has already been merged, you can work on other issues.

[2020-09-01 19:34] Namyalg commented on #302
I would like to work on this

[2020-09-01 19:37] Namyalg commented on #278
I would like to work on this

[2020-09-01 20:02] srimani-programmer commented on #302
@Namyalg issue is assigned to you.!

[2020-09-01 20:05] srimani-programmer commented on #319
Cartoonified image means what? is it related to converting an image into Sketch Image. please let me know @sharur7

[2020-09-01 20:13] sharur7 commented on #319
Yes, it is similar to sketch image @srimani-programmer

[2020-09-02 03:07] akshaysonawaneS commented on #318
I will like to work on this.

[2020-09-02 04:08] srimani-programmer commented on #318
@akshaysonawaneS issue is assigned to you.!

[2020-09-02 04:10] srimani-programmer commented on #319
Yeah.! You can work on this issue.! issue is assigned to @sharur7

[2020-09-02 04:27] AkM-2018 commented on #301
@srimani-programmer, since @basketcase03 is already done with the code, I am unassigning myself from this issue.

[2020-09-02 04:47] Namyalg commented on #278
From the endpoint mentioned, there is an option only to connect , so how will the custom message work?

[2020-09-02 04:51] Namyalg commented on #278
I have been able to automate the process where a searches for a name and the connection will be sent a custom message

[2020-09-02 04:55] Namyalg commented on #302
What are the exact functionalities that need to be implemented?

[2020-09-02 09:03] avinashkranjan commented on #278
I'd Like to take this issue in Python.. @HarshCasper

[2020-09-02 09:10] avinashkranjan commented on #240
@HarshCasper If you could merge it..That'd be great..

[2020-09-02 10:20] srimani-programmer commented on #302
The main required functionalities are:
- The script should start automatically when the system is started.
- It should send us a notification when any person sends us a message.
- It should not consume more RAM. Process management must be good.

[2020-09-02 10:24] Namyalg commented on #302
Okay.

On Wed, Sep 2, 2020, 3:51 PM Sri Manikanta Palakollu <
notifications@github.com> wrote:

[2020-09-02 14:24] SANKET7738 commented on #164
If open, I would like to work on this.

[2020-09-02 16:05] SANKET7738 commented on #278
I would like to work on this in Javascript.

[2020-09-03 10:30] AdityaJ7 commented on #289
with articles, you mean  titles and links of top 30 articles right @srimani-programmer

[2020-09-03 17:43] Namyalg opened #323 "Automate sending messages on Telegram"
# Description

This script will automate the process of sending messages in Telegram

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powershell
- [x] Python
- [ ] Other (Please specify)

[2020-09-04 04:05] sameersrivastava13 opened #325 "Adding retry mechanism code for the database connection"
# Description

Sometimes errors can occur when you are connecting to a Database, because network connections to a database are never 100% perfect. Therefore i would like to add a python script in which the retry mechanism will be implemented so that if suppose first time it fails to connect with the DB then at least 3 times it should try reconnecting with the database.

## Language

- [x] Python

[2020-09-04 04:06] sameersrivastava13 commented on #325
@HarshCasper Please add the CH-20 label and assign this issue to me.

[2020-09-04 04:23] rutujadhanawade commented on #296
@srimani-programmer will you please tell me how can I proceed with this as I can scan pdf files and convert it into csv.
But how to scan any kind of docs?

[2020-09-04 09:44] #319 closed

[2020-09-04 09:50] srimani-programmer commented on #325
@sameersrivastava13 You can work with this issue now.!

[2020-09-04 15:50] #288 closed

[2020-09-04 15:57] seema1711 opened #327 "Check the timing of a program."
# Description

Check how long a program has been running and offer the user a chance to cancel tasks that are taking too long.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-09-04 16:00] seema1711 opened #328 "Launching Other Programs from Python"
# Description

Use python to run other programs on your computer like Calculator, etc.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-09-04 17:10] AkM-2018 commented on #291
Hey! I'm facing some issues solving this. Firstly, I'm using beautiful soup instead of selenium now. The thing is all the text in the codeforces website is inside div tags. Now due to its natural block styling, they appear in separate lines. When I scan for the text using beautiful soup, they appear on a single line with spaces. Any help would be really appreciated.

[2020-09-05 08:14] eternal-dreamer commented on #327
I want to work on this issue.

[2020-09-05 15:55] seema1711 commented on #327
Sure.

[2020-09-06 02:16] sameersrivastava13 commented on #328
@seema1711 i would like to work on this issue.
Please assign me this.

[2020-09-06 15:03] kaustubhgupta commented on #295
@HarshCasper made PR #329

[2020-09-06 15:28] kaustubhgupta opened #330 "Getting Code Results from GeeksForGeeks API"
# Description

Geeks for Geeks is a popular platform for programmers. This script will take code of any popular language like C, Java, or Python and return its results from the GFG compiler API.

## Language

- [X] Python

## Type of issue

- [X] Feature

## Assignee
Self

[2020-09-06 15:29] kaustubhgupta commented on #330
@HarshCasper @seema171 Assign me this issue with CH20 and difficulty level label

[2020-09-06 17:01] SANKET7738 commented on #283
I would like to work on this in Javascript

[2020-09-07 15:07] #299 closed

[2020-09-07 20:08] simarpreetsingh-019 commented on #282
If its just for adding the text using stegnography, I would like to work on this issue, with python language.
I would try to implement the vice versa also if possible.

[2020-09-09 08:12] #325 closed

[2020-09-09 08:14] #295 closed

[2020-09-09 08:17] srimani-programmer commented on #289
@AdityaJ7 No I mean the scrapper should scrape the title. When user asks for title it should scrape the article content as well. please let me know if you have any questions.

[2020-09-09 08:20] kaustubhgupta commented on #330
@srimani-programmer can you assign me this issue with CH20 and difficulty level label ?

[2020-09-09 08:25] AdityaJ7 commented on #289
So  I have to scrape the content of the latest hacker news article right?
But the problem is the articles on hacker news are sometimes present in the form of pdf and sometimes even videos.

[2020-09-09 10:36] kritikaparmar-programmer commented on #165
Hey @HarshCasper , Sorry for so delay.. But I want to ask one question.. what does torrents mean here?
Like the torrents file which we download for movies ? I'm facing issue with them
Please clarify about the word torrent here.. Also I'll try to solve this fast.. Again sorry for delayed work.

[2020-09-09 12:20] srimani-programmer commented on #289
if PDF format just download the PDF file. If it is video intimate the user to visit the webpage by providing an appropriate link. or else for video content use the selenium driver to load the article in the chrome browser.

[2020-09-09 12:22] srimani-programmer commented on #301
@basketcase03 please make a new PR for the issue. I will merge it.

[2020-09-09 12:23] AdityaJ7 commented on #289
ok will do that

[2020-09-09 12:43] srimani-programmer opened #333 "Audio Steganography"
# Description
Implement the concept of steganography to send and receive confidential information using audio files.

## Language

- [x] Bash
- [x] Go
- [x] Javascript
- [x] Python

## Type of issue

- [x] Feature

[2020-09-09 12:46] srimani-programmer opened #334 "Video Steganography"
# Description
Implement the concept of steganography for transferring confidential information using Video files.

## Language

- [x] Bash
- [x] Go
- [x] Javascript
- [x] Python

## Type of issue

- [x] Feature

[2020-09-09 14:07] #294 closed

[2020-09-09 14:09] #240 closed

[2020-09-09 14:16] HarshCasper commented on #284
Done @rutujadhanawade

[2020-09-09 18:47] sharur7 opened #335 "Converting image into sepia filtered image"
# Description

**HackinCodes2020 Participant**

The sepia filter is one of the most popular tools for editing images.
Widely used by photographers back in the early days of photography
I want to implement a script that will read the original image and convert the original image into a sepia filtered image.
## Language

- [x] Python

## Type of issue

- [x] Feature

## Checklist:

- **For Feature**

[2020-09-09 20:05] basketcase03 commented on #301
Sure, will do it

[2020-09-09 20:43] vvHacker007 commented on #334
I want to work on this issue, can you assign it to me.

[2020-09-09 21:19] srimani-programmer commented on #334
@vvHacker007 issued is assigned to you. Good luck with this issue.

[2020-09-10 02:02] vvHacker007 commented on #334
I want to work with Python

[2020-09-10 02:03] srimani-programmer commented on #334
Okay then go ahead

[2020-09-10 02:05] vvHacker007 commented on #334
Thank You

[2020-09-10 06:05] kaustubhgupta commented on #330
Probably they have changed their policies and we can no longer access their IDE API which was working a few months back. Therefore I am closing this issue.

[2020-09-10 06:05] #330 closed

[2020-09-10 11:45] seema1711 opened #336 "Make a customized blog header."
# Description

When writing technical blogs, we need some images to tell about the blog, and it's hard to find relatable pictures sometimes, and they are sometimes copyrighted. So, make a customized program that can generate images for your blogs.

## Language

- [x] Javascript
- [x] Python

## Type of issue

- [x] Feature

[2020-09-10 11:48] kaustubhgupta commented on #336
the script should get images related to the topic given and saved as jpeg?

[2020-09-10 11:55] kaustubhgupta commented on #336
if this is the case I would like to take this issue

[2020-09-10 12:29] seema1711 commented on #336
No, It can be a simple template that can be applied to any blog, and if you want to add some more options to customize it, that'd be great too.

[2020-09-10 12:41] kaustubhgupta commented on #336
I am not able to understand, you mentioned this:

and now saying template. Can you explain the issue again in detail?

[2020-09-10 12:46] seema1711 commented on #336
![image](https://user-images.githubusercontent.com/48756444/92730652-b3c41100-f391-11ea-9ba3-ac9ad1f19474.png)
Like this.

[2020-09-10 12:51] kaustubhgupta commented on #336
okay got it. I would like to work for this issue in Python

[2020-09-10 18:22] SANKET7738 opened #338 "Send SMS using Twilio in Python"
# Description

Send customized/Bulk SMS to people by creating a free Twilio account in Python.

## Language

- [x] Python

## Type of issue

- [x] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | --------------------------------------

[2020-09-10 18:29] gupta-piyush19 commented on #336
@seema1711 II would like to work on this issue in JavaScript, but need some more insight.

[2020-09-11 12:13] seema1711 commented on #336
Sure, tell me. @gupta-piyush19

[2020-09-11 12:35] afrozchakure opened #339 "Link to Stargazers cannot be found when clicking on Github Stars badge"
# Description

The link to Stargazers seems to be broken when clicked on the ``star`` badge.
Currently It links to the wrong page - https://github.com/HarshCasper/Rotten_scripts/stargazers/

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powershell
- [ ] Python
- [X] Other (READM.md update)

## Type of issue

- [X] Updation of README.md with correct link

## Checklist:

**Describe the sol

[2020-09-11 14:14] kaustubhgupta commented on #336
@seema1711 @HarshCasper made PR #341

[2020-09-12 00:09] kana800 commented on #296
hey! , I would love to work on this :smile:

[2020-09-12 04:41] gupta-piyush19 commented on #336
@seema1711 Do I have to use some API and search image of any genre and download them? or something else

[2020-09-12 04:54] #301 closed

[2020-09-12 05:02] HarshCasper commented on #336
You can use anything that fits the purpose @gupta-piyush19

[2020-09-12 05:04] #339 closed

[2020-09-12 05:12] #289 closed

[2020-09-12 05:20] #323 closed

[2020-09-12 05:28] #279 closed

[2020-09-12 05:47] HarshCasper commented on #214
You can start working on this @alazar-w

[2020-09-12 05:52] gupta-piyush19 opened #346 "Base64 Encoder and Decoder"
# Description

Add script which can encode as well as decode any string

## Language

- [x] Javascript
- [x] Python

## Type of issue

- [x] Feature

[2020-09-12 05:52] gupta-piyush19 commented on #346
I would like to add the script in JavaScript

[2020-09-12 05:56] alazar-w commented on #214
thank u @HarshCasper

[2020-09-12 06:03] HarshCasper commented on #296
I am assigning this to you @kana800

[2020-09-12 06:05] HarshCasper commented on #281
I am assigning it to you @mandirarama

You can take in inputs from a CSV file for the purpose.

[2020-09-12 06:06] HarshCasper commented on #282
@AkM-2018 I am assigning this to you

@simarpreetsingh-019 If you would like to work in JS, I can assign this to you.

[2020-09-12 06:09] HarshCasper commented on #283
Assigned to you @tejan-singh and @SANKET7738

[2020-09-12 06:21] simarpreetsingh-019 commented on #282
Actually I don't work on js, I only work on python.
If @AkM-2018 could work on it in Js, as he haven't mentioned in which language he will work, would you assign this to me for doing this in python?

[2020-09-12 06:31] vvHacker007 commented on #334
I have created a python program for video steganography, should i also create an application for it.

[2020-09-12 06:47] AkM-2018 commented on #282
Sorry @simarpreetsingh-019, but even I work on python. I don't know JS.

[2020-09-12 12:36] #328 closed

[2020-09-12 15:49] vvHacker007 commented on #334
I have given the pull request for the python script.

[2020-09-13 15:40] #196 closed

[2020-09-14 13:32] #338 closed

[2020-09-14 15:07] kushal-g commented on #233
Shouldn't this issue be closed then?

[2020-09-16 15:49] narayan2111 commented on #346
I would like to work on this issue in python, kindly assign this issue to me @HarshCasper

[2020-09-17 10:33] simarpreetsingh-019 opened #355 "text to speech / Stort teller"
# Description

This will be a storyteller that will read and speak from txt file or pdf file depending upon which you are redirecting.

## Language

- [ ] Python

[2020-09-17 16:24] HarshCasper commented on #346
Assigned to you @narayan2111

[2020-09-18 04:01] vvHacker007 opened #356 "Wifi Speed tester"
# Description

Please include a summary of the issue.
This is a wifi-speed-tester that would provide the download speed, upload speed and the ping of the connected network.

## Language

- [x] Go
- [x] Javascript
- [x] Python

## Type of issue

_Please delete options that are not relevant._

- [x] Feature

[2020-09-18 13:54] brtymn commented on #356
Hello! Can you assign me please?

[2020-09-18 13:56] brtymn commented on #355
Hello! I can work on this if you assign me!

[2020-09-18 14:02] simarpreetsingh-019 commented on #355
@brtymn Actually I created this issue because I wanted to work on it using python.
If the admin says, I think you can work on same issue using different language if possible.
Wait for response.

[2020-09-18 14:06] brtymn commented on #355
Oh. That is fine. I have a script that kinda does this already. I can share it with you if you want.

[2020-09-18 16:14] vvHacker007 commented on #356
The issue will be assigned to you soon. Can you tell me in which language do you want to work with.

[2020-09-18 22:27] kana800 commented on #296
Quick Question:
files that we are using, does it contains only the table, or other information as well ?

[2020-09-19 10:28] HarshCasper opened #360 "Shift Script to appropriate Folder"
# Description

Some of the Scripts have been added to the Root. Please shift them in the apt folder according to their Language and Purpose. The Scripts are:

- [Automate LinkedIn](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Automate-LinkedIN)
- [Automate Telegram](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Automate-Telegram)
- [HTML to Markdown](https://github.com/Har

[2020-09-19 10:29] kaustubhgupta commented on #360
I would like to take this issue

[2020-09-19 13:25] Preetesh21 opened #361 "Get Cricket Scores"
# Description

The script should give information about the teams and the scores if the match has started.
## Language
- [ ] Python

[2020-09-19 14:22] kaustubhgupta commented on #360
@HarshCasper fixed the issue in #362

[2020-09-19 20:14] Namyalg commented on #302
Does the notification have to be an email, or a desktop notification?

[2020-09-20 03:29] #360 closed

[2020-09-20 09:51] #346 closed

[2020-09-20 12:01] importhuman commented on #361
Hello!

I'd like to work on this if possible, can you please provide more details about the desired script?

[2020-09-20 13:59] Preetesh21 commented on #361
@importhuman I had made the issue to get a script which could retrieve the latest cricket matches score. @importhuman the task would be assigned by the admin.

[2020-09-21 07:34] srimani-programmer commented on #302
Desktop Notification.

[2020-09-21 10:52] importhuman commented on #361
Do you just want the script or do you want it to be assigned to you and work on it?

[2020-09-21 19:19] Preetesh21 commented on #361
I wanted it to work on it in Python.

[2020-09-21 20:49] importhuman commented on #361
I see, I misunderstood earlier. Good luck!

[2020-09-23 16:05] HarshCasper opened #366 "Scrap E-Mail Links from a LinkedIn Post"
# Description

Scrap E-Mail Links from a LinkedIn Post. The basic features I am looking at from this Script include:
- Enter the Link of the Post
- Scrap the E-Mail of specified subdomains (G-Mail, Yahoo, Outlook, ProtonMail).
- Store them on a CSV File and output the same.

## Language

- [X] Go
- [X] Javascript
- [X] Python

## Type of issue

_Please delete options that are not relevant._

- [X]

[2020-09-23 16:14] HarshCasper opened #367 "Add a Github Action to mark issues as "Stale""
## Type

Advancement

## Description

Add a Github Action to mark stale Issues with a Tag. Issues which are not assigned, or has not been mentioned anywhere for more than 7 Days should be tagged with a "Stale" tag automatically.

## Tools

- Github Actions

[2020-09-23 16:15] kaustubhgupta commented on #366
I would like to work on this issue

[2020-09-23 16:16] HarshCasper commented on #366
Damn, that's quick!

Assigned!

[2020-09-23 16:19] kritikaparmar-programmer commented on #367
I want to work on this issue @HarshCasper

[2020-09-23 16:20] HarshCasper opened #368 "Script to auto-attend Zoom Classes"
# Description

Create a Script to auto-attend Zoom Classes. The basic features that should be present include:
- Get the Meeting ID and Meeting Password from the Console
- Open the Zoom Class keeping Camera/Audio off.

## Language

- [X] Python

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-09-23 16:31] HarshCasper commented on #367
Assigned to you @kritikaparmar-programmer

[2020-09-23 16:37] rishabhvarshney14 commented on #366
Can I do that in python?

[2020-09-23 16:40] HarshCasper opened #369 "Create a Script to hunt for Usernames across Social Channels"
# Description

Create a Script to hunt for Usernames across Social Channels. You can take in a Username though CLI and find whether the particular Username exists on the given Social Media Channels or not. You can take in popular Social Channels (Github, Reddit, Instagram and more) and see if the User exists on any of these Social Channels given the Username.

## Language

- [X] Go
- [X] Python
-

[2020-09-23 16:45] HarshCasper commented on #368
Assigned @rutujadhanawade

[2020-09-23 16:55] codePerfectPlus commented on #263
If you are thinking about a static website [Jekyll](https://jekyllrb.com/) is a good Idea.

[2020-09-23 17:01] pradyyadav commented on #369
I want to work on this

[2020-09-23 17:25] HarshCasper commented on #369
Assigned @pradyyadav

[2020-09-23 19:19] kritikaparmar-programmer opened #371 "Script to Scrape Reddit"
# Description
I want to add script to scrape reddit.

## Language
- [x] Python

## Type of issue
- [x] Feature

[2020-09-23 19:20] kritikaparmar-programmer commented on #371
Hey @HarshCasper Take a look at this issue. I want to work on it..

[2020-09-24 03:52] HarshCasper commented on #371
Hello @kritikaparmar-programmer

We already have few Reddit Scripts. Can you be specific on what type of content you want to scrap from Reddit?

[2020-09-24 03:54] HarshCasper opened #372 "Add a Github Action to unassign Issues"
# Description

Add a Github Action to unassign Issues. The Action should do the following:
- On 7 Days of inactivity, unassign the person that has been assigned the Issue.
- Remove the `Assigned` Label and add `Up-for-Grab` Label.

## Tools

- Github Action

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-09-24 04:00] HarshCasper opened #373 "Add a Github Action to add Contributor"
# Description

Create a Github Action to add First-Time Contributors to the Project by invoking the @all-contributors bot. All new Contributors should be added for `code` and `documentation` and a PR should be raised for that.

## Tools

- Github Action

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-09-24 04:03] HarshCasper opened #374 "Add a Github Action to run Python PRs through PyLint"
# Description

Add a Github Action to run Python PRs through PyLint. Recently the Code Quality of the recent PRs has been quite poor. We can make use of PyLint to improve the Code Quality and provide necessary pointers on what can be the changes done. The Github Action must install the requirements and run the code through PyLint and invoke the code quality.

## Tools

- Github Actions

## Type of

[2020-09-24 04:04] AdityaJ7 commented on #374
Hi @HarshCasper I would like to work on this

[2020-09-24 04:19] HarshCasper opened #375 "Script to scrap LinkedIn Connections"
# Description

Create a Script to scrap LinkedIn Connections. The Script should scrap the following and store them in a CSV File:
- Name
- LinkedIn URL
- Latest Job Position
- Skills

## Language

- [X] Python
- [X] Javascript
- [X] Golang

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-09-24 10:07] kritikaparmar-programmer commented on #375
Hey @HarshCasper I want to do this issue in Python.. Please assign me.

[2020-09-24 10:10] kritikaparmar-programmer commented on #373
I want to work on this @HarshCasper.. Please assign me.

[2020-09-24 10:36] kritikaparmar-programmer commented on #371
Hey @HarshCasper I can write script to scrape subreddits top 10 or 20 posts and if you want it user friendly I can add an option that will enable user to choose the type of the posts he/she want.

[2020-09-24 10:58] HarshCasper commented on #373
Done @kritikaparmar-programmer

[2020-09-24 10:58] HarshCasper commented on #375
You are on a roll! Assigned!

[2020-09-24 11:10] HarshCasper opened #377 "Add Github Action to tag Open Pull Requests"
# Description

 Add Github Action to tag Open Pull Requests those who have no activity for past 7 Days. Action should do the following:
- On 7 Days of inactivity, tag the Pull Request as "Stale"
- On next 7 Days of inactivity, automatically close the Pull Request and delete the Branch

## Tools

- Github Action

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-09-24 11:17] HarshCasper commented on #371
Looks good! I am assigning this to you.

[2020-09-24 11:20] AdityaJ7 commented on #377
I would like to work on this issue

[2020-09-24 11:51] HarshCasper commented on #377
Assigned to you @AdityaJ7

[2020-09-24 12:00] HarshCasper opened #378 "Script to find size of Github Repository + List of Contributors"
# Description

Create a Script to find the size of Github Repository + List of Contributors

## Language

- [X] Python
- [X] Javascript

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-09-24 12:03] kaustubhgupta commented on #378
I would like to take this issue

[2020-09-24 17:01] kaustubhgupta commented on #366
@HarshCasper made PR #380

[2020-09-24 20:01] kaustubhgupta commented on #372
I would like to take this issue, I have made PR for one of the issues, and for the second one I am making it soon

[2020-09-25 04:09] HarshCasper opened #381 "Script to bomb Pull Requests on a Github Repository"
# Description

Create a Script to bomb Pull Requests. The Script should:
- Fork and Clone a Repository and create branches automatically.
- Add Spaghetti Code and commit-push it on the Forked Repo.
- Raise malicious PRs intended for bombing the Pull Request section.

You can add further customizations to that, as per your need.

## Language

- [X] Python
- [X] Golang
- [X] Javascript

## Type of i

[2020-09-25 04:18] HarshCasper opened #382 "Add a Github Action to label all Issues as "Hacktoberfest""
# Description

Add a Github Action to label all Issues as "Hacktoberfest". The Issues should be visible from October 1 and must be automatically revoked on October 31st to reduce the manual work in labelling Issues.

## Tools

- Github Actions

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-09-25 04:22] AdityaJ7 commented on #382
Hi, @HarshCasper I would like to work on this issue

[2020-09-25 10:53] kaustubhgupta commented on #378
@HarshCasper made PR #383

[2020-09-25 11:33] gupta-piyush19 commented on #378
@HarshCasper I would like to work on this issue in JavaScript, can you please guide me?
In which form do I have to display my result? On an HTML page? or in some external file?
and please tell me the way to take input(username, repo name) should I use hardcode and always change from there or use prompt?

[2020-09-25 16:00] HarshCasper opened #384 "Script to bomb Issues on a Pull Request"
# Description

Create a Script to bomb Issues on a Github Repository. The Script should:
- Go over a Repository and create Issues automatically.
- Add Spaghetti Text to the Issue.
- Raise malicious Issues intended for bombing the Issue Section.
You can add further customizations to that, as per your need.

## Language

- [X] Python
- [X] Golang
- [X] Javascript

## Type of issue

_Please delete op

[2020-09-26 05:44] kaustubhgupta commented on #381
I would like to work on this issue @HarshCasper

[2020-09-26 05:48] HarshCasper commented on #356
I am assigning this to you @vvHacker007

@brtymn You can work on this in JS/Golang if you would like to

[2020-09-26 06:00] #377 closed

[2020-09-26 06:07] #374 closed

[2020-09-26 06:13] HarshCasper commented on #278
Assigned this to you @SANKET7738 in Javascript

[2020-09-26 06:27] #282 closed

[2020-09-26 13:41] ExpressHermes commented on #263
I agree a static website using github pages is much better idea. Is someone working on this? I am interested to work on this.

[2020-09-26 13:57] codePerfectPlus commented on #263
@ExpressHermes I am working on Github pages site. check here - https://github.com/Py-Contributors/py-contributors.github.io

[2020-09-26 22:19] rohankumawat commented on #333
I would like to work on this (Python). Can you please assign me this?

[2020-09-27 18:39] kritikaparmar-programmer commented on #375
Hey @HarshCasper I've one doubt do I have to scrap all the connections or the user will give me the url of the connection which he want to scrap??

[2020-09-28 05:09] HarshCasper commented on #375
@kritikaparmar-programmer On LinkedIn, you can specify a particular endpoint where you can scrap from. The User doesn't need to give in the URL of the Profile which we wishes to scrap.

[2020-09-28 12:00] #378 closed

[2020-09-28 12:00] #366 closed

[2020-09-28 17:21] kaustubhgupta commented on #283
@HarshCasper is this issue is available in Python I would like to take it up!

[2020-09-29 06:26] Akshi149 commented on #327
@seema1711 I would like to work on this issue

[2020-09-29 06:29] sameersrivastava13 opened #392 "Loading data from Amazon S3 to Redshift"
# Description

I would like to add a python script, that will load data into your Amazon Redshift database tables from data files in an Amazon S3 bucket from beginning to end.

In this script :

- Download data files that use comma-separated value (CSV), character-delimited, and fixed width formats.

- Use COPY commands to load the tables from the data files on Amazon S3.

- Troubleshoot load erro

[2020-09-29 06:29] sameersrivastava13 commented on #392
@HarshCasper Please assign me this issue.

[2020-09-29 06:32] #284 closed

[2020-09-30 08:45] rutujadhanawade opened #394 "script for scraping IMDB top movies"
# Description

I want to add a Python script to scrape IMDB top 250 movies from the [link](https://www.imdb.com/chart/top/?ref_=nv_mv_250) saving the result in a csv file

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-09-30 12:27] rutujadhanawade commented on #394
@HarshCasper Please add relevant labels and assign this issue to me.

[2020-09-30 14:18] rohankumawat commented on #384
Can I work on this @HarshCasper?
*Python*

[2020-10-01 06:07] HarshCasper opened #398 "Make a Banner Image for the Repository"
# Description

Make a Banner Image for the Repository. The Banner Image can be simply the title of this Project with an awe-striking background. This Issue can be assigned to any number of participants but only one would be accepted as the Main Banner.

You need to submit:

- The Raw File of the Banner
- A JPEG/PNG File of the Output

## Tools

- [X] Adobe XD
- [X] Figma
- [X] Photoshop

## Type o

[2020-10-01 06:11] SuvamPrasd commented on #398
I would like to work on this issue to create an awesome banner design. @HarshCasper

[2020-10-01 06:14] HarshCasper commented on #398
Assigned to you @SuvamPrasd

[2020-10-01 06:29] eeshashetty commented on #384
I'd love to work on this in Python! @HarshCasper

[2020-10-01 06:31] eeshashetty commented on #334
Hey I'd love to work on this Bash! Could you assign this to me?

[2020-10-01 06:40] SuvamPrasd commented on #398
@HarshCasper Thanks for assigning me this issue, already started the design.

[2020-10-01 07:04] HarshCasper commented on #384
@eeshashetty This Issue has already been issued in Python now. If you want you can work on Javascript!

[2020-10-01 07:34] sooryaprakash31 opened #399 "Script to automate Google Classroom"
# Description

I want to add a bot which automatically joins online meetings/classes (Google meet) on time using
- Google classroom schedule in a CSV file
- Account credentials

## Language

- [X] Python

## Type of issue

- [X] Feature

## Checklist:

### Feature

| name            | about                                                  | labels  | assignees

[2020-10-01 07:36] sooryaprakash31 commented on #399
@HarshCasper Please add relevant tags and assign this to me! :)

[2020-10-01 07:43] SuvamPrasd commented on #398
@HarshCasper Could you please review my PR?

[2020-10-01 09:23] seema1711 opened #401 "Check a valid YAML file."
# Description

We often use YAML, but there are times it can confusing in terms of the wrong indentation, so this script will help to validate the YAML file.

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-10-01 09:24] seema1711 commented on #401
@HarshCasper I want to work on this issue.

[2020-10-01 10:08] bharxhav commented on #372
I want to take this issue. I have experience with Github actions. And obviously, I will finish within the deadline. 😁

[2020-10-01 10:11] AdityaJ7 commented on #382
Sorry, for the delay but I guess know rather than creating a separate action for this We can just edit the existing issue labeller to add the hacktoberfest label  to all the existing issues

[2020-10-01 10:35] shubhamcodez commented on #381
Could anybody guide me how to make this ?

[2020-10-01 12:03] vighneshdeepweb commented on #394
@HarshCasper Interested to work on this issue could u pls assign this issue to me sir...

[2020-10-01 12:06] rutujadhanawade commented on #394
@vighneshdeepweb  I have already created a PR for this issue.

[2020-10-01 12:42] #394 closed

[2020-10-01 12:44] pradyyadav commented on #369
I am done with the script. Do I need to make any kind of checklist like others or just creating a PR will work? Issue : #369

[2020-10-01 12:53] vighneshdeepweb opened #403 "Covid-19 Predictor Machine learning model using Jupyter Notebook & flask"
# Description
It is a Covid-19 Predictor which basically accepts some parameters from the patient and determines the patient's vulnerability to Covid-19
## Language

- [x] Jupyter Notebook for traning and testing
- [x] Flask

[2020-10-01 13:37] eeshashetty commented on #384
Okay I don't mind Javascript!

[2020-10-01 15:38] xenowits commented on #384
@HarshCasper Can i take this for go??

[2020-10-01 15:39] keshavnath commented on #125
I would like to work on this

[2020-10-01 15:59] mitul3737 commented on #401
I want to work on this issue

[2020-10-01 18:16] #361 closed

[2020-10-01 21:23] rishabh-28 commented on #401
I would like to work on this. Please allow me to do this

[2020-10-02 04:52] rutujak24 opened #407 "COVID 19 Data Analysis and Predictions"
# Description
COVID 19 Data Analysis and Predictions.

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powershell
- [x] Python
- [ ] Other (Please specify)

## Type of issue

_Please delete options that are not relevant._

- [x] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees

[2020-10-02 04:53] rutujak24 commented on #407
I want to take this issue.

[2020-10-02 05:27] #278 closed

[2020-10-02 05:34] #368 closed

[2020-10-02 05:40] #283 closed

[2020-10-02 05:52] rutujadhanawade opened #409 "Script to scrape live cricket score from Cric buzz"
# Description

I want to add python script to scrape the live cricket score from Cricbuzz.com

## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-10-02 05:53] rutujadhanawade commented on #409
@HarshCasper Can I work on this as a part of CH20

[2020-10-02 06:10] #335 closed

[2020-10-02 06:27] #367 closed

[2020-10-02 06:28] #281 closed

[2020-10-02 07:31] #392 closed

[2020-10-02 08:02] rohankumawat commented on #384
@HarshCasper What did you mean by Spaghetti Text and Raise malicious issues also? Can you please explain this more?

[2020-10-02 09:17] hardword opened #415 "Bash script to parse JSON file"
# Description

Add bash script to parse JSON file

## Language

- [X] Bash

## Type of issue

- [X] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | ------------------

[2020-10-02 10:59] KILR007 opened #417 "Discord Bot"
# Description

Make a  discord bot with moderation and information commands which is very easy to setup

# Language

- [x] Python

# Type of Issue

- [x] Feature

[2020-10-02 11:02] KILR007 commented on #417
I Can Work On This

[2020-10-02 11:16] HarshCasper commented on #384
@rohankumawat

You can make use of Lorem Ipsum Placeholder Texts for the purpose. You have to raise random issues depending on the number specified by the user and populate the Issue purpose with these placeholder texts.

[2020-10-02 12:54] vighneshdeepweb commented on #403
i want to work on this issue...

[2020-10-02 19:02] sohamsshah opened #422 "Convert BibTex/URL/DOI text to Citation text directly using JS"
# Description

To provide citations in a review paper or a research paper is a menace for everyone as different journals follow different rules and methods. Doing it manually is difficult. The best way could be a Script that can parse DOI strings, URLs, Bibtex formats or other kind of details and directly return the citation in desired form. It can be implemented by making use of npm packages; but

[2020-10-02 19:07] sohamsshah commented on #422
Please assign me this issue. I would love to work on this!

[2020-10-03 03:00] Cheemashyper commented on #398
Hello @HarshCasper  ,
I am a GFX Artist and would love to work on this.
Kindly assign the issue to me and I will start working on it right away!

[2020-10-03 04:43] #356 closed

[2020-10-03 04:47] #409 closed

[2020-10-03 06:11] HarshCasper opened #423 "Python Script to find all Environment Variables in a Codebase"
# Description

Create a Python Script to find all Environment Variables in a Codebase. It is usual to entirely forget about documenting the Environment Variables in your Project. Your Script should parse the entire codebase and find all the necessary environment variables and create a `env.example` file as the output.

## Language

- [X] Python

## Type of issue

_Please delete options that are no

[2020-10-03 06:13] HarshCasper opened #424 "Node Script to find all Environment Variables in a Codebase"
# Description

Create a JS Script to find all Environment Variables in a Codebase. It is usual to entirely forget about documenting the Environment Variables in your Project. Your Script should parse the entire codebase and find all the necessary environment variables and create a `env.example` file as the output.

## Language

- [X] Javascript

## Type of issue

_Please delete options that are no

[2020-10-03 06:18] HarshCasper opened #425 "Python Script to initialize a Flask Folder Structure"
# Description

Create a Python Script that can be used to initialize a Flask Folder Structure. Your Script should take arguments from the User on what should be the name of the Project, the Folder Location and create a Virtual Environment for the same. The Folder Structure for majority of the Flask Projects looks something like this:
[code]

## Language

- [X] Python

## Type of issue

_Please del

[2020-10-03 08:10] narayan2111 commented on #423
I would like to work on this issue but i don't know much about this, it will be so helpful if you could guide me through this.

[2020-10-03 08:31] varuntumbe commented on #425
hey I have worked with flask. If this issue is open i would love to contribute and assign it to me.
Thanks in advance

[2020-10-03 10:43] Ishita-Mehta commented on #423
Hi! I'll be trying this out and making a pull request. I am participating in the Hacktoberfest 2020.
They have issued an update for maintainers you can see it here https://hacktoberfest.digitalocean.com/hacktoberfest-update
Please help with this update.
Have a good day!

[2020-10-03 10:52] Ishita-Mehta commented on #423
Hi, I had a question regarding this issue. Do we take a python code file as input then parse it to find environment variables which have been set by the code? @HarshCasper

[2020-10-03 11:33] narayan2111 opened #427 "Cryptocurrency Converter using Python scripts"
# Description
Cryptocurrency Converter
A simple script  of a cryptocurrency converter implemented in Python using PyQt.

## Language

- [Y] Python

## Type of issue

_Please delete options that are not relevant._

- [Y] Feature

[2020-10-03 11:36] narayan2111 commented on #427
I would like to work on this issue ,kindly assign this issue to me. And also add hacktoberfest label. @HarshCasper

[2020-10-03 12:22] sohamsshah commented on #424
@HarshCasper Can you elaborate the issue? Do you mean that we have to search for process.env.VAR s in a file and parse all of them into a seperate .env file with those env VARs?
OR we have search for common environment vars like API key, etc. and replace them with process.env. VAR and make a seperate .env to tackle that?

I would like to work on this issue. Please provide more detail on this.

[2020-10-03 15:54] vighneshdeepweb commented on #403
#428

[2020-10-03 15:54] vighneshdeepweb commented on #403
pls take a review....

[2020-10-03 18:22] coolsonu39 opened #430 "Solve Sudoku on Android automatically"
# Description

A python script to automate solving sudoku on android.

## Language
- [x] Python

## Type of issue
- [x] Feature

**Describe the solution you'd like**:
- Extract the numbers into a 2D Matrix from the screenshot
- Solve the incomplete grid using backtracking algoithm
- Update the values by sending touch commands to device

[2020-10-04 05:22] bharxhav commented on #372
I tried a lot to make that action, but every time I do that I find that there is no other way that to create this action from scratch. And only another possibility was octokit, which has been deprecated and broken for 2 Years for now. I am sorry but, this has to be done manually.

[2020-10-04 05:38] HarshCasper opened #433 "Script to launch an EC2 Instance"
# Description

Create a Script that allows you to create any number of AWS EC2 Instances that you wish to create. You need to specify all your Credentials in a `.env` file which includes your Access Key, Secret Key, Region, Zone, Instance Type and more.

## Language

- [X] Python
- [X] Javascript
- [X] Golang

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-10-04 05:42] HarshCasper opened #434 "Script to scan a Github Repository for Leaks"
# Description

Create a Script that would allow the user to scan a particular Github Organizations for Leaks which include Secret Information that should not have been passed ideally. Some of the Leaks can include:
- Github API Tokens
- AWS/Azure Credentials
- API Credentials
- Firebase Private Keys
- Secret Access Keys

## Language

- [X] Python
- [X] Golang
- [X] Javascript

## Type of issue

_P

[2020-10-04 05:50] HarshCasper opened #435 "Script to scrap Internship Details from Internshala"
# Description

Create a Script to scrap Internship Details from Internshala. You can actually hardcode the specific Internships you would like to scrap (Computer Science, Management et al) and scrap specific details like:
- Heading
- Company
- Stipend
- Description

These details should be saved in a `csv` file and passed to the user.

## Language

- [X] Javascript
- [X] Golang
- [X] Python

## Ty

[2020-10-04 05:53] HarshCasper opened #436 "Script to download a Torrent File to Google Drive"
# Description

Create a Script to download a Torrent File to Google Drive. You can make use of specific libraries and modules like `libtorrent` and use Google Collab as an intermediary tool for the purpose.

## Language

- [X] Python

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-10-04 06:11] HarshCasper commented on #427
I have assigned it to you. Kindly omit the GUI Part since we need Core Scripts for our purpose here

[2020-10-04 06:15] narayan2111 commented on #427
Ofcourse i will do this accordingly and will omit GUI part

[2020-10-04 06:17] HarshCasper commented on #401
Assigned to you @mitul3737

[2020-10-04 06:18] tapish2000 commented on #436
I would like to do contribute to this issue. Please assign it to me.

[2020-10-04 06:18] HarshCasper commented on #403
@vighneshdeepweb The Core Tenet of this Project is the collection of Scripts that can be used for various purposes around Automation and all. We don't exactly need ML Models for the purpose who certainty for critical matters cannot be decided in any way.

[2020-10-04 06:24] HarshCasper commented on #407
Hi @rutujak24  The Core Tenet of this Project is the collection of Scripts that can be used for various purposes around Automation and all. We don't exactly need Statistical Models for the purpose who certainty for critical matters cannot be decided in any way.

[2020-10-04 06:30] #403 closed

[2020-10-04 06:35] #415 closed

[2020-10-04 06:39] varuntumbe commented on #425
@HarshCasper can you please assign it to me ?

[2020-10-04 06:44] HarshCasper commented on #422
Assigned you @sohamsshah !

[2020-10-04 06:46] HarshCasper commented on #423
@Ishita-Mehta This Issue is open only for SLoP Participants. If you are a SLoP Participant I would love to assign it to you.

@narayan2111 You can ping me on Gitter Channel to have further clarity about the Issue.

[2020-10-04 06:46] HarshCasper commented on #424
@sohamsshah This Issue is open only for SLoP Participant. I would love to assign it to you if you are a participant of the same.

[2020-10-04 06:48] HarshCasper commented on #425
@varuntumbe If you are a participant at SLoP, I can assign you then. Issues with the tag `SLoP` are open only for the Program Participants.

[2020-10-04 06:56] varuntumbe commented on #425
How should i participate in SLop ? where should i register ?
Thanks in advance

[2020-10-04 07:04] vighneshdeepweb opened #438 "Script to Organise Files Using Python"
# Description

This script automatically organises ur complete system making ur work much easier and efficient. You can use modules such as os and shutil for this purpose
## Language

- [x] Python
-[ ] Hacktoberfest

## Type of issue

- [x] Feature

[2020-10-04 07:05] #438 closed

[2020-10-04 07:07] vighneshdeepweb opened #439 "Python Script to Organise Files in ur System."
# Description

This script automatically organises ur complete system making ur work much easier and efficient. You can use modules such as os and shutil for this purpose
## Language

- [ ]Python
- [ ]Hacktoberfest

## Type of issue

- [x] Feature

[2020-10-04 07:07] #430 closed

[2020-10-04 07:07] #439 closed

[2020-10-04 07:09] vighneshdeepweb opened #440 "Python Script to organise files in ur system"
# Description

This script automatically organises ur complete system making ur work much easier and efficient. You can use modules such as os and shutil for this purpose
## Language

- [x] Python

## Type of issue

- [x] Feature

[2020-10-04 07:09] narayan2111 commented on #435
I would like to work on this issue in python, kindly assign this issue to me @HarshCasper

[2020-10-04 07:33] SANKET7738 commented on #435
I would like to work on this issue in javascript

[2020-10-04 07:37] sohamsshah commented on #424
@HarshCasper Oh man, I actually missed the SLOP registration date...But thought to contribute even if I am not a participant! No issues brother, I am working on the BibTex Script issue! Thanks!

[2020-10-04 07:49] twozero88 commented on #435
Made a Python script to do this @HarshCasper

[2020-10-04 08:41] narayan2111 commented on #423
I would like to work on this issue, kindly assign this issue to me @HarshCasper

[2020-10-04 09:30] namanshah01 opened #443 "YouTube audio/video downloader"
# Description
A python script that downloads audio, video or both of a provided YouTube video link from user

## Language
- [x] Python

## Type of issue
- [x] Feature

## Note
Writing this script should be easy, but I can also try and convert it into a telegram bot.

[2020-10-04 09:31] namanshah01 commented on #443
@HarshCasper can you assign this issue to me please? I would like to work on it

[2020-10-04 09:33] namanshah01 commented on #443
Yes I did follow the guidelines. Can you assign this issue to me please?

[2020-10-04 09:46] DevChoganwala commented on #425
@HarshCasper I would like to work on this issue. Please assign this to me.
Thank you.

[2020-10-04 13:07] twozero88 commented on #435
To run the bot yes. You can get one from BotFather

[2020-10-04 23:50] seanjpmccarron opened #444 "Python - Test data generator (CSV)"
# Description

A python script/file which will provide a CSV of generated test data

## Language

- [ ] Python

## Type of issue

- [ ] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | -------------------------------------------------

[2020-10-05 00:15] rohankumawat commented on #433
@HarshCasper Can you assign me this?
***Using Python***

[2020-10-05 01:13] frbimo commented on #433
i'll take Golang

[2020-10-05 02:27] HarshCasper commented on #425
Assigned to you @DevChoganwala

@varuntumbe SLoP is a program by DSC-DAIICT. The Registrations are over. If you wish to contribute, I will kickstart some beginner-friendly issues which are open for all

[2020-10-05 02:32] HarshCasper commented on #435
@twozero88 This Issue is tagged with `SLoP` and only `SLoP` Participants can work on this. Also you should not be making any PRs since Issues are assigned on First Come, First Serve. I am closing your PR for now.

I am assigning this to you @narayan2111

[2020-10-05 02:33] HarshCasper commented on #436
@tapish2000 This Issue is open only for `SLoP` Participants

[2020-10-05 02:34] HarshCasper commented on #424
@sohamsshah Feel free to create more Issues if you have more ideas. Would love to have you contribute up here!

[2020-10-05 02:39] #440 closed

[2020-10-05 02:42] HarshCasper commented on #443
Assigned to you @namanshah01

[2020-10-05 02:44] HarshCasper commented on #444
Thanks for creating the Issue @seanjpmccarron

I have assigned you the same!

[2020-10-05 04:10] vybhav72954 commented on #436
Can you assign this to me? I am a SLoP Participant as well.

[2020-10-05 07:28] kaustubhgupta commented on #296
@HarshCasper I would like to contribute to this issue in Python under Hacktoberfest! 😃😃

[2020-10-05 07:33] HoussemCharf commented on #433
I'll take the python if it's still not delivered.

[2020-10-05 07:43] sohamsshah commented on #422
@HarshCasper Please find the PR relating to this at #447 ! Thank you so much!

[2020-10-05 08:00] sohamsshah opened #448 "Extract Background from a Static Video feed"
# Description

This Script can extract the overall Background of the input video feed. This can be done by using Image Processing Filtering methods and the background can be extracted of the Video feed. Example: A video feed at the traffic signal has a lot of moving objects, but to get the background of the cross-road(maybe for further training or model building), this script can filter that and r

[2020-10-05 14:36] srimani-programmer opened #449 "Google News Scrapper"
# Description
Developing a Script in python to scrape the news articles from google news.
## Language

- [X] Python

## Type of issue

- [X] Feature

I would like to implement this script as part of Hacktoberfest.

[2020-10-06 03:27] HarshCasper opened #452 "Script to Scrap Community Website"
# Description

Create a Script to scrap the Community Website for [Developer Students Club](https://dsc.community.dev/). The DSC Community Website lists various Events that are happening across the globe. Scrap them and save them as a CSV File.

## Language

- [X] Python
- [X] Javascript
- [X] Golang

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-10-06 03:50] vybhav72954 opened #453 "Audio File Converter"
# Description

A script that can convert various formats of audio files into other formats, preferably to ```.wav``` format. It should take an audio file, its sample rate, number of channels as an argument, and should allow the user to resample the file and convert it into ```.wav``` format.  Other basic utilities like Renaming, changing File Destination, etc are also appreciated (Not important).

[2020-10-06 04:37] DevChoganwala commented on #452
@HarshCasper Can I work on this issue under SLOP? If so I would like to work on this issue in python.

[2020-10-06 04:46] sohamsshah commented on #448
@HarshCasper I would like to work on this issue.

[2020-10-06 05:16] HarshCasper commented on #452
Yes. I will tag them aptly and you can work on this.

[2020-10-06 05:25] #399 closed

[2020-10-06 06:04] vybhav72954 commented on #453
@HarshCasper Can u assign me this and add SLoP as well

[2020-10-06 10:33] seema1711 commented on #382
@HarshCasper I would like to work on this issue.

[2020-10-06 20:05] mrpandya commented on #111
@HarshCasper can i work on this issue if no one is working on it??

[2020-10-07 05:18] SKAUL05 opened #457 "Fetch BBC News Using API"
# Description

Please include a summary of the issue.

## Language
- [x] Python

## Type of issue

_Please delete options that are not relevant._

- [x] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | --------------------------------

[2020-10-07 05:20] SKAUL05 commented on #457
@HarshCasper Would like you to assign me this issue.

[2020-10-07 05:53] twozero88 commented on #435
@HarshCasper I was doing it for Hacktoberfest. The tag was also present here. Was not aware of the working here.
Have already made the program so if possible, do help me out here.
Thanks

[2020-10-07 05:55] HarshCasper commented on #435
@twozero88 I will open your PR. If @narayan2111 is not able to complete it, I will review your PR

[2020-10-07 06:04] twozero88 commented on #435
Thank you!

[2020-10-07 06:31] GoswamiTushar opened #458 "Fetch common tags of top google searches"
# Description
This Script will fetch the common tags of top google searches for SEO optimization and indexing.

Please include a summary of the issue.

## Language

- [ ] Python

## Type of issue

_Please delete options that are not relevant._

- [ ] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees

[2020-10-07 06:40] KhushalPShah commented on #457
@HarshCasper
Can you assign this to me?
I have already prepared and tested the code.

[2020-10-07 07:07] vybhav72954 opened #459 "Minor typos in README.md Files"
# Description

A few files like CONTRIBUTING.md have some minor typo errors, considering there are a few First timers here too, I think they should be corrected.

## Language

- [ ] Other (Markdown, HTML)

## Type of issue

_Please delete options that are not relevant._

- [ ] Bug

- **For Bug**

| name | about                                     | labels | assignees

[2020-10-07 07:08] vybhav72954 commented on #459
The Admins/Mod/Maintienrs can sort them out on their own, there are small errors in various files, or else I request you to assign this to me and I can sort them out ASAP.

[2020-10-07 08:03] #458 closed

[2020-10-07 08:04] GoswamiTushar opened #461 "Fetch common tags of top google searches"
# Description

This Script will fetch the common tags of top google searches for SEO optimization and indexing.

## Language

- [x] Python

## Type of issue

- [x] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ---------------------

[2020-10-07 08:10] GoswamiTushar commented on #461
@HarshCasper can you please assign this to me

[2020-10-07 16:29] HariAcidReign commented on #382
Is @AdityaJ7 doing it, or can I be assigned to this issue, please?
I know how to do it and I can get it done within this week if assigned. 😄

[2020-10-08 08:24] #436 closed

[2020-10-08 08:28] HarshCasper commented on #457
@SKAUL05 If you would like to work on this, I can assign it to you on Python

[2020-10-08 08:34] #443 closed

[2020-10-08 08:39] SKAUL05 commented on #457
Sure @HarshCasper

[2020-10-08 08:47] vybhav72954 commented on #130
@HarshCasper Please assign this to me. Python

[2020-10-08 08:58] #433 closed

[2020-10-08 11:45] keshavnath commented on #291
I would like to work on this issue, I've been practicing BeautifulSoup and I think I can solve your problem as I had encountered a similar issue while scraping emails from a certain website
May I be assigned to this?

[2020-10-08 11:59] srimani-programmer commented on #291
@AkM-2018 Use some regex techniques and string formatting techniques before printing it on to the console. Try this out to get the desired results if not please reach me. I'm happy to help you.

[2020-10-08 12:00] srimani-programmer commented on #291
@keshavnath, No already this issue is assigned to @AkM-2018. So please find some other open issues in this project. Thank you

[2020-10-08 12:57] KmrAnish04 commented on #457
Hi @HarshCasper, I have worked on this issue, So give me a chance to contribute by assigning this issue to me.

[2020-10-08 14:42] krishnadevz opened #465 "JS script that shows the github contributions graph on your website"
# Description
In this repository on script is created in Js if you put your usernamein that script then you can show your github activity means contribution (Activity) Page On Your Website/Portfolio
Please include a summary of the issue.

## Language

- [ ] Bash
- [ ] Go
- [X] Javascript
- [ ] Powershell
- [ ] Python
- [ ] Other (Please specify)

## Type of issue

_Please delete options that are n

[2020-10-08 16:48] krishnadevz commented on #465
@HarshCasper can you please assign this to me. I would like to work on this issue in JS

[2020-10-09 11:41] keshavnath commented on #291
Okay, thank you

[2020-10-09 11:56] keshavnath opened #466 "Script to get a Football Player's Club History from Wikipedia"
# Description

A Script to get the Club History (with noteworthy years, if any are specified in Wikipedia) of a Football Player by scraping that footballer's Wikipedia Page.

## Language

 [✔] **Python**

## Type of issue

[✔] Web-Scraping Script

[2020-10-09 11:57] keshavnath commented on #466
I have created a script for this, and I would like to be assigned to this issue.
Thank you.

[2020-10-09 14:10] vybhav72954 opened #468 "[MINOR ISSUE] Add JetBrains IDE Settings in .gitignore"
# Description

For a contributor who uses **PyCharm** or **IntelliJ IDEA** by **JetBrains** as their primary IDE for Python and Java, it would be helpful if we make some minor tweaks in the .gitignore file.

For new contributors, ignoring `.idea/` folder is actually a hassle if they aren't aware of the working of `.gitignore` and/or are forced to either commit only selected files or upload a `.git

[2020-10-09 14:13] vybhav72954 commented on #468
As it is a minor tweak, there is a possibility that no changes are required. In that case I can close the issue, but would like to request admins to take a closer look as this can be a big hassle for some. Either the Admins/Mod/Maintienrs can sort this out on their own.

Else I can be assigned this issue too.

[2020-10-09 17:06] AkM-2018 commented on #291
I'm stuck with it for too long, @srimani-programmer . Better reassign the issue.

[2020-10-09 17:31] srimani-programmer commented on #291
@AkM-2018 Can you please send me the files that you are worked till now. I want to have a look at it. If it meets at least the minimum criteria then I will merge it.

[2020-10-09 19:37] keshavnath commented on #291
I'm still ready to work on it, if it needs re-assignment :)

[2020-10-10 06:15] AkM-2018 commented on #291
@srimani-programmer, I had made a pull request for it but with that method, you can't copy the text. Then I tried BeautifulSoup but the webpage has too many divs and some of the divs have img tag so I didn't know how to handle it.

[2020-10-10 06:38] seema1711 commented on #382
I think he is not doing that, you can start working on this issue. @HariAcidReign

[2020-10-10 08:28] srimani-programmer commented on #466
@keshavnath You are assigned to this issue. Please proceed with the code.

[2020-10-10 09:51] keshavnath commented on #466
I have made a Pull Request, please review it when you can!
Thanks

[2020-10-10 15:37] seema1711 commented on #434
I want to work on this issue. @HarshCasper

[2020-10-11 04:16] #336 closed

[2020-10-12 08:32] seema1711 opened #473 "Counting days"
# Description

Script for counting how many days there is left for any given date(birthday).

## Language

- [x] Python

[2020-10-12 08:33] seema1711 commented on #473
@HarshCasper I want to work on this issue. Kindly assign.

[2020-10-12 10:52] srimani-programmer commented on #398
@Cheemashyper You can work on this issue.

[2020-10-12 11:18] vrbro commented on #473
@HarshCasper I want to work for this issue! Please assign

[2020-10-13 08:30] KmrAnish04 opened #475 "Python voice assistant to fetch and read news from NewsAPI"
# Description
A python script which will fetch news from newsapi.com and will speak that news with headlines and description.

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powershell
- [x] Python
- [ ] Other (Please specify)

## Type of issue

- [x] Feature
- [ ] Bug

## Checklist:

- **For Feature**

| name            | about                                                  | labels  |

[2020-10-13 08:33] KmrAnish04 commented on #475
@HarshCasper Hi, I would like to contribute to this issues. Please assign this issue to me. Thankful to you.

[2020-10-15 07:01] KhushalPShah commented on #457
This is already solved
https://github.com/HarshCasper/Rotten-Scripts/pull/460

[2020-10-15 09:38] vybhav72954 commented on #473
@dcorriveau The guidelines clearly state that doesn't open a PR before the issue is assigned.

[2020-10-15 09:48] vybhav72954 commented on #144
@HarshCasper WHy don't we modify the guidelines a bit? That for experienced programmers, they can already start using of Object-based programming. This way in the future if we try to implement this idea, it would be easier for us. Moreover, we can link a script in the guidelines as well which follows a similar approach, this was we can also give them a static demo of how a script shld look like.

[2020-10-15 12:53] dcorriveau commented on #473
Okay. Sorry. Could I have it assigned?

[2020-10-15 16:34] dcorriveau commented on #473
great, thanks @seema1711 ! Should I close my PR and re-open it? Or can we use that one?

[2020-10-15 16:57] seema1711 commented on #473
Let me review that PR.

[2020-10-16 03:50] #449 closed

[2020-10-16 03:51] #425 closed

[2020-10-16 04:14] vybhav72954 commented on #468
@HarshCasper Kindly assign this

[2020-10-16 04:23] #473 closed

[2020-10-16 04:42] #452 closed

[2020-10-16 05:12] HarshCasper commented on #457
@SKAUL05 I have assigned this to you in Javascript

[2020-10-16 10:00] HeisenBug-07 opened #481 "CRUD commands"
# Description
this is for python users who are learning web development using flask and want some help with database.

## Language

- [x] Python
- [x] Flask

[2020-10-16 10:43] samriddhisv commented on #398
Hey, I would like to work on this issue. I can work with Photoshop and Canva.

[2020-10-16 11:28] DevChoganwala commented on #333
@HarshCasper I would like to work on this issue in python under SLOP if still not resolved.

[2020-10-16 12:35] DevChoganwala commented on #333
@rohankumawat If you are still working on this issue I can take another one. Please confirm.

[2020-10-16 15:52] vybhav72954 commented on #318
@HarshCasper @srimani-programmer Is this still open in Python?

[2020-10-16 15:54] vybhav72954 commented on #164
@HarshCasper Is this still open in python?

[2020-10-16 15:56] vybhav72954 commented on #111
@HarshCasper Is this still open in python?

[2020-10-16 17:51] vybhav72954 commented on #128
@HarshCasper Is this issue open in Python?

[2020-10-16 17:57] vybhav72954 commented on #381
@HarshCasper Assign me this issue, please. Also, I think bash is the best fit, but you haven't added it, is it on purpose? If yes then ill work on python.

[2020-10-16 18:04] vybhav72954 commented on #296
@HarshCasper If still open, Assign me please

[2020-10-16 18:07] vybhav72954 commented on #214
@HarshCasper @alazar-w Is this issue open in python?

[2020-10-17 06:33] #459 closed

[2020-10-17 06:35] #481 closed

[2020-10-17 08:30] yerramsettysaimeghana opened #486 "JS Script to post tweets using api"
# Description

A script to post tweets with media and caption using twitter api and twit npm package.

## Language
- [x] Javascript
## Type of issue

- [x] Feature

[2020-10-17 08:31] yerramsettysaimeghana commented on #486
I have created a script for this, and i would like to be assigned to this issue. Thankyou!

[2020-10-17 09:46] rohankumawat commented on #333
I'm working on it!

[2020-10-17 10:42] DevChoganwala commented on #333
Ok ill take up another issue then.

[2020-10-17 10:59] DevChoganwala commented on #106
@HarshCasper I would like to work on this issue if still available.

[2020-10-17 14:08] dhausser opened #487 "Remove .DS_Store from git history"
Remove .DS_Store from git history.

[2020-10-17 15:06] vybhav72954 opened #488 "[MINOR] Reduce the `maxAge` Argument in README.md"
# Description

The `maxAge` argument in README.md is set to 30 days for fork and star badges, for that reason, the badge has a different value than the actual.
- At the time of writing
    - Actual Fork - 124
    - Actual Stars - 174
    - Badge (Fork) - 62
    - Badge (Star) - 137

## Language

- [x] Other (Markdown)

## Type of issue

- [x] Bug

## Checklist:

- **For Bug**

**Expected results**

[2020-10-17 15:07] vybhav72954 commented on #488
As this is a really Minor issue, any moderator can change the README.md, else it can be assigned to me as well.

[2020-10-17 15:25] seema1711 commented on #486
Assigned to you. 🚀Good luck.

[2020-10-18 11:18] seema1711 commented on #488
Assigned to you.

[2020-10-18 19:57] vybhav72954 opened #495 "[DISCUSSION] Add a GitHub Action "Variable Threshold Pylint" to the Repo."
# Description

While going through an [Issue](https://github.com/HarshCasper/Rotten-Scripts/pull/477) I ran into a comment by @HarshCasper about `PyLint` scores. I think we can introduce a custom PyLint action in the Repo.

Although there are similar actions in the marketplace. I believe as this is a first-timer friendly repository. We can't really expect everyone, for example, to write `docstring

[2020-10-19 10:34] krishnadevz commented on #465
closing and saying goodbye to this repo

[2020-10-19 10:34] #465 closed

[2020-10-19 14:36] #488 closed

[2020-10-21 09:12] shahbazalam07 commented on #487
I would like to work on this issue

[2020-10-21 09:17] dhausser commented on #487
This issue is actually already fixed but this PR https://github.com/dhausser/Rotten-Scripts/commit/3fcd16555782a0ff190c4428ca87a9847fb004af

[2020-10-21 14:47] vybhav72954 opened #499 "Optimize Images in Multiple Code Directories."
# Description

The Size of Repo is too large because of various images used in `README.md` files. Using lossless compression, the size of the images can be easily reduced. We can expect an approximate 25% reduction in aggregate image size.

- [x] Enhancement

[2020-10-21 14:48] vybhav72954 commented on #499
FOr the above purposes, apps like `ImageBot` can be used, or this can be assigned to me.

[2020-10-23 02:00] dcorriveau commented on #499
Do you mind if I take it @vybhav72954 or would you rather have it?

[2020-10-23 04:09] #130 closed

[2020-10-23 04:11] #468 closed

[2020-10-23 04:21] HarshCasper commented on #499
I guess both of you can work on this.

@dcorriveau Actually @vybhav72954 is a part of `SLoP` Program and resolving every Issue brings points to the Leaderboard. Let me know @vybhav72954 if both of you would want to work on this.

[2020-10-23 04:23] HarshCasper commented on #487
@dhausser Can you make a PR for the same? I possibly cannot find it on the Pull Requests Tab

[2020-10-23 04:23] HarshCasper commented on #424
@sohamsshah I am opening this Issue for everyone. Let me know if you would like to work on this.

[2020-10-23 06:46] #487 closed

[2020-10-23 06:47] dhausser commented on #487
Here it is https://github.com/HarshCasper/Rotten-Scripts/pull/501

[2020-10-23 18:48] vybhav72954 commented on #499
@HarshCasper Would be great if you can assign me

[2020-10-23 18:49] vybhav72954 commented on #499
Hey man I actually opened it cause I wanted to work on it 😄

[2020-10-23 19:08] dcorriveau commented on #499
haha understandable! no worries! :)

[2020-10-24 10:26] vybhav72954 commented on #499
@HarshCasper Assign me please so that I can start comparing results

[2020-10-25 07:40] vybhav72954 commented on #495
@HarshCasper @srimani-programmer @seema1711 I need some help with Action.

I have made the `.yml` file. and a `pylint.py` file.

Am not sure how to make sure that my workflow is triggered only for the new commits. Can you guide me? I can send a request to you guys from my private repo too.

[2020-10-25 07:44] vybhav72954 commented on #382
dear @HariAcidReign Are you currently working on this?
Can this be assigned to me too?
I have made a similar Action once. And I think I can sort this really quickly.

[2020-10-25 07:45] vybhav72954 commented on #372
@HarshCasper Assign this to me, please

[2020-10-26 06:50] vybhav72954 commented on #499
@HarshCasper Please Assign

[2020-10-27 05:57] vybhav72954 opened #505 "Add Caesar cipher."
# Description

I observed that we have a few Cipher techniques in this repo, but it's missing the most basic, yet most popular technique (i.e. `Caesar Cipher`)

It is a very basic Cipher Technique and is a usual learning part of every tech enthusiast. I suggest adding a script for the same.

## Language

- [x] Python

## Type of issue

_Please delete options that are not relevant._

- [x] Feature

[2020-10-27 06:09] vybhav72954 opened #506 "Break Large CSVs into Smaller CSVs"
# Description

While working on Audio Processing, there was a usual problem, my CSV (features of Audio) contained various features of various files, Copy Pasting was the only method that could be used to generate smaller CSVs.

`Pandas` or `csv` (python module) can sort this though, so how about a program that takes a CSV file as input, breaks it into smaller on, according to users preferences.

*

[2020-10-27 06:59] vybhav72954 opened #507 "[SUGGESTION] A Slack or Discord Channel/Server for Rotten Script."
# Description

This is just a Suggestion and open for discussions. Having a dedicated Discord or Slack channel (Preferably) will streamline things a lot, people can have healthy discussions there as well.

[2020-10-27 12:15] #453 closed

[2020-10-27 12:17] HarshCasper commented on #507
I will be setting up a Slack Channel for the same quite soon.

[2020-10-27 12:22] HarshCasper opened #508 "Script to kill Ports"
# Description

Create a Script to kill Ports.

Yesterday I had a weird issue while working with FastAPI + Neo4j where I stopped the Database and the APIs were still working. I came to understand that the Port was still working and had now occupied them, because of which I was not able to work on other stuff. In this Script, I would like to have a functionality to kill Ports given the Port Number.

[2020-10-27 14:11] vybhav72954 commented on #508
I would like to apply for this only if my understanding is correct.

So what I believe is that you want a script, that will kill a port, and as an input, we provide a port number?

Or you also want to list the ports which are currently listening?

If my understanding is correct *processes don't run on ports - processes can bind to specific ports*. then something like `os.kill` can achieve the task

[2020-10-27 19:40] vybhav72954 commented on #507
In case you need help, I can help. (Not for SLoP or anything), just genuine assistance 😄

[2020-10-27 19:41] vybhav72954 commented on #505
I'll be adding a decipher code as well. @HarshCasper Hope that won't be an issue 🤔

[2020-10-28 05:18] ashutosh007865 commented on #505
if you don't mind can I work on this issue??

[2020-10-28 05:43] vybhav72954 commented on #505
@ashutosh007865 I have already made the PR in python. If @HarshCasper wants the code in JS as well and you have JS knowledge. You sure can but wait for him to confirm

[2020-10-28 07:11] vybhav72954 commented on #499
@HarshCasper Kindly see the changes 😀😀

[2020-10-28 07:13] ashutosh007865 commented on #505
That's really kind of you. i will definitely wait for my chance.

On Wed, Oct 28, 2020 at 11:14 AM vybhav72954 <notifications@github.com>
wrote:

[2020-10-28 12:02] vybhav72954 commented on #495
[logs_88.zip](https://github.com/HarshCasper/Rotten-Scripts/files/5451677/logs_88.zip)

@HarshCasper These are log files generated from the Action. I will also upload a few screenshots soon. Details can be found in the logs.

[2020-10-28 14:37] vybhav72954 commented on #475
@HarshCasper Is This Issue open?

[2020-10-28 14:44] vybhav72954 commented on #184
@HarshCasper Is this up for grab?

[2020-10-28 14:48] vybhav72954 commented on #135
Can you explain what an important message mean here? @HarshCasper

[2020-10-28 15:26] vybhav72954 commented on #155
@HarshCasper Is the Issue till up?

[2020-10-28 20:25] vybhav72954 opened #513 "Add SLoP in Open Source Events"
# Description

Considering that `Rotten-Script` has been an active part of ***SLoP***. I believe we should add it to the Open Source Event README.

## Language

- [x] Other (Markdown)

[2020-10-28 21:09] vybhav72954 opened #515 "Automatic Backup of Important Files."
# Description

A python or bash script, that will automatically make a backup of a folder(s). This will ensure data safety.
But why make a new script? If `rdiff` and `rsync` are available?
Simlple-  ***They Lack Compression***

## Language

- [x] Bash
- [x] Go
- [x] Python

_Can Include Other Languages as well_

## Type of issue

- [x] Feature

## Checklist:

- **For Feature**

| name            |

[2020-10-28 21:11] vybhav72954 commented on #515
@HarshCasper If you think it's good. Assign me in Python ( I can do Bash as well, but later).

One can also include PowerShell, not sure about the threading part though, and threading if possible will surely make it better.

[2020-10-29 07:23] HarshCasper commented on #164
I am assigning this to you @vybhav72954

[2020-10-29 07:24] HarshCasper commented on #214
Since @alazar-w has not made any PR for this Issue, you can work on this @vybhav72954

[2020-10-29 07:25] HarshCasper commented on #381
@vybhav72954 There is already a PR for the same using Python and JS.

If you would like to work on BASH, I will assign the same to you. Kindly let me know if you like to work on BASH and I will assign it to you.

[2020-10-29 07:27] HarshCasper commented on #318
@xenowits Kindly let me know if you are ready to take it up in Golang. I will assign it to you.

@vybhav72954 The Issue is open in Python, but you can take it up once the rest Issue assigned to you are resolved.

[2020-10-30 05:30] vybhav72954 commented on #296
@HarshCasper @srimani-programmer Just a doubt, these files contain information other than the table also? Or these files just have a bunch of tables?

[2020-10-30 07:00] vybhav72954 opened #517 "Automate Lyrics Downloading [Bulk Download]"
# Description

It's easy to find lyrics of one or two songs online, but what if you want to use some NLP algo and do some stuff over a bunch of lyrics? Copy Paste is not an option (obviously)
## Language

- [x] Javascript
- [x] Python

## Type of issue

_Please delete options that are not relevant._

- [x] Feature

## Checklist:

- **For Feature**

| name            | about

[2020-10-31 10:48] vybhav72954 commented on #164
@HarshCasper This issue is solved in `Python`, [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Automate-LinkedIN)

I'll solve this using JS.

This might take some time as JS is not my forte.

[2020-10-31 10:59] #296 closed

[2020-10-31 11:02] #513 closed

[2020-10-31 11:10] #499 closed

[2020-10-31 11:13] #505 closed

[2020-10-31 11:16] #461 closed

[2020-10-31 11:30] vybhav72954 commented on #517
Hello @HarshCasper Considering a few of my PRs have been merged today, can you assign this to me now.

PS - >Is the easy label correct though 😛

[2020-10-31 20:07] vybhav72954 opened #521 "A Repo-Size badge in README"
# Description

Considering this is a Huge Repository size-wise, It makes sense to have a `repo-size` badge.

## Language

- [x] Markdown

[2020-10-31 20:14] vybhav72954 commented on #521
As this was a really minor issue, I made a PR quickly

[2020-10-31 20:25] vybhav72954 opened #523 "Typo Graphical Error in Multiple Files"
# Description

Since the last time I corrected typos in nearly 50 files, I observed a few more mistakes. I would like to correct them.

## Language

- [ ] Other (Markdown)

## Type of issue

- [x] Bug

## Checklist:

- **For Bug**

| name | about                                     | labels | assignees                                                      |
| ---- | --------------------------------

[2020-11-01 07:05] HarshCasper opened #524 "Scrap LinkedIn Posts and Reactions"
# Description

Create a Script to scrap LinkedIn Posts and Reactions. The Script should be able to do the following:

- Take a Profile URL and access the `/detail/recent-activity/shares/` endpoint.
- Scrap the Post Content.
- Scrap the number of Reactions on the Post.
- Take an argument on the number of Posts to be scrapped.
- Store all the Data in a CSV File.

## Language

- [X] BASH
- [X] Python

[2020-11-01 07:12] HarshCasper opened #525 "Add a Script to setup a Litmus Portal from CLI"
# Description

Add a Script to initialize litmus portal for developers directly and not waste any time. Litmus Portal provides capabilities to orchestrate complex chaos workflows, monitor chaos events and metrics around chaos experiments.

Through this Script, we will provide the end-user a CLI Tool to set up a Litmus Portal by spawning the Portal with the CID and the Access Key.

## Language

- [

[2020-11-01 16:38] vybhav72954 opened #526 "Delete redundant .gitignore"
# Description

Delete the extra `.gitignore` in the various directories across the Repo.
It will maintain the aesthetics of the repo.

**SUGGESTION** Rather than deleting the I suggest one go through all the `.gitignore`, ensure that whatever files or paths that are being ignored are also ignored in the primary `.gitignore`.

This is actually important as if the `.gitignore` is not verified proper

[2020-11-01 16:42] vybhav72954 opened #527 "Ignore .DS_Store"
# Description

In #487 `.DS_Store` was deleted from Repo. I believe it's better to put it in `.gitignore`. So that even If it is pushed by a Mac user, it would be ignored.

[2020-11-03 10:15] vybhav72954 opened #531 "GitHub Action that can auto-assign issues to Person who opened it [IF APPLICABLE]."
# Description

This Repo has an Awesome Issue Template.
Here is an example.

![Git](https://user-images.githubusercontent.com/49750343/97972553-b1f35880-1dea-11eb-855e-77faf731ef88.PNG)

An important part here is, that as the Moderators are very busy with code review and their personal stuff, Assiging issues manually is certainly a hassle.

## Language

- [x] YAML

## Type of issue

- [x] Feature

[2020-11-04 07:38] vybhav72954 commented on #495
@HarshCasper I have finalized the Action from my side.

Few things I just wanted to confirm/clear before starting a PR:

- Right now the Function is very strict as I was unsure how to make it less strict, I have set the threshold at a score of 1, the Action won't fail for badly structured code, but will give them suggestions, in case the code is really bad (something below 1), the action would fai

[2020-11-04 07:38] vybhav72954 commented on #495
@HarshCasper

[2020-11-04 10:02] #506 closed

[2020-11-04 10:12] #521 closed

[2020-11-04 10:16] #527 closed

[2020-11-04 10:18] #526 closed

[2020-11-04 10:25] #523 closed

[2020-11-04 10:25] HarshCasper commented on #531
Thanks for making this Issue. Assigning it to you!

[2020-11-04 10:30] HarshCasper commented on #508
@vybhav72954 `os.kill` is sometimes not enough to terminate spawning processes. Only when we create a process group and use the Command would do the trick for the purpose. I wanted a singular Script that could manage this and hence the Issue.

[2020-11-04 10:33] vybhav72954 commented on #508
@HarshCasper Nog going to lie i cant still understand the problem. Let me put it this way.

A script that can determine which all the ports listening to something, and a script that can kill a port. A combination of these 2 can solve the problem?

[2020-11-04 11:37] vybhav72954 commented on #495
@HarshCasper Awaiting your instructions

[2020-11-04 11:39] vybhav72954 commented on #372
@HarshCasper If I change the duration to 14 days or 10 days. I hope it won't be a problem

[2020-11-05 03:48] DevChoganwala commented on #524
@HarshCasper I would like to work on this issue in python.

[2020-11-05 05:18] vybhav72954 opened #534 "GitHub Action that checks, if a suitable Makrdown file is present or not, then look for errors in Markdown File."
# Description

Just like #495 I believe that a similar Action fore `README.md` files can be a good enhancement for the Repo.

## Language

- [x] Javascript
- [x] Python
- [x] YAML

## Type of issue

- [x] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees                                                      |

[2020-11-05 06:10] vybhav72954 commented on #531
Here is what I Propose @HarshCasper , for every issue marked with `up-for-grabs` the person who comments something like `/$` or anything, would be automatically appointed the issue.

So this way for those who want the issue to be self-appointed can do it by themselves, and those who don't want to work on the issue can simply not comment anything, the first person to comment the `keyword` will then

[2020-11-05 08:35] vybhav72954 opened #535 "Improve Issue-Labeler for labelling issue"
# Description

Considering that every issue is not Self Assigned. And `Up for Grabs` helps in increasing the reach of the Repo. I think it shild be a Label by default.

[This then can be used for auto issue assignment as well]
This functionality will be then useful in #531

## Language

- [ ] YAML

## Type of issue

- [x] Feature

## Checklist:

- **For Feature**

| name            | about

[2020-11-05 14:42] #535 closed

[2020-11-07 15:51] #515 closed

[2020-11-07 15:53] #475 closed

[2020-11-08 03:14] HarshCasper commented on #508
Exactly @vybhav72954

[2020-11-08 03:33] HarshCasper opened #538 "Script to export Twitter Bookmarks"
# Description

Create a Script to export Twitter Bookmarks. The script should do the following:

- Crawl over the Twitter Bookmarks.
- Save them in Markdown Format.
- Save them for Future Reference.

## Language

- [X] Python
- [X] Javascript
- [X] BASH
- [X] Golang

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-11-08 05:01] HarshCasper opened #539 "Create a Script to summarize Text"
# Description

Create a Script to summarize Text. You can take a look at some SOTA Techniques to achieve this along with wrappers that make it really easy to summarize the Text. You can also try out your own algorithm for Text Summarization and to make it lightweight and-efficient at the same time.

## Language

- [X] Python

## Type of issue

_Please delete options that are not relevant._

- [X]

[2020-11-08 05:07] HarshCasper opened #540 "Script to update Github Profile README with recent Blogs"
# Description

Create a Script to update Github Profile README with recent Blogs. I'm specifically looking at Hashnode Blogs for my purpose and having an implementation to show the recent Blogs that I have written on my Profile README would look awesome.

## Language

- [X] Python
- [X] Javascript
- [X] Golang

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-11-08 05:12] HarshCasper opened #541 "Script to parse the Resume and generate Meaningful Details"
# Description

Create a Script that can leverage the Lever’s API for Resume Parsing and to generate details about the same.

## Language

- [X] Python
- [X] Javascript
- [X] Golang
- [X] BASH

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-11-08 16:51] DevChoganwala commented on #524
@HarshCasper I had a doubt regarding scraping from linkedIn, do they not block your IP if you try to scrap using selenium or any other bot? or will i be just fine if I use selenium for scraping?

[2020-11-08 16:57] vybhav72954 commented on #508
Can you assign this to me? Can do this

[2020-11-08 17:10] vybhav72954 opened #542 "Bug in label Action: Issues if edited, are also labeled Up-For-Grabs."
# Description

The Github action for labeling issues has a major bug. Issues, if edited by the author (the head of the thread), are labeled `Up-For-Grabs` even if they are not open for others.

This can lead to some major problems.

## Language

- [ ] YAML
## Type of issue

- [x] Bug

## Checklist:

- **For Bug**

| name | about                                     | labels | assignees

[2020-11-08 18:23] DevChoganwala commented on #539
@HarshCasper I would like to work on this issue in python

[2020-11-09 04:12] #184 closed

[2020-11-12 02:29] alazar-w commented on #214
hello @HarshCasper when the program is ended i thought u won't recive any pull request that why i was too late,sorry for my delay ,but now the task is done and ready to review.

[2020-11-12 18:24] vybhav72954 commented on #214
@alazar-w Kindly ensure that either you are updating the status of your work here, or privately to @HarshCasper

I had just finished my Flask App for this :D

Would be great if you can ensure that your issues/PR are not going stale

[2020-11-12 22:43] alazar-w commented on #214
hellow @vybhav72954

hellow @vybhav72954 check out the pull request i made!!

[2020-11-12 22:44] alazar-w commented on #214
alazar-w:telgramChannelDiscoveryFixed

[2020-11-14 11:11] HarshCasper opened #545 "(JS-0128) Should not have unused variables"
## Description
Variables that are declared and not used anywhere in the code are most likely an error due to incomplete refactoring. Such variables take up space in the code and can lead to confusion by readers.

## Occurrences
There are 3 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsource.io/gh/HarshCasper/Rotten-Scripts/issue/JS-0128/occurrences/](

[2020-11-14 11:17] HarshCasper opened #546 "(FLK-E741) Do not use variables named 'l', 'O', or 'I'"
## Description
Variables named `I`, `O`, and `l` can be very hard to read. This is because the letter `I` and the letter `l` are easily confused, and the letter `O` and the number `0` can be easily confused. Change the names of these variables to something more descriptive.

## Occurrences
There are 2 occurrences of this issue in the repository.

See all occurrences on DeepSource &rarr; [deepsourc

[2020-11-14 20:02] vybhav72954 commented on #546
Easy yet Important. Assign this, please and #545

[2020-11-17 03:32] #546 closed

[2020-11-18 20:36] alazar-w commented on #214
hello @HarshCasper please check out my pull request?

[2020-11-20 03:28] #542 closed

[2020-11-21 11:49] HarshCasper opened #549 "Script to generate Pagespeed Results for the Website"
# Description

Create a Script that can generate the Pagespeed Results for the Website using the Pagespeed API.

## Language

- [X] Python
- [X] Javascript
- [X] Golang
- [X] BASH

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-11-21 11:53] HarshCasper opened #550 "Script to scrap Social Media Pages of Websites"
# Description

Create a Script that can analyze the Social Media Links on a Website and generate results. You can check for popular Social Media Links and generate them as a result. Integrate an option to also pick a CSV file of Websites to scrap their data together and store in a CSV.

## Language

- [X] Python
- [X] Javascript
- [X] Golang
- [X] BASH

## Type of issue

_Please delete options tha

[2020-11-21 11:54] HarshCasper opened #551 "Script to generate Website Backlinks"
# Description

Create a Script that can generate an output of Backlinks present on the Webpage and compare them with the SEO standards.
## Language

- [X] Python
- [X] Javascript
- [X] Golang
- [X] BASH

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-11-21 11:56] HarshCasper opened #552 "Script to analyze Website Content"
# Description

Create a Script that can analyze the Website Content and generate results out of that. You can analyze for:

- Bad Grammar
- Paragraph Separation
- Unnecessary Keywords
- Percentage of Keywords

## Language

- [X] Python
- [X] Javascript
- [X] Golang
- [X] BASH

## Type of issue

_Please delete options that are not relevant._

- [X] Feature

[2020-11-22 22:35] vybhav72954 opened #554 "A script to list out all the songs by an Artist."
**Is your feature request related to a problem? Please describe.**
Who doesn't like songs? Everyone has a favorite band/artist. But sometimes, we miss out on an old gem by that artist just because we had no clue about it.
Until recently, I never knew _Fix You by Coldplay_ was a popular song.

**Describe the solution you'd like**
A Python Script to list out all the songs of an artist. Sorted accord

[2020-11-23 05:19] vybhav72954 commented on #531
![mail](https://user-images.githubusercontent.com/49750343/99931142-7c9eb280-2d79-11eb-92d2-4e41da2d08db.PNG)
![Capture](https://user-images.githubusercontent.com/49750343/99931153-81fbfd00-2d79-11eb-97cc-6f476ded47d6.PNG)
Here is what I have achieved. Opening a PR

[2020-11-23 09:23] #549 closed

[2020-11-23 09:24] #495 closed

[2020-11-23 09:26] #372 closed

[2020-11-23 09:26] #531 closed

[2020-11-23 09:28] #550 closed

[2020-11-23 09:30] #554 closed

[2020-11-23 14:00] #114 closed

[2020-11-23 17:08] #251 closed

[2020-11-24 04:59] vybhav72954 commented on #508
/assign

[2020-11-24 05:12] vybhav72954 opened #559 "Bug in /assign"
**Describe the bug**
The Stale issue action has a few bugs, which are non-breaking but still annoying.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any issue with `Up-For-Grabs` label.
2. Comment `/assign`
3. The bot will assign the issue, but the `Up-For-Grabs` label is still present.

**Expected behavior**
The bot should get rid of the prior label.

**Screenshots**
In issue #508
!

[2020-11-29 05:46] KILR007 commented on #417
Uh can you check the pr?

[2020-11-30 06:03] ag-hcoder commented on #539
@DevChoganwala are you still working on it? If not, @HarshCasper could you please assign this to me

[2020-11-30 09:14] paramsiddharth commented on #444
I would like to work on this issue. May I be assigned?

[2020-12-01 03:56] HarshCasper opened #560 "Welcome to NJACK Winter of Code '2020"
Hello, Everyone ✨🙌

Thanks for showing your interest in being a part of the [NJACK Winter of Code](https://njackwinterofcode.github.io/) 💥

We are super delighted to have you on board for your Contributions on [Rotten Scripts](https://github.com/HarshCasper/Rotten-Scripts) 🙌

Please join our [Gitter Channel](https://gitter.im/vidhibhasa/Rotten-Scripts) here. We would like you to introduce yourself

[2020-12-01 04:07] HarshCasper commented on #49
Thanks for the head-up @kaustubhgupta

[2020-12-01 04:07] #49 closed

[2020-12-01 04:07] #106 closed

[2020-12-01 04:10] #111 closed

[2020-12-01 04:11] #125 closed

[2020-12-01 04:12] #127 closed

[2020-12-01 04:13] #128 closed

[2020-12-01 04:13] #135 closed

[2020-12-01 04:16] #155 closed

[2020-12-01 04:16] #161 closed

[2020-12-01 04:17] HarshCasper commented on #164
Hello @vybhav72954

Let me know if you are still working on the same. Otherwise, I will open the Issue for NJACK Participants

[2020-12-01 04:20] HarshCasper commented on #165
@kritikaparmar-programmer

The main purpose here was to scrap Torrent categories given the arguements, scrap relevant data that match our keywords and category, download the .torrent file.

[2020-12-01 04:23] #166 closed

[2020-12-01 04:23] #167 closed

[2020-12-01 04:49] #171 closed

[2020-12-01 04:49] #177 closed

[2020-12-01 05:03] #194 closed

[2020-12-01 05:07] #202 closed

[2020-12-01 05:07] #198 closed

[2020-12-01 05:08] #211 closed

[2020-12-01 05:10] HarshCasper commented on #214
Hello @alazar-w

I'm going through your files right now. There is a lot of code which will take me some time to review and update.

[2020-12-01 05:13] #233 closed

[2020-12-01 05:14] #254 closed

[2020-12-01 05:19] #298 closed

[2020-12-01 05:21] #302 closed

[2020-12-01 05:26] #327 closed

[2020-12-01 05:35] #422 closed

[2020-12-01 05:36] #417 closed

[2020-12-01 05:36] #407 closed

[2020-12-01 05:42] HarshCasper commented on #398
Hello @samriddhisv

Let me know if you would like to work on it

[2020-12-01 05:58] #382 closed

[2020-12-01 06:05] #384 closed

[2020-12-01 06:06] #371 closed

[2020-12-01 06:14] HarshCasper commented on #434
Hello @seema1711

Let me know if you would like to work on this. Otherwise, I will open the Issue for NJACK participants.

[2020-12-01 06:15] #435 closed

[2020-12-01 06:15] HarshCasper commented on #444
Hello @paramsiddharth

This Issue is open for assignment. Let me know if you are an NJACK participant so that I can give it the necessary labels.

[2020-12-01 06:16] HarshCasper commented on #448
Hello @sohamsshah

Please let me know if you are still working on the same.

[2020-12-01 06:16] #457 closed

[2020-12-01 06:18] HarshCasper commented on #507
Sure @vybhav72954

[2020-12-01 06:18] #507 closed

[2020-12-01 06:19] HarshCasper commented on #517
Hello @vybhav72954

Let me know if you are still working on it.

[2020-12-01 06:20] #545 closed

[2020-12-01 06:21] HarshCasper commented on #539
Hello @ag-hcoder

Assigned it to you. Let me know if you are working on it as part of NJACK Winter of Code, so that I can put apt labels.

[2020-12-01 06:24] #144 closed

[2020-12-01 06:26] #334 closed

[2020-12-01 06:26] #355 closed

[2020-12-01 06:27] HarshCasper commented on #369
Hello @pradyyadav

Please make a PR

[2020-12-01 06:37] paramsiddharth commented on #444
@HarshCasper Yes, I am an NJACK participant and I wish to work on this test data generation script.

[2020-12-01 07:19] vybhav72954 commented on #164
The issue is solved using python. And am unable to solve it using JS. I will unassign myself. Sorry i kept you waiting

[2020-12-01 07:36] ag-hcoder commented on #539
Yes, I'm working as a part of NJACK

[2020-12-01 08:05] #164 closed

[2020-12-01 13:48] alphaX86 commented on #534
@HarshCasper I think I'll take this issue as a NWoC participant. May I??

[2020-12-01 13:54] Tejas1510 opened #562 "Toonify Image"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
This is a python application that takes an image as input and toonify it (make a cartoonist image of it) using https://deepai.org/machine-learning-model/toonify API.

**Describe alternatives you've cons

[2020-12-01 13:57] alphaX86 commented on #534
And I'll do it in YAML file of course, if you allow to do so

[2020-12-01 15:23] vybhav72954 commented on #534
@alphaX86 I am working on it already 😄

[2020-12-01 15:31] vybhav72954 commented on #559
@HarshCasper Can you please answer those question that I have mentioned in **Additional Context**

[2020-12-01 15:44] alphaX86 commented on #534
Oh 😅 OK then. You carry on @vybhav72954

[2020-12-01 18:24] manish2202 opened #563 "Create a text summarizer using python"
# Description

Please include a summary of the issue.

## Language

- [] Python

## Type of issue

_Please delete options that are not relevant._

- [ ] Feature

## Checklist:

- **For Feature**

| name            | about                                                  | labels  | assignees                                                      |
| --Text Summarizer------------- | -----------------

[2020-12-02 05:10] vybhav72954 commented on #508
@HarshCasper I will be opening the PR for this today only, kindly put the "NJACK" Label

[2020-12-02 05:49] vybhav72954 commented on #559
@HarshCasper I will solve this BUG by the weekend, the reason being I don't want it to have any more bugs, at the same time I will solve all the possible bugs in all the actions 😃

[2020-12-02 05:51] vybhav72954 commented on #563
Isn't this open in #539?

[2020-12-02 11:27] manish2202 commented on #563
Okay. Can I work on that?

[2020-12-02 12:37] vybhav72954 commented on #563
That only @HarshCasper can decide

[2020-12-02 16:50] manish2202 commented on #563
okay. I will be waiting.

[2020-12-03 04:35] HarshCasper commented on #563
@manish2202

Thanks for making the Issue. Currently @ag-hcoder is working on it. If 7 Days passes, without any visible updates, I will assign this Issue to you.