[2021-03-29 14:58] anuragmukherjee2001 commented on #900
/assign

[2021-03-29 14:59] anuragmukherjee2001 commented on #900
/assign

[2021-03-29 17:25] TITHI007 commented on #881
Pl. Assign it to me

[2021-03-29 18:23] Priyadarshan2000 opened #904 "Simple Python IDE using Tkinter"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

In this project, I will deploy a simple Python IDE application with the help of the Tkinter module. This application just like a python IDE. we can save o

[2021-03-29 19:20] vybhav72954 commented on #904
@Priyadarshan2000 The idea is defined good, but generally, GUI scripts arent preferred in Rotten-Scripts, still I would leave this to @HarshCasper to decide

[2021-03-29 20:20] Priyadarshan2000 commented on #904
Ok sir

[2021-03-29 21:56] a7medayman6 commented on #152
/assign

[2021-03-29 21:58] a7medayman6 commented on #152
Hello,
I would like to work on this issue, Also I'm a GSSOC21 Participant.

[2021-03-30 05:38] #756 closed

[2021-03-30 05:46] vybhav72954 commented on #152
Like i said, we already have a script for the purpose. Please explain what you want to change in the existing script!

@a7medayman6

[2021-03-30 06:07] rahulraikwar00 commented on #641
@all-contributors please add @rahulraikwar00 for Code

[2021-03-30 06:15] vybhav72954 commented on #641
@all-contributors please add @rahulraikwar00 for documentation

[2021-03-30 06:17] #466 closed

[2021-03-30 06:19] #900 closed

[2021-03-30 06:31] HarshCasper commented on #904
We don't need GUI-Apps. Thanks for creating the Issue!

[2021-03-30 06:31] #904 closed

[2021-03-30 06:42] #771 closed

[2021-03-30 06:44] vybhav72954 commented on #771
@srimontidutta @telly-tubby The Issue has been closed with the PR, if you want to work on JS or GO for the same issue, please mention here, else please find other issues

[2021-03-30 07:13] manas221 commented on #789
@vybhav72954 Assign me this issue for the GOlang implementation, thank you..

[2021-03-30 07:33] vybhav72954 commented on #789
Assigning @manas221 for `GO`

[2021-03-30 08:50] vybhav72954 commented on #751
@HarshCasper Am doing this personally, the event has finished if am not wrong XD

[2021-03-30 09:39] #824 closed

[2021-03-30 11:53] #751 closed

[2021-03-30 12:14] #806 closed

[2021-03-30 12:23] vybhav72954 commented on #606
Closing this because of lack of activity @HarshCasper please reopen if neccessary

[2021-03-30 12:23] #606 closed

[2021-03-30 12:25] vybhav72954 commented on #641
@all-contributors please add @devRawnie for documentation

[2021-03-30 12:32] vybhav72954 commented on #641
@all-contributors please add @devRawnie for code

[2021-03-30 12:33] #826 closed

[2021-03-30 12:38] rahulraikwar00 commented on #841
@Rupa-421  any update?

[2021-03-30 12:41] #796 closed

[2021-03-30 12:41] #870 closed

[2021-03-30 12:42] vybhav72954 commented on #820
@abh33 Please update, eagerly waiting for this script

[2021-03-30 12:46] #605 closed

[2021-03-30 12:47] HarshCasper commented on #423
This looks perfect! Please go ahead.

[2021-03-30 12:51] #885 closed

[2021-03-30 12:52] HarshCasper commented on #375
No worries about that!

[2021-03-30 12:56] #375 closed

[2021-03-30 12:58] HarshCasper commented on #745
Please go ahead! Thanks a lot for contributing.

[2021-03-30 13:03] vybhav72954 commented on #881
@TITHI007 Are u a GSSOC participant?

[2021-03-30 13:04] vybhav72954 commented on #869
Can you confirm if you are a GSSOC participant

[2021-03-30 13:10] vybhav72954 commented on #621
@avinal @HarshCasper Can i close this issue in case the you migrated to discussions?

[2021-03-30 13:24] avinal commented on #636
@vybhav72954, I forgot to add a pull request somehow. I think I have a working code, if you want I can send it.

[2021-03-30 13:26] vybhav72954 commented on #636
Would be a great addition :D

[2021-03-30 13:27] #621 closed

[2021-03-30 13:51] Rupa-421 commented on #841
@rahulraikwar00 Updated...

[2021-03-30 13:51] #841 closed

[2021-03-30 13:54] #847 closed

[2021-03-30 14:07] vybhav72954 commented on #821
@RavjotSandhu The issue is pen in case you want to take it

[2021-03-30 14:13] TITHI007 commented on #881
No

[2021-03-30 14:15] a7medayman6 commented on #152
@vybhav72954 I haven't noticed your comment sorry, thank you.

[2021-03-30 14:22] Dhanush2612 commented on #711
@vybhav72954
May I contribute to this issue?

[2021-03-30 14:24] Dhanush2612 commented on #11
@vybhav72954
Can you assign me this issue if its still up for grab?

[2021-03-30 14:25] vybhav72954 commented on #711
Sounds like a plan
Feel free to ping me in case you have troubles
**Assigned**

[2021-03-30 14:26] vybhav72954 commented on #11
You are on roll!!!
@Dhanush2612 Assigned

[2021-03-30 14:29] Dhanush2612 commented on #711
@vybhav72954
Are there any specific guidelines like the files should be in .ipynb format or .py format.
Also to add a readme file?

[2021-03-30 14:31] vybhav72954 commented on #711
[Readme Template](https://github.com/HarshCasper/Rotten-Scripts/blob/master/TEMPLATE_README.md)

Raw python file is a must.
Notebook depends upon you, you can add one if you want to.

[2021-03-30 14:43] Dhanush2612 commented on #711
@vybhav72954
Kindly check my PR #912

[2021-03-30 14:47] anubhav201241 opened #913 "Face and Eye Detection using open cv"
**Hi, I'm a Gssoc'21 Participant** and I want to contribute to your project, I want to contribute the face and eye detection part using python and open-cv in the python folder.

So, @HarshCasper  Please assign this task to me as a label of Gssoc'21,

Thank you :))

[2021-03-30 14:57] vybhav72954 commented on #913
@HarshCasper What do you think?

[2021-03-30 15:03] Dhanush2612 opened #915 "Update Invisibility Cloak (See comments)"
Python Program to perform invisibility cloak

[2021-03-30 15:03] Dhanush2612 commented on #915
@vybhav72954 @HarshCasper
Kindly assign me this issue.

[2021-03-30 15:07] Dhanush2612 opened #917 "Face Detection"
@vybhav72954 @HarshCasper
I saw an issue regarding Face Recognition, so this is a much simpler version of it where we can detect anybody's face and create a blue rectangular boundary around it using opencv and numpy.

[2021-03-30 15:29] divyanshu887 commented on #869
yes i am gssoc participant

[2021-03-30 15:39] vybhav72954 commented on #915
Already exists [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Invisible_Cloak)

But as the there is no proper documentation for the file, feel free to do the same

[2021-03-30 15:40] vybhav72954 commented on #917
Already open in #913

[2021-03-30 15:42] SmritiAgrawal04 commented on #734
Assign this to me now?

[2021-03-30 15:51] vybhav72954 commented on #734
Actually, we got the response from the author.

[2021-03-30 16:20] SmritiAgrawal04 commented on #640
Generated a PR, please review. Thanks!

[2021-03-30 16:26] anuragmukherjee2001 opened #919 "Creating an Alarm clock"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description
My script will have the following features:-
Firstly, script will ask the date. Then the script will ask the time of the alarm. When the time will be match

[2021-03-30 17:33] Priyadarshan2000 opened #921 "Document to Handwritting"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

I would like to add a Document to the Handwriting javascript app. This application helps convert document to handwriting.
this is made with the help of **

[2021-03-30 19:01] AdityaRaj-ar commented on #822
Hello, I am Aditya one of the participants of GSSOC'21. Actually I am a beginner and don't have much knowledge about contributing to the project. But I really want to contribute and would give my level best to complete and contribute to the project. Therefore I request to assign this issue to me.

[2021-03-30 21:45] #884 closed

[2021-03-31 02:11] anuragmukherjee2001 commented on #919
/assign

[2021-03-31 09:12] #856 closed

[2021-03-31 11:46] vybhav72954 commented on #11
@Dhanush2612 Cause of plagiarism the PR has been shelved. Do you want to **actually** work on the script or not?

[2021-03-31 11:49] Charanjeev-2k2 commented on #913
Hi @HarshCasper ! I am eager to contribute to this project as a participant of GSoC'21. Would be great if you could assign the gssoc21 label to this issue :)

[2021-03-31 11:50] abh33 commented on #820
Hey. Sorry for the late reply. Actually, I have been facing some problems with pytesseract. The accuracy does not seem very good. It fails to detect most of the simpler images.

[2021-03-31 11:52] vybhav72954 commented on #152
@samrudhi0909

[2021-03-31 11:56] vybhav72954 commented on #913
@Charanjeev-2k2 The issues are assigned on an fcfs basis. @anubhav201241 would be assigned this issue if the PA finds it viable for this repo.

Please look into other open issues as well.

[2021-03-31 11:57] rahulraikwar00 opened #923 "Add verbose mode for PR_workflow script"
# Description

Update PR_workflow script. As you might have noticed, there is option for verbose mode but the feature is missing
i want to work on this and want to add verbose mode in it.

@vybhav72954
@HarshCasper

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| ------

[2021-03-31 11:58] rahulraikwar00 commented on #923
@vybhav72954 what do you think ?

[2021-03-31 12:02] vybhav72954 commented on #923
Sure thing, that would be a great idea, verbose messages will help for sure!

[2021-03-31 12:40] vybhav72954 opened #924 "URGENT: Add/Update a greetings github action."
# Description

Update/Add a new Github action for greeting purposes.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
|

[2021-03-31 12:48] Dhanush2612 commented on #11
@HarshCasper
I had attended a bootcamp related to ML, so all these stuff are what I did seeing their videos, so obviously for me to learn from them, they should have completed these projects right?

[2021-03-31 12:57] vybhav72954 commented on #11
@Dhanush2612 Taking inspiration and Plagiarising someone's content are two different things, my friend. I don't mind reusing code, but at least bring some personal touches to it, try to enhance it maybe. Am pretty sure whichever Bootcamp you attended never taught you to copy and paste a script.

If you want to learn with us, take simpler issues, try to solve them, rise and shine so that even we ca

[2021-03-31 13:03] Dhanush2612 commented on #11
@vybhav72954
Thank you for your patience and explaining.
Can you please assign this to someone else?
I will work on improving issue #711.
Again thank you and sorry if I was rude.

[2021-03-31 13:07] vybhav72954 commented on #11
@Dhanush2612 Sure thing, am pretty sure you have another issue to work on, there are other open issues as well. Feel free to grab them anytime.

[2021-03-31 14:24] vybhav72954 commented on #924
The Reason I added the `documentation` label was because I want to use this action/bot/workflow to direct people to actually go through the `Contribution Guidelines/Styling Guideline's` for once. Also as this might involve changing the internal documentation of the repo or the configurations.

[2021-03-31 14:26] vybhav72954 commented on #924
Talking about solving the issue, see this [YAML](https://github.com/HarshCasper/Rotten-Scripts/blob/master/.github/workflows/greetings.yml) file. We need to either update this, or change this completely so that it is triggered on every issue rather than the first issues by a participant!

[2021-03-31 14:31] himanshu007-creator commented on #924
Hi , i would like to work on this issue

[2021-03-31 15:15] Priyadarshan2000 commented on #921
/assign

[2021-03-31 15:20] vybhav72954 commented on #921
/assign

[2021-03-31 15:21] vybhav72954 commented on #921
That's weird, It should be working 😞
@HarshCasper Please see the viability of this JS issue

[2021-03-31 15:22] vybhav72954 commented on #924
/assign

[2021-03-31 15:23] Priyadarshan2000 commented on #921
@vybhav72954 vybhav72954 sir can I started this project.

[2021-03-31 15:24] vybhav72954 commented on #921
No `sir` here, please.
And please wait for the PA to review this issue,

[2021-03-31 15:25] Priyadarshan2000 commented on #921
ok.

[2021-03-31 15:28] vybhav72954 commented on #921
Cool it worked, i as worried XD
@Priyadarshan2000 The issue has been assigned to you but please wait for a bit before start working on this.

[2021-03-31 15:30] Priyadarshan2000 commented on #921
ok @vybhav72954

[2021-03-31 17:39] anubhav201241 commented on #913
Thank you sir @HarshCasper for assigning me this part, it will be great if  you will add the level 2 label also with the Gssoc'21 label
Thank you, sir :))

[2021-03-31 17:42] vybhav72954 commented on #913
@anubhav201241 The levels are decided after you make a PR. We will go through the script to determine the difficulty level. Best of Luck!!!

[2021-04-01 03:57] PriyanshuChatterjee opened #926 "Language Translator GUI app"
# Description

My script will have the following features:-
Firstly, the app will ask to enter the sentence or phrase to be translated. Then the app will ask for the language in which the entered phrase or sentence needs to be translated. Then the app will provide the translated phrase or sentence.

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

-

[2021-04-01 04:01] #926 closed

[2021-04-01 06:40] vybhav72954 commented on #915
If you can enhance the script feel free to do so, a proper README is a must in any case.

[2021-04-01 07:02] iamakkkhil commented on #152
I would like to work on this issue @vybhav72954 @HarshCasper.
As I have already contributed script of pdf pages rearrangement through python. So it will be an easy task to go for it.
Can I do solve this issue with python ? If yes, kindly assign me the same.

[2021-04-01 07:10] Priyadarshan2000 commented on #921
sir can I started this project or still, I hold @HarshCasper,@vybhav72954 sir.

[2021-04-01 09:08] iamakkkhil commented on #821
I have good knowledge of opencv and python to implement this issue and I have worked on similar projects as well. I would like to work on this issue if it is available. @vybhav72954 @sohamsshah
I am a GSSoC'21 participant.

[2021-04-01 09:10] sohamsshah commented on #821
@iamakkkhil Assigning you this issue. Feel free to ask any queries and raise a PR!

[2021-04-01 13:07] sshiv5768 commented on #924
Hi, I want to work on this issue. Assign me

[2021-04-01 13:49] vybhav72954 commented on #924
Sure why not! But kindly tell me what are your plans related to this first

[2021-04-01 13:56] HarshCasper opened #927 "Reverse Engineer Commits to fetch E-Mail Address"
# Description

Create a script to reverse engineer commits to fetch the E-Mail Address of the Contributors and store them in a CSV File. The Script should:

- Take a repository URL as the input passed dynamically
- Clone it locally and scrap all the commits
- Scrap the E-Mail Addresses associated with the Commit
- Store all the E-Mail Address in a CSV File

This [Stack Overflow Thread](https://sta

[2021-04-01 15:29] rahulraikwar00 commented on #927
@HarshCasper i did't get the second point "Clone it locally and scrap all the commits" ?
why do we need to clone it to see commit history ?
it can be achieve by GitHub API?  isn't it?

[2021-04-01 16:58] HarshCasper commented on #927
I'm not very much familiar with Github API, but if its a feature over there, please give it a shot :rocket:

Let me know if you would like to work on it!

[2021-04-01 17:17] vybhav72954 commented on #927
Using GraphQL API, yes!

[2021-04-01 17:17] rahulraikwar00 commented on #927
@HarshCasper I just made a rough script to test and it is working..😛
see the out put.

count: 35
deepthiteki@users.noreply.github.com
priyanshus.edu@gmail.com
ayushgarg1951@gmail.com
devRawnie@users.noreply.github.com
nimit2801@users.noreply.github.com
Subhangini@users.noreply.github.com
madhurima99@users.noreply.github.com
iamakkkhil@users.noreply.github.com
ayush24das@gmail.com
vybhav72954@users

[2021-04-01 17:32] HarshCasper commented on #921
@Priyadarshan2000

You can go ahead. Remember one thing: No GUI Apps. Only Scripts. Make something that can be launched from the terminal itself.

[2021-04-01 17:35] Priyadarshan2000 commented on #921
Sir this project has a html file i can use html to build this project ..?

[2021-04-01 17:50] HarshCasper commented on #11
@Dhanush2612

Don't worry. We are here to support you. Plagiarism is not encouraged and this was the reason we closed the PR. We hope to see more of your contributions soon.

[2021-04-01 17:51] rahulraikwar00 commented on #927
@vybhav72954  isn't the expected output? 😕

[2021-04-01 17:51] HarshCasper commented on #754
Can you please drop a message on Discord?

[2021-04-01 17:52] HarshCasper commented on #757
@XZANATOL It would be good if you make a PR

[2021-04-01 17:54] vybhav72954 commented on #927
I will let @HarshCasper decide that one mate 😆
Lets see if that's what he actually wanted, looks cool to me

[2021-04-01 17:54] HarshCasper commented on #927
@rahulraikwar00 It works. Please find a way to filter out the No Reply Github Mails and send a PR :rocket:

Can you also test it against popular repos like Tensorflow or Git to see how much data can we scrap :wink:

[2021-04-01 17:56] HarshCasper commented on #927
@rahulraikwar00 Also take it as a note of appreciation - You have some brilliant Python Scripting skills. We are lucky to have a contributor like you and I hope we can benefit a lot from your contributions :)

[2021-04-01 17:57] rahulraikwar00 commented on #927
@HarshCasper thank you, and  yes it works the same for that too, so.. would you like to assign this to me?😛

[2021-04-01 17:57] HarshCasper commented on #820
Can you please make a PR and post your results over there?

[2021-04-01 18:00] HarshCasper commented on #927
Please use `/assign` to take up any Issue you feel like. My word on this :wink:

Second thought - Can you come up with interesting thoughts that we can achieve using Github GraphQL API? I'm planning to study more about it during this long weekend but would definitely capitalize on your expertise to see what we can achieve.

[2021-04-01 18:01] HarshCasper commented on #921
Nope. Not at all.

I have closed many past PRs that were deviant from our purpose.

[2021-04-01 18:01] #919 closed

[2021-04-01 18:01] #917 closed

[2021-04-01 18:03] vybhav72954 commented on #757
@XZANATOL Oops, i wrote my thoughts on the action but forgot to post it. My bad.

So here is the thing, the action is good, but there is a small problem here, @HarshCasper I would leave this to you.

The thing is, in our PR bodies, what we actually prefer is this syntax:

`Fixes #<issue>`

Fixes can be replaced by anything like resolves, fix, etc.

But the action that you have proposed only looks

[2021-04-01 18:07] vybhav72954 commented on #927
@rahulraikwar00 The issues with the `Up-For-Grab` label are just `/assign` away from you XD

[2021-04-01 18:10] rahulraikwar00 commented on #927
@HarshCasper
I think the best CLI thing for Github is already built by Github itself. It is "Github CLI " , but of course we can do a lot more with the Github GraphQL API, i would love to work on this.

[2021-04-01 18:12] vybhav72954 commented on #927
The reason I mentioned GraphQL is that it offers a great range of operations over repositories, that's why i think for this case it trumps.

[2021-04-01 18:20] sshiv5768 commented on #924
First, we will create a new workflow in Github actions and choose greetings workflow. Okay, @vybhav72954?

[2021-04-01 18:26] vybhav72954 commented on #924
Am sorry but as i mentioned we already have that workflow. @sshiv5768

[2021-04-01 18:28] sshiv5768 commented on #924
Can you elaborate on it in deep? I think we also need changes to the YAML file that you shared?

[2021-04-01 18:37] sshiv5768 commented on #924
I think currently we are focusing on the master branch right? @vybhav72954. If so then we need this:
`  on:  pull_request:
           push:
                   branches:
                                  - master   `

[2021-04-01 18:37] #858 closed

[2021-04-01 18:50] rahulraikwar00 commented on #927
There is a problem here, if we filter out NO reply Github mails then we will have only some original mail IDs which are public. 🤔

[2021-04-01 18:51] vybhav72954 commented on #924
No its not that simple ib this case.

As you can see, the action specifically filters the first time contributors. We no longer need that.

[2021-04-01 18:53] vybhav72954 commented on #927
This was one thing that I was going to mention too. If I have hidden my email in GitHub @HarshCasper I doubt there are many means to access that email.

[2021-04-01 18:55] vybhav72954 commented on #927
I found [this](https://github.com/prabhakar267/github-email-extractor) though, can you have a look at this @rahulraikwar00 the end product is different here, but the idea might help.

[2021-04-01 19:04] rahulraikwar00 commented on #927
And i found this in server of that extension 👉🏻[this](https://github.com/prabhakar267/github-email-extractor-server/blob/36b77821017478dba09d5e5052dd1152b30ef528/utils.py#L44)

[2021-04-01 19:05] sshiv5768 commented on #924
What if we change the action and use another. I found this as an alternative: [.](https://github.com/marketplace/actions/greet-contributors-action) @vybhav72954

[2021-04-01 19:12] vybhav72954 commented on #924
@sshiv5768 Can you look for something more subtle please, lets keep it in back of our minds, and look for better options.

[2021-04-02 02:57] gokulsoumya opened #930 "YouTube downloader in rust"
# Description

Proposal to build a simple YouTube video downloader in rust.

## Language

Rust

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | ---------------------

[2021-04-02 02:57] gokulsoumya commented on #930
/assign

[2021-04-02 03:17] HarshCasper opened #931 "Script to fetch active Pull Request Commentors"
# Description

Create a Script to fetch active Pull Request Commentors using Github's GraphQL API. The responses and analysis can be saved in a CSV file or a graph can be generated for quick visualization.

## Language

- [X] Go
- [X] Javascript
- [X] Python

[2021-04-02 03:21] HarshCasper opened #932 "Script to fetch all Issues/PRs and store them in a CSV/JSON File"
# Description

Create a Script to fetch all Issues/PRs and store them in a CSV/JSON File. It should ideally work as a handy CLI tool that can allow the maintainers to capture the data trends of the repository. For the Issues, capture the following data points:

- Issue Creator
- Issue Assignee
- Corresponding PR (if any)
- Issue Open/Close Date
- People who commented on the Issue (Numbers and thei

[2021-04-02 03:31] HarshCasper opened #933 "Script to mine repositories for Git secrets"
# Description

Sometimes we inadvertently commit secrets in our GitHub repository that otherwise should not have been there. This creates a lot of risk, especially when we expose proprietary information, like our API Keys, AWS configs and more. To prevent this, we can scan the repositories for these secrets and warn, if we find any. This script should take up GitHub repositories and scan them for

[2021-04-02 03:50] HarshCasper opened #934 "Script to fetch Linux Package Information and save them to a CSV/JSON"
# Description

Create a Script to fetch Linux Package Information and save them to a CSV/JSON. We would like to collect these data points:
- Name of the Package
- Size of the Package
- Licences Information
- Source Code Link

We can use the command(s) provided by each Linux distribution to handle their packages and collect the information.

## Language

- [X] Golang
- [X] Javascript
- [X] Python

[2021-04-02 04:03] HarshCasper opened #935 "Script to find Twitter Unfollowers"
# Description

Create a Script to find Twitter Unfollowers. You can use a client library to fetch all Twitter followers and store them on a lightweight database, and on being invoked the next time, compare the followers and find the ones who unfollowed you.

## Language

- [X] Golang
- [X] Python
- [X] JavaScript

[2021-04-02 06:57] jhamadhav commented on #935
Can I work on this using javascript, as of GSSOC'21?

[2021-04-02 07:03] vybhav72954 commented on #935
Sure thing 😄

[2021-04-02 07:06] jhamadhav commented on #935
Thank you! I will start working on it ASAP.
Out of curiosity, what is the deadline to complete this?

[2021-04-02 07:07] vybhav72954 commented on #935
How much do you think you will need 🤔

[2021-04-02 07:11] jhamadhav commented on #935
I'm not familiar with Twitter API yet, so I might take some time is one week okay?

[2021-04-02 07:18] vybhav72954 commented on #935
1 week it is!

[2021-04-02 07:20] jhamadhav commented on #935
cool thanks a bunch 😃

[2021-04-02 08:42] Naman-1234 commented on #932
@HarshCasper Sir I would like to work on Issue Part with Javascript, I have worked with Javascript Before,So I know how to approach this. I am a Gssoc Participant.
Also Could you add a label of level in it .Thanks.

[2021-04-02 09:33] mdPial commented on #540
What will be the frequency to check for new blogs? Like days or hours or minutes ?

[2021-04-02 11:28] mdPial commented on #540
I am making with **JS** as it's in the language description. But you have labeled the issue `python`. Is JS is not acceptable anymore?

[2021-04-02 11:39] vybhav72954 commented on #540
Feel free to make one in JS

[2021-04-02 11:54] get-satyam commented on #800
@vybhav72954 I would like to work on this issue, please assign me this issue.

[2021-04-02 12:15] vybhav72954 commented on #800
@get-satyam You got it, Best oof Luck!

[2021-04-02 13:39] Saransh-cpp commented on #754
[This](https://www.youtube.com/watch?v=W0wWwglE1Vc) might help, and [tweepy's documentation](https://docs.tweepy.org/en/latest/api.html#status-methods) is also very well written.

[2021-04-02 13:39] rahulraikwar00 commented on #923
@vybhav72954  can you add some other tags like level and python  ?

[2021-04-02 16:23] Dhanush2612 commented on #711
@vybhav72954
I have created new PR as per your requirements.
Kindly check PR #937

[2021-04-02 16:58] XZANATOL commented on #757
oh , all good @vybhav72954 :joy: I actually forgot that I commented here :rofl:. I have an edit for what's proposed here. The job which checks for a valid issue does look for the ``#`` character, However, the job which auto closes that related issue needs the `` Fixe* `` prefixes. (It can work with ``resolve* `` and ``close* `` too.)

Another thing I found a couple of days ago is that we can Deplo

[2021-04-02 17:13] vybhav72954 commented on #757
Hey @XZANATOL, actually the `PyGithub` kind of is bad :P,  personal opinion

[Here](https://github3py.readthedocs.io/en/master/) is a better option. Docker is pretty simple, if you are planning to use a DOCKER image for github action that is.

Still unable to understand how you plan to incorporate `Fixes` keyword, have you did that in your repo :thinking:, i will surely have a look. Or maybe you a

[2021-04-02 17:26] XZANATOL commented on #757
I mentioned that there'll be 2 workflows where each is triggered by a different event. The one which needs ``Open PR`` event and checks for valied issue links, checks for the ``#`` Character. But the one which auto closes the issue on merge is the second workflow (which is triggered by ``PR Closed`` event and have the ``.merged`` subflag true.) And it checks for fix, fixes, fixed prefixes (same wi

[2021-04-02 17:30] vybhav72954 commented on #757
Ahhh makes sense, my bad!

I can help with this thing for sure! But just a small problem, I have some commitments this weekend, in case you are able to sort it by then, wonderful. Else can think of something together.

[2021-04-02 17:35] XZANATOL commented on #757
I'm also gonna be pretty busy from the upcoming Sunday to Tuesday because of college stuff xd. However, I manage to save some time to learn and test things. So, I think this will be a perfect period to me learn Docker and test basic stuff till we both are free, and then we can continue on with the rest. :p

[2021-04-03 04:38] mdPial commented on #540
@vybhav72954 As I am using JS script, to run it I will need to install and run node.js while running GitHub action. To install and run in GitHub action a `package.json` file will be required for node.js. Where should I put the **package.json** file?. Currently, I have put it in `./JavaScript/Recent_Blogs_Bot` by creating a new folder **Recent_Blogs_Bot**

[2021-04-03 04:55] rahulraikwar00 commented on #927
@HarshCasper  what about this next?

[2021-04-03 06:36] HarshCasper commented on #927
@rahulraikwar00 Make a PR :rocket:

[2021-04-03 06:39] rahulraikwar00 commented on #927
@HarshCasper With or without no reply GitHub mails?names are also available.

[2021-04-03 12:34] Shivani-001 commented on #757
I want to work on this issue. I am new to open source could anyone tell me how i can assign it for myself ??

[2021-04-03 12:43] HarshCasper commented on #757
@Shivani-001 It is being worked on now. Please pick up some other issues.

[2021-04-03 12:43] HarshCasper commented on #927
Have a CSV with these fields: Name, Github Username and Mail

[2021-04-03 13:52] rahulraikwar00 commented on #927
Great 👍🏻

[2021-04-03 20:27] mansijain980 commented on #766
@HarshCasper
![image](https://user-images.githubusercontent.com/63226239/113490598-c39b7200-94e8-11eb-8d88-ce2dfab22dc3.png)
![image](https://user-images.githubusercontent.com/63226239/113490615-e6c62180-94e8-11eb-97b6-895f452757cb.png)
i have a keen interest in programming python . I want to take these issues as much as i can .
Please assign these to me .
Thanks.

[2021-04-03 21:07] vybhav72954 commented on #766
@mansijain980 The issue is open to everyone, all you need to do is, upgrade a bunch of READMEs and open a PR (Say 5-6 in one PR).

[2021-04-03 21:09] mansijain980 commented on #766
Ok thanks.

[2021-04-05 12:42] sourabhkumar45 commented on #931
I would like to work on this issue.

[2021-04-05 15:37] Jaideep07 commented on #932
@HarshCasper, I would like to do this in python can I proceed 😀

[2021-04-05 19:38] RohiniRG opened #942 "Pomodoro Timer / Tomato Clock along with Website Blocker"
# Description

<b>Pomodoro Timer</b> : It’s a hyper-productivity method that focuses on dividing your working time into chunks of 25 minutes of intense work combined with 5 minute breaks.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ---------------

[2021-04-05 19:52] iamakkkhil opened #943 "Domain name availability"
# Description

Using Python web scraping tool like beautiful soup this script scrapes domain name from godaddy.com and let you know the available domain names regarding the specific keyword.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------

[2021-04-06 04:01] iamakkkhil commented on #943
/assign

[2021-04-06 04:04] RohiniRG commented on #942
/assign

[2021-04-06 06:23] noviicee opened #944 "Python Script to download large files from the internet."
# Description

This python script will help users to download any kind of files, irrespective of their size from the internet.

## Language

- [x] Python

## Checklist:

- **Details on the Script**

This script can be used to download any kind of files (files of any format), irrespective of their size from the internet.
You just need to have the url and you are good to go!

* **All_Files_Downloade

[2021-04-06 06:30] HarshCasper commented on #944
We can do this simply using [BASH](https://unix.stackexchange.com/questions/83926/how-to-download-a-file-using-just-bash-and-nothing-else-no-curl-wget-perl-et) and some external packages.

Are you suggesting something else here?

[2021-04-06 06:36] noviicee commented on #944
I was thinking of doing it in Python with the help of requests and tqdm module.
The script will also display the *current download status* of the file as it gets downloaded.

[2021-04-06 09:29] Harshil-Gupta commented on #915
Can I work on this and give it a proper README as it is not yet assigned to anyone? @vybhav72954

[2021-04-06 11:41] iamakkkhil commented on #943
I am a GSSOC 21 participant .
@HarshCasper @vybhav72954 can you add a GSSOC 21 label and level tag

[2021-04-06 14:24] RohiniRG commented on #942
@HarshCasper @vybhav72954 could you please have a look and add the GSSoC'21 labels

[2021-04-06 15:43] Nidhi-2000 commented on #881
hey, i am a GSSOC '21 participant. can younplease assign this issue to ,me

[2021-04-06 15:44] Nidhi-2000 commented on #881
hey, i am a GSSOC '21 participant. can younplease assign this issue to ,me

[2021-04-06 15:45] Nidhi-2000 commented on #881
hey, i am a GSSOC '21 participant. can younplease assign this issue to ,me @vybhav72954

[2021-04-06 15:45] Nidhi-2000 commented on #881
hey, i am a GSSOC '21 participant. can younplease assign this issue to ,me @vybhav72954

[2021-04-06 15:46] Nidhi-2000 commented on #872
Hey, I am a GSSOC'21 participant . can you please assign this issue to me @vybhav72954

[2021-04-06 15:49] Nidhi-2000 commented on #758
hey,Can you please assign this issue to me as I am a participant of GSSOC'21 @HarshCasper

[2021-04-06 15:50] vybhav72954 commented on #872
Sure thing, how do you propose to solve this out?

[2021-04-06 15:52] Nidhi-2000 commented on #733
Hey, I am GSSOC'21 participant can you please assign me this issue

[2021-04-06 16:10] sohamsshah commented on #881
@TITHI007 are you working on this?

[2021-04-07 03:12] TITHI007 commented on #881
You can assign it to other
As it will take time for me to complete ..

[2021-04-07 06:01] Nidhi-2000 commented on #872
We can add word list in the action flow itself so that it can solve the issue @vybhav72954

[2021-04-07 08:11] owlrana opened #947 "Automated Noise Removal"
# Description
The fundamental aim of this script is to automate the process of Audio Extraction, Profiling and Cleaning before the Mixing Stage for Voice-Overs or Audio Recordings in videos that is adjustable according to the user using Python. This is achieved with the help of the following open-sourced software:
FFmpeg
Sox
Audacity

## Language
- [x] Python

| name            | about

[2021-04-07 08:16] owlrana commented on #947
Can you please assign this issue to me as a GSSoC '21 Participant? I would like to work on this and contribute to this issue.

[2021-04-07 08:19] sohamsshah commented on #881
@Nidhi-2000 Assigning you this issue. Feel free to reach out for any queries, doubts or discussions related to its implementation. Just make sure that this should be a CLI app that uses Node.js or similar. Frontend is not needed for this.
Thanks,
S.

[2021-04-07 08:43] sohamsshah opened #948 "Script that automatic Spell-checking / correcting for a given input file/text"
# Description

A script to implement spell checking and rectifying for a given input text in PDF form, Word Doc or other popular format. A great feature that can be used for automated software that does answer-sheet checking, Resume anaylsis or a tool to improve language.

## Language

- [X] Go
- [X] Javascript
- [X] Python

## Checklist:

- **Details on the Script**

| name            | about

[2021-04-07 20:12] harshita2319 commented on #152
Hey, I'm a Gssoc participant. I'd like to work on this issue, I'm comfortable with writing a script in JS and for Python, I've worked on various projects using the PyPDF2 library so I can submit another script for that as well if you want me to as the one you attached needs to be updated.

[2021-04-08 05:46] noviicee commented on #944
Can I work on this? @HarshCasper

[2021-04-08 10:24] tanishq-arya commented on #948
Can I work on this in python under gssoc?

[2021-04-08 10:30] vybhav72954 commented on #915
@Dhanush2612 Do you want to work on this, please confirm

[2021-04-08 10:32] vybhav72954 commented on #943
@HarshCasper Please check the viability of the issue, i like the idea

[2021-04-08 10:33] Dhanush2612 commented on #915
@HarshCasper
I will work on it

[2021-04-08 10:33] vybhav72954 commented on #942
@RohiniRG This will be done by tonight for sure, thank you for patience

[2021-04-08 10:36] vybhav72954 commented on #944
Nearly every downloader has your above-said features, If you want to work on this, kindly confirm if you can incorporate pipelining, and how? I will assign you the issue after that

[2021-04-08 10:37] vybhav72954 commented on #872
That might be a start, add it in the workflow.

It won't help us a lot but yeah, you can do that.

[2021-04-08 10:40] vybhav72954 commented on #947
@HarshCasper I have worked on this field, though it's not useful for me, I like the idea, using `opensmile` this can be turned into a full-fledged project by the OP as well.

[2021-04-08 10:45] vybhav72954 commented on #915
Hey Harshil, Dhanush opened the issue so according to guidelines, he should have a say here. Am assigning the issue to him, feel free to take others

[2021-04-08 11:00] vybhav72954 commented on #152
You can take this in JS, confirm and I will assign

[2021-04-08 11:41] sohamsshah commented on #948
Sure. Excited to see your implementation and script. Feel free to seek help, will be active on responses :) Good luck!

[2021-04-08 17:44] harshita2319 commented on #152
Yes, I'm in!

[2021-04-08 18:18] vybhav72954 commented on #152
@harshita2319 Best of luck, for any queries, feel free to comment here!

PS a #731 had a PR for the same, in case you find it useful!

[2021-04-08 18:50] rahulraikwar00 commented on #927
@vybhav72954 i've been busy in my college MST so it took me some extra time to finish this script ,could you please have a look my PR 😄

[2021-04-09 08:46] #923 closed

[2021-04-09 08:55] #540 closed

[2021-04-09 08:56] #821 closed

[2021-04-09 13:05] tanishq-arya commented on #948
Can you tell me if I am going in the right direction here ? @sohamsshah
![Screenshot (1143)](https://user-images.githubusercontent.com/77333275/114184258-4053a380-9962-11eb-9712-82c06439f1b7.png)

[2021-04-09 16:18] vybhav72954 commented on #641
@all-contributors please add @Rupa-421 for documentation

[2021-04-09 16:19] vybhav72954 commented on #641
XD
@HarshCasper Let's keep this open for all XD

[2021-04-09 17:35] vybhav72954 commented on #641
@all-contributors please add @mdPial for code

[2021-04-09 17:37] vybhav72954 commented on #641
@all-contributors please add @mdPial for documentation

[2021-04-09 19:23] RohiniRG commented on #942
@vybhav72954 @HarshCasper could you please let me know

[2021-04-10 04:52] RJ535315 opened #955 "Python script sort the images according to resolution"
# Description

 A python script to sort the images in our pc folders according to the resolution and group them by the resolution, by creating separate folders

## Language

- [ ] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------

[2021-04-10 15:13] geekymeeky opened #956 "GUI based BMI calculator"
# Aim

- A simple python GUI based BMI calculator

# Motivation

Maintaining a healthy weight is important for overall health and can help to prevent and control many diseases and conditions.  Excess weight or obesity increases the risk of developing serious health problems, including heart disease, high blood pressure, type 2 diabetes and various other diseases.  Therefore, it is important to mai

[2021-04-10 15:14] geekymeeky commented on #956
I would like to work on this issue. Please assign this to me under GSSoC'21

[2021-04-10 16:46] sohamsshah commented on #948
@tanishq-arya I suppose you are on the right track. For the punctuation marks, there might be some method in `nltk` that can be used; or if you are stuck for that; since it is only for spelling checks, only `alphanum` is required for this purpose as special chars won't be considered in this. Hope this helps!

[2021-04-10 16:59] vybhav72954 commented on #956
Hey @geekymeeky Welcome to Rotten Scripts. GUI-based scripts aren't included here in Rotten-Scripts. Am pretty sure you will some other issues. Sorry but will have to close this one!

[2021-04-10 17:19] VanTekken opened #957 "Go Port Scanner Syntax Errors"
# Description
The Go port scanner returns syntax error when using the instructions to execute with go version `go1.16.3 linux/amd64`

**To Reproduce**
1. `$ wget https://raw.githubusercontent.com/HarshCasper/Rotten-Scripts/master/Go/Port_Scanner/port_scanner.go`
2. `go run ./port_scanner.go`
3. Syntax error:
[code]
**Expected behavior**
Successful execution of the port scanner file

**Additional c

[2021-04-10 17:20] geekymeeky commented on #956
I can create a CLI based BMI calculator.  Let me know if it works.

[2021-04-10 17:47] vybhav72954 commented on #957
@VanTekken Thnks for pointing this out 😄

[2021-04-10 17:48] vybhav72954 commented on #944
@noviicee Any update regarding this?

[2021-04-10 17:52] vybhav72954 commented on #956
I will reopen your issue. Personally i don't know if we need a BMI calculator cause its a simple formula after all, though I will leave this to @HarshCasper

[2021-04-10 21:28] ShubhamGupta577 opened #958 "Edge_Detection_of_any_image"
# Description

In this Script, we going to detect the edges of an image using a python script.
In our script, the user has to just upload a picture and as an output, he/she will get an edge-detected picture. For this purpose, we are going to use OpenCV.
It is very useful because edges are the points in images where the color or brightness has great changes.

## Language

- [x] Python

## Checklist

[2021-04-10 21:42] ShubhamGupta577 commented on #958
I want to work on this issue under GSSOC'21. Please assign me this issue.

[2021-04-11 00:38] NovusEdge commented on #957
I would like to take this one up if no one's assigned

[2021-04-11 08:08] geekymeeky commented on #956
@HarshCasper Please let me know, if this can be added in your repo.

[2021-04-11 14:17] vybhav72954 commented on #924
@sshiv5768
Found anything interesting?

[2021-04-11 14:19] vybhav72954 commented on #641
@all-contributors please add @Siddhant-K-code for code

[2021-04-11 14:20] vybhav72954 commented on #641
@all-contributors please add @Siddhant-K-code for documentation

[2021-04-11 14:22] vybhav72954 commented on #641
@all-contributors please add @sohamsshah for maintenance

[2021-04-11 14:25] vybhav72954 commented on #957
@NovusEdge Good to go

[2021-04-11 14:26] vybhav72954 commented on #958
Open in #937

[2021-04-11 19:50] noviicee commented on #944
@vybhav72954
I am sorry but I did not completely understand the issue. Like for the use of pipeline, are you asking me to do that in the script which I wanted to implement, or use it in a different script?

[2021-04-11 20:14] vybhav72954 commented on #944
The thing is, the script you mentioned, is a must have feature for any kind of downloder. It can be easily implemented using Bash, and python as well.

Can you come up with a new feature or something. Something unique or novel.

[2021-04-11 20:15] vybhav72954 commented on #819
Oops mybad... Nevermind

[2021-04-11 20:28] rahulraikwar00 commented on #933
@vybhav72954 I think github it self does this right?...if we accidentally pushed any type of Credentials..it informs us by email but it is still limited for GitHub credentials.
I think this is something we can work on
What do you think? Have any idea or suggestion?

[2021-04-11 20:37] rahulraikwar00 commented on #758
Use  /assign command to assign any issue to yourself

[2021-04-11 20:53] vybhav72954 commented on #958
@ShubhamGupta577
let me put this in simple terms.

The CONTRIBUTION GUIDELINES are meant to be viewed before contributing, If an issue is open, making a duplicate issue is a wastage of your time.

Making a PR for an issue marked duplicate is a bigger wastage of time.

I don't know, why you made the PR, but there is no use in spamming in this Repo.

Please go through the guidelines of GSSOC and Rot

[2021-04-11 20:53] #958 closed

[2021-04-11 21:10] vybhav72954 commented on #933
Yup GitHub Actively looks for secrets. But only for the Password and the email if it's set to be invisible,
What Harsh wants is to scan the Repo for API keys and other Configs as well.

[2021-04-11 21:14] vybhav72954 commented on #933
Actually, this issue is a duplicate of #434

I worked in this as well, the max I was able to achieve was look for `.env` files. I was able to achieve this, but there are a few problems with that approach.

- `.gitignore` usually ignores `.env`.
- Those who know about `.env` are aware enough not to commit it in the first place.

So well my attempt was mostly useless and that's why I never pushed it

[2021-04-12 03:18] #927 closed

[2021-04-12 03:19] #957 closed

[2021-04-12 03:37] #935 closed

[2021-04-12 03:40] #789 closed

[2021-04-12 04:34] RJ535315 commented on #955
Hi @vybhav72954 , I just made the PR realted to this issue. Please check and review it. Thank  you.

[2021-04-12 04:39] harshita2319 commented on #152
Hey, I've made a pr. Please have a look and let me know if there are any issues from my end!

[2021-04-12 04:59] HarshCasper commented on #956
Hi @geekymeeky

Its not my repo. Its our repository :smile:

With that said, we do have a strict maintenance to allow only the useful stuff coming up here. Unfortunately, I don't see the point of having a BMI Script for that. I'm closing this issue but there are many open issues which you can take up.

[2021-04-12 04:59] #956 closed

[2021-04-12 05:01] HarshCasper commented on #955
Can you please link it to this issue?

[2021-04-12 05:02] HarshCasper commented on #943
Its good. Awaiting the PR now!

[2021-04-12 05:08] HarshCasper commented on #933
Here is something that we can use as an inspiration:

- [Git Secrets](https://github.com/awslabs/git-secrets)
- [Gittyleaks](https://github.com/kootenpv/gittyleaks)
- [Python Git Scripts](https://pypi.org/project/python-git-secrets/#:~:text=A%20pure%20Python%20library%20providing,to%20the%20world%20via%20Github.)

Your approach is also good @vybhav72954. Perhaps that solution can serve as the v1 o

[2021-04-12 06:16] iamakkkhil commented on #943
Fine I was waiting for your conformation only, will submit the PR ASAP

[2021-04-12 06:19] #955 closed

[2021-04-12 13:28] ShubhamGupta577 opened #967 "Implementing SIFT for detect local features of image."
# Description

- In this script, we are going to implement SIFT(Scale Invariant Feature Transform) algorithm of `Open CV`.
- The SIFT features are local and based on the appearance of the object at particular interest points, and are invariant to image scale and rotation.

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about

[2021-04-12 13:30] ShubhamGupta577 commented on #967
Under the GSSOC'21, I want to work on this. Please assign me this issue.

[2021-04-12 13:30] vybhav72954 commented on #967
@HarshCasper

[2021-04-12 13:53] vybhav72954 commented on #818
@RituCs Any update?

[2021-04-12 14:01] HarshCasper commented on #967
Interesting one. Assigned :+1:

[2021-04-12 15:55] RituCs commented on #818
Sorry!! Not much.Due to final sem exam I am not able to work right now.If you give time then I will do this.

[2021-04-12 16:12] HarshCasper commented on #818
Please take your own sweet time! Let us know if we can be of any help.

[2021-04-12 16:49] sayantani11 opened #968 "Instagram Liker Bot"
# Description

- This script will allow liking of all visible posts by another.
- This script can be used while creating a auto liker site

## Language

- [x] Python

| name             | about                                           | label| assignees
| ------------- |:-------------:| :-----:|:-----:|
| Instagram Liker Bot      | Will auto like visible instagram post of an user | GSSOC21 , Pyth

[2021-04-12 16:49] sayantani11 commented on #968
/assign

[2021-04-12 16:50] sayantani11 commented on #968
Under GSSOC'21 please assign me this issue

[2021-04-12 19:23] noviicee commented on #944
Hmm. Yes surely! I will think of and will try to add something extra to this script to make it different from other scripts.

[2021-04-12 19:48] vybhav72954 commented on #944
Tell me what you have in mind, then only the issue will get assigned.

[2021-04-13 03:26] XZANATOL commented on #757
@vybhav72954 @HarshCasper Hi there, sorry for the sudden cut. xd
Just gonna update what I've reached till now.

First of all, I was on scheduele I learned Docker basics on time and tested most of the basic implementations with GitHub Actions. While searching, I understode how to exchange inputs between GitHub Actions and my script which gave me another idea about how to implement the action on thi

[2021-04-13 11:34] vybhav72954 commented on #779
@abh33 Any update?

[2021-04-13 16:40] haarsh01 commented on #934
Hey, I am a GSSOC 21 participant. Please assign me this issue.

[2021-04-13 18:45] iamakkkhil commented on #943
Hey,
I am stuck
link: https://in.godaddy.com/domainsearch/find?checkAvail=1&domainToCheck=akhil

soup.find() is always returning None. I am in search of <div class="domain-name" > which is deep inside <div id='search-app>
Can you help me out

OR
I have an alternate solution for the same can I take a scrolling screenshot by using selenium.
is it fine?

@HarshCasper @vybhav72954 @sohamsshah

[2021-04-14 04:26] devRawnie commented on #968
Hi, I created a command line script for twitter, using Python. I am confident that I would be able to do this too using python. Please assign this to me under GSSOC'21

[2021-04-14 05:03] Sukriti-sood commented on #924
@vybhav72954  If we want to add comments when a pull request/issue opened, we could use  action [create or update comment](https://github.com/marketplace/actions/create-or-update-comment) to implement this. Possible ?

[2021-04-14 07:10] sayantani11 commented on #968
@HarshCasper Please assign this to me

[2021-04-14 10:58] vybhav72954 commented on #924
@Sukriti-sood Hey the implementation looks good, not sure how this will help us though, can you suggest me what you have in mind.

[2021-04-14 11:02] vybhav72954 commented on #968
@devRawnie Cant assign you this, as the issue was opened by @sayantani11 in the first place.
@HarshCasper I like the idea. What do you think?

[2021-04-14 11:29] Sukriti-sood commented on #924
@vybhav72954  It will compare github events and moroever I find good resource [Link](https://github.community/t/can-we-greet-with-message-on-every-new-issue-created-opened-not-just-the-first-one/18082/2) and I have tried it is working.

[2021-04-14 11:39] vybhav72954 opened #973 "Track Stargazers, save the info in JSON/CSV."
# Description

So recently our _Project has been trending on GitHub!!!_, Kudos 🥳

We are about to touch 500 ⭐s as well!
First and foremost, thank you, everyone, it's the cumulative efforts of every contributor to date.

I was really interested in the upward trend and wanted to do some analysis of the recent upsurge. I found a few good projects (see references) for the same.

Those projects are ful

[2021-04-14 11:41] vybhav72954 commented on #924
Hey, that's cool. Would you like to take this issue?

[2021-04-14 11:54] Sukriti-sood commented on #924
Ya , interested

[2021-04-14 12:06] vybhav72954 commented on #924
Sure thing!

[Here](https://github.com/Karthik-Nayak98/Greeting-action) is a solution which I had found, I like the idea, and to be honest it solves the purpose for me. But I opened this issue so that I can have a look at other possibilities as well.

Now I want you to do 2 things. Compare your idea to the action I found. Suggest me the better option, and make a PR.

[2021-04-14 12:10] HarshCasper commented on #968
We have already this script, I guess in JavaScript. I'm still assigning the same, to see what is the net result.

[2021-04-14 12:11] Sukriti-sood commented on #924
Ook , Will give updates soon.

[2021-04-14 15:31] noviicee commented on #944
A script to easily/quickly download files from webpages, provided the link..?
It will let the user choose whether they want to manually verify which files to save/download, during the script, or just "blindly" download all the links that the webpage contains.
It will also let the user quit in between if they want to.

[2021-04-14 17:10] neha07kumari opened #975 "Social-Media-Launcher-Chrome-Extension"
# Description

Simple Chrome Extension for a quick launcher to your all social media profiles at one click.

## Language

- [x] HTML
- [x] Javascript
- [x] json

| name            | about                                                  | labels  | assignees                                                      |
|-----------------------------------------------|-------------------------------------

[2021-04-14 17:13] neha07kumari commented on #975
@HarshCasper  Please assign me.

[2021-04-14 17:22] neha07kumari opened #976 "Meditation_Website"
# Description

 a website which will help you to meditate according to the time duration you want.

## Language

- [x] HTML
- [x] Javascript
- [x] CSS

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | ---------

[2021-04-14 17:22] neha07kumari commented on #976
@HarshCasper Please assign me.

[2021-04-14 21:37] vybhav72954 commented on #944
I think we are going round and round now. As stated already, the idea is not novel. THank you! please open another issue or maybe  try one of the open issues

[2021-04-14 21:37] #944 closed

[2021-04-14 21:41] vybhav72954 commented on #976
GUI-based scripts are not a part of Rotten-Script. And I don't think a CLI version of this is possible.

[2021-04-14 21:41] #976 closed

[2021-04-14 21:41] vybhav72954 commented on #975
GUI-based scripts are not a part of Rotten-Script. And I don't think a CLI version of this is possible. Feel free to comment here for any dispute though.

[2021-04-14 21:41] #975 closed

[2021-04-15 05:58] jhamadhav commented on #973
So the goal is to
1. List out all the people who have starred this repo
2. List out all the people who have recently unstarred
3. Their name, location *(if possible)* and their email
correct ?

[2021-04-15 06:06] vybhav72954 commented on #973
Yes

[2021-04-15 06:07] jhamadhav commented on #973
Can I work on this?

[2021-04-15 06:14] vybhav72954 commented on #973
Sure thing. All the best

[2021-04-15 06:15] jhamadhav commented on #973
Thanks 😄 , I will get it done as soon as possible 👍

[2021-04-15 12:30] ayush-raj8 opened #977 "Time series forecasting covid 19 case"
# AIM
Predicting number of covid 19 cases for next 21 days

What is the objective of the Script
It uses daily updated data to forecast number of fresh, death and recovered covid 19 cases for next 21 days.

Languages
[*] Python

| name            | problem/motivation                                                  | possible solution  | assignees

[2021-04-15 12:41] vybhav72954 opened #978 "Update Python Script List"
# Description

Recently the markdown file for the `Python` directory was reformatted, since then the list hasn't been updated.
Follow the same structure as of the README, update the list alphabetically.

[2021-04-15 12:59] iamansoni commented on #978
I would like to work on this task. You can assign it to me!

[2021-04-15 13:04] vybhav72954 commented on #978
I can do that, but why don't you try commenting `/assign` @iamansoni 😉

[2021-04-15 13:51] ShubhamGupta577 opened #979 "Blending images using OpenCV"
# Description

I would like to add a script in which the user can provide 2 different images and by using the `Open CV` library in `Python` language, the script will give a blended image as output.

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees

[2021-04-15 13:59] ShubhamGupta577 commented on #979
/assign

[2021-04-15 14:17] iamansoni commented on #978
`assign` @iamansoni

[2021-04-15 14:55] vybhav72954 commented on #978
Not like that. I will assign you myself this time XD

[2021-04-15 16:45] rahulraikwar00 commented on #943
- > @HarshCasper @vybhav72954 @sohamsshah

I would say ,you don't need to scrape any perticular website.
Same functionality for this script can be achieve by using any free available API like "Whois Lookup API".
Check out their documentation [here](
https://www.domaintools.com/resources/api-documentation/whois-lookup)
Or @sohamsshah can help you👍🏻

[2021-04-15 20:27] #979 closed

[2021-04-16 02:50] #932 closed

[2021-04-16 11:13] sohamsshah commented on #948
@tanishq-arya are you working on this?

[2021-04-16 11:25] tanishq-arya commented on #948
@sohamsshah Yes. Will make a PR by Sunday.

[2021-04-16 11:27] sohamsshah commented on #948
Awesome

[2021-04-16 13:00] ayush-raj8 commented on #977
Under the GSSOC'21, I want to work on this. Please assign me this issue.

[2021-04-16 13:08] vybhav72954 commented on #977
@HarshCasper Have a look please.

[2021-04-16 14:45] neha07kumari opened #982 "Object Detection using python"
# Description

The script will detect the objects in the picture.

## Language

- [x] Python

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
|

[2021-04-16 14:46] neha07kumari commented on #982
@HarshCasper  Please assign this issue to me.

[2021-04-16 15:39] vybhav72954 commented on #982
Try typing the `assign` keyword in the comments. Just like the way you did in the body of PR (with the backslash). I cant write it here, else it would be assigned to me XD

[2021-04-16 15:41] neha07kumari commented on #982
/assign

[2021-04-16 15:42] neha07kumari commented on #982
@vybhav72954  Can i work on this issue?

[2021-04-16 15:43] vybhav72954 commented on #982
What it didnt worked. Why

[2021-04-16 15:43] vybhav72954 commented on #982
/assign

[2021-04-16 15:49] vybhav72954 commented on #982
As you can see the issue has been assigned to you. But a word of caution. What you are proposing is a fairly general script. Please don't indulge in any plagiarism, we are strictly against that.

All the best, feel free to ask me anything if needed.

[2021-04-16 17:20] neha07kumari commented on #982
Sure ☺

[2021-04-17 15:08] neha07kumari commented on #982
@vybhav72954  I have created a PR #985 . Please review it and let me know if  any changes are needed.

[2021-04-17 20:43] alazar-w commented on #214
hey @HarshCasper still waiting your reply???

[2021-04-18 00:07] Shubhrima opened #987 "Password Generator with GUI in Python"
# Description

Describe the new feature you are proposing.
Password Generator

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | ----------------------------------------------------------

[2021-04-18 06:18] anuragmukherjee2001 opened #988 "Building a dictionary"
# Description
This script is used to search the meaning of any word in english language. If the word entered by the user is not correct enough, the script predicts a word which is close enough to the word entered by the user.

## Modules used:-
1. json
2. difflib

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about

[2021-04-18 06:19] anuragmukherjee2001 commented on #988
/assign

[2021-04-18 08:37] Priyadarshan2000 opened #990 "AI Trainer using OpenCV"
# Description

In this Project on building an AI Trainer using OpenCV and Python. We will use the pose estimation running on the CPU to find the correct points and using these points we will get the desired angles. Then based on these angles we find many gestures including the number of biceps curls. I will write the code in a way that you will be able to find angles between any 3 points with just

[2021-04-18 08:37] Priyadarshan2000 commented on #990
/assign

[2021-04-18 14:26] Priyadarshan2000 commented on #990
/assign

[2021-04-18 15:34] ayush-raj8 commented on #977
/assign

[2021-04-18 16:43] tanishq-arya commented on #541
@vybhav72954 I would like to work on this in python if you could guide me.

[2021-04-18 16:45] tanishq-arya commented on #723
/assign

[2021-04-18 16:50] tanishq-arya commented on #586
@vybhav72954 I would like to work on this in python. Can you guide me how should I proceed with this.

[2021-04-18 18:00] ayush-raj8 commented on #977
@HarshCasper or @vybhav72954  Plz confirm if I can  start working on this ???

[2021-04-18 18:34] #990 closed

[2021-04-18 19:09] RohiniRG opened #993 "Password Checker"
# Description

Describe the new feature you are proposing.

| name            | possible solution  | assignees                                                      |
| --------------- |------- | -------------------------------------------------------------- |
| Password Checker | This script uses API of https://haveibeenpwned.com/ and checks how many times your password has been hacked | @RohiniRG

[2021-04-18 19:10] RohiniRG commented on #993
/assign

[2021-04-19 04:06] #931 closed

[2021-04-19 04:20] devRawnie commented on #987
Is this open to work upon or are you proposing that you shall work on this?

[2021-04-19 04:21] immanishbainsla opened #994 "Doc/ppt file to pdf convertor"
# Description
It converts your doc and ppt files to pdf files

| name            | problem/motivation                                                  | possible solution  | assignees

| DoctoPdf and PpttoPdf Convertor | It doesn't require internet connection and it's super easy to use with just 1 command | I will be implementing it in python | Manish Bainsla (self-assign)

[2021-04-19 04:21] immanishbainsla commented on #994
/assign

[2021-04-19 04:22] immanishbainsla commented on #994
/assign

[2021-04-19 04:30] Shubhrima commented on #987
I wish to work on this.

[2021-04-19 10:33] vybhav72954 commented on #994
@HarshCasper The issue is rather simple, but last I checked we lack this functionality in the Repo, this looks good to me. But still have a look.

[2021-04-19 10:34] vybhav72954 commented on #987
@Subhangini GUI scripts are not a part of this project. Please have a look at other issues meanwhile.

[2021-04-19 10:34] #987 closed

[2021-04-19 10:41] vybhav72954 commented on #993
Hey @RohiniRG, this exactly isn't a password checker right?

Name the script properly whenever you make the PR.

[2021-04-19 11:36] #994 closed

[2021-04-19 13:26] Subhangini commented on #987
I didn't asked to assign this to me?????

On Mon, Apr 19, 2021, 16:05 vybhav72954 ***@***.*** wrote:

[2021-04-19 13:38] vybhav72954 commented on #987
Oops I was supposed to tag @Shubhrima
My bad

[2021-04-19 13:46] Subhangini commented on #987
ok no problem

On Mon, Apr 19, 2021, 19:09 vybhav72954 ***@***.*** wrote:

[2021-04-19 13:58] SalmaZakaria opened #996 "Random Password Generator"
# Description

It generates random passwords to help people use different passwords

## Language

Python

Maybe you want a specific Label?
Participating in a competition?
GSSOC'21

[2021-04-19 13:58] SalmaZakaria commented on #996
/assign

[2021-04-19 15:46] vybhav72954 commented on #996
Already present [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Random_Password_Generator).

[2021-04-19 15:46] #996 closed

[2021-04-19 15:49] vybhav72954 commented on #641
@all-contributors please add @sourabhkumar45  for code

[2021-04-19 16:13] SalmaZakaria opened #998 "Script to Accept all friend requests on Facebook"
# Description

Script to Accept all friend requests on Facebook using js

## Language

Javascript

[2021-04-19 16:14] SalmaZakaria commented on #998
/assign

[2021-04-19 16:15] SalmaZakaria commented on #998
I am a GSSOC'21 Participant

[2021-04-19 16:20] SalmaZakaria commented on #998
@vybhav72954 Add GSSOC21 label please

[2021-04-19 19:58] devRawnie opened #1000 "Bulk file renamer"
# Description
I would like to create a Python based script that can rename files and directories from the command line itself. The user would be able to rename multiple files based on an ascending list of numbers, characters etc. And can also divide the files into packs of smaller folders. It would help a general user to organize his her desktop from python command line itself.

## Language

- [x]

[2021-04-19 19:59] devRawnie commented on #1000
\assign

[2021-04-20 03:39] HarshCasper commented on #977
I'm sorry but we don't need scripts that don't specify any particular use-case. In this case, the algorithms and tools would be highly subjective and debatable. Thanks for contributing!

[2021-04-20 03:39] #977 closed

[2021-04-20 03:42] #988 closed

[2021-04-20 03:49] HarshCasper opened #1002 "Scrap Devpost Project"
# Description

Create a Script to scrap DevPost Project. The script should get a Hackathon Page as a dynamic argument and it should extract the following:

- Name of the Project (Title)
- Technology Stack of the Project (Built with)
- Images/Videos linked
- Subtitle of the Project

Even better would be a utility where all the projects can be randomly allocated in separate spreadsheets by passing a

[2021-04-20 04:50] HarshCasper opened #1003 "Script to download Tweet Images"
# Description

Create a Script to download all the Images associated with your tweets. All the Images should be download locally along with a CSV file accompanying them, which contains the Image ID and the tweet they were linked with.

## Language

- [X] Go
- [X] Javascript
- [X] Python

[2021-04-20 04:57] HarshCasper opened #1004 "Script to find Twitter Followers overlap"
# Description

Create a Script to find Twitter Followers overlap. The Script should take two Twitter usernames and find any overlap between their followers in an efficient way.

## Language

- [X] Go
- [X] Javascript
- [X] Python

[2021-04-20 05:12] HarshCasper opened #1005 "Script to return random YouTube videos"
# Description

Create a Script to return random YouTube videos. You may use YouTube Data v3 API to achieve the same.

## Language

- [X] Go
- [X] Javascript
- [X] Python

[2021-04-20 05:20] HarshCasper opened #1006 "Scrap Good First Issues from GitHub Repositories"
# Description

Create a Script to scrap Good First Issues from GitHub Repositories. We can have the GitHub repositories in the following ways:

- Having a JSON File where all the repositories are stored.
- Scrapping from the top repositories that are trending on GitHub Explore
- Scrapping from the repos that we/or someone else has starred

You can have better ways of taking the inputs, but these t

[2021-04-20 05:34] jhamadhav commented on #1004
This sounds really interesting to work on.
@HarshCasper please assign me this issue, I would love to work on this.

[2021-04-20 07:41] jhamadhav commented on #1006
Hey, @HarshCasper I'm almost done with my previous issues can I work on this?

[2021-04-20 10:01] reshchat commented on #1005
Hey, I am a GSSOC'21 participant . can you please assign this issue to me @HarshCasper

[2021-04-20 13:22] vybhav72954 commented on #1005
Sure thing

[2021-04-20 17:19] prathimacode-hub opened #1008 "Sending SMS using FAST2SMS"
# Description

This script sends SMS promptly using FAST2SMS API with GUI Interface.

## Language

- [x] Python

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | ------------------------------------------------

[2021-04-20 17:23] prathimacode-hub commented on #1008
I'm a GSSOC'21 participant. Can you assign this issue to me? @HarshCasper

[2021-04-20 17:28] SalmaZakaria commented on #1003
Could you please assign this to me?
I am GSSOC 21 Participant

[2021-04-20 17:31] prathimacode-hub commented on #1008
/assign

[2021-04-21 06:59] prathimacode-hub commented on #1008
Can you please add GSSoC'21 label? So that I could create a pull request. @HarshCasper

[2021-04-21 09:56] vybhav72954 commented on #1008
We don't accept GUI-based scripts!
Closing the Issue, feel free to take another issue

[2021-04-21 09:56] #1008 closed

[2021-04-21 09:58] vybhav72954 commented on #915
@Dhanush2612 Update?

[2021-04-21 10:01] vybhav72954 commented on #921
@Priyadarshan2000 Update?

[2021-04-21 10:01] vybhav72954 commented on #930
@gokulsoumya Hey there, any updates?

[2021-04-21 10:02] #921 closed

[2021-04-21 10:02] vybhav72954 commented on #947
@owlrana Updates?

[2021-04-21 10:02] vybhav72954 commented on #881
@Nidhi-2000 Updates?

[2021-04-21 10:02] vybhav72954 commented on #872
@Nidhi-2000 Updates

[2021-04-21 10:03] vybhav72954 commented on #820
@abh33 Updates?

[2021-04-21 10:04] vybhav72954 commented on #779
Unassingining cause of lack of updates

[2021-04-21 10:04] vybhav72954 commented on #779
@kshittijagrawal @varshith-k Feel free to take this

[2021-04-21 10:05] vybhav72954 commented on #758
@Nidhi-2000 Updates?

[2021-04-21 10:05] vybhav72954 commented on #754
@subhangi2731 Updates?

[2021-04-21 10:06] vybhav72954 commented on #745
Hey @DiegoCaraballo Hope you are doing well. Any updates from your side?

[2021-04-21 10:06] vybhav72954 commented on #733
@Nidhi-2000 Updates?

[2021-04-21 11:40] jhamadhav commented on #1002
Hey @HarshCasper the first 4 requirements are clear, can you please elaborate more on the last part?

[2021-04-21 12:21] DiegoCaraballo commented on #745
Hello @vybhav72954
Sorry, but I have little time.
You can leave it free for someone else to do it.
As soon as I have more time I will continue to collaborate.
Regards!

[2021-04-21 12:41] HarshCasper commented on #745
Hi @DiegoCaraballo

No worries at all :)

You can have this issue and contribute once you are free with respect to your schedule. You have been a valued contributor and we truly appreciate your efforts and contributions!

[2021-04-21 12:45] #640 closed

[2021-04-21 13:17] #895 closed

[2021-04-21 13:48] #943 closed

[2021-04-21 13:51] #1004 closed

[2021-04-21 13:53] DiegoCaraballo commented on #745
Thanks @HarshCasper , I'll be back soon.

[2021-04-21 14:51] HarshCasper commented on #1002
Subtitle means the basic project pitch.

[2021-04-21 15:14] jhamadhav commented on #1002
// Even better would be a utility where all the projects can be randomly allocated in separate spreadsheets by passing a value which > denotes the number of partitions needed for the same. But it can be kept as an optional in the final PR.

No this part..

[2021-04-21 15:50] vybhav72954 commented on #947
GUI scripts are something that we don't have here. Only CLI implementations.

[2021-04-21 16:28] gokulsoumya commented on #930
@vybhav72954 Sorry for the delay; I was caught up with college work. I'll try to get a working script up by tomorrow :)

[2021-04-21 17:12] HarshCasper commented on #1002
Ah! This is an interesting use-case.

I have mentored and judged at a lot of Hackathons and usually we are passed a sheet where we have to rank the projects developed by these teams.

So whatever projects are scrapped, divide them randomly across multiple sheets. You can take the number of sheets required and the number of projects in each sheet from the user.

Hope that helps :)

[2021-04-21 17:19] #948 closed

[2021-04-21 17:21] jhamadhav commented on #1002
It is only if the hackatons has finished, right?

[2021-04-21 17:35] owlrana commented on #947
It's alright, no problem! :')

[2021-04-21 17:47] HarshCasper commented on #1002
Yeah. Once the projects are submitted and the judging round would start.

[2021-04-21 17:49] jhamadhav commented on #1002
oh ok, that's what I thought.
Can I work on this?

[2021-04-21 18:44] vybhav72954 commented on #978
@iamansoni Updates?

[2021-04-21 21:27] vybhav72954 commented on #913
@anubhav201241 Updates?

[2021-04-21 21:31] anubhav201241 commented on #913
Sorry for the delay sir, due to some circumstances I'm not able to do it. So I will push my PR by tomorrow evening.

[2021-04-22 06:59] ireneelizabethsabu opened #1011 "bug in Email_Scrape_From_Webpage"
# Description
the code produce a traceback on line number 52

## Checklist

|name|about|labels|assignees|
|----|-----|------|---------|
|Email_Scrape_From_Webpage|traceback in line number 52|GSSOC21 |@ireneelizabethsabu|

**To Reproduce**
Steps to reproduce the behavior:
1. Go to terminal
2. Run the code
3. See error

**Expected behavior**
![Screenshot from 2021-04-22 12-21-47](https://user-images

[2021-04-22 07:00] ireneelizabethsabu commented on #1011
\assign

[2021-04-22 07:02] ireneelizabethsabu commented on #1011
@HarshCasper Can you please assign this issue to me.

[2021-04-22 07:07] ireneelizabethsabu commented on #1011
/assign

[2021-04-22 09:26] vybhav72954 commented on #1011
Thanks for this issue. Looking forward to the solution

[2021-04-22 10:32] ireneelizabethsabu opened #1013 "Update README.md for JavaScript"
The markdown file for the JavaScript directory  hasn't been updated. I would like to update the list alphabetically following the same structure as of the README. Please assign this issue to me.

[2021-04-22 12:24] #973 closed

[2021-04-22 12:25] #1006 closed

[2021-04-22 12:41] tanishq-arya commented on #586
Hey @HarshCasper I looked this on the web. So I have to make a simple program to just take the input and use the "builtwith" library in python or do I have to do this without the library ?

[2021-04-22 15:36] vybhav72954 commented on #978
@iamansoni Please confirm the status ASAP, A week is more than enough for this.

[2021-04-23 04:57] ireneelizabethsabu commented on #1011
Can you please add the level tag @vybhav72954 .

[2021-04-23 04:59] devRawnie commented on #1000
Hi. I have created a pull request with the complete script. Kindly go through the same

[2021-04-23 08:16] owlrana commented on #947
Please verify and accept: https://github.com/HarshCasper/Rotten-Scripts/pull/1014
I also need to update it later with the readMe.md file and screenshots for everyone to understand it.

[2021-04-23 17:09] HarshCasper opened #1018 "Analyze First-Degree LinkedIn Connections"
# Description

Create a Script to analyze first-degree LinkedIn Connection in a CSV/JSON File. We already have a script to scrap LinkedIn Connections in Python [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Linkedin_Connection_Scrapper). Through the new script here is, we are looking to analyze the domain they primarily work in, and output the following:

- An output image

[2021-04-23 17:12] HarshCasper opened #1019 "Disconnect LinkedIn Connections"
# Description

Given a list of first-degree connections in CSV/JSON, disconnect them on LinkedIn through an automation script. You can go a step ahead, to provide the users with an option to unfollow them instead of disconnecting, however, this feature is entirely optional.

## Language

- [X] Go
- [X] Javascript
- [X] Python
- [X] BASH

[2021-04-23 17:19] HarshCasper opened #1020 "Send automated messages on LinkedIn"
# Description

LinkedIn shares a notification if one of our first-degree connections is having a birthday, or work anniversary or has landed a new role. It would be a great job if we can automate, the whole workflow of sending them best regards by relying on the automated reply given by LinkedIn. You can make use of a lightweight database (JSON) to track the messages that have been sent already so

[2021-04-23 17:22] HarshCasper opened #1021 "Script to download LinkedIn Learning Videos"
# Description

Create a Script to download LinkedIn Learning Videos. This Script should be good enough to download videos as of now, not entire courses. P.S: Let me know if you need access to any LinkedIn Learning Course to try your script out.

## Language

- [X] Golang
- [X] Javascript
- [X] Python
- [X] BASH

[2021-04-23 17:24] HarshCasper opened #1022 "Script to scrap LinkedIn Endorsements"
# Description

Create a Script to scrap LinkedIn Endorsements and see who has endorsed you in what technologies.

## Language

- [X] Golang
- [X] Javascript
- [X] Python
- [X] BASH

[2021-04-23 17:27] HarshCasper opened #1023 "Script to scrap Alumni Network through LinkedIn"
# Description

Create a Script to scrap Alumni Network through LinkedIn.

## Language

- [X] Go
- [X] Javascript
- [X] Python
- [X] BASH

[2021-04-24 03:36] jhamadhav commented on #1022
@HarshCasper can I work on this?

[2021-04-24 03:37] jhamadhav commented on #1023
Alumni network as in?

[2021-04-24 03:47] HarshCasper commented on #1023
Scrap the LinkedIn Profiles who have studied in the same College/University as you. We are looking to capture the following data points through them:

- Name
- Current Job
- Skills
- Degree of Connection

[2021-04-24 03:50] rahulraikwar00 commented on #1023
And what about the working people? @HarshCasper

[2021-04-24 03:51] jhamadhav commented on #1023
oh I see so we first get a LinkedIn profile and we scrap data about the people related to the user connect via college, cool 👍

[2021-04-24 03:59] HarshCasper commented on #1023
Well this Script is about getting the profiles about working people itself. We can add additional data points about their year of graduation but keep that as optional as of now.

[2021-04-24 04:03] rahulraikwar00 commented on #1023
Reinventing the wheel is  bit messy here.. I mean it can be done with any third party Api or LinkedIn Library In python in couple line of code I guess.
@HarshCasper what do you think?

[2021-04-24 04:17] HarshCasper commented on #1023
You are free to pick whatever you feel is good for the job. If the script is too basic, we can add more features to make it a full-fledged CLI.

[2021-04-24 05:47] HarshCasper opened #1025 "Script to collect spam/invalid Pull Requests across GitHub Repositories"
# Description

Create a Script to collect spam/invalid Pull Requests across GitHub Repositories. The Script should analyze the repositories stored in a CSV/JSON File and should capture the following data points:

- Link of the PR
- PR Author
- Number of Files changed
- Number of PR Comments
- PR Reviewer(s)

You can also add features to have the dataset collected in a CSV/JSON across all repositor

[2021-04-24 14:21] #942 closed

[2021-04-24 14:39] vybhav72954 commented on #1025
I can do this XD

I have a script for this already XD

[2021-04-24 14:54] AshuKV commented on #1025
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-04-24 14:59] #1011 closed

[2021-04-26 04:26] subhangi2731 commented on #754
yes i will make a pr by today

[2021-04-26 11:20] SmritiAgrawal04 commented on #423
Hi @vybhav72954  and @HarshCasper
Please check the added script.

[2021-04-28 15:35] gokulsoumya commented on #930
@vy

[2021-04-28 15:37] gokulsoumya commented on #930
@vybhav72954 completed the script and squashed the commits :) Sorry again for the delay 😅

[2021-04-28 17:02] #967 closed

[2021-04-28 17:03] #757 closed

[2021-04-28 17:03] #663 closed

[2021-04-28 17:05] #738 closed

[2021-04-28 17:07] #1002 closed

[2021-04-28 17:14] XZANATOL commented on #757
@HarshCasper @vybhav72954 should have only refrenced the issue, not link it.. my bad xd. Can you reopen this so to continue on the auto closing action for PRs with issue number but not linked?

[2021-04-28 17:15] vybhav72954 commented on #757
Keep it linked

[2021-04-28 17:22] XZANATOL commented on #757
didnt we agree on building 2 actions? or this one is good to close this issue? - check [this](https://github.com/HarshCasper/Rotten-Scripts/issues/757#issuecomment-812628952) -

[2021-04-28 17:36] Sukriti-sood commented on #1019
I would like to work on this.

[2021-04-28 18:12] #1013 closed

[2021-04-28 18:58] vybhav72954 commented on #757
Wait just so that we are clear, you want us to reopen the issue so that we can start with the second part of the action right?

[2021-04-28 19:09] vybhav72954 commented on #872
@Nidhi-2000 Updates?

[2021-04-28 19:09] vybhav72954 commented on #881
@Nidhi-2000 Updates?

[2021-04-28 19:10] XZANATOL commented on #757
Ummm, yea xd
I'm researching about it in the meantime and it won't take long since we already know the needed approach to deal with PR bodies within GitHub actions.

[2021-04-28 19:10] vybhav72954 commented on #924
@Sukriti-sood Updates?

[2021-04-28 19:11] vybhav72954 commented on #934
@haarsh01 Updates?

[2021-04-28 19:19] vybhav72954 commented on #978
@ireneelizabethsabu Can you have a look at this as well?

[2021-04-28 19:22] vybhav72954 commented on #641
@all-contributors please add @jhamadhav for code

[2021-04-28 19:25] vybhav72954 commented on #641
@all-contributors please add @ireneelizabethsabu for documentation

[2021-04-28 19:26] vybhav72954 commented on #641
@all-contributors please add @ireneelizabethsabu for documentation

[2021-04-29 03:43] ireneelizabethsabu commented on #978
Sure :)

[2021-04-29 03:43] ireneelizabethsabu commented on #978
/assign

[2021-04-29 10:32] vybhav72954 commented on #641
@all-contributors please add @ireneelizabethsabu for documentation

[2021-04-29 10:34] vybhav72954 commented on #641
@all-contributors please add @tanishq-arya for code

[2021-04-29 10:35] vybhav72954 commented on #641
@all-contributors please add @RohiniRG for code

[2021-04-29 10:36] vybhav72954 commented on #641
@all-contributors please add @RohiniRG for documentation

[2021-04-29 10:37] vybhav72954 commented on #641
@all-contributors please add @Sukriti-sood for documentation

[2021-04-29 10:38] vybhav72954 commented on #641
@all-contributors please add @Sukriti-sood for code

[2021-04-29 10:39] vybhav72954 commented on #641
@all-contributors please add @ShubhamGupta577 for code

[2021-04-30 16:11] soumik2012 opened #1041 "Speak-like-yoda in python"
# Description

A python script that translates an input English sentence into Yoda-speak.

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | -----------

[2021-04-30 16:13] soumik2012 commented on #1041
/assign

[2021-04-30 19:41] iamakkkhil opened #1042 "Job opening scraper"
# Description

Describe the new feature you are proposing.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
| Job scrape

[2021-05-01 03:08] Sukriti-sood commented on #1019
@HarshCasper  @vybhav72954 For  unfollow or disconnecting Options. Script should ask options for every user or for one time ony...?

[2021-05-01 14:49] XZANATOL opened #1044 "A script that converts a number of base-x to base-y"
# Description

A more friendly title `` Base-N Calculator ``. A script that gets 3 inputs from the user:
* Number
* Number base (base-x)
* Base of the converted number (base-y)

## Language

- [x] Python

## Checklist:

* The script will not only be limited to known bases `` Decimal \ Octal \ Binary \ Hexadecimal ``.
* User will be able to convert to any base as long as the base value is not small

[2021-05-01 14:49] XZANATOL commented on #1044
/assign

[2021-05-01 14:55] XZANATOL commented on #1044
/assign

[2021-05-01 19:37] iamakkkhil commented on #1042
/assign

[2021-05-01 19:49] RohiniRG opened #1045 "Reddit Scraper"
# Description

Describe the new feature you are proposing.

| name           | possible solution  | assignees                                                      |
| ---------------  | ------- | -------------------------------------------------------------- |
| Reddit Scrapper  | Using Python to scrape the post of a particular subreddit to obtain information of author and content upvotes and so o

[2021-05-01 19:49] RohiniRG commented on #1045
/assign

[2021-05-01 19:51] RohiniRG commented on #1045
/assign

[2021-05-02 11:41] rahulraikwar00 commented on #1025
I was gonna comment the same..XD

[2021-05-02 11:42] rahulraikwar00 commented on #1022
Any update? @jhamadhav

[2021-05-02 12:08] jhamadhav commented on #1022
It is in progress, I will take some more time.
I am able to get linkedIn profile page and working on to get the skills and the people that have endorsed it.
It should be done soon

[2021-05-02 16:01] rahulraikwar00 commented on #1022
If you need any kind of help ..let us know.
But i would suggest
you can use linkdin API and try to catch profile From there
it would be easy this way
rather than digging and trying to catch every element by own.

[2021-05-02 16:38] jhamadhav commented on #1022
wait we can use API 😅
I thought we can only get basic info with API...
I kinda got blocked for a day too while scrapping 😅
I will look into the API again and ask in the discord channel if I get stuck 👍

[2021-05-03 03:22] #1041 closed

[2021-05-03 05:43] #978 closed

[2021-05-03 06:46] rahulraikwar00 commented on #1022
@jhamadhav  It would be much easier with [this](https://pypi.org/project/linkedin-scraper/)
If you code in python!

[2021-05-03 06:57] jhamadhav commented on #1022
I will look into it 👍

[2021-05-05 03:54] jhamadhav commented on #1022
@rahulraikwar00 I tried the python library, it gives the general data but not the endorsement and stuff 😞
I will retry with the `nodejs` scrapper and ask for help in discord if I get stuck 👍

[2021-05-05 13:05] sayantani11 commented on #968
I tried to fix the errors but I am unable to

[2021-05-05 16:56] Naman-1234 commented on #932
@HarshCasper, Pls kindly check why have I not recieved points for this PR.  Please check sir, I nearly worked for 15 days on this issue to merge this. It would be great if I could get the points for that. Looking forward for a reply.

[2021-05-05 18:08] RohiniRG commented on #1045
@vybhav72954 @HarshCasper could you please have a look and let me know if I can work on this.

[2021-05-05 18:08] iamakkkhil commented on #1042
@vybhav72954 @HarshCasper have a look at this issue and let me know if I can start working on it.

[2021-05-06 07:20] owlrana commented on #947
Merge #1014 , close this.

[2021-05-06 07:22] owlrana commented on #947
Close by mistake, please merge.
https://github.com/HarshCasper/Rotten-Scripts/pull/1014

[2021-05-06 14:31] Yuvraj-kadale opened #1048 "QR based python Excel Attendance system"
# Description

- This project will be done in two steps.

1. QR Generation
2. QR Scanning

### QR Generation

Database of students will be provided in "Name - Roll number" format.
The QR code will store the values of "Name-Roll number" as UID
This script on run will generate the QR codes of all the students and save that as per their UID

### QR Scanning

Here the students will scan their QR codes

[2021-05-06 14:32] Yuvraj-kadale commented on #1048
/assign

[2021-05-06 14:35] Yuvraj-kadale commented on #1048
/assign

[2021-05-09 11:13] Manasi2001 opened #1050 "Script to convert Image to Pencil Sketch"
# Description

The script can be used to convert a RGB image to pencil sketch in 4 easy steps.

## Language

- ✅ Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------

[2021-05-09 11:14] Manasi2001 commented on #1050
/assign

[2021-05-10 05:55] Sukriti-sood opened #1053 "Stalker"
# Description

Like If we want to search or stalk any Person, First We google, Then We search it on Any or every social platform with Information we know like Physical Appearance, Place of residence, Education, Age.
We can have a script that will automate the task of Stalking.

## Language
- [x] Go
- [x] Javascript
- [x] Python

## Checklist:

- **Details on the Script**

 ## Stalker

 #### Script

[2021-05-10 11:29] vybhav72954 commented on #1025
@AshuKV Updates?

[2021-05-10 11:37] vybhav72954 commented on #1045
@RohiniRG LGTM, eel free to make a PR, i am extremely sorry I was a bit busy, Review process wont take long from now.

[2021-05-10 11:55] vybhav72954 commented on #1048
Hey @Yuvraj-kadale We generally dont accept GUI-based scripts here.

[2021-05-10 11:56] #930 closed

[2021-05-10 14:58] RohiniRG commented on #993
@vybhav72954 could have a look at this PR.

[2021-05-11 11:48] jhamadhav commented on #1022
@rahulraikwar00 @HarshCasper
I am kinda stuck in this project
I am using puppeteer to scrape a LinkedIn website.
I have succeeded in log in to it and going to the desired profile.

SInce the page is dynamic it loads stuff only after we scroll as I tried this but I'm unable to scroll.
let page = await browser.newPage()
    await page.goto(${url}, { waitUntil: 'networkidle0', timeout: 0 })
    page.

[2021-05-11 12:59] AshuKV commented on #1025
@vybhav72954  I am currently working on this issue, will send PR within 3 days.

[2021-05-12 06:49] jhamadhav commented on #1022
@rahulraikwar00 I have solved the scrolling issue with some help and will move forward to complete the script asap.

[2021-05-12 14:10] vybhav72954 commented on #820
Unassigned @abh33 For lack of response

[2021-05-12 14:21] #1000 closed

[2021-05-12 14:26] #993 closed

[2021-05-12 14:26] vybhav72954 commented on #1048
Sounds good

[2021-05-12 14:27] vybhav72954 commented on #1053
Sounds good

[2021-05-12 14:27] vybhav72954 commented on #723
@tanishq-arya update within 2 days please

[2021-05-12 14:31] vybhav72954 commented on #1050
@Manasi2001 We already have a similar script [here](https://github.com/HarshCasper/Rotten-Scripts/blob/master/Python/Image_Sketch/Sketch.py)

If you want you can update the README for the script, but I cant accept this as of now

[2021-05-12 14:31] #1050 closed

[2021-05-12 14:42] #947 closed

[2021-05-12 14:48] #982 closed

[2021-05-12 14:50] Manasi2001 commented on #1050
@vybhav72954 mine is so much better, nicely put and refined than the one that's present. You can check out my PR for the screenshots. 😅
If nothing can be done, then I'll do the README part.

[2021-05-12 14:50] Sukriti-sood commented on #1053
/assign

[2021-05-12 14:52] Sukriti-sood commented on #1053
@vybhav72954 Sorry by Mistake I removed my assignment, Please Assign me again

[2021-05-12 15:08] vybhav72954 commented on #1050
TBH that fair

Counter proposal.

- I will reopen the PR.
- Replace your script/README, and remove the out-of-date directory. (Please don't delete the original directory, just replace everything with your updated files, so that the commit history is maintained).
- The script is kind of the same, but your README is still much better, so this would be a great update for us.

Sounds good?

[2021-05-12 15:09] #865 closed

[2021-05-12 15:33] Manasi2001 commented on #1050
So basically, once you reopen the PR, all I need to do is remove that old code from 'Image_Sketch' folder and add mine there right?
That'll be great. Thanks!

[2021-05-12 15:42] #819 closed

[2021-05-12 15:43] vybhav72954 commented on #819
@TITHI007 Please confirm if you are GSoC participant

[2021-05-12 15:49] #444 closed

[2021-05-12 16:47] TITHI007 commented on #819
I am not the GSoC participant.

[2021-05-12 20:55] vybhav72954 commented on #819
I am sorry I meant GSSoC (GirlScript  SoC)

[2021-05-12 21:59] N-Shar-ma commented on #869
Can I please be assigned to work on this issue?

[2021-05-13 03:40] TITHI007 commented on #819
No neither of any

[2021-05-13 08:03] tanishq-arya commented on #913
Can I work on this ? Please assign this to me.

[2021-05-15 11:25] tanyalava commented on #998
Can you please assign this issue to me, I will solve it clearly

[2021-05-17 06:33] tanishq-arya commented on #723
@vybhav72954 Please review my PR. Let me know if any changes are required.

[2021-05-17 06:48] subhangi2731 commented on #754
@HarshCasper @vybhav72954 I will make a pr today I have worked on this

[2021-05-17 14:19] soumik2012 opened #1064 "Blood Content Alcohol in python"
# Description

it tell you how amount of alcohol you drink and what is percentage of alcohol content in the blood

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------

[2021-05-17 17:17] vybhav72954 commented on #1064
Sounds good

[2021-05-17 17:46] #924 closed

[2021-05-18 12:44] bose07 opened #1068 "Adding Reddit Bot"
# Description

Building a Reddit Bot using python

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ---------------------------------------------------

[2021-05-18 12:45] bose07 commented on #1068
/assign

[2021-05-18 12:54] vybhav72954 commented on #1068
What are the use cases of this bot?

[2021-05-18 18:59] bose07 commented on #1068
Pick a subreddit to scan
Designate a specific comment to search for
Set your bot's reply
automatic responce

[2021-05-19 07:06] harshita2319 commented on #913
I'd like to work on this issue!

[2021-05-19 07:07] harshita2319 commented on #913
I'm a GSSOC participant and I'd like to work on this issue!

[2021-05-19 07:14] harshita2319 commented on #779
Hey, I'd like to work on this, please assign!
(GSSOC participant)

[2021-05-19 07:48] vybhav72954 commented on #1068
Please elaborate the use case. Am still unsure what you mean.

The body says reddit post information, we already have a script to parse all the post on reddit. What makes your script unique?

[2021-05-19 11:17] Sukriti-sood opened #1069 "Pdf2VideoConverter"
# Description
Take a PDF file, extract the text from it, convert it to audio format and attach that audio to the video provided by the user.

- [x] Python

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -----

[2021-05-19 11:18] Sukriti-sood commented on #1069
/assign

[2021-05-19 14:35] #423 closed

[2021-05-19 14:57] vybhav72954 commented on #1069
Nice idea. Though pretty specific. But LGTM

[2021-05-19 19:00] vybhav72954 commented on #913
Actually am closing the issue. I don't see the need for this script at all.

[2021-05-21 06:25] Muskan0 opened #1070 "Python CLI Chat application"
# Description

Making a simple command line client server chat tool in Python(multi chat room functionality). It will include socket and threading modules of Python.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | -------------------------------------

[2021-05-21 06:26] Muskan0 commented on #1070
/assign

[2021-05-21 11:27] tanishq-arya commented on #711
Please assign me this issue under Gssoc.

[2021-05-22 06:54] tanishq-arya commented on #915
@vybhav72954 please assign me this issue. I will add the proper readme.

[2021-05-23 09:35] #1064 closed

[2021-05-23 12:44] Sukriti-sood commented on #1020
/assign

[2021-05-23 13:37] A-kriti opened #1073 "Neon effect filter using python"
# Description

Want to implement a "Neon Image Filter" using python in which main libraries used are OpenCV, matplotlib and NumPy.

## Language

- [✓] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | -------------------------

[2021-05-23 13:45] A-kriti opened #1074 "Mini Google Assistant"
# Description

A mini google assistant using some python libraries.

## Language

- [✓] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | ---------------------

[2021-05-23 13:48] A-kriti commented on #1074
/assign

[2021-05-23 13:48] A-kriti commented on #1073
/assign

[2021-05-24 16:37] tanishq-arya commented on #711
/assign

[2021-05-25 05:35] RohiniRG opened #1081 "Wikipedia Infobox scraper"
# Description

Describe the new feature you are proposing.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
|Wikipedia I

[2021-05-25 05:36] RohiniRG commented on #1081
/assign

[2021-05-25 05:36] RohiniRG commented on #1081
@HarshCasper @vybhav72954 can I start working on this issue?

[2021-05-25 07:10] Muskan0 commented on #1070
@HarshCasper Please add the label of Gssoc, so that I can start working.

[2021-05-25 12:09] A-kriti opened #1082 "Image Contrast Adjustment"
# Description

Images captured in dim light mostly have not much better contrast so an (Image Contrast increasing filter) filter helps accordingly to adjusts and increase its contrast and hence having a better version of the image.

| name            | problem/motivation                                                  | possible solution  | assignees

[2021-05-25 12:09] A-kriti commented on #1082
/assign

[2021-05-28 12:14] HarshCasper commented on #934
/assign

[2021-05-29 02:47] Sukriti-sood opened #1084 "Wrong gif"
# Description
In Linkedin Video  Downloader wrong Demo is Attached

![Rotten-Scripts_P](https://user-images.githubusercontent.com/55010599/120055866-69391080-c056-11eb-9a07-8abc7be2ca02.png)

[2021-05-29 02:49] Sukriti-sood commented on #1084
/assign

[2021-05-29 03:18] Sukriti-sood opened #1085 "Facebook Video Downloader(CLI)"
# Description

Download video from Facebook with Progress Bar in Terminal(CLI)

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ---------------------------------------------------

[2021-05-29 03:19] Sukriti-sood commented on #1085
/assign

[2021-05-29 08:29] Sukriti-sood commented on #1023
/assign

[2021-05-30 10:26] prathimacode-hub opened #1086 "Send SMS using FAST2SMS in python"
# Description

This project is SMS sender using FAST2SMS API promptly with user defined text message

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | -----------------------------

[2021-05-30 10:27] prathimacode-hub commented on #1086
/assign

[2021-05-30 11:32] prathimacode-hub commented on #1086
I have added up a related PR (#1087) to this concerned issue. Kindly got through it. @vybhav72954

[2021-05-31 08:21] #1082 closed

[2021-05-31 08:21] #1074 closed

[2021-05-31 08:21] #1073 closed

[2021-05-31 12:59] iamakkkhil commented on #1042
@vybhav72954 have a look

[2021-05-31 17:57] RohiniRG opened #1091 "Google Playstore Selenium Scraper"
# Description

The python script will work to scrape all the necessary contents and info regarding an app and stores the collected info.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- |

[2021-05-31 17:57] RohiniRG commented on #1091
/assign

[2021-05-31 18:08] RohiniRG commented on #1091
/assign

[2021-05-31 18:53] #1091 closed

[2021-05-31 18:54] #1081 closed

[2021-05-31 18:55] #1022 closed

[2021-05-31 18:56] #1045 closed

[2021-05-31 18:57] #1042 closed

[2021-05-31 18:58] #1019 closed

[2021-05-31 18:59] #1084 closed

[2021-05-31 18:59] #1085 closed

[2021-06-01 07:01] venkateshpensalwar opened #1093 "jupyter notebook convertor"
# Description

Making a Jupyter notebook converter to convert jupyter notebooks (.ipynb files) to pdf, HTML, python, markdown.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | ---------

[2021-06-01 07:02] venkateshpensalwar commented on #1093
/assign

[2021-06-02 12:40] harshakhmk commented on #1005
@reshchat  are u still working on it, if not @HarshCasper  can you assign me this

[2021-06-03 04:41] #869 closed

[2021-06-08 04:35] harshakhmk commented on #1086
I would like to work on this issue @HarshCasper

[2021-06-10 09:04] jayant766 commented on #1021
Please assign me this issue under LGMSOC'21

[2021-06-10 12:30] shantamsultania opened #1100 "AWS Cloud Formation script"
Idea is to create an AWS Cloud Formation script in which a person has to just share his/her Template and any paraments is required and a new Cloud formation Stack will be created in a click
read more about AWS Cloud formation  https://aws.amazon.com/cloudformation/

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

- **Details on the Script**

 AWS Cl

[2021-06-10 12:32] shantamsultania commented on #1100
its a part of LGM-SOC if you think its good to work in please assign it to me Thanks.

[2021-06-10 12:36] shantamsultania opened #1101 "AWS Testing Scripts"
# Description

A Collection of Scripts for AWS Testing

## Language

- [x] Python

## Checklist:

- **Details on the Script**
- it will be able to create as many ec2 you want to create be it 100 - 200 this will help a person in the testing its product on AWS platforms
- will be able to make the required changes in one go
as it will be a testing Script it will not be having any relations to his mai

[2021-06-10 12:37] shantamsultania commented on #1101
#LGM-SOC if you think its ok please assign it to me under LGMSOC thanks

[2021-06-10 14:42] Wittty-Panda commented on #1025
Guess the guys didn't have the script ready after all, I won't go boasting that I have the script already but I would like to try my hand at finding and implementing the solution for the problem. Kindly assign this task to me and provide me with an opportunity to find a solution for this.

[2021-06-10 14:43] Wittty-Panda commented on #1023
/assign

[2021-06-11 07:03] #723 closed

[2021-06-12 11:56] akash435 opened #1103 "Dictionary in Python"
Want to add a Dictionary created under tkinter GUI in python.
In this for data, I will be using a json file which will be imported in python code.
In this code I will also be implementing the case
 i.) giving multiple meaning is there are many meanings
 ii.) giving meaning of closest word, if entered something wrong.

The dicitonary gui windows will look like this,
![1](https://user-images.githubu

[2021-06-12 11:58] akash435 commented on #1103
@HarshCasper , can you please assign me this under LGM SOC

[2021-06-12 12:01] akash435 commented on #1103
/assign

[2021-06-12 12:03] akash435 commented on #1103
@HarshCasper , can you please add the LGM SOC label, as i want to contribute under it.

[2021-06-12 12:09] akash435 opened #1104 "TIC TAC TOE game in python"
Want to add TIC TAC TOE game in python.

The game will be single player mode.

The player has to play with computer , and computer also makes optimal moves by analyzing the moves of player.

The game will be totally played on console by running the source code.

[2021-06-12 12:10] akash435 commented on #1104
/assign

[2021-06-12 12:11] akash435 commented on #1104
@HarshCasper , can you please add LGM SOC label, as i want to contribute under it.

[2021-06-13 07:02] Suryadipsinh opened #1105 "Adding LGMSOC in Open_Source_Events"
Hello sir !
I would like to add LGMSOC in Open_Source_Events folder. And update readme file for that folder.
I am contributing for this under LGMSOC.
Kindly assign me this issue as my first issue. Please add LGMSOC label.
Thank you sir.

[2021-06-13 07:04] Suryadipsinh commented on #1105
/assign

[2021-06-13 08:19] Nihir2904 opened #1106 "Minesweeper"
------------------------------------------------------------------------------------------------------------------------------------
Title | About | Name | Label
---|---|---|---
Minesweeper | Play minesweeper on your command line | Nihir Shah | Feature Request

Define You:
- [x] Participant
- [ ] Mentor

LGM-SOC'21

Using oops in python, play minesweeper on your command line.

[2021-06-13 08:56] Pradhuman-singh5 opened #1107 "Want to add QR code script in javascript"
# Description

QR generator which can generate QR code according to  the input url

## Language

- [ ] Javascript

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | --

[2021-06-13 10:13] Hardikpoudel opened #1108 "Want to add Library Management system(Python script)"
# Library management system created using python script

Work on importing modules on python where user can borrow or return the book from the library

| Library management system | Help keeping track of borrowed book and generate bill/ invoice in library                                                | possible solution  | assignees                                                      |
| -------

[2021-06-13 10:18] Hardikpoudel opened #1109 "Guess The Game(Cricket Game) Using Bash Scripting"
### Guess the game is simple program developed using bash scripting where you are provided with the list of countries and need to find select the correct answer, may be this didn't excites you but when you play it surely will

![image](https://user-images.githubusercontent.com/60287100/121803357-dfe22a80-cc60-11eb-99f0-91df54f88c5b.png)

[2021-06-13 11:39] Nihir2904 commented on #1106
/assign

[2021-06-13 16:35] Pradhuman-singh5 commented on #1107
/assign

[2021-06-14 16:03] thegautamkumarjaiswal opened #1111 "ADD: Bank Management System"
# Description

This is an Database management system for Bank's employee/staff.

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ---------------------

[2021-06-14 16:04] thegautamkumarjaiswal commented on #1111
/assign

[2021-06-15 05:59] #1111 closed

[2021-06-15 06:00] HarshCasper commented on #1109
We don't need games that doesn't add any productivity value or whatsoever.

[2021-06-15 06:00] #1109 closed

[2021-06-15 06:01] HarshCasper commented on #1108
We don't management apps. They require to have a good user experience, server and database layers that don't add up in a simple script. As a librarian, I will not rely on a script to manage the library and manage the customer track.

[2021-06-15 06:01] #1108 closed

[2021-06-15 06:02] HarshCasper commented on #1106
We don't need games that doesn't add any productivity value or whatsoever.

[2021-06-15 06:02] #1106 closed

[2021-06-15 06:03] HarshCasper commented on #1104
We don't need games that doesn't add any productivity value or whatsoever.

[2021-06-15 06:03] #1104 closed

[2021-06-15 06:03] HarshCasper commented on #1103
We don't accept GUI Apps. Kindly read the Contribution Guideline and study the existing code before contributing.

[2021-06-15 06:03] #1103 closed

[2021-06-15 06:11] #779 closed

[2021-06-15 06:43] #1044 closed

[2021-06-15 06:50] HarshCasper commented on #1048
We don't need management apps. They require to have a good user experience, server and database layers that don't add up in a simple script.

[2021-06-15 06:50] #1048 closed

[2021-06-15 14:19] Umesh-01 opened #1114 "align badges to center and make them of single type"
# Description

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
| align badges to center an make them of single type | th

[2021-06-15 14:21] Umesh-01 commented on #1114
Should I work on this??

[2021-06-15 15:38] Umesh-01 commented on #1114
/assign

[2021-06-15 15:39] Umesh-01 commented on #1114
@HarshCasper should I make these changes??

[2021-06-16 05:29] HarshCasper commented on #1114
Yes. They look good to me. Thanks!

[2021-06-16 19:01] ishitakapoor26 opened #1117 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 19:02] ishitakapoor26 commented on #1117
@HarshCasper pls assign me this issue.

[2021-06-16 19:02] ishitakapoor26 commented on #1117
/assign

[2021-06-17 07:53] ishitakapoor26 commented on #1117
Like this

![score card](https://user-images.githubusercontent.com/78542333/122355049-32785b00-cf6f-11eb-9522-60f7ca59d3dd.PNG)

[2021-06-17 11:42] #1114 closed

[2021-06-17 12:11] HarshCasper commented on #641
@all-contributors bot please add @sudormrfbin for code

[2021-06-17 12:33] Sukriti-sood commented on #1020
@HarshCasper I am  working on this issue, as a part of LGMSOC so please don't unassign me , I will make a pr soon

[2021-06-17 12:38] Sukriti-sood commented on #1005
/assign

[2021-06-17 12:42] Sukriti-sood commented on #998
/assign

[2021-06-17 14:24] Shaishav0507 opened #1122 "Internet Speed Test in Python"
# Description

Hey @HarshCasper
I would like to add Internet speed test code in python, where it will do the speed test.
Please assign it to me.
Thanks

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees

[2021-06-17 14:25] Shaishav0507 commented on #1122
/assign

[2021-06-17 14:43] atharva21-stack opened #1123 "Add a Phone number tracker with country & service provider"
# Description

I Would like to contribute a Phone Number Tracker which will take input as number and return country & service provider of that number.

[2021-06-18 09:23] Sukriti-sood commented on #998
@HarshCasper Can I write code script in Other Language or only in Javascript.

[2021-06-18 15:15] abhisheks008 opened #1128 "Translator and Language Detector Tool using Python 3"
# Description
This python script is to build a translator tool through which we can translate from one language to another, it can be applicable for a word, a sentence or a paragraph. Also this tool will detect the input language as well.

| name            | problem/motivation                                                  | possible solution  | assignees

[2021-06-18 15:17] abhisheks008 commented on #1128
/assign

[2021-06-18 16:43] Adarsh357 commented on #1123
Assign it to me pls

[2021-06-19 03:16] HarshCasper commented on #1117
Hi @ishitakapoor26

We won't add the scorecard in README.md. The project is a part of many OSS program and we don't wish to add them up specific to one program. I will put the labels accordingly after which we can score the contributions.

[2021-06-19 03:16] #1117 closed

[2021-06-19 03:16] #1122 closed

[2021-06-19 03:17] #1068 closed

[2021-06-19 03:17] HarshCasper commented on #998
Whatever you wish in.

[2021-06-19 15:55] chandu6111 opened #1133 "PDF Reader using python"
# Description

I wanted to add a pdf Reader which can read pdf aloud once the path to the pdf is provided.

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | -------------------------------------------------

[2021-06-19 15:56] chandu6111 commented on #1133
@HarshCasper could you please assign this issue under LGM-SOC'21 ?

[2021-06-19 15:56] chandu6111 commented on #1133
/assign

[2021-06-21 12:54] Shaishav0507 opened #1137 "Internet speed test in Python"
# Description

Hey @HarshCasper
I would like to add internet speed test in python using simple cli.
Please assign it to me.
Thanks

## Language

- [ ] Go
- [ ] Javascript
- [x] Python
- [ ] Other (Please specify)

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees

[2021-06-21 12:55] Shaishav0507 commented on #1137
/assign

[2021-06-22 17:25] iamakkkhil commented on #1123
@atharva21-stack do you want to work on it?

[2021-06-22 17:28] iamakkkhil commented on #1023
@Wittty-Panda any updates?

[2021-06-22 17:37] Wittty-Panda commented on #1023
@iamakkkhil I have started on it but having some error in code still working on them

[2021-06-22 17:39] iamakkkhil commented on #636
@avinal If you have the working code you can still make a PR :D

[2021-06-22 17:49] avinal commented on #636
Hello @iamakkkhil, I tried searching the code on my computer, unfortunately, I have deleted the clone. I apologize for the delay. Right now I am busy with GSoC so won't be able to rewrite it any time sooner. Please feel free to reassign it. Thanks

[2021-06-23 03:24] Adarsh357 commented on #1123
Yes

On Tue, 22 Jun 2021, 10:56 pm Akhil Bhalerao, ***@***.***>
wrote:

[2021-06-23 03:28] atharva21-stack commented on #1123
Yes please

[2021-06-23 05:15] iamakkkhil commented on #1123
Assigning you the same. Now you start working on it

[2021-06-23 05:17] iamakkkhil commented on #1123
Hey @Adarsh357 as this issue was created by @atharva21-stack so he'll get assigned first. Sorry for that but can definitely have a look at the open issues in RottenScripts

[2021-06-23 05:18] Adarsh357 commented on #1123
Ok

On Wed, 23 Jun 2021, 10:45 am Akhil Bhalerao, ***@***.***>
wrote:

[2021-06-23 05:18] #1105 closed

[2021-06-23 05:57] DhirajChauhan40 opened #1142 "MAD_LIBS DISCORD BOT"
# Description

Describe the new feature you are proposing.

| Discord Bot           | We all use discord every day, this bot will provide you funny phrases with your given inputs

**Describe alternatives you've considered**

This is a discord bot that takes inputs from the user and gives you funny phrases which will make your day

**Additional context**
It has timeout,always-on features too

**Scr

[2021-06-23 05:59] DhirajChauhan40 commented on #1142
@HarshCasper  can you label this work under LGMSOC?

[2021-06-23 06:00] DhirajChauhan40 commented on #1142
/assign

[2021-06-23 10:49] Saup21 opened #1144 "Rot-N Encryption for strings (N ranging from 1-25)"
# Description

I want to a add a Rot-N encryption script  that rotates the chars in string by n(that user inputs). I want to write this code in javascript.

## Language

- [x] Javascript

**Is your feature request related to a problem? Please describe.**:

There was a script for decryption, so i want to add a script that encrypts the data

[2021-06-23 10:50] Saup21 commented on #1144
/assign

[2021-06-23 10:56] Saup21 opened #1145 "Making a calculator with javascript"
# Description

I want a make a calculator using javascript

## Language

- [x] Javascript

#### I didn't find a calculator in the js folder, so i want to add a script that has a online calculator

[2021-06-23 10:56] Saup21 commented on #1145
/assign

[2021-06-23 10:57] Saup21 commented on #1145
/assign

[2021-06-23 11:07] Saup21 opened #1146 "Classic Chrome Dino game"
# Description

I want to add the classic chrome dino game using js

## Language

- [x] Javascript

[2021-06-23 11:08] Saup21 commented on #1146
/assign

[2021-06-23 11:09] Saup21 commented on #1146
I am a participant at LGMSOC

[2021-06-23 11:09] Saup21 commented on #1145
I am a participant at LGMSOC

[2021-06-23 11:09] Saup21 commented on #1144
I am a participant at LGMSOC

[2021-06-23 17:55] HeyAnirudh opened #1147 "web cam sharing in local server using python"
we could add a feature of web cam video sharing over an local IP address using sockets and opencv

[2021-06-23 17:56] HeyAnirudh commented on #1147
/assign

[2021-06-23 18:24] Umesh-01 opened #1148 "speech recognizer using python"
# Description

I want to make a speech recognizer using Python. With this human voice can be converted into text. It uses speech recognition module to do this job.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ---------------------------------------

[2021-06-23 18:24] Umesh-01 commented on #1148
/assign

[2021-06-23 18:26] Umesh-01 opened #1149 "searching queries on wikipedia from console/IDE"
# Description

This method can automate our work of searching something on wikipedia using voice.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | --------------------------------------

[2021-06-23 18:27] Umesh-01 commented on #1149
/assign

[2021-06-23 18:27] Umesh-01 commented on #1148
/assign

[2021-06-23 18:29] Umesh-01 opened #1150 "asking "how to" type questions"
# Description

I want to add a feature in which the user can ask (using voice) how to questions. It uses the voice recognizer to process the voice command and then a library/API to get the answers of how to type questions.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |

[2021-06-23 18:30] Umesh-01 commented on #1150
/assign

[2021-06-23 18:30] Umesh-01 commented on #1150
/assign

[2021-06-23 18:36] Umesh-01 commented on #1150
@HarshCasper should I work on this??

[2021-06-23 18:37] Umesh-01 commented on #1149
@HarshCasper should I work on this??

[2021-06-23 18:37] Umesh-01 commented on #1148
@HarshCasper should I work on this also??

[2021-06-23 18:55] #1146 closed

[2021-06-23 18:55] #1145 closed

[2021-06-23 18:55] #1144 closed

[2021-06-24 07:09] HeyAnirudh opened #1151 "OCR"
we could add character recognition using google tesseract and OpenCV using python

[2021-06-24 13:12] Kumaravinash9 commented on #1150
Of Course @Umesh-01! you can go ahead.

[2021-06-25 15:52] tanvi355 opened #1155 "Video to PDF (CLI)"
# Description

A script to convert a given video to a pdf file and save it.

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------

[2021-06-25 15:52] tanvi355 commented on #1155
/assign

[2021-06-25 15:53] tanvi355 commented on #1155
/assign

[2021-06-28 09:23] iamakkkhil commented on #1148
Hey @Umesh-01 Issue no #1150 looks same to me. Can I know the difference between the two?

[2021-06-28 10:35] Umesh-01 commented on #1148
no @iamakkkhil they are different, some code is common between the two..
It is a speech recognizer that will recognize our speech and will tell us what we said by speaking the sentence or dialogue...
But in issue #1150 I am using pywikihow library so that the user can ask **how to** questions using voice and then it will speak up the results, so for recognizing and speaking up the results the code

[2021-06-29 16:10] Umesh-01 opened #1164 "feature for getting jokes, quotes and poems"
# Description

If I want to see/get a joke or quote then it will show us the one. And even If I want to get a poem from author William Shakespeare or other then I will just type the name and It will show us one poem randomly from the internet using a module or web scraping.

| name            | problem/motivation                                                  | possible solution  | assignees

[2021-06-29 16:11] Umesh-01 commented on #1164
@HarshCasper @iamakkkhil should I start working on this??

[2021-06-29 16:11] Umesh-01 commented on #1164
/assign

[2021-06-29 16:14] Umesh-01 opened #1165 "feature for COVID cases using Web Scraping"
# Description

I want to add a python script for COVID-19 cases to check the number of cases in any country. I will be using web scraping concept to fetch the data from a website.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | -----------------------

[2021-06-29 16:14] Umesh-01 commented on #1165
@iamakkkhil @Kumaravinash9 Should I add this feature??

[2021-06-29 16:15] Umesh-01 commented on #1165
/assign

[2021-06-30 20:12] sumitgsh commented on #766
@HarshCasper  @vybhav72954 Would love to try my hands to improve the readme. But I have one doubt like how would I figure out from the above-mentioned list which of the readme's are updated till now or is it the above list is updated one for whom no pull request is made yet..

[2021-06-30 21:12] vybhav72954 commented on #766
Hi sumit... Thanks for the interest... This is issue as we speak is going some changes (might be even closed). Kindly take up something else. Meanwhile we will discuss about the issue and will keep you posted as soon as we arrive at the proper goals and outcomes of this issue.

[2021-07-01 08:13] sumitgsh commented on #766
Yah thank u..would love to know more whenever things get sorted regarding the issue..

[2021-07-01 16:00] CYB3R-G0D opened #1166 "Brute Force ZIP File Passwords using Python."
# Description

Brute Force ZIP File Passwords using Python.

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -----------------------------

[2021-07-01 16:01] CYB3R-G0D commented on #1166
/assign

[2021-07-02 14:20] sumitgsh commented on #1025
@HarshCasper @vybhav72954 Could You please assign this to me Would love to work on that..
Just one question regarding the issue is like the details of repositories like the username n all will be taken from the csv/json file right?

[2021-07-03 06:23] iamakkkhil commented on #1166
@CYB3R-G0D, Try to describe to issue appropriately by following the issue template. I request to edit the issue template first so that it can be easy for us to review, and understand what's the exact functionality of the code is

[2021-07-03 17:21] YashKandalkar commented on #1003
@HarshCasper any chance this can be assigned to me?

[2021-07-04 16:06] HarshCasper opened #1170 "Golang: Scrap Hackernews Comments"
# Description

Create a Golang Script to scrap Hackernews comments from a thread. The script should return JSON / YAML data containing all the comments on the thread.

Use this: [Colly](http://go-colly.org/)

## Language

- [X] Go
- [ ] Javascript
- [ ] Python
- [ ] Other (Please specify)

[2021-07-04 16:10] HarshCasper opened #1171 "Python: Fetch all the Pull Requests created by a User on a GitHub Organization and store it in a Markdown Table"
# Description

Create a Script to fetch all the Pull Requests created by a User on a GitHub Organization and store it in a Markdown Table.

The script should take the username and the organization name as an argument and result in a markdown file with a table with the following content:

- Title of PR
- Link of PR
- Status (Merged/Closed)

## Language

- [X] Python

[2021-07-04 16:36] HarshCasper commented on #1025
Prefer a JSON file.

[2021-07-04 17:56] payaldutta commented on #1171
@HarshCasper Can I work on this?

[2021-07-04 19:06] Nithin2528 opened #1172 "Face_detection using opencv python"
detects faces using opencv and haarcascade file.

[2021-07-04 19:08] Nithin2528 commented on #1172
/assign

[2021-07-05 06:25] kskrao219 commented on #1172
/assign

[2021-07-05 06:31] kskrao219 commented on #1069
/assign

[2021-07-05 06:35] kskrao219 commented on #1069
i can work on this, please assign me this

[2021-07-05 06:37] kskrao219 commented on #1069
/assign

[2021-07-05 12:30] Sukriti-sood commented on #1021
@HarshCasper Can I Create a PR for this issue?

[2021-07-05 14:17] HarshCasper commented on #1021
Be careful with your credentials now :wink:

[2021-07-05 14:40] kadatatlukishore commented on #1171
/assign

[2021-07-05 14:51] kadatatlukishore commented on #1171
@HarshCasper , I am a newbie to contribution. Can you please tell me about the script that you want, are you going to consider any user inputs or as such.  I've done working on a script to fetch for "https://github.com/HarshCasper/Rotten-Scripts/pulls?q=is%3Apr+sort%3Acreated-desc". Should I fork and add the file and pull request if it's fine?

[2021-07-05 14:57] kadatatlukishore commented on #1171
![alt](https://raw.githubusercontent.com/kadatatlukishore/Contribution/main/git.jpg)

[2021-07-05 18:27] HarshCasper commented on #1171
Hi @kadatatlukishore

Are you working on this?

[2021-07-06 10:44] YashKandalkar commented on #1053
_Modern problems require modern solutions xD_

[2021-07-06 12:25] CYB3R-G0D commented on #1166
Done ✌

[2021-07-06 17:23] Sukriti-sood commented on #1170
@HarshCasper I am little confused  about thread in HackerNews , Can u explain?

[2021-07-06 17:28] Sukriti-sood commented on #1171
@HarshCasper I am also in the queue if this issue is not assigned.

[2021-07-06 17:35] kadatatlukishore commented on #1171
Yes @HarshCasper I'm working on this. But can you please tell me if we are passing **username and the organization name as an argument** , Can you please provide me an example ? I am a newbie to contribution

[2021-07-06 17:42] HarshCasper commented on #1171
Use Argument Parsers for the purpose: https://docs.python.org/3/library/argparse.html

I would like to see it as a CLI which can be fired like this:

[code]

Use `harshcasper` as my username and `moja-global` as the organization I have worked with.

[2021-07-06 17:45] kadatatlukishore commented on #1171
Thanks @HarshCasper
Will complete the work.

[2021-07-06 18:31] HarshCasper commented on #1170
We would need to scrap individual threads on Hacker News (HN) website for news at https://news.ycombinator.com

The threads look something like this:

https://news.ycombinator.com/item?id=27750040

https://news.ycombinator.com/item?id=27744255

[2021-07-07 00:57] Sukriti-sood commented on #1170
/assign

[2021-07-07 04:36] #1021 closed

[2021-07-07 18:21] kadatatlukishore commented on #1171
Hey @HarshCasper ,
Is it ok to mention filename in the argument ?
**python fetch_contributions.py --username HarshCasper --organization moja-global --file markdown_file**
because the program returns string saying "Markdown File is successfully stored"
If it's I'll PR

[2021-07-08 00:41] vybhav72954 commented on #1171
If the only reason to have that argument is the statement `Markdown File is successfully stored`, then I doubt there is any need for that. If the argument Is essential for functionality, use the default argument maybe?

[2021-07-08 00:44] vybhav72954 commented on #766
@HarshCasper I think it's best to close this, or maybe convert it into a discussion?

[2021-07-08 06:27] kadatatlukishore commented on #1171
Thanks @vybhav72954

[2021-07-08 13:41] harshakhmk commented on #1005
/assign

[2021-07-10 14:25] DevanshiMishra028 commented on #1151
/assign

[2021-07-11 11:21] Cosine42 opened #1180 "Fix Grammatical mistakes and typos found in STYLE_GUIDELINES.md"

[2021-07-11 11:25] Cosine42 commented on #1180
/assign

[2021-07-11 12:40] #1180 closed

[2021-07-12 04:27] #1020 closed

[2021-07-12 04:34] #766 closed

[2021-07-12 04:36] HarshCasper commented on #1003
Sure @YashKandalkar

[2021-07-12 04:38] HarshCasper commented on #1053
@Sukriti-sood Are you planning to work on this further?

(I have a similar script as part of my downstream fork :laughing: )

[2021-07-12 04:38] HarshCasper commented on #1069
Hi @kskrao219

A PR for this is open. Kindly wait for it to be closed/merged.

[2021-07-12 04:39] #1070 closed

[2021-07-12 04:39] #1086 closed

[2021-07-12 04:40] HarshCasper commented on #1172
Not a very intuitive addition. We already have a script for this usecase.

[2021-07-12 04:40] #1172 closed

[2021-07-12 04:41] #1166 closed

[2021-07-12 04:42] #1142 closed

[2021-07-12 04:43] #1137 closed

[2021-07-12 04:43] #1128 closed

[2021-07-12 04:43] #1123 closed

[2021-07-12 04:43] #1107 closed

[2021-07-12 05:42] Sukriti-sood opened #1183 "Greeting Bot correction"
Modify greeting bot to have features to greet on:-
- Opening FIrst PR
- Opening First Issue
- Merging of PR

[2021-07-12 05:46] Sukriti-sood commented on #1053
Currently No

[2021-07-12 10:26] #1183 closed

[2021-07-12 13:49] #1069 closed

[2021-07-13 04:13] #1150 closed

[2021-07-13 04:15] #1171 closed

[2021-07-13 11:03] Sukriti-sood commented on #818
/assign

[2021-07-16 09:44] Cosine42 opened #1187 "Image Resizer"
# Description

I want to add an Image Resizer script using Python.

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | ----------------------

[2021-07-16 09:46] Cosine42 commented on #1187
/assign

[2021-07-16 14:43] sumitgsh commented on #1023
/assign

[2021-07-20 17:47] Umesh-01 commented on #1165
/assign

[2021-07-21 23:34] #968 closed

[2021-07-22 05:59] #1147 closed

[2021-07-22 14:42] kskrao219 commented on #1148
/assign

[2021-07-23 10:00] kskrao219 opened #1191 "Motion detection script"
Hello, can I work on a program that detects motion in front of the camera.

[2021-07-23 10:02] kskrao219 commented on #1191
/assign

[2021-07-29 16:24] Umesh-01 opened #1192 "password generator for strong and unique passwords"
# Description

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
| Password Generator | I want to make a password generato

[2021-07-29 16:30] Umesh-01 opened #1193 "Weather application using python"
# Description

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
| Weather application | I will be using the OpenWeatherMa

[2021-07-29 16:38] Umesh-01 opened #1194 "Want to build snapchat filters"
# Description

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
| snapchat filters | I want to make a project for snapcha

[2021-07-29 16:40] Umesh-01 opened #1195 "tic-tac-toe game"
# Description

Describe the new feature you are proposing.

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
| tic-tac-to

[2021-07-29 16:43] Umesh-01 opened #1196 "voice recorder"
# Description

| name            | problem/motivation                                                  | possible solution  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -------------------------------------------------------------- |
| Voice Recorder | This feature will allow us to record v

[2021-07-29 17:08] Umesh-01 commented on #1196
/assign

[2021-07-29 17:08] Umesh-01 commented on #1195
/assign

[2021-07-29 17:08] Umesh-01 commented on #1194
/assign

[2021-07-29 17:08] Umesh-01 commented on #1193
/assign

[2021-07-29 17:09] Umesh-01 commented on #1192
/assign

[2021-07-30 16:18] #1003 closed

[2021-07-31 09:07] realhunter7869 commented on #1005
Hey, I am not a GSSOC'21 Participant but I would love to contribute on this feature in python. Can you assign me this task?

[2021-07-31 16:49] realhunter7869 commented on #1005
@HarshCasper

[2021-08-01 02:33] Sukriti-sood commented on #1005
@realhunter7869 Just comment  /assign you will get assigned to this issue .

[2021-08-01 09:21] realhunter7869 commented on #1005
Yes @Sukriti-sood I knew that but was wanting a confirmation from @HarshCasper since I am not a GSSOC Participant

[2021-08-01 09:26] Sukriti-sood commented on #1005
Anyone can Contribute, no need to be a part of any program and moreover GSSOC21 is already over.

[2021-08-01 12:32] #1155 closed

[2021-08-01 14:25] realhunter7869 commented on #1005
Alright! Thanks @Sukriti-sood

[2021-08-01 14:25] realhunter7869 commented on #1005
/assign

[2021-08-01 19:22] ashishcas commented on #424
@HarshCasper it's my first time trying to contribute to open source, but I have good experience in nodejs can u assign this issue to me

[2021-08-02 14:30] rutujaingole opened #1201 "Issue forms for the Issue Templates."
Creating Issue Templates using the Issue forms and replacing the markdown files with YAML files.

[2021-08-02 14:30] rutujaingole commented on #1201
/assign

[2021-08-02 14:31] rutujaingole commented on #1201
/assign

[2021-08-03 14:33] HeyAnirudh opened #1203 "Maze algorithm"
# Description

To make a maze solving algorithm+game

One of the fun games is a maze. why don't we make an algorithm with a GUI to solve it?

possible solution with
-->python
-->PIL

[2021-08-05 14:53] #1201 closed

[2021-08-06 18:26] #998 closed

[2021-08-06 18:29] #1025 closed

[2021-08-07 01:58] Sukriti-sood opened #1204 "[script request]:Facebook Video Downloader in Rust"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Download video from facebook post.

### Language

Other(Please Specify)

### Is the feature request related to a problem? Please Specify.

Language :- Rust

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follo

[2021-08-07 01:58] Sukriti-sood commented on #1204
/assign

[2021-08-07 02:00] Sukriti-sood opened #1205 "[script request]:Linkedin Video Downloader in Rust"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

This is script help in Downloading Videos from Linkedin Posts (Language:- RUst)

### Language

Other(Please Specify)

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

#

[2021-08-07 02:03] Sukriti-sood commented on #1205
/assign

[2021-08-07 02:08] Sukriti-sood opened #1206 "[script request]:Medium Article Downloader in RUst"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Script will download medium articles.

### Language

Other(Please Specify)

### Is the feature request related to a problem? Please Specify.

Language:- Rust

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to fol

[2021-08-07 02:09] Sukriti-sood commented on #1204
/assign

[2021-08-07 02:10] Sukriti-sood commented on #1206
/assign

[2021-08-09 05:11] #818 closed

[2021-08-09 05:53] Umesh-01 commented on #1192
closing the issue as it already exists

[2021-08-09 05:53] #1192 closed

[2021-08-09 05:54] Umesh-01 commented on #1196
closing the issue because it's not useful

[2021-08-09 05:54] #1196 closed

[2021-08-09 06:12] Umesh-01 opened #1210 "Project for Changing Image background"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

I want to make a project that can help us to change the background of any image using python. I will be adding working instructions for the project in the readme file with some screenshots.

### Problem/Motivation.

For doing this work we don't need to learn Adobe Photoshop or some kind

[2021-08-09 07:46] Umesh-01 commented on #1210
/assign

[2021-08-09 16:43] Sukriti-sood commented on #881
/assign

[2021-08-17 17:36] Amankesarwani2202 commented on #1187
Hey I am interested in this issue can you please assign it to me.

Thanks in advance!

[2021-08-17 18:04] HimanchalChandra commented on #1203
@HarshCasper  can you please assign this to me?

[2021-08-17 19:36] Amankesarwani2202 commented on #1187
/assign

[2021-08-21 14:07] HeyAnirudh opened #1221 "Certificate app"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

Certificate app with a decent GUI.

### Problem/Motivation.

making  certificates can be hectic job to speed things up automate the task by uploading a template generate certificate

### Possible Solution/Pitch.

python/react.js

### Anything else?

_No response_

### Code of Conduct

-

[2021-08-21 14:08] HeyAnirudh commented on #1221
/assign

[2021-08-21 14:18] whyadiwhy commented on #1195
hey i want to work

[2021-08-21 14:22] whyadiwhy commented on #1195
/assign

[2021-08-24 05:13] ksonawat007 commented on #733
Is this issue still open? I am a newbie and want to work on this.

[2021-08-28 14:38] Aditya-Komaravolu commented on #758
@HarshCasper I have done little work on this. Check it out once [here](https://github.com/Aditya-Komaravolu/PR-Analyzer)!

[2021-08-28 18:09] aditisneh opened #1227 "[script request]: ML Based news Scapper"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Web scrapping the news article using Machine Learning .The scripts  resolves the idea of  gathering data from several newspapers and shows a summary of the different topics that are being discussed in the news articles.

### Language

Python

### Is the feature request related to a proble

[2021-08-28 18:10] aditisneh commented on #1227
/assign

[2021-08-29 06:41] #1227 closed

[2021-08-30 04:36] #1005 closed

[2021-08-30 04:37] #1170 closed

[2021-08-30 04:42] #1165 closed

[2021-08-31 08:16] Ash515 opened #1232 "COVID Tracker GUI in Python"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Python Script

### Language

Python

### Is the feature request related to a problem? Please Specify.

Covid tracking helps to track the Covid status in all across the world.

### Describe the solution you'd like.

Going to build a Covid Tracking GUI using Python

### Anything else?

_No

[2021-08-31 08:32] #1232 closed

[2021-09-02 19:04] #152 closed

[2021-09-03 11:43] HarshCasper opened #1234 "[Bug]: Error in `Fetch Contribution` script"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

Running the script [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Fetch_Contributions) using the command:

[code]

gives me the following traceback:

[code]

### Expected Behavior

The expected behavior is:

- Script should be able to fetch the repositories.
- Script

[2021-09-03 11:43] HarshCasper commented on #1234
cc: @kadatatlukishore

[2021-09-29 19:14] Zircoz commented on #1234
@HarshCasper this issue is taken or it's open ?

[2021-09-30 04:58] HarshCasper commented on #1234
Assigned you the same.

[2021-09-30 04:58] #1221 closed

[2021-09-30 18:52] Ankit1598 commented on #1234
Hey @HarshCasper I have already resolved this issue.

[2021-10-02 11:43] advaita-saha opened #1240 "Sublime text 3 automatic installer"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

The Script allows single tap installation for Sublime Text 3 editor

### Language

Other(Please Specify) BASH

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code

[2021-10-02 11:44] advaita-saha commented on #1240
Can I contribute the installation script I have written?

[2021-10-02 11:47] advaita-saha commented on #1240
/assign

for hacktoberfest

[2021-10-02 14:19] advaita-saha commented on #1240
I have contributed the script. Please review the PR @ArchanGhosh

[2021-10-03 05:36] ashutoshkrris opened #1242 "[script request]: Encrypt and Decrypt PDF"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

I wish to add a script that allows a user to encrypt and decrypt PDF files using PyPDF2.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Cod

[2021-10-03 05:37] ashutoshkrris commented on #1242
/assign

[2021-10-03 07:27] shubhamjha25 opened #1244 "[script request]: Gesture Volume Control [Python]"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

I wish to add a **Hand Gesture Volume Control** script in Python using OpenCV and Mediapipe.
One can change/control the volume of the computer with hand gestures.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solut

[2021-10-03 07:30] shubhamjha25 commented on #1244
/assign

[2021-10-03 09:19] #318 closed

[2021-10-03 09:25] #11 closed

[2021-10-03 09:25] #333 closed

[2021-10-03 09:25] #373 closed

[2021-10-03 09:25] #434 closed

[2021-10-03 09:25] #448 closed

[2021-10-03 09:25] #486 closed

[2021-10-03 09:25] #525 closed

[2021-10-03 09:25] #541 closed

[2021-10-03 09:25] #551 closed

[2021-10-03 09:25] #552 closed

[2021-10-03 09:26] HarshCasper commented on #424
Hi @ashishcas

Would you like to take it up now? If yes, please let me know about the same.

[2021-10-03 09:26] #559 closed

[2021-10-03 09:26] #560 closed

[2021-10-03 09:26] #586 closed

[2021-10-03 09:26] #634 closed

[2021-10-03 09:26] #636 closed

[2021-10-03 09:26] #641 closed

[2021-10-03 09:26] #656 closed

[2021-10-03 09:26] #662 closed

[2021-10-03 09:26] #711 closed

[2021-10-03 09:26] #733 closed

[2021-10-03 09:26] #745 closed

[2021-10-03 09:26] #754 closed

[2021-10-03 09:28] #786 closed

[2021-10-03 09:28] #800 closed

[2021-10-03 09:28] #808 closed

[2021-10-03 09:28] #811 closed

[2021-10-03 09:28] #820 closed

[2021-10-03 09:28] #822 closed

[2021-10-03 09:28] #872 closed

[2021-10-03 09:28] #915 closed

[2021-10-03 09:28] #933 closed

[2021-10-03 09:28] #934 closed

[2021-10-03 09:37] #881 closed

[2021-10-03 09:38] #1018 closed

[2021-10-03 09:38] #1053 closed

[2021-10-03 09:38] #1093 closed

[2021-10-03 09:38] #1133 closed

[2021-10-03 09:41] #1148 closed

[2021-10-03 09:41] #1149 closed

[2021-10-03 09:41] #1151 closed

[2021-10-03 09:41] #1164 closed

[2021-10-03 09:41] #1187 closed

[2021-10-03 09:41] #1191 closed

[2021-10-03 09:41] #1193 closed

[2021-10-03 09:41] #1195 closed

[2021-10-03 09:41] #1203 closed

[2021-10-03 09:43] #1023 closed

[2021-10-03 09:43] #1100 closed

[2021-10-03 09:43] #1101 closed

[2021-10-03 09:43] #1240 closed

[2021-10-03 09:43] #1242 closed

[2021-10-03 09:44] #1204 closed

[2021-10-03 09:44] #1205 closed

[2021-10-03 09:44] #1206 closed

[2021-10-03 09:44] #1210 closed

[2021-10-03 09:45] HarshCasper commented on #1244
Hi @shubhamjha25

I don't find any novelty in the same. What is the real-world use case of it?

[2021-10-03 09:45] #1234 closed

[2021-10-03 09:45] #263 closed

[2021-10-03 09:46] #424 closed

[2021-10-03 09:58] shubhamjha25 commented on #1244
Umm, Nothing as such.
A person watching a movie or attending lecture with his laptop [not using headphones] can lower/higher volume using hand-gesture (assuming the laptop is at a distance where you would like to press buttons repeatedly].
This can be one. 😂

[2021-10-03 10:05] HarshCasper commented on #1244
Can you possibly mould this idea to fit a real-world use case? Concepts are good but I would prefer some real-world stuff :sweat_smile:

[2021-10-03 10:07] shubhamjha25 commented on #1244
Okay @HarshCasper, I will try.
Thanks! 😃

[2021-10-03 18:57] DCYPHERR opened #1245 "[script request]: Py script for correcting grammatical mistakes in a text file"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

This script takes an English text paragraph input. Using the language API, it identifies the mistakes in the paragraph. The script then uses the mistakes dictionary and returns the updated paragraph.

### Language

Python

### Is the feature request related to a problem? Please Specify.

[2021-10-03 18:58] DCYPHERR commented on #1245
/assign

[2021-10-03 19:23] #1245 closed

[2021-10-04 04:40] pranav6670 opened #1247 "[script request]: Keypress detection"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

A keypress detection is a basic requirement in taking inputs from a user for a plethora of applications. These include form-filling, playing games, etc.

### Language

JavaScript

### Is the feature request related to a problem? Please Specify.

No

### Describe the solution you'd like.

[2021-10-04 04:43] pranav6670 commented on #1247
/assign

[2021-10-05 04:09] avyayjain commented on #1244
pls can you assign me this issue

[2021-10-05 10:39] aayu-s opened #1253 "Bug risk : Use sys.exit() instead of exit() to avoid error"
### Is there an existing issue for this?

- [ ] I have searched the existing issues.

### Current Behavior

The exit or quit functions don't exist at the top-level if python is started with the -S flag, and will raise an error. Use sys.exit() instead.
The exit and quit functions actually site.Quitter objects and are loaded, at interpreter start up, from site.py. However, if the interpreter is star

[2021-10-05 10:47] aayu-s commented on #1253
/assign

[2021-10-07 11:56] Tanya-18 opened #1257 "[script request]: File Encryption and Decryption"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

- The script uses the [pycryptodome](https://pycryptodome.readthedocs.io/en/latest/) library to encrypt or decrypt a file (image, text, etc).
- The user specifies the file on which the encryption or decryption needs to be performed.
- Both encryption and decryption require a password that

[2021-10-07 11:56] piyushmohan01 opened #1258 "[script request]: Automated Pixel-Sorting"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

- Script performs automated pixelsorting using the [pixelsort](https://github.com/satyarth/pixelsort) library.
- Everything, from the choice and count of parameters to the values they hold, is randomized and automated.
- The user passes the image-file on which the sorting is to be perform

[2021-10-07 21:58] coalus opened #1261 "[script request]:Add downloading tiktok videos without watermarks"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Download videos from tiktok by url

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's C

[2021-10-07 22:03] coalus opened #1262 "[script request]:Add script to blur human faces on the photo"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Script, that can blur all human faces on the photo
The user passes the path to the image-file with people.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No

[2021-10-09 13:43] S8s8Max opened #1264 "[script request]: Background_Filler"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Background_Filler will fill background of your terminal with poems or other texts.
The way of filling is like human-typing, so this is gonna be using while you are working to concentrate on your work.

### Language

Python

### Is the feature request related to a problem? Please Specify.

[2021-10-23 00:58] matt-wisdom opened #1270 "[script request]: Python script to find song from lyrics snippet."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

This script accepts as input, the snippet of lyrics from an unknown song and finds
the song by scrapping lyrics.com, using request and beautiful soup python library.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the so

[2021-10-25 23:13] sha016 opened #1274 "[script request]: Script that takes a directory of photos and creates a small .gif from it"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

A script that takes a directory of photos as an input, resizes them to be smaller, and combines them into a .gif file.

### Problem/Motivation.

Sometimes you have a bunch of photos taken at intervals and would like a time lapsed view of them. You could upload all your photos / videos t

[2021-10-29 08:32] VenkatsQuest opened #1278 "`Object.prototype` builtins should not be used directly[Bug]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

 73    dbData = (dbData === "" || dbData.length == 0) ? "{}" : dbData;
 74    dbData = JSON.parse(dbData);
 75
 76    if (dbData.hasOwnProperty(user.name)) {
 77        // display basic info
 78        displayUser(user);
 79

### Expected Behavior

let hasBarProperty = Object.prototype.hasOw

[2021-10-29 10:48] VenkatsQuest opened #1279 "[Bug]: No certificate validation detected for HTTP request"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

No certificate validation detected for HTTP request

### Expected Behavior

requests.get('https://gmail.com', **verify=True**) # Verify flag setting to true makes the call Secure. Certificate validation enabled.

### To Reproduce

verify flag false will produce this issue

### Anything else?

[2021-10-31 05:35] 0xsapphir3 opened #1283 "[script request]: Add a script to get a user's data on GitHub"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Add a new script which will display user's data in form of a table.

### Language

JavaScript

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

- [

[2021-10-31 05:37] AsianCat54x commented on #1283
/assign

[2021-11-03 16:06] #1258 closed

[2021-11-04 01:29] cRyp70s commented on #1270
/assign

[2021-11-10 04:06] #1279 closed

[2021-11-10 04:08] #1278 closed

[2021-11-11 04:51] JoeyDeRosa commented on #1257
/assign

[2021-12-24 17:47] #1253 closed

[2022-01-09 08:30] vybhav72954 commented on #1264
@HarshCasper What do you think about this idea?

[2022-02-08 10:48] navjot-rsa opened #1291 "[script request]: NEW SCRIPT I WANT TO ADD"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

I have built the bash script which helps to check the status code

Let's say you have 1500 URLs present in file its hard to go see the response

My script automate the process and see you the status-codethe

### Language

Other(Please Specify)

### Is the feature request related to a prob

[2022-02-08 12:42] navjot-rsa commented on #1291
okay

[2022-02-08 12:42] navjot-rsa commented on #1291
/asign

[2022-02-08 12:44] navjot-rsa commented on #1291
[code]

[2022-02-08 12:49] navjot-rsa commented on #1291
/assign

[2022-02-28 04:08] Krishna841 commented on #1257
Hello! Anyone working on this issue? If not I would like to have a go at it.

[2022-02-28 08:39] aadityasinha-dotcom commented on #1291
Is this issue available?

[2022-02-28 08:39] aadityasinha-dotcom commented on #1291
/assign

[2022-02-28 08:42] aadityasinha-dotcom commented on #1291
/assign

[2022-02-28 10:31] kaustav202 opened #1292 "[script request]: CLI News Scraper Tool"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

A python scripts that automates fetching latest news and allows viewing any article by summarizing it.

![gns1](https://user-images.githubusercontent.com/89788120/155967756-0679cd03-5679-4754-b99d-e455ffdc2201.png)
![gns2](https://user-images.githubusercontent.com/89788120/155967806-3ae61

[2022-02-28 10:47] kaustav202 commented on #1292
/assign

[2022-02-28 18:54] Anshika672 commented on #1261
would you assign me for this?

[2022-02-28 18:57] Anshika672 commented on #1261
/assign

[2022-02-28 19:03] neetra commented on #688
can i work on this issue

[2022-03-01 07:27] AshutoshDash1999 opened #1293 "[script request]: Add a box playground"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

- A user can add border-radius, change colour, change the height, width and others to a box and copy css
![image](https://user-images.githubusercontent.com/46455250/156123924-30783f58-62dd-4f73-a090-0ab2b9902962.png)

### Language

JavaScript

### Is the feature request related to a probl

[2022-03-01 09:28] AlapanDas opened #1294 "[feature request]:Image Request"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

This feature will fetch Images with user-defined tags from the public image library (hence usable for creative  purposes ) , it will also provide the user with image quality control such as HD,FHD,2K,4K..etc
Assign me this work for @GSSOC 22'

### Problem/Motivation.

I faced a lot of p

[2022-03-01 10:32] TrickSumo opened #1295 "[script request]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Hi

I am GSSOC'22 participant and want to contribute python script to generate random and strong password (length of password is entered by user).

Can you please assign me the task?

Thanks

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No respo

[2022-03-01 12:03] harshitbansall opened #1296 "Instagram BOT Script"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

# This Instagram Script will Include the following functions:
* Download Profile Image from Username
* Download All Posts from Username
* Download Images from Hashtags

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the

[2022-03-01 12:06] harshitbansall commented on #1296
/assign

[2022-03-01 13:59] AlapanDas commented on #1294
/assign

[2022-03-01 15:53] Roshaen opened #1298 "[script request]:CLI Weather details scraper Tool"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

A python script that fetches weather details and display in tabular manner

### Language

Python

### Is the feature request related to a problem? Please Specify.

No

### Describe the solution you'd like.

Data scraped from the weather API and parsed into JSON then displayed in tabular f

[2022-03-01 15:58] sayan011 opened #1299 "Discord Bot"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

It is a cool and funny **discord bot**.which will help lonely people.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X]

[2022-03-01 15:59] sayan011 commented on #1299
/assign

[2022-03-01 18:53] gautamgc17 opened #1301 "[script request]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Make a python script that does the following things:

- Allow user to create an S3 bucket on AWS and upload a video/audio file to the bucket
- Convert Speech to Text using AWS Transcribe API
- Sentiment analysis on the retrieved text using IBM Watson tone analysis API
- Delete the objects

[2022-03-01 18:55] gautamgc17 commented on #1301
/assign

[2022-03-02 03:25] AshutoshDash1999 commented on #1293
/assign

[2022-03-02 04:39] HarshCasper commented on #1299
Hi @sayan011 👋

I don't think this falls in the category of a "script". It's more of a full-fledged application. Let me know what you think.

[2022-03-02 04:43] HarshCasper commented on #1293
Hi @AshutoshDash1999

This is not a script but a UI application. I don't think we need full-fledged apps to be a part of the project. Closing this issue now.

[2022-03-02 04:43] #1293 closed

[2022-03-02 04:46] HarshCasper commented on #1291
Hi @aadityasinha-dotcom — Nope, @casmpy is working on it.

[2022-03-02 04:46] #1283 closed

[2022-03-02 04:53] #1270 closed, assigned to nobody

[2022-03-02 04:54] #1264 closed

[2022-03-02 04:56] #1262 closed, assigned to nobody

[2022-03-02 04:59] #1247 closed

[2022-03-02 05:47] AlapanDas commented on #1294
Yess Sure!

[2022-03-02 05:48] AlapanDas commented on #1294
please assign me , and contact me on discord AlapanDas|Contributer#6679

[2022-03-02 08:50] shivanithorve01 opened #1304 "[script request]: Adding Multiplayer Dice Rolling Simulator"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

MULTI-PLAYER DICE ROLLING SIMULATOR : \
 It is typical dice rolling simulator with additional multiplayer feature. So, One or more than one player can use the same simulator.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Descri

[2022-03-02 11:45] Rupangkan opened #1305 "[Bug]: User input for authorization for sender, receiver and message body and making it a cli for send emails in javascript"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

Updating the send emails in the javascript section to send emails from the terminal/command promt as a cli and adding user input features.

### Problem/Motivation.

### The problems are :
- The Send Emails in the JavaScript Section does not consider user input for sender email authoriza

[2022-03-02 12:00] Rupangkan commented on #1305
/assign

[2022-03-02 17:16] casmpy commented on #1291
I have build it@HarshCasper

[2022-03-02 17:40] casmpy commented on #1291
/assign

[2022-03-02 17:43] casmpy commented on #1291
remote: Permission to HarshCasper/Rotten-Scripts.git denied to casmpy.
@HarshCasper nOt able to do push my branch

[2022-03-02 17:59] casmpy commented on #1291
Its done @HarshCasper

[2022-03-02 20:16] kaustav202 commented on #1304
/assign

[2022-03-02 20:26] kaustav202 opened #1308 "[script request]: Python Directory Tree Generator"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

A python implementation of the linux tree command that traverses the directory recursively and generates a output representing the directory structure.

- parses cli args
- uses pathlib to traverse the directory
- outputs the directory hierarchy
- shows additional version and help info

#

[2022-03-02 20:30] kaustav202 commented on #1308
can you assign me this @HarshCasper

[2022-03-03 04:18] shivanithorve01 commented on #1304
Hey @kaustav202 why ??? This issue is created by me and I want to contribute ..I was just waiting for confirmation.

[2022-03-03 04:21] #1304 closed

[2022-03-03 04:22] shivanithorve01 opened #1309 "[script request]: Multiplayer Dice Rolling Simulator"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

MULTI-PLAYER DICE ROLLING SIMULATOR :
It is typical dice rolling simulator with additional multiplayer feature. So, One or more than one player can use the same simulator.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe

[2022-03-03 04:22] shivanithorve01 commented on #1309
/assign

[2022-03-03 04:23] shivanithorve01 commented on #1309
/assign

[2022-03-03 05:54] ranimanya opened #1310 "Pinterest extension"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Here I intend to create a Pinterest extension in Chrome browser. It helps us collect, organize, save and revisit our inspiring ideas whenever we wish to.

### Language

JavaScript

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution y

[2022-03-03 15:15] KareemElozeiri commented on #1308
I am a GSSOC22 participant and I would like to work on this if it is not already assigned

[2022-03-03 16:31] Harshil-Jani opened #1311 "[script request]: Email Validator in Rust"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Now a days, Rust Programming language is coming into lime light and many softwares are adopting Rust. Now, Let us Suppose you want to create some Autorization Backend in Rust and for that, You need some sort of Email Validator to authenticate the site from phishing mail providers or spoof

[2022-03-03 17:10] Harshil-Jani commented on #1311
/assign

[2022-03-04 18:13] ranimanya commented on #1310
/assign

[2022-03-04 18:14] ranimanya commented on #1310
/assign

[2022-03-04 19:27] Phoenix-031 opened #1313 "[script request]:youtube video to mp3 converter"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Often we want to download youtube songs so the script will take in the video link and convert it to mp3 and download it and it will have a simple UI

### Language

Python

### Is the feature request related to a problem? Please Specify.

When we come across a youtube song video to downloa

[2022-03-04 19:29] Phoenix-031 commented on #1313
/assign

[2022-03-05 16:10] rajdip-b opened #1314 "[feature request]: Network scanner using python"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

A python script that would scan all the local network and display all active hosts along with their device types.

### Problem/Motivation.

Often in our day to day networking, we encounter issues with our routers and wonder why is the speed below the expected. Many a times it is also a

[2022-03-05 16:13] rajdip-b commented on #1314
/assign

[2022-03-05 18:19] #1311 closed

[2022-03-05 18:21] #1296 closed

[2022-03-05 19:34] abhilipsasahoo03 opened #1317 "Retrieve Covid-19 statistics country wise using Dcoder CLI and covid19-stats npm module"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

The script provides live Covid-19 statistics of a country by using "covid19-stats", an NPM module to retrieve worldometer's live Covid-19 stats. The module uses web scraping to obtain real time access to world wide statistical information. Using this script, you can provide the country na

[2022-03-05 19:35] abhilipsasahoo03 commented on #1317
/assign

[2022-03-05 19:36] abhilipsasahoo03 commented on #1317
/assign

[2022-03-06 03:56] #1314 closed

[2022-03-06 05:56] mo1998 commented on #1308
I am GSSoC'22 participant and i would like to work on this issue.
I have been worked on similar project which implementing linux traversing directories using c++.

[2022-03-06 05:58] mo1998 commented on #1274
I am a GSSOC'22 contributor and I would like to work on this issue if not assigned yet.

[2022-03-06 11:54] Rishav-12 opened #1318 "[script request]: checking updates to a webpage"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

A script that uses Python and selenium to capture a screenshot of the webpage that the user wants to track

The screenshot is saved with the proper date and time to identify when it was taken

### Language

Python

### Is the feature request related to a problem? Please Specify.

Often we

[2022-03-06 11:57] Rishav-12 commented on #1318
/assign

[2022-03-06 12:41] Jagrutiti opened #1319 "Scrap trending repositories and developers on GitHub and dump them on CSV/JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

The script can be run on a stand-alone mode where the users and the projects are scrapped and can also be tuned to run in on a Cron Job using Python.

### Problem/Motivation.

This was suggested by @HarshCasper himself for GSSOC'22

### Possible Solution/Pitch.

This will help in findin

[2022-03-06 12:43] Jagrutiti commented on #1319
/assign

[2022-03-07 09:05] bartick opened #1322 "[script request]: Download current date's news paper."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

This script will download the last news paper once run. So every one can wake up and read the news paper without warring of searching for them in the web for latest news.

### Language

JavaScript

### Is the feature request related to a problem? Please Specify.

_No response_

### Descri

[2022-03-07 09:06] bartick commented on #1322
/assign

[2022-03-07 09:08] bartick commented on #1322
So There isn't a existing issue or script that downloads the news paper. Please let me know if I missed something. Thanks you.
I want to work on this under GSSoC'22

[2022-03-08 05:55] bartick commented on #688
@HarshCasper I found this [Discord Bot](https://github.com/HarshCasper/Rotten-Scripts/blob/master/Python/Discord_Bot/main.py) code that is already dead as there is a huge amount of discord api update.

Discord bot is more like a full fledged application rather than a script so, should I work on this??

[2022-03-08 06:49] HarshCasper commented on #688
Hi @bartick

You can remove this and make a PR.

[2022-03-08 06:50] HarshCasper commented on #688
Hi @neetra

Please find some dead code and raise a PR for it.

[2022-03-08 17:25] Jagrutiti opened #1327 "Convert Node script to npm packages"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

Propose to convert https://github.com/HarshCasper/Rotten-Scripts/tree/master/JavaScript/Twitter_Unfollowers into an npm package.

### Problem/Motivation.

This feature was suggested @HarshCasper.

### Possible Solution/Pitch.

This will user to install the script.

### Anything else?

D

[2022-03-08 17:25] Jagrutiti commented on #1327
/assign

[2022-03-08 17:26] Jagrutiti commented on #1327
/assign

[2022-03-09 10:09] Ad-hue commented on #1308
I am a gssoc'22 participant.  If the issue hasn't already been assigned kindly consider me for working on this issue.

[2022-03-09 10:21] Jagrutiti opened #1328 "Twitter Unfollowers API doesn't work as expected."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

When the API prompts for Twitter username it throws the following error:

`NOTE : User didn't exist! Now it has been added to DB.`
`Check after some time!!!`

Attaching a screenshot of the error for reference:

![Screenshot from 2022-03-09 15-38-09](https://user-images.githubusercontent.com/

[2022-03-09 10:22] Jagrutiti commented on #1328
/assign

[2022-03-09 15:49] Muhammad-Galhoum opened #1330 "[script request]:Generate silly sentence"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

### Python Script

I will create  a Script to generate a **random silly sentence** using python

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

If you wanna generate a random **silly sentence wh

[2022-03-09 15:57] Muhammad-Galhoum commented on #1330
I am a GSSOC22 participant
can you assign me this @HarshCasper

[2022-03-10 02:28] bh-divyansh commented on #1308
A GSSOC'22 Participant here. Have experience with implementing this in a personal project. If the issue is still open, please consider assigning this to me. I would be glad to be able to work on this project.

[2022-03-10 10:07] Muhammad-Galhoum commented on #1330
Can you tell me, please
Are you agree on this issue to start work on it ? @HarshCasper

[2022-03-10 12:59] XZANATOL opened #1331 "Function Plotter"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

A GUI based program that plots an entered mathmatical function on a Matplotlib figure, it will be built using Pyside2, Numpy, and Matplotlib.

### Language

Python

### Is the feature request related to a problem? Please Specify.

No, That's a new script.

### Describe the solution you'd

[2022-03-11 05:15] MaNaN-3 commented on #1330
/assign

[2022-03-11 05:43] #1328 closed

[2022-03-11 06:03] MaNaN-3 commented on #1330
I have solve this issue with the help of rapid API in python. Will that be fine @HarshCasper ?

[2022-03-11 14:18] IshikaMeghaSaha opened #1333 "[script request]: Want to add a Go script to check IP address of given domain"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Provides IP address of given domain

### Language

Go

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code

[2022-03-11 15:15] IshikaMeghaSaha commented on #1333
/assign

[2022-03-12 11:23] Rushijaviya opened #1337 "[script request]: Want to add snake game in Python"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Python snake Game using Turtle library. The game will open in a new window.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

[2022-03-12 11:27] Rushijaviya commented on #1337
/assign

[2022-03-12 11:41] HarshCasper commented on #1337
Why would a snake game be a part of a script repository? I'm sorry but it makes no sense to me. Please read the contributing guidelines before picking up an issue.

[2022-03-12 11:41] #1337 closed

[2022-03-14 07:29] TanCodes opened #1338 "[script request]: To add a new project related to python : NOTIFIER : App for Desktop"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Notifier app is a Desktop app from which user can set the notification as per their time with title and message.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

[2022-03-14 07:30] TanCodes commented on #1338
/assign

[2022-03-15 12:13] #1330 closed

[2022-03-18 08:23] Anirban-1490 opened #1342 "[script request]:Compress File in ZIP"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Compress file in zip format

### Language

JavaScript

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Code

[2022-03-18 08:23] Anirban-1490 commented on #1342
/assign

[2022-03-18 08:24] Anirban-1490 commented on #1342
/assign

[2022-03-18 17:30] Rakesh9100 opened #1346 "[Bug]: Image not displaying properly !!"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

## Some images are not displaying and showing as error on opening of the image in the file Readme.md in the path " [Rotten-Scripts](https://github.com/HarshCasper/Rotten-Scripts)/[Python](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python)/[Caesar_Cipher](https://github.com/Har

[2022-03-18 17:32] Rakesh9100 commented on #1346
/assign

[2022-03-19 22:54] muhammadgalhoum opened #1347 "DBMS(Database Management System) Using Shell Script Programming Language"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

### Bash Shell Script Database Management System (DBMS):

**_The Project aims to develop a DBMS, that will enable users to store and retrieve the data from Hard-disk._**

The Project Features:
The Application will be CLI Menu based app, that will provide to users these Menu items:
Main Me

[2022-03-20 07:36] Muhammad-Galhoum commented on #1347
/assign

[2022-03-20 10:04] Phoenix-031 opened #1349 "[script request]: Take automatic attendance in google meet"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

The script will enter a google meet given the meeting code and take the attendance of the people and present in the meeting and store it in a excel file for later use.

### Language

Python

### Is the feature request related to a problem? Please Specify.

It's a tiresome process to get t

[2022-03-20 10:21] Phoenix-031 commented on #1349
/assign

[2022-03-26 08:47] Skyhero-admin opened #1352 "[script request]: Another-Yt-Cli to watch youtube videos through your terminal"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

# Yet Another yt-cli

- **What can it do as of now ?**

- **Things to improve:**

### Language

Python

### Is the feature request related to a problem? Please Specify.

It can be used to watch ad-free Youtube videos from the comfort of your terminal

### Describe the solution you'd like.

[2022-03-26 08:48] Skyhero-admin commented on #1352
/assign

[2022-03-26 08:49] Skyhero-admin commented on #1352
/assign

[2022-03-26 08:55] Sulagna-Dutta-Roy opened #1353 "[script request]: Spell Autocorrect Checker"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

It will be an autocorrect spelling system. Will Identify the wrong spellings.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

I am a gssoc'22 participant and w

[2022-03-26 08:56] Sulagna-Dutta-Roy commented on #1353
/assign

[2022-03-26 20:11] #1353 closed

[2022-03-28 14:05] dijodaiju7 opened #1362 "[script request]: E-mail verifier using Golang."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Using this script we can verify the authenticity of an e-mail address. This will help to keep the scammers and spammers away by checking whether the e-mail address exists or not.

### Language

Go

### Is the feature request related to a problem? Please Specify.

We often receive many ema

[2022-03-28 14:07] dijodaiju7 commented on #1362
/assign

[2022-03-30 15:29] Sulagna-Dutta-Roy opened #1363 "[script request]: Plagarism Checker"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

I will be creating a python script that will check plagarism between texts.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

I am a participant of Gssoc'22.

##

[2022-03-30 15:30] Sulagna-Dutta-Roy commented on #1363
/assign

[2022-04-01 14:54] itsCheithanya opened #1365 "npm package manager for all js scripts"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Add a package.json file that contains the script as a feature so that it can be published over npm globally and downloaded

### Language

JavaScript

### Is the feature request related to a problem? Please Specify.

#publishing of the scripts over npm
#so that it is publicly accessible

#

[2022-04-02 17:50] #1346 closed

[2022-04-03 07:27] komalswami opened #1366 "[script request]:Currency conversion script"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

This script will get an amount in one currency and convert it into another by using the latest currency conversion rates.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anyth

[2022-04-03 07:34] komalswami commented on #1366
/assign

[2022-04-04 14:22] ranimanya commented on #1310
#1340

[2022-04-05 07:38] pandyaved98 commented on #1333
/assign

[2022-04-05 14:46] Yashesvinee opened #1367 "[script request]: Python script to check the validity of a given IP address"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

The python script checks if a given IP address is valid and prints the corresponding hostname.
It can also be used to find the IP address of a given Hostname.

### Language

Python

### Is the feature request related to a problem? Please Specify.

None

### Describe the solution you'd lik

[2022-04-05 14:47] Yashesvinee commented on #1367
/assign

[2022-04-08 09:16] Anirban-1490 commented on #1342
@HarshCasper please merge my pr and close this issue

[2022-04-11 07:47] VaibhavUpreti opened #1372 "[script request]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Its a bash script which generates a random password of given length mentioned by the user.

### Language

Other(Please Specify)

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

Parti

[2022-04-11 07:47] VaibhavUpreti commented on #1372
/assign

[2022-04-11 07:54] VaibhavUpreti commented on #1372
pls add Gssoc-22 tag

[2022-04-14 06:50] k99sharma opened #1375 "Script to fetch API and return result in JSON"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

- script to get data from API

### Language

JavaScript

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

_No response_

### Code of Conduct

- [X] I agree to follow this project's Co

[2022-04-14 06:56] k99sharma commented on #1375
/assign

[2022-04-15 17:35] #1375 closed

[2022-04-18 17:33] inirah02 commented on #1367
i'd like to contribute to this issue!

[2022-04-20 20:31] Sulagna-Dutta-Roy commented on #1363
@HarshCasper please review it

[2022-04-21 15:30] TG922 opened #1378 "[script request]: Adding Multiplayer Dice Rolling Simulator"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

 I would like to add Multiplayer Dice Rolling Simulator in which one or more players can use the same simulator.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution you'd like.

_No response_

### Anything else?

[2022-04-21 15:53] #1378 closed

[2022-04-27 09:45] Yashesvinee commented on #1257
/assign

[2022-05-06 06:35] sonali-sk commented on #1274
Hi @HarshCasper, I'm Sonali a GSSoC'22 contributor, can you assign this issue to me so that I can start working on it?
Thank you

[2022-05-19 04:34] navyasharma0203 commented on #1301
Can I work on this??

[2022-05-19 17:40] #1331 closed

[2022-05-20 05:26] Phoenix-031 opened #1385 "[Bug]: codechef_contest.py script shows empty table."
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Current Behavior

when the script is run it should output a table containing information regarding the upcoming contests and there start time in a table format but it's just displaying a empty table whereas there are contests listed in the website itself.

### Expected Behavior

the script should display a ta

[2022-05-20 05:28] Phoenix-031 commented on #1385
/assign

[2022-05-23 01:30] himanshu007-creator opened #1387 "[script request]: Python script to automate filling google forms"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

Often for some testing purposes, we need to fill too many responses in google form. Therefore a python script will be awesome that does the task.

P.S i would like to work on this issue.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

[2022-05-30 08:41] #1385 closed

[2022-06-15 09:35] TheBugYouCantFix opened #1392 "[script request]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the script

This will be a script that sorts the files from a given directory by their extensions. For example, all the .png files will be put to the png folder and so on.

### Language

Python

### Is the feature request related to a problem? Please Specify.

_No response_

### Describe the solution

[2022-06-15 11:04] TheBugYouCantFix commented on #1392
/assign

[2022-07-04 06:12] pandyaved98 commented on #1362
/assign

[2022-07-31 14:51] Bakhtaki commented on #1367
Hi There ,
If i May ,It would be great to work on this issue , since it is still open.

[2022-09-04 05:02] itsCheithanya commented on #1362
/assign

[2022-09-30 18:32] ClasherKasten commented on #1299
This issue is closed for the following reasons:
- this repository already contains a discord bot
- the existing discord bot will get removed through #1325
- as @HarshCasper mentioned, it is more of a full-fledged application than a script.

Anyway, thanks for the interest in the project and opening this issue for consideration.

[2022-09-30 18:32] #1299 closed

[2022-10-15 15:14] codePerfectPlus opened #1406 "[feature request]:"
### Is there an existing issue for this?

- [X] I have searched the existing issues.

### Describe the feature.

I want to contribute to a project for Reading/Saving audiobooks.  You can listen to your book and also can save it to listen to it later.

Supported Format:-

1. Pdf
2. txt
3. Epub

### Problem/Motivation.

sometimes it's better to listen.

### Possible Solution/Pitch.

it will convert

[2022-10-15 15:16] codePerfectPlus commented on #1406
/assign

[2022-10-26 05:40] wthrajat opened #1410 "[script request]: automated git commit script in Python"
### Is there an existing issue for this?

- [ ] I have searched the existing issues.

### Describe the script

This script will commit some changes automatically to a desired github repo for a perfect commit streak.
However it can be misused too. Let me know if I can add a PR for this idea or not! Thanks!

### Language

Python

### Is the feature request related to a problem? Please Specify.

No i

[2022-10-26 08:40] ClasherKasten commented on #1410
There is already a [script](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Automate_Commiting_using_Git) in this repository whose idea sounds very similar. So if you have an idea that this existing script does not implement, feel free to open a PR for it, but I think a new script would be unnecessary noise in the project.