[2020-12-03 04:35] #563 closed

[2020-12-03 13:25] Pranav016 commented on #398
I would like to work on this issue.

[2020-12-03 15:25] HarshCasper commented on #398
@Pranav016 Glad to have you here!

Are you participating on behalf of NJACK Winter of Code? If yes, I will put the apt labels and you can start the work on the Banner Image.

[2020-12-03 23:34] Pranav016 commented on #398
Yes, I'll be working on this as a part of NJACK.

[2020-12-04 03:30] HarshCasper commented on #398
Assigned to you @Pranav016

[2020-12-04 05:47] vybhav72954 commented on #508
@HarshCasper A separate script for Finding the active ports, and a subsequent one to kill them off by giving port number as an argument, will hopefully do the job. Right?

[2020-12-04 05:48] vybhav72954 commented on #508
Also, i prepared a shell script too XD
I was planning to call it from python XD.
I will also upload that, so in case you close it, can you reopen it again, so that I can upload the bash one

[2020-12-04 06:10] vybhav72954 opened #567 "Rectify Major Typos, Update README.md"
This is regarding refactoring the Documentation.
It is that time again. Recently while going through a few Directories in the Repo, I found some typos again. I think they should be removed ASAP.

Also if @HarshCasper gives the green light, I think the `Language -> README.md` for Python, JS, and Go needs to be updated, would gladly do that, `although it's boring and hectic` 😞 **Just Kidding** 🌟

[2020-12-04 06:14] vybhav72954 commented on #567
/assign

[2020-12-04 06:16] vybhav72954 commented on #567
@HarshCasper I auto-assigned this issue to me, but I would wait for the green light regarding the `README.md`s, moreover, Have you ever heard of something, by which we can automate that process, if you save some clue, just point me towards it, I will do the needful.

[2020-12-04 06:36] vybhav72954 commented on #534
@HarshCasper Add the NJACK Label please

[2020-12-04 06:50] vybhav72954 commented on #517
Just about to finalize this

[2020-12-04 10:27] Abjcodes commented on #373
Hey @HarshCasper, I would like to work on this issue.

[2020-12-04 11:12] TrushaT commented on #552
Hello I would like to be assigned this issue for Python .

[2020-12-04 11:12] TrushaT commented on #552
Hello , I would be like to be assigned this issue for Python .

[2020-12-04 11:28] vybhav72954 opened #569 "Traffic Analyzer for Rotten Script"
**Is your feature request related to a problem? Please describe.**
Considering Rotten Scripts is taking part in multiple programs, the viewership of the Repo is a thing that piques my interest.

**Describe the solution you'd like**
A script that can analyze the viewership of the Repo.

**Describe alternatives you've considered**
Maybe a GitHub bot can help. Not sure

**Additional context**
N/A

[2020-12-04 11:28] vybhav72954 commented on #569
@HarshCasper Assign me if you think it's useful.

[2020-12-04 15:10] paramsiddharth commented on #444
@HarshCasper Is this issue still available to take?

[2020-12-04 19:48] vybhav72954 opened #571 "TSV to CSV converter."
**Is your feature request related to a problem? Please describe.**
A CSV file is an ever-present format, a TSV, not so much, whenever I have to work with Music Datasets, TSV is mostly used.

**Describe the solution you'd like**
A Script to convert TSV files to CSV files.

**Describe alternatives you've considered**
Online conversion or using MS Excel.

**Additional context**
I made a table to CSV

[2020-12-04 19:48] vybhav72954 commented on #571
@HarshCasper Assign this to me under NJACK

[2020-12-04 19:56] vybhav72954 opened #572 "A simple human detection script"
**Is your feature request related to a problem? Please describe.**
Recently I started revising `Open-CV` and the biggest problem is, in order to come up with fancy projects, we have ignored the basics.

**Describe the solution you'd like**
A minimalistic yet properly working Human Detection Script.

**Describe alternatives you've considered**
Multiple sites have fancy codes, not a basic script.

*

[2020-12-04 19:57] vybhav72954 commented on #572
@HarshCasper Assign this to me so that I can sort it asap

[2020-12-05 18:25] sujal111 commented on #524
Allow me to work on this issue

[2020-12-05 18:27] sujal111 commented on #427
Please allow me to work on this issue

[2020-12-05 18:28] sujal111 commented on #375
Allow me to work on this issue

[2020-12-05 18:29] sujal111 commented on #318
Please allow me to work this issue

[2020-12-05 18:31] sujal111 commented on #152
Allow me to work this issue please

[2020-12-06 10:19] Siddhant-K-code commented on #571
Can we use `pandas` module

[2020-12-06 10:25] Siddhant-K-code commented on #571
Or, isn't it a basic task of *`Replacing tabs with commas`* ?

[2020-12-06 11:11] vybhav72954 commented on #571
You don't even need `Pandas` it's a really simple script, 15 lines of code at max, but it's useful for people who are into music analysis, that's where it comes in handy. I already have the code ready, the reason I am waiting before making a PR is bcs I want him to be sure it's needed here.

[2020-12-06 11:25] Siddhant-K-code commented on #571
what about this ? @vybhav72954

[2020-12-06 12:37] vybhav72954 commented on #571
If the encoding is similar, Yes, usually it's `utf-8` so yeah, mostly that.

[2020-12-06 18:04] sohamsshah commented on #448
Yes @HarshCasper I am working on it.

[2020-12-06 18:07] vybhav72954 opened #576 "A trained model for Music Genre Classification"
**Is your feature request related to a problem? Please describe.**
A pre-trained model for music genre classification is not tough to find. A good model for music genre classification is like a needle in haystack.

**Describe the solution you'd like**
After working on Music classification for more than a year, I believe I can come up with a really good model. I will be using  Benchmark dataset, `G

[2020-12-06 18:08] vybhav72954 commented on #576
/assign

[2020-12-07 04:12] #398 closed

[2020-12-07 04:36] HarshCasper commented on #571
@Siddhant-K-code You need to wait for someone to assign this to you!

The Issue was created by @vybhav72954 and he expressed his desire to work on it. Taking up an Issue without waiting to be assigned to you specifically, is simply unfair and goes against the best practices.

@vybhav72954 Kindly let me know if you would still want to work on it, or shall I consider @Siddhant-K-code PR for this Iss

[2020-12-07 04:40] Siddhant-K-code commented on #571
Sorry, I think it is free to contribute. I will surely discuss it before contributing, Sorry Again!

[2020-12-07 05:13] #517 closed

[2020-12-07 05:57] #508 closed

[2020-12-07 06:11] vybhav72954 commented on #571
I mean its fine I guess, I will work on something else, in case if there is any bug or flaw in the code (Which i don't think there would be), I will refactor it, but for now, consider his PR. Its absolutely fine.

[2020-12-07 06:13] vybhav72954 commented on #567
@HarshCasper Can you see this, please meanwhile.

[2020-12-07 06:15] vybhav72954 commented on #576
@HarshCasper I assigned it myself cause I don't want others to work on it before it is assigned to me. It's a big task and if someone would open a PR before me, it would be wrong to close it as the script is not easy. Can you put the NJACK label so that I can start?

[2020-12-07 06:16] vybhav72954 commented on #571
@HarshCasper Meanwhile can you assign me #569 #572 #576 and #567

[2020-12-07 06:23] HarshCasper commented on #572
/assign

[2020-12-07 06:25] HarshCasper commented on #569
I would be highly interested in the Analytics Part. Let me know if you need any help!

[2020-12-07 06:26] HarshCasper commented on #567
Hello @vybhav72954

You can take the ownership for this. If there is anything, that doesn't look right, I will let you know.

[2020-12-07 06:28] vybhav72954 commented on #572
I see, maybe you want to assign people using `/ assign` as well, I think its possible. NOTED @HarshCasper I will work on this too. The possible methodology to follow is `/ assign {user.token}. The only Problem - A big security loophole might pop us. I will see if I can make that.

[2020-12-07 06:28] vybhav72954 commented on #569
I really think this would be a great asset (Hopefully :P)

[2020-12-07 06:29] vybhav72954 commented on #567
Understood. Thanks

[2020-12-07 11:09] InfiniteVerma commented on #541
I'll like to work on this.

[2020-12-08 06:07] dijodaiju7 commented on #539
I would like to work on this issue, can you please assign it to me? @HarshCasper

[2020-12-08 08:26] agrima84 commented on #423
I would like to work on this issue

[2020-12-08 10:57] HarshCasper commented on #423
Assigned @agrima84

[2020-12-08 12:17] vybhav72954 commented on #567
@HarshCasper Can you assing "NJACK" Label as well

[2020-12-08 14:05] aawasthi3008 commented on #444
@HarshCasper I am a participant of KWoC. Is this issue still available? Has it been assigned to someone? I would like to work on it.

[2020-12-09 03:18] paramsiddharth commented on #444
@aawasthi3008 The issue seems inactive at the moment.

[2020-12-09 06:05] Vishal-raj-1 opened #578 "Set Up discussion feature for great conversion."
@HarshCasper Sir , Did you see new feature on github ? We can set discussion on this repo. So what you have to do is just click this block in setting section of your repo. It's Amazing I guess. Have a try.

![discussion](https://user-images.githubusercontent.com/59874304/101589985-8c6ff500-3a0f-11eb-8756-48b53dfe1adf.JPG)

[2020-12-09 09:07] vybhav72954 commented on #578
@HarshCasper Great Idea

[2020-12-09 13:35] Siddhant-K-code opened #579 "Tweet Scraper with a Particular hashtag using Twint"
## **Is your feature request related to a problem? Please describe.**

A Short and Simple Python Script to Scrap Tweets of particular Hashtag **without** Twitter API (Tweepy)

## **Describe the solution you'd like**

Simple Python Script using [Twint](https://github.com/twintproject/twint)

## **Additional context**
Twint ⇒ https://github.com/twintproject/twint

### **Do I Want to work on this ?**

[2020-12-10 14:08] Tejas1510 opened #582 "Certificate Generator"
**Is your feature request related to a problem? Please describe.**
Generating a ton of certificates for any occassion is quite tedious if you're not familiar with the concept of automation. Well, you won't have to worry anymore because this script will do all the heavy lifting for you.

**Describe the solution you'd like**
The Script takes a template of the certificate as input and the name to be

[2020-12-10 14:08] Tejas1510 commented on #582
@HarshCasper Can i work on this issue?

[2020-12-10 18:47] hr1shu opened #583 "ReadMe generator"
**Is your feature request related to a problem? Please describe.**
Several developers or students build a portfolio website to showcase projects. But all the projects and stats are on Github. How about making your GitHub your portfolio?
![Screenshot (161)](https://user-images.githubusercontent.com/57145318/101815879-3a7dbb00-3b46-11eb-87c4-c85213e1c66e.png)

**Describe the solution you'd like**
I

[2020-12-10 18:51] hr1shu commented on #583
Just the tool you @HarshCasper have used for your gitHub profile😁

[2020-12-11 02:59] shrey27tri01 commented on #583
@hr1shu Can I work on this issue?

[2020-12-11 06:25] HarshCasper opened #585 "Scrap Restaurants using the Zomato API"
## Description

Scrap Restaurants using the Zomato API and store them in a CSV File for reference. You can additionally use Argument Parsers to pass necessary data on specific restaurants and filter the results.

This Issue is open only for KWoC '2020 Participants.

## Languages

- Python
- Javascript
- BASH
- Golang

[2020-12-11 06:28] HarshCasper opened #586 "Find Technologies used on a Web Application"
## Description

Find the Technologies used in a Web Application. Take the input either as a Single Website URL or a CSV File. In the case of Former, generate the results on the CLI while in latter make use of a CSV File to store all the details. Make use of Argument Parsers for better usability.

This Issue is open only for KWoC '2020 Participants.

## Languages

- Python
- Javascript
- BASH
- Gol

[2020-12-11 06:32] HarshCasper opened #587 "Extract Text from Images in Bulk"
## Description

Extract Text from Images in Bulk. Make use of a directory with Images and pass the directory to your Script for Text Extraction which will be stored in a separate folder with the same filename as the Image Filename.

## Languages

- Python
- Javascript
- Golang
- BASH

[2020-12-11 06:36] HarshCasper opened #588 "Send E-Mails through the G-Mail REST API via OAuth 2.0"
## Description

Send E-Mails through the G-Mail REST API via OAuth 2.0

* Obtain a Gmail user's credentials using OAuth 2.0. The OAuth 2.0 process should be initiated by an API call to your server.
* Store the obtained credentials in a file.
* Have a Script to execute send email using the credentials previously stored.

## Languages

- Python
- Javascript

[2020-12-11 06:44] HarshCasper opened #589 "Script to track Application Time Usage"
## Description

Create a Script which will track user time used on Desktop Applications. The final result should be viewed as a Pie-Chart for better analysis.

## Languages

- Python
- Javascript
- Golang
- BASH

[2020-12-11 06:46] HarshCasper opened #590 "Add KWOC '20 to Open Source Events"
## Description

Add KWOC '20 to Open Source Events. Take a look at the templates already there and add a similar File which shows what KWOC is all about.

## Languages

- Markdown

[2020-12-11 06:49] HarshCasper opened #591 "Add NJACK Winter of Code '20 to Open Source Events"
## Description

Add NJACK Winter of Code '20 to Open Source Events. Take a look at the templates already there and add a similar File which shows what NJACK Winter of Code is all about.

## Languages

- Markdown

[2020-12-11 06:51] HarshCasper commented on #583
Hello @hr1shu

Are you working on this in-general or as part of an Open-Source Program? I would love to have an implementation since my README is a mess. If you are participating in KWOC or NJACK, let me know so that I can put apt tags.

@shrey27tri01 I can assign you this issue in a different language than @hr1shu is working in. @hr1shu Let me know the language you will be using.

[2020-12-11 06:52] HarshCasper commented on #582
Hello @Tejas1510

We already have a script [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Bulk_Certificate_Generator). If you have additional enhancements in mind, do let me know.

[2020-12-11 06:53] HarshCasper commented on #579
Hello @Siddhant-K-code

Are you working on this as part of NJACK Winter of Code or KWOC? Do let me know so that I can put apt tags and difficulty tags as well.

[2020-12-11 06:54] HarshCasper commented on #578
@Vishal-raj-1 Added 🙌😄

I would request you to get your Introductions over there.

[2020-12-11 07:33] hr1shu commented on #583
Yes @HarshCasper, I'll be contributing as a part of KWOC.
The tool is scripted in javascript and to be honest, it isn't created by me, the creator is https://github.com/rahuldkjain.
I just want to add the link of the tool and the repository so that everyone could convert their respective Github profiles into portfolios.
If the guidelines of contributions are compromised, please let me know.
Thank

[2020-12-11 07:40] vybhav72954 commented on #591
I will do this right away. Should I add, that you were one of the top mentors in SLoP as well @HarshCasper?

[2020-12-11 07:44] vybhav72954 commented on #587
It seems easy, can do Python and Bash.

You can assign me this but I already have a lot of issues, I will sort many of them today only, if its still up-for-grab, assign it to me.

[2020-12-11 08:00] HarshCasper commented on #587
Hello @vybhav72954

This is open for assignment only for KWOC Participants. Please make a PR for the Issues assigned to you, before I assign any new Issues.

[2020-12-11 08:04] Vishal-raj-1 commented on #590
I want to work on this issue. It will be grateful for me to get started with this project. Please assign this issue to me.. @HarshCasper

[2020-12-11 08:10] vybhav72954 commented on #587
Hey Harsh, am a KWOC participant as well 😨
But yeah I understand that I need to first sort my assigned issues. I will sort them by tonight itself.

P.S. - Can an Issue have both KWOC and NJACK label though 😛

[2020-12-11 08:12] Vishal-raj-1 commented on #590
/assign

[2020-12-11 08:17] Vishal-raj-1 commented on #591
@vybhav72954 Brother Are you working on this issue right now? I have seen you have multiple issues to work on. So could you please leave this issue for me. I will start working on this issue right now..

[2020-12-11 08:28] Vishal-raj-1 commented on #591
Thanks Buddy @vybhav72954 🔥

[2020-12-11 10:31] Siddhant-K-code commented on #579
I will be work on this part of  a project for KWOC

[2020-12-11 11:18] Vishal-raj-1 commented on #578
Sure.😃

[2020-12-11 12:51] Sumit-Sahu commented on #588
I want to work on it. Can you assign it to me.

[2020-12-11 12:52] Sumit-Sahu commented on #588
/assign

[2020-12-11 18:42] kritikaparmar-programmer commented on #585
Hey, @HarshCasper I want to work on this issue. I'm a participant in KWOC.

[2020-12-11 19:09] abdallah1097 commented on #589
Already working on that, Have a question: I wrote it in Python and Bash and I'm not so familiar with Javascript and Golang, Can I pull request only with Python and Bash?

[2020-12-12 04:45] HarshCasper commented on #589
@abdallah1097

You are supposed to make a PR with only one language. Also make sure that you are a KWOC Participant, because this Issue is open only for KWOC Participants.

[2020-12-12 05:41] Siddhant-K-code commented on #585
/Assign
I wanted to do this in python

[2020-12-12 05:41] Siddhant-K-code commented on #585
/assign

[2020-12-12 06:24] kritikaparmar-programmer commented on #585
Hey, @HarshCasper can we assign to us like this??

[2020-12-12 07:00] Siddhant-K-code commented on #579
Please add label KWOC'20 @HarshCasper

[2020-12-12 12:43] abdallah1097 commented on #589
@HarshCasper  I'm not a KWOC Participant and already made a pull request :D :D I hope I can participate, also  may you tell me more about what is KWOC? (if possible) :D

[2020-12-12 17:41] hr1shu commented on #583
Hey @HarshCasper, I wanna know the status of your opinion.
Should I proceed with it or not??

[2020-12-12 17:43] hr1shu opened #597 "Pip upgrade via python script"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
All you have to do is run the code and click the button to upgrade PIP to the latest update

**Describe alternatives you've considered**
writing commands in cmd prompt is overwhelming

**Additional cont

[2020-12-12 17:55] Rahul555-droid commented on #597
well to upgrade pip you only have to run one command.
I don't know how you will use python script to upgrade pip though.
Probably through subprocess module(to run bash commands) .

python -m pip install –upgrade pip
or
python -m pip install -U pip

this works most of the time.

[2020-12-12 18:01] Rahul555-droid commented on #427
Hi I can create a cryptocurrency converter using python.
Please assign it to me!

[2020-12-12 18:03] hr1shu commented on #597
I made it using tkinter, basically it just needs to be run and clicked

[2020-12-12 18:39] Rahul555-droid commented on #541
I would want to work on this

[2020-12-13 06:40] vybhav72954 commented on #597
Still, it is just one command, can I update any package I want?

[2020-12-13 06:42] hr1shu commented on #597
Just the PIP

[2020-12-13 08:20] Tejas1510 opened #604 "Merge Pdf using pyPDF"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A python script which takes pdf file as input and merges them using pyPDF module

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you

[2020-12-13 08:20] Tejas1510 commented on #604
@HarshCasper Can I work on this issue

[2020-12-13 08:21] Tejas1510 commented on #582
@HarshCasper I wasn't aware of the already present script
The script looks good so no changes from my side
I will work on some other issue

[2020-12-13 08:22] #582 closed

[2020-12-13 12:24] Rahul555-droid opened #605 "Create a script which will encrypt and decrypt the contents of a given file accordingly using RSA"
**Is your feature request related to a problem? Please describe.**
You can encrypt your data with cryptographic RSA algorithm say maybe a list of password or a something confidential like an image.

**Describe the solution you'd like**
*while encrypting:*
a script then would encrypt my input data file and with a command line argument "encrypt" then output a file with encrypted data and a file with

[2020-12-13 12:24] Rahul555-droid commented on #605
Hi @HarshCasper Can you assign me this?

[2020-12-13 13:17] Vishal-raj-1 opened #606 "Contributors Image In Readme"
I think it is a great feature to add contributors image in README file. It really motivate to contributors. It is dynamically order the contributors.

![contrimga](https://user-images.githubusercontent.com/59874304/102012505-dd198200-3d70-11eb-8e1e-379f47ccd7e2.JPG)

If you want to this feature on README so I want to do this issue @HarshCasper Sir !! 😄

[2020-12-13 17:17] vybhav72954 commented on #606
The project has its own contributors list
![image](https://user-images.githubusercontent.com/49750343/102018720-0a782700-3d95-11eb-9378-b3cca33ea9fc.png)

allcontributors bot is used for that purpose

[2020-12-13 17:20] Vishal-raj-1 commented on #606
But you have to update this @vybhav72954 . I am talking about dynamic !!

[2020-12-13 20:35] Sumit-Sahu commented on #588
@HarshCasper Instead of storing credential in file we can store it as session variable at server side.

[2020-12-14 04:55] HarshCasper commented on #588
@Sumit-Sahu You can try out different approaches and explain to me the rationale behind that. If it is a better way of doing stuff, we are always open to ideas.

[2020-12-14 06:16] HarshCasper commented on #373
Assigned @Abjcodes

[2020-12-14 12:23] #572 closed

[2020-12-14 12:25] #567 closed

[2020-12-14 14:01] #591 closed

[2020-12-14 14:01] #590 closed

[2020-12-14 14:39] shiveshchoudhary opened #608 "A script to get a list of links related to a particular query (Google Search Rank wise)"
Is your feature request related to a problem? Please describe.
You can use this script to get the links related to a particular search query (rank wise), which can be used by the user to get to any link without scrolling down or using next to move to next page.

Describe the solution you'd like
Using a google api, beautifulsoup4 and urllib libraries in Python to store all the links in a list and d

[2020-12-14 14:41] shiveshchoudhary commented on #608
@HarshCasper , can you assign me this issue.

[2020-12-14 17:39] shiveshchoudhary commented on #608
/assign

[2020-12-16 08:55] Aashish3061 commented on #604
@HarshCasper I would like to work on this

[2020-12-17 06:11] #578 closed

[2020-12-17 09:13] #562 closed

[2020-12-17 09:55] #571 closed

[2020-12-17 10:14] HarshCasper commented on #541
Hello @InfiniteVerma

I'm assigning you this in Python.

@Rahul555-droid Let me know if you would like to work on this using JS/Golang

[2020-12-17 10:16] Rahul555-droid commented on #541
Can I get the python one I am not good with working in JS and golang using APIs?

[2020-12-17 10:17] HarshCasper commented on #541
I guess @InfiniteVerma can tell about this. Are you fine @InfiniteVerma on working on this through JS/Golang?

[2020-12-17 10:18] HarshCasper commented on #552
Assigned to you @TrushaT

[2020-12-17 10:19] HarshCasper commented on #587
Hello @vybhav72954

Let me know if you would be willing to work on it!

[2020-12-17 10:21] HarshCasper commented on #597
Hello @hr1shu

We don't have support for User Interfaces yet. So probably, as @vybhav72954 and @Rahul555-droid mentioned, it is best to go with one simple command for the purpose.

[2020-12-17 10:21] #597 closed

[2020-12-17 10:22] Rahul555-droid opened #610 "Pdf reordering using python script."
**Is your feature request related to a problem? Please describe.**
At times we get a pdf that is not ordered properly but we know the pages which have are out of order  and it is tough to reorder it.

**Describe the solution you'd like**
A python script that will take an input of pages which are unordered and where these unordered pages should go and parse it into dictionary.
Using this dictionary

[2020-12-17 10:24] HarshCasper commented on #604
Hello @Tejas1510

I have assigned you this Issue in Python. Let me know @Aashish3061 if you would like to work on this in JS/Golang

[2020-12-17 10:25] HarshCasper commented on #608
Good to go @shiveshchoudhary 👍

Thanks for creating an Issue!

[2020-12-17 10:26] HarshCasper commented on #608
Also, do let me know if you are participating in either NJACK or KWOC? I have put NJACK for now, but do let me know about it, so that points are properly allocated for the same.

[2020-12-17 10:28] HarshCasper commented on #606
Dynamic Contributors are a great thing!

But right now, I like the Contributor Section on the `README.md` itself, though its a pain to update them regularly. I have created an Issue to have the All Contributors Bot dynamically add Contributors but I see no progress on it.

I guess we can have a central `CONTRIBUTORS.md` where we can have the Data centrally shown. What do you think @Vishal-raj-1 ?

[2020-12-17 11:24] Vishal-raj-1 commented on #606
We can try !! For sure

[2020-12-17 11:31] InfiniteVerma commented on #541
Yes. I can do it in js then.

[2020-12-17 11:40] HarshCasper commented on #541
Assigned 💯

Thanks @InfiniteVerma and @Rahul555-droid for taking it up.

[2020-12-17 15:33] HarshCasper commented on #152
Hello @sujal111

Assigned to you 👍

[2020-12-17 15:35] HarshCasper commented on #318
Hello @sujal111

Please go ahead in working on this!

[2020-12-17 15:37] HarshCasper commented on #375
Hello @sujal111

Assigned to you. You can create a PR for this now 👍

[2020-12-17 15:38] #381 closed

[2020-12-17 15:38] #214 closed

[2020-12-17 15:41] HarshCasper commented on #427
Hello @Rahul555-droid

Go ahead with it!

[2020-12-17 15:43] HarshCasper commented on #444
Hello @aawasthi3008

This Issue is open for KWOC and NJACK Participants.

@paramsiddharth Would you like to work on this in Python while @aawasthi3008 would you be able to work on JS/BASH ?

Let me know the prospects of the same, so that I can assign you the same.

[2020-12-17 15:45] HarshCasper commented on #524
You should be just fine, I guess.

Also since this Issue is a bit tad old, and SLoP is long over, are you still working on it @DevChoganwala ?

Let me know about the same. If not, I will assign this Issue to someone else.

[2020-12-17 15:57] Rahul555-droid commented on #427
Thanks will do!

[2020-12-17 15:59] paramsiddharth commented on #444
Sure! I would love to work on that in Python.
I have a question in mind. Am I allowed to use libraries in the script?

[2020-12-17 17:38] Aashish3061 commented on #604
I would be more comfortable in python as I am not well versed with JS Or Golang

[2020-12-17 19:00] shiveshchoudhary commented on #608
Although I got to know about this repo through kwoc, but got late in registering for it, so I am contributing independently, you may remove the NJACK tag.

[2020-12-19 15:49] vybhav72954 commented on #587
@HarshCasper Currently busy with my EndSems, assign this to me but I will make a PR on Tuesday (22nd Dec)

[2020-12-19 15:49] vybhav72954 commented on #587
/assign

[2020-12-21 06:14] hr1shu opened #616 "Password checker"
**Is your feature request related to a problem? Please describe.**
My script checks how many times your password has been under a hacker radar

**Describe the solution you'd like**
It also suggests changes required to make in your password

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**

[2020-12-24 15:34] Siddhant-K-code commented on #616
how does this feature will work?

[2020-12-26 14:07] lucken99 commented on #427
Hello @HarshCasper , will you assign it to me , it's been 9 days and no activity.
Looking forward to it ;)

[2020-12-26 15:16] Rahul555-droid commented on #427
Hi @lucken99  I actually have sent the PR so maybe it will get merged soon.

[2020-12-26 18:14] lucken99 commented on #427
ok :)

[2020-12-26 18:20] Rahul555-droid commented on #427
There are some more open issues many of them have become inactive.
Try those maybe.
Or you can open your own! harsh is very helpful.

[2020-12-27 18:44] shiveshchoudhary commented on #608
Hello @HarshCasper  I have opened a pull request, please check and update if any changes required.

[2020-12-28 02:36] Rishikeshrajrxl opened #619 "Send your location to your loved ones"
A python script to send location.

[2020-12-28 02:36] Rishikeshrajrxl commented on #619
Assign me this issue.

[2020-12-28 09:30] mandalorian-k opened #620 "Add PowerShell Scripts"
**Is your feature request related to a problem? Please describe.**
Although the description suggests **PowerShell** there ain't one.

**Describe the solution you'd like**
A new section for PowerShell and we can add scripts in that. At first, we can add those scripts which are already available in another language/platform. We add the PowerShell version (if doable).

**Additional context**
There ar

[2020-12-28 09:30] #620 closed

[2020-12-28 09:32] avinal opened #621 "Add PowerShell and Bash Scripts"
**Is your feature request related to a problem? Please describe.**
Although the description suggests **PowerShell** there ain't one.

**Describe the solution you'd like**
A new section for PowerShell and we can add scripts in that. At first, we can add those scripts which are already available in another language/platform. We add the PowerShell version (if doable).

**Additional context**
There ar

[2020-12-28 09:32] avinal commented on #621
Hello, I want to work on this issue.

[2020-12-28 12:48] saiharsha-22 opened #622 "Text Editior"
Text Editior,  Will allow the user to genrate text in a neat and clean manner.

Prgramming languages used: JavaScript

Frontend: HTML,CSS

Features of the Project:
 1. You align the whole text in center or middle or extreme end, according to user requirement
 2. User can underline the text if he/she wants
 3. Make it bold
 4. Make it Italic
 5. The system will be side by side working,  it will be

[2020-12-28 12:50] saiharsha-22 commented on #622
@HarshCasper if you find it useful project, assign this issue to me. I am partcipan of Swoc 2021

[2020-12-28 15:35] sahebsunny commented on #619
Sir, I love to work on it.
I would be grateful if you can assign this issue to me for DWOC.
Thank you.

[2020-12-28 15:36] sahebsunny commented on #587
Sir, I love to work on it.
I would be grateful if you can assign this issue to me for DWOC.
Thank you.

[2020-12-29 03:59] hr1shu commented on #616
Using API of pawnedpasswords.com

[2020-12-29 11:39] vybhav72954 commented on #587
@sahebsunny I am a bit preoccupied right now, if I cant sort this issue in 2 days I will unassign myself on its own. Thank you.

the simply assign it to you on its own.
P.S. What is DWOC?

[2020-12-29 11:48] sahebsunny commented on #587
Understood Sir,
 this DWOC is DevScript winter of code

[2020-12-29 12:22] HarshCasper commented on #152
Are you still working on it @sujal111 ?

If not, I will assign it to someone else.

[2020-12-29 12:24] HarshCasper commented on #318
Are you working on this @sujal111 ?

If not, I will assign this to someone else.

[2020-12-29 12:25] HarshCasper commented on #373
Hello @Abjcodes

Are you working on this? If not, I will assign this to someone else.

[2020-12-29 12:28] HarshCasper commented on #444
Of Course! I am not asking to develop stuff from scratch 😄

If you are done with this, please make a PR.

[2020-12-29 12:30] HarshCasper commented on #448
Opening this Issue for Script Winter of Code participants!

[2020-12-29 12:34] HarshCasper commented on #534
Hi @vybhav72954

Are you still working on it?

[2020-12-29 12:38] HarshCasper commented on #539
Are you still working on it @ag-hcoder

If not, I will assign this Issue to someone else.

[2020-12-29 12:39] HarshCasper commented on #541
Hello @InfiniteVerma @Rahul555-droid

Are you guys still working on it?

[2020-12-29 12:39] vybhav72954 commented on #534
@HarshCasper Can you please check the Discussion tab :)

[2020-12-29 12:40] HarshCasper commented on #552
Are you still working on it @TrushaT ?

If not, I will assign this to someone else.

[2020-12-29 12:41] HarshCasper commented on #559
Hello @vybhav72954

Are you still working on the same?

[2020-12-29 12:42] HarshCasper commented on #569
Hello @vybhav72954

Are you still working on the same?

[2020-12-29 12:42] HarshCasper commented on #576
Hello @vybhav72954

Are you still working on the same?

[2020-12-29 12:42] HarshCasper commented on #579
Hello @Siddhant-K-code

Are you still working on the same?

[2020-12-29 12:43] HarshCasper commented on #583
Hello @hr1shu

Go ahead with it! Good Luck!

[2020-12-29 12:44] HarshCasper commented on #585
Hello @Siddhant-K-code

Are you still working on the same?

[2020-12-29 12:44] vybhav72954 commented on #559
Tomorrow Night at max, if I won't be able to solve this, I will unassing my self for sure

[2020-12-29 12:44] vybhav72954 commented on #576
Tomorrow Night at max, if I won't be able to solve this, I will unassing my self for sure

[2020-12-29 12:44] vybhav72954 commented on #569
Tomorrow Night at max, if I won't be able to solve this, I will unassing my self for sure

[2020-12-29 12:45] HarshCasper commented on #587
Good Luck, @vybhav72954 for your Exams!

@sahebsunny Let me know about any sitrep on the Discord. I will assign you then if not resolved.

[2020-12-29 12:45] #589 closed

[2020-12-29 13:26] Siddhant-K-code commented on #579
Yes, its almost done.

On Tue, 29 Dec 2020, 6:12 pm Harsh Bardhan Mishra, <notifications@github.com>
wrote:

[2020-12-29 13:26] Siddhant-K-code commented on #585
It is remaining with one more challenge, will fix by 31 Dec. 2020

On Tue, 29 Dec 2020, 6:14 pm Harsh Bardhan Mishra, <notifications@github.com>
wrote:

[2020-12-29 13:44] HarshCasper commented on #616
Go ahead @hr1shu

[2020-12-29 13:45] HarshCasper commented on #606
Would you like to work on this? You may create a separate Issue for the purpose.

[2020-12-29 13:47] HarshCasper commented on #619
Can you briefly explain to me on how your Script would work? And what are the brief functionalities are you looking for in the Script?

[2020-12-29 13:48] HarshCasper commented on #621
Hello @avinal

I am all open for Powershell Scripts. Can you please let me know what Powershell Scripts are you looking to add initially?

[2020-12-29 13:49] HarshCasper commented on #622
Hi @saiharsha-22

Thanks for taking the time to create the Issue! However, this Repo supports only Scripts and not GUI Applications.

I am closing this Issue as it doesn't align with the Project purpose.

[2020-12-29 13:49] #622 closed

[2020-12-29 13:55] HarshCasper opened #624 "Add new Issue Templates"
## Description

Add new Issue Templates.

I originally created an Issue for Issue+PR Templates and it was resolved here https://github.com/HarshCasper/Rotten-Scripts/pull/116. However, I over-rode the custom Issue Templates with the Issue Templates provided by Github, which in no way is helpful to the Project.

Please have a good new Issue Templates for the purpose. Feel free to pick it up from th

[2020-12-29 14:04] Rahul555-droid commented on #541
Yup . Theres a problem with the lever site API though.

[2020-12-29 14:05] Rahul555-droid commented on #541
the lever API doesn't seem to have a resmue parser anymore https://hire.lever.co/developer/documentation
https://jobs.lever.co/parseResume ,this was used before for parsing resumes through lever but it doesn't work anymore I tested it. I saw reddit post and that is where I found this older site

[2020-12-29 14:24] avinal commented on #621
Umm, I have been through the repository and saw the types of scripts it is hosting. Since bash and PowerShell are mostly associated with system control, I would like to add such scripts (now I see bash scripts are also less in numbers), I have significant experience with scripts that generally people search. I am listing a few for now and I will have a more exhaustive list soon. Needless to say, i

[2020-12-29 14:33] HarshCasper opened #627 "Update the Python's README"
## Description

Update Python's README. As it can be noticed, that there is a complete Table which consists of the Name of Script, Directory Link and the Author. Many of the Scripts don't exist on the Table.

Find and hunt the Scripts that are not on the Table and update it. Make sure to change *all* the Directory Links to hyperlinks by using `[text](https://random.com)` instead of hard-coding it,

[2020-12-29 14:35] HarshCasper opened #628 "Update the Javascript README"
## Description

Update Javascript's README. As it can be noticed, that there is a complete Table which consists of the Name of Script, Directory Link and the Author. Many of the Scripts don't exist on the Table.

Find and hunt the Scripts that are not on the Table and update it. Make sure to change *all* the Directory Links to hyperlinks by using `[text](https://random.com)` instead of hard-coding

[2020-12-29 14:38] HarshCasper commented on #621
Hello @avinal

They look good to me! Can you create individual issues for all of them?

This would allow me to grade them individually and help you get the apt scores. Also let me know, if you are willing to work on it as part of any Open Source Program. For reference, this Project is a part of NJACK Winter of Code, KWoC, SWoC, DWoC.

[2020-12-29 14:42] HarshCasper opened #629 "Add SWoC to Open Source Events"
## Description

Add SWoC'20 to Open Source Events. Take a look at the templates already there and add a similar File which shows what SWoC is all about.

## Languages

- Markdown

[2020-12-29 14:43] HarshCasper opened #630 "Add DWoC'20 to Open Source Events"
## Description

Add DWoC'20 to Open Source Events. Take a look at the templates already there and add a similar File which shows what DWoC is all about.

## Languages

- Markdown

[2020-12-29 14:44] avinal commented on #621
Sure @HarshCasper, I will divide them into separate issues and add more as I get more of them. Should I rephrase this issue as one of them or just keep it as a tracker/discussion?

I am doing it under SWoC. Didn't know that this is part of other programs too 😅

[2020-12-29 14:45] HarshCasper opened #631 "Add a Github Action to auto-assign reviewers"
## Description

With so many PRs kicking in, every week, its a definite pain to review each of them. What if we can have an Action to auto-assign reviewers, every time a PR is made?

Make sure to add me ( @HarshCasper ) for the reviewers at the least.

[2020-12-29 14:47] HarshCasper commented on #621
Let's keep this as our Discussion Thread. We have Discussions Tab enabled as well, but for some reasons I tend to talk right here.

It would be great to have you work on this! Let me know if I can be of help in any ways.

[2020-12-29 14:50] avinal commented on #263
A static website using SSG will be great without much bell and whistles. Easy to manage and you can tweak the theme to personalize them. I have experience with many SSGs (Sphinx, Pelican, Jekyll) and GitHub Actions. Let me know if I can be a contributor :)

[2020-12-29 14:52] avinal commented on #631
I can help with such GitHub Action.

[2020-12-29 14:59] avinal opened #632 "Add Bash Prompt customization Script"
Customize your bash prompt with git status, error info, User/System info, execution Time etc

[2020-12-29 15:01] avinal opened #633 "Add PowerShell Prompt customization script"
Customize your PowerShell Prompt with git status, execution time, system info, etc

[2020-12-29 15:04] avinal opened #634 "Add a powerful ls command alternative script"
By default `ls` command doesn't show file types or categories and almost no sorting option. This script will make the ls command more powerful with such options.

[2020-12-29 15:05] avinal opened #635 "Webpage URL scraper bash script"
Scrap all the links present in a webpage.

[2020-12-29 15:06] avinal opened #636 "GitHub Stalker bash script"
Get GitHub information of a user right from the terminal

[2020-12-29 15:08] avinal commented on #631
I will need the reviewer's list too.

[2020-12-29 15:15] Abjcodes commented on #373
Yes. I will raise a PR within 2-3 days.

[2020-12-29 16:00] hr1shu commented on #616
Thanks mate

[2020-12-29 16:01] hr1shu commented on #583
Thanks mate.

[2020-12-29 16:17] avinal commented on #634
This will be for Bash first because Linux users mostly these types of scripts. Will add for PowerShell later. Please label it as Bash.

[2020-12-29 19:46] imakash3011 commented on #629
Sir, I would like to work on this issue. Kindly assign it to me.

[2020-12-30 06:22] Adarsh88 commented on #635
Hey there, I want to contribute in this project.

[2020-12-30 06:30] HarshCasper commented on #631
Just mention me for now. We have two more reviewers but they are not active right now.

[2020-12-30 06:32] Adarsh88 commented on #635
Hey there I want to contribute to this project. Can you assign this to me ?

[2020-12-30 06:45] avinal commented on #631
I have already added you to the reviewers' section.

[2020-12-30 09:03] hackedak commented on #636
Please assign this to me

[2020-12-30 09:06] hackedak opened #639 "Anime Tracker"
###Script
-A script which checks for new episode release of a particular anime automatically

[2020-12-30 09:07] hackedak commented on #639
Please assign this to me

[2020-12-30 10:40] shiveshchoudhary commented on #630
/assign

[2020-12-30 10:42] shiveshchoudhary commented on #630
just for confirmation, is the below-mentioned website for the same DWOC we want to update in open source contributions.
https://delta.nitt.edu/

[2020-12-30 13:47] Purvanshsingh commented on #635
Please correct me if I am wrong,
means we have to write the python script to scrap all the links of the web page entred by the user right?

[2020-12-30 13:57] Purvanshsingh commented on #627
@HarshCasper Is this issue for SWOC as well?
I would like to work on this issue, please assign me this issue.

[2020-12-30 14:03] Purvanshsingh commented on #538
I would like to work on this issue for SWOC,
Please assign me this issue.

[2020-12-30 14:07] Purvanshsingh commented on #375
Hey, Please assign me this issue for SWOC 21.

[2020-12-30 14:37] avinal commented on #635
Hello @Purvanshsingh, no this is a bash script.

[2020-12-30 18:35] Blastoise commented on #636
Please assign this to me.

[2020-12-30 18:39] avinal commented on #636
Hello @Blastoise, this is already assigned :) see the label

[2020-12-30 18:42] Blastoise commented on #636
Okay @avinal, I thought you were the one that will assign.

[2020-12-30 19:23] akrish4 commented on #624
Hi @HarshCasper
The issue template looks perfect , let me know what do you need ?

[2020-12-30 19:26] abdus commented on #634
[`exa`](https://github.com/ogham/exa) is an enhanced version of `ls`.

[2020-12-30 19:37] Blastoise commented on #538
Assign this to me, I will do this using BASH.

[2020-12-30 19:40] Blastoise commented on #369
Assign this to me, I will be doing it using Bash.

[2020-12-30 19:41] Blastoise commented on #587
Assign this to me I will do it using Python.

[2020-12-31 04:43] sahebsunny commented on #587
Sir I have previously worked with a similar project let me work

[2020-12-31 05:23] avinal commented on #634
Hello @abdus, `exa` is a full featured replacement for `ls`, here our goal is to provide a simple script that enhances `ls`,  it will be simple to understand and modify too according to your need.

[2020-12-31 05:29] djm-1 opened #640 "Python-camscanner"
I want to contribute a script written in python to convert images into camscanner like images. I have made that script using opencv-python. It can be used for making notes

[2020-12-31 08:00] #631 closed

[2020-12-31 08:02] #608 closed

[2020-12-31 08:30] HarshCasper commented on #263
Hello @avinal

I don't have much experience with SSG, so I would like to know if you would like to carry it forward. If possible you can create a separate issue to pitch in how this can be made possible.

[2020-12-31 08:32] HarshCasper commented on #538
Hello @Purvanshsingh, you can do this using Python/JS/Golang. @Blastoise On the other hand, would try to get it done using BASH.

[2020-12-31 08:33] avinal commented on #263
Ok @HarshCasper, I will create an issue for this and let you know further details there.

[2020-12-31 08:34] HarshCasper commented on #587
Right now, @vybhav72954 is working on this. Since he has been a valuable contributor in past, I would like him to take this time on the Issue.

[2020-12-31 08:34] HarshCasper commented on #624
Anything that you would like to add @akrish4

Let me know if you would like to work on it.

[2020-12-31 08:35] HarshCasper commented on #627
Hello @Purvanshsingh

This Issue is for DWOC. If I don't get any Assignment Request, I will keep it for SWOC itself.

[2020-12-31 08:38] HarshCasper commented on #639
Hello @hackedak

Let me know if you are participating in any Open-Source Programs, so that I can tag it aptly.

[2020-12-31 08:39] HarshCasper commented on #640
Hello @djm-1

Let me know if you are participating in any Open-Source Programs, so that I can tag it aptly.

[2020-12-31 08:42] HarshCasper opened #641 "Adding Contributors"
## Description

I realized right now, that there are more than 60+ Contributors to the Project but the Contributor List has not been updated. If you have contributed to the Repo in any manner, please comment here. I will invoke the All Contributors Bot to have you on the Contributor List.

[2020-12-31 08:44] HarshCasper commented on #641
@all-contributors please add @Pranav016 for Code

[2020-12-31 08:44] Blastoise commented on #587
@HarshCasper Sure. If he is not able to complete the issue then assign this to me.

[2020-12-31 08:44] HarshCasper commented on #641
@all-contributors please add @Pranav016 for Documentation

[2020-12-31 08:48] HarshCasper commented on #641
@all-contributors please add @Vishal-raj-1 for Code

[2020-12-31 08:48] HarshCasper commented on #641
@all-contributors please add @Vishal-raj-1 for Documentation

[2020-12-31 08:48] Purvanshsingh commented on #538
Sure will do it in Python,
Will create PR after 5th Jan :-)

[2020-12-31 08:49] HarshCasper commented on #641
@all-contributors please add @frbimo for Code

[2020-12-31 08:49] Purvanshsingh commented on #627
ok, In case you sift it to SWOC please assign it to me.

[2020-12-31 08:49] HarshCasper commented on #641
@all-contributors please add @frbimo for Documentation

[2020-12-31 08:52] HarshCasper commented on #641
@all-contributors please add @AdityaAshvin for Code

[2020-12-31 08:52] HarshCasper commented on #641
@all-contributors please add @AdityaAshvin for Documentation

[2020-12-31 08:52] HarshCasper commented on #641
@all-contributors please add @DevChoganwala for Code

[2020-12-31 08:53] HarshCasper commented on #641
@all-contributors please add @DevChoganwala for Documentation

[2020-12-31 08:54] HarshCasper commented on #641
@all-contributors please add @DevChoganwala for Code

[2020-12-31 08:54] HarshCasper commented on #641
@all-contributors please add @DevChoganwala for Documentation

[2020-12-31 08:57] HarshCasper commented on #641
@all-contributors please add @avinal for Code

[2020-12-31 08:59] HarshCasper commented on #641
@all-contributors please add @dcorriveau for Code

[2020-12-31 08:59] HarshCasper commented on #641
@all-contributors please add @dcorriveau for Documentation

[2020-12-31 09:05] HarshCasper commented on #641
@all-contributors please add @vybhav72954 for Code

[2020-12-31 09:05] HarshCasper commented on #641
@all-contributors please add @vybhav72954 for Documentation

[2020-12-31 09:05] HarshCasper commented on #641
@all-contributors please add @vybhav72954 for Maintenance

[2020-12-31 09:12] HarshCasper commented on #641
@all-contributors please add @sharur7 for Code

[2020-12-31 09:12] HarshCasper commented on #641
@all-contributors please add @sharur7 for Documentation

[2020-12-31 10:57] akrish4 commented on #624
Hi @HarshCasper
I would like to bring these below mentioned updates tothe PR template , which gives a better understanding of the pr made

## Describe the changes you've made
A clear and concise description of what you have done ........

## Describe if there is any unusual behaviour of your code
A clear and concise description of it.........

## Additional context (OPTIONAL)
Add any other .......

[2020-12-31 11:38] sahebsunny commented on #587
@HarshCasper Sir I want to use Handwriting detection with Optical Character Recognition to get the notes from the image

[2020-12-31 12:55] djm-1 commented on #640
Yes, Devscript winter of code

[2020-12-31 16:53] avinal opened #656 "Creating a SSG website for this project."
Hello @HarshCasper,

There are lots of SSGs, some of the most popular are Sphinx, Jekyll, and a lot [more](https://scotch.io/tutorials/top-10-static-site-generators-in-2020). More or less they work on the same principle, that is converting Markdown or reStructured Text into HTML.

You may choose any SSG, but Jekyll has an additional advantage that it works natively with gh-pages, no CI/CD required

[2020-12-31 17:49] amandp13 commented on #466
@HarshCasper Can you please assign me this issue as a part of SWOC 2021

[2020-12-31 19:41] hackedak commented on #639
No...only SWOC

[2021-01-01 05:08] vybhav72954 commented on #587
@HarshCasper Opening a PR within an hour or so

[2021-01-01 17:21] amandp13 commented on #375
@HarshCasper Please assign me this issue for SWOC 21.

[2021-01-01 18:06] CharvyJain commented on #627
@HarshCasper Can I work on this ?

[2021-01-01 18:22] keshavnath commented on #466
Hey, due to personal reasons, I was not able to work on these issues, and I doubt I will be able to in the near future. Sorry for the inconvenience.

[2021-01-02 06:46] KamalDGRT opened #658 "Bash script to remove subtitles from Matroska files in a directory"
**Is your feature request related to a problem? Please describe.**
We tend to download video files. One of such container for video files is matroska or mkv. Sometimes the subtitles present in those mkv containers would be out of sync and it might be in language which we don't know. So, it would be cool to remove those subtitles and have a clean mkv file with just audio and video.

**Describe the

[2021-01-02 06:46] KamalDGRT commented on #658
@HarshCasper, I would like to work on this issue.

[2021-01-02 08:33] vybhav72954 commented on #569
I have made the PR
Would be really interested in knowing the results.
I can use the script to make a realtime graph as well if you would like that

[2021-01-02 08:40] vybhav72954 commented on #628
I can do this XD.
PS - Am also a part of `Script Winter and Devscript Winter`
that is if `SWOC'20` label is for the same.

PPS - Shouldn't in be `SWOC21`

[2021-01-02 09:07] vybhav72954 commented on #539
Is this still open @HarshCasper

[2021-01-02 11:16] vybhav72954 commented on #627
@HarshCasper Am participating in DWOC as well. I can do this XD

[2021-01-02 11:19] vybhav72954 commented on #318
@HarshCasper Is this open?

[2021-01-02 11:47] akrish4 commented on #624
@HarshCasper  Let me know if you want to add the above mentioned changes to your pr template
Kindly assign me

[2021-01-02 11:54] vybhav72954 opened #660 "A movie recommendation based on emotion"
**Is your feature request related to a problem? Please describe.**
Not a problem actually an idea I stumbled upon when simplifying my already script for #576
A movie recommendation system based on mood also sounds good.

**Describe the solution you'd like**
A movie recommendation according to mood.

**Describe alternatives you've considered**
Am not a movie buff 😛
Bur browsing through websites and

[2021-01-02 12:16] vybhav72954 commented on #660
/assign

[2021-01-02 12:19] vybhav72954 opened #661 "Email Validator using Powershell"
**Is your feature request related to a problem? Please describe.**
#633 motivated me to ponder with `.ps1` again. One of the first things I started using PowerShell for was Telnet, everyone should use Telnet actually as it a really powerful tool.

**Describe the solution you'd like**
A PowerShell script that can validate an email address.

**Describe alternatives you've considered**
Python has a p

[2021-01-02 12:55] KamalDGRT commented on #658
/assign

[2021-01-02 13:02] vybhav72954 opened #662 "Merge 2 PDF using JS"
**Is your feature request related to a problem? Please describe.**
Recently a code to merge 2 pdf using Python was uploaded, following the same suite I believe we should have the same for 2 PDF as well.

**Describe the solution you'd like**
A `js` code to merge 2 PDFs.

**Describe alternatives you've considered**
There are multiple alternatives, but I believe that this code will maintain the aesth

[2021-01-02 13:06] vybhav72954 opened #663 "Amazon Price Tracker using JS"
**Is your feature request related to a problem? Please describe.**
There are multiple scripts in Python more suited for Javascript, this being one. Having scripts in multiple languages for similar problems makes a whole lot of sense and is definitely useful.

**Describe the solution you'd like**
An amazon scrapper/tracker for products.

[2021-01-02 13:07] vybhav72954 commented on #662
@HarshCasper Assign this if you think its good enough similarly #663

[2021-01-02 14:38] KamalDGRT opened #664 "Batch creation of subtitle files"
**Is your feature request related to a problem? Please describe.**
We watch a lot of videos with subtitles. Sometimes, these videos will not have subtitles in them. So, it would be good if there is something to indicate that there are no subtitles.

**Describe the solution you'd like**
A SubRip subtitle file (.srt) with the message "No subtiles available!" for all such files present inside a direc

[2021-01-02 14:39] KamalDGRT commented on #664
@HarshCasper, could you please add the DWOC'20 label to this?

[2021-01-02 14:39] KamalDGRT commented on #664
/assign

[2021-01-02 17:07] vybhav72954 opened #665 "Python Script to automatically add Captions to an image, using Deep learning"
**Is your feature request related to a problem? Please describe.**
Deep learning is an interesting field, so many useful things are possible.
A script to automatically come up with a sensible caption is always good.

**Describe the solution you'd like**
The `alt text` is an important attribute of an image, and every image should have one.
Using Deep learning/Machine learning it is possible to actu

[2021-01-02 17:07] vybhav72954 commented on #665
/assign

[2021-01-02 17:26] vybhav72954 commented on #665
/assign

[2021-01-02 18:51] pankaj892 opened #666 "Adding a Python script to find location of IP of Owner"
Hello @HarshCasper i would like to add a python script which finds the location of a user based on his IP adress
please assign me on this issue

[2021-01-03 11:32] #588 closed

[2021-01-03 11:34] HarshCasper commented on #624
This is the current Issue Template. It is not helping us in any way.

Suggest you to take a look at this https://github.com/HarshCasper/Rotten-Scripts/pull/116 and find what's best for you.

[2021-01-03 11:35] HarshCasper commented on #628
I will update the labels soon. That's a lot of work (sadly).

Assigning 🚀

[2021-01-03 11:36] HarshCasper commented on #627
Hello Charvy,

If you are a participant at DWOC, let me know. I can assign it to you.

@vybhav72954 You are already working on many Issues, so let everyone have an equal share of pie 😄

[2021-01-03 11:39] HarshCasper commented on #656
Hello @avinal

Thanks a lot for this information. This made my general conception more clear. Would it be possible for you to work on this, or do I need to configure this from my side?

I guess we can go ahead with a new branch and have the scripts separately. This would give us a lot more control.

[2021-01-03 11:44] HarshCasper commented on #666
Can you give more clarity on how would your script work?

[2021-01-03 11:46] HarshCasper commented on #466
No issues, @keshavnath. The last Year was hard for all of us. Please let me know if you would still work on it.

@amandp13 I would take a second opinion from @keshavnath before assigning it to you.

[2021-01-03 11:52] avinal commented on #656
Hi @HarshCasper,
Since you want to create a whole new branch, we will need many people and remember whenever someone adds a new script he/she will need to add it to two places, script in main, and doc in another branch, if you are okay with it then we may start working. From your side,  you might want to decide the theme and generator and enable the gh-pages. Mostly sphinx with the read-the-docs t

[2021-01-03 14:21] pritamp17 commented on #629
Sir, I would like to work on this issue. could you assign it to me?

[2021-01-03 14:29] imakash3011 commented on #629
I have completed fixed this issue , just waiting for 5 January to make PR, otherwise it won't be counted in SWoC.

[2021-01-03 16:34] vybhav72954 commented on #628
I know man, hopefully, your other maderators would be available soon

[2021-01-03 16:35] vybhav72954 commented on #627
Yes please @HarshCasper I definitely understand :D

[2021-01-03 17:02] pankaj892 commented on #666
My script would fetch the ip address of user and return the ip address along with details like city,timezone,postalcode etc..

[2021-01-03 17:08] TrushaT commented on #552
Sorry, pls assign it to someone else.

[2021-01-03 17:40] CharvyJain commented on #627
Yes, I am participating in DWOC.

[2021-01-04 04:42] pritamp17 commented on #663
sir, I would like to work on this issue. could you please assign it to me?

[2021-01-04 08:15] Blastoise commented on #538
@HarshCasper  Can you please elaborate what are the things you need in a tweet. Only the url of the tweets or get all the information from the tweet such name of the username who posted, date when published, main tweet, like and share count and then format it in a Markdown format?

[2021-01-04 08:16] Blastoise commented on #538
Also it's relatively tough to do with BASH rather than using Python because BASH does not has Selenium like software, so I should get more points.

[2021-01-04 12:01] CharvyJain commented on #627
@HarshCasper Should I  "add a section to suggest Contributors actively use tools" in the table itself ?

[2021-01-04 13:30] hack3r-0m commented on #661
this is not quite feasible out-of-the-box on most personal machines as port 25 is blocked by most ISPs, by probing MX records will only guarantee if the domain has some sort of mail server. An alternative solution can be to use the free version of some API like [mailboxlayer](https://mailboxlayer.com/documentation) which has a good rate limit on the free version

[2021-01-04 13:51] vybhav72954 commented on #661
I know that, in most client-server systems, port 25 and TELNET are considered vulnerable, so the argument that every email can not be verified stands, but if a email is verified, then it sure also exists is true at the same time.

[2021-01-04 15:52] temitayopelumi commented on #152
Hi @HarshCasper, can I work on this issue?

[2021-01-04 19:21] Blastoise opened #670 "Bash Script to get all the bookmarks from all major browsers"
**Is your feature request related to a problem? Please describe.**
Managing bookmarks is really difficult and to filter out bookmarks from all browsers to get which website you bookmarked and using which browser is really useful.

**Describe the solution you'd like**
A bash script that checks which browsers are present on your system (Chrome,Firefox,Brave and Chromium) and then collect all the boo

[2021-01-04 19:22] Blastoise commented on #670
/assign

[2021-01-04 19:26] Blastoise commented on #670
/assign

[2021-01-05 06:56] vybhav72954 commented on #624
@HarshCasper Personally I prefer the old Issue template.

But I have one more suggestion.

How about having 3 Templates.

- New Script Template (similar to on in #116)
- Bug Template
- Feature Template

You can have the custom one also for sure.

Why this format?

The old template was really good for defining scripts, how they are supposed to work, and what to expect.

While the current template w

[2021-01-05 06:58] vybhav72954 commented on #401
@HarshCasper My action for checking a valid Markdown is ready. I will be solving this issue as well in the same PR, cause I think my Linter can help ina achieving that, I hope that won't be a problem!!!!

[2021-01-05 07:17] vybhav72954 commented on #534
@HarshCasper Can you check #401 and #672

[2021-01-05 10:39] vybhav72954 commented on #534
@HarshCasper Am opening a PR within 2 hours, meanwhile, I got some questions.

Would be great if you answer them!!!

- [ ] Shall I make Alt Text for images compulsory?
- [ ] Should I Allow inline HTML or Not?
- [ ] Do we need code fencing?

[2021-01-05 10:51] vybhav72954 opened #674 "Make PyLint action more strict"
**Describe the bug**
Recently I noticed, that the moderators have started paying more emphasis on advanced styling techniques like `docstrings` and `shebang`, the current PyLint Action, made by me is deliberately more tolerant (I thought that we were ignoring advanced styling), considering maintainers are all in for Good staying, the PyLint action needs to be updated.

**To Reproduce**
Steps to re

[2021-01-05 10:52] vybhav72954 commented on #674
@HarshCasper I will wait for you to assign me this as I want you to see this beforehand.

[2021-01-05 12:09] HarshCasper commented on #627
It would look better 💯

[2021-01-05 12:10] HarshCasper commented on #624
@akrish4 This Comment by @vybhav72954 is rock-solid. Please try to see, if you can create something like that.

[2021-01-05 12:12] #630 closed

[2021-01-05 12:22] #629 closed

[2021-01-05 12:29] HarshCasper commented on #674
@vybhav72954 Your Contribution to this Project has been unparalleled. You have helped me set up a lot of things and further enhance stuff, that I never expected.

I trust your judgement enough so please feel free to take up any Issue you create by your ownself. Just make sure you don't have too much on your plate at one time.

[2021-01-05 12:30] HarshCasper commented on #534
- Alt Texts are not compulsory. We will keep that thing with another Issue.
- Inline HTML is a definite plus.
- Code Fencing is all good.

A list of warnings and errors would help me in the later time. Keep the Action for every PR.

[2021-01-05 12:34] HarshCasper commented on #401
Go ahead! I will assign this to you.

[2021-01-05 12:36] HarshCasper commented on #152
Hello @temitayopelumi

Welcome to Rotten Scripts! Glad to have you here 🚀

You can definitely work on this. I guess we already have a Script in Python Directory, so you can test it out to see if it matches to what you are looking for. If not, you can improve it.

Otherwise, we are looking for similar scripts in JS or Golang. Do let me know what you feel about this. If you are comfortable on workin

[2021-01-05 12:58] vybhav72954 commented on #674
I know am having too many stale issues, fixing them ASAP

[2021-01-05 12:59] vybhav72954 commented on #534
Understood :D

Just one more doubt in that case, I will make a `README` explaining error messages, but where shall I save it? I believe having a README in workflows is not a problem, Right?

[2021-01-05 14:15] HarshCasper commented on #663
Hello @pritamp17

Issues are assigned on a First Come, First Serve Basis. There are plenty of Open Issues which you can take up.

[2021-01-05 14:16] HarshCasper commented on #656
That's a sound opinion. We don't want to over-burden new contributors. I guess we can go with the other one right now. Let me know what theme we would like to finalize on.

If you would like to get access to the repository, let me know.

[2021-01-05 14:17] HarshCasper commented on #666
Assigned the Issue. Let me know the Open-Source Program you are participating in, and I will put apt tags as well.

[2021-01-05 14:32] HarshCasper commented on #538
The URL is just fine. I'm looking for any customizations.

[2021-01-05 14:33] HarshCasper commented on #534
It should not be. Or we can have some docs explaining about this.

[2021-01-05 15:03] vybhav72954 commented on #534
docs explaining as in?

[2021-01-05 15:06] temitayopelumi commented on #152
/assign

[2021-01-05 15:21] HarshCasper commented on #534
Like a separate piece of documentation, telling them about various pitfalls they might land in. Also, we can highlight proper ways of contributions.

[2021-01-05 16:52] pankaj892 commented on #666
@HarshCasper I am participating in Dwoc as well as Swoc(Script winter of Code)

[2021-01-05 17:54] Abjcodes commented on #373
Hey @HarshCasper, sorry for the delay. I am facing some troubles regarding the implementation of this action. Can you mention the approach towards creating the action? Should this be done with a python script?

[2021-01-06 02:46] HarshCasper commented on #656
Awesome. You can go ahead!

[2021-01-06 02:55] HarshCasper commented on #373
Take a look at this: https://github.com/HarshCasper/Rotten-Scripts/issues/641

[2021-01-06 04:41] pritamp17 commented on #663
@HarshCasper sir in the case when it is not assigned to anybody, then please assign this issue to me.

[2021-01-06 04:48] pritamp17 commented on #639
@HarshCasper sir if nobody is working on this then could you please assign this to me..

[2021-01-06 05:06] pritamp17 commented on #619
@HarshCasper I would like to work on this issue.

[2021-01-06 05:10] pritamp17 commented on #619
my script would work somewhat like this...
first, through the request module, I would send IP to  https://whatismyipaddress.com/
then with the bs4 module, I will select the location ,
then I will send mail using SMTP lib.

[2021-01-06 08:50] vybhav72954 commented on #663
@pritamp17 I will be opening a P for this today only, I doubt this will be assigned to you, sorry for that, you are encouraged to open more issues though

[2021-01-06 12:06] HarshCasper opened #677 "Remove all Images from the Repository"
## Description

Remove all Images from the Repository. If you would have noticed, while `git clone`, that this repository is kinda HUGE. And if I look back at the reasons, it might due to some stupid requirements that I put over it in the initial stages.

One of them included having Images and GIFs to show the Code Preview or the Script demonstration. As more Scripts were added, this became huge a

[2021-01-06 12:10] HarshCasper commented on #619
I would like to know the proper feature-set first before we actually finalize this Issue.

[2021-01-06 12:11] HarshCasper commented on #639
It is already being worked on.

[2021-01-06 14:34] sakshikhachane commented on #677
@HarshCasper I would like to work on this issue. Can you assign me this issue?

[2021-01-06 15:49] Purvanshsingh commented on #375
I am working on it.

[2021-01-07 04:51] hack3r-0m commented on #661
i would also like to point out that every email verfied(using MX + VRFY(over port 25) ) does not imply it is deliverable

[2021-01-07 11:21] CharvyJain commented on #627
@HarshCasper **Is it fine ?**
![Untitled](https://user-images.githubusercontent.com/69421337/103887066-7e91ba80-5108-11eb-8cc4-bb1ed744b555.png)

[2021-01-07 11:59] pritamp17 opened #678 "Building a network scanner in python"
## This script will give IP and MAC-ADDRESS of devices connected to the same network as yours.

[2021-01-07 12:00] pritamp17 commented on #678
please assign this issue to me under SWOC

[2021-01-07 13:48] Zircoz commented on #677
@HarshCasper I am also interested in doing this if @sakshikhachane wanna/needs to share the task

[2021-01-07 15:26] HarshCasper commented on #677
Hi @sakshikhachane and @Zircoz

Thanks for requesting to take up. Since the work-load is kind of huge, I don't want one to take care of the entire thing. So its best to split the work.

I would suggest anyone of you find the directories which contain an Image and mention it here. And then you guys can split it up in batches and make PRs for them. Every PR would be individually marked, so be ensure

[2021-01-07 15:35] HarshCasper commented on #627
Good Work!

One Question: Why do we have README template column right here? And what content does it point to?

[2021-01-07 17:02] CharvyJain commented on #627
That column points to the ReadMe of that particular Script.
Any changes to make ?

[2021-01-08 02:34] #604 closed

[2021-01-08 13:29] himanshu007-creator commented on #624
i would like to work on this issue. Please assign me this issue.

[2021-01-08 13:36] ShristiJalan commented on #678
@pritamp17 you can work on this issue

[2021-01-08 14:46] HarshCasper commented on #627
I guess the directory link should open the directory, isn't it? Or are you referring the Code through it.

Anyway, I guess you can remove the Column and let the Directory Link directly open the Directory. Also, make sure to use Local Reference instead of directly using links.

[2021-01-08 15:02] himanshu007-creator commented on #624
https://github.com/HarshCasper/Rotten-Scripts/pull/681 Done sir.

[2021-01-08 17:46] CharvyJain commented on #627
Directory link will open the directory.

[2021-01-08 17:46] CharvyJain commented on #627
What is local reference ?

[2021-01-08 20:45] imakash3011 commented on #165
If you would provide me the actual link to the website whose data we have to scrape then it will be easy for me to work on this issue. So kindly provide me the link.

[2021-01-09 06:36] Ayush7614 opened #682 "Creating-Emoji-Using-Python"
# Aim

- Creating different-different emojis using python module

# Details

Fortunately ,python have multiple way using which we can print emojis :
Unicode
CLDR names
emoji module
Unicodes:
To use Unicodes , we need to replace “+” with “000” from the list of unicodes .
For example :
“U+1F600” will become “U0001F600” and prefix the unicode with “\” and print it.
CLDR names:
Emojis have CLDR short

[2021-01-09 06:40] Ayush7614 commented on #682
@HarshCasper sir plss review it and assigned me this issue this is for this is for DWOC

[2021-01-09 07:09] pritamp17 commented on #678
![issue](https://user-images.githubusercontent.com/65030567/104085703-760bc200-5277-11eb-887f-c870b18360aa.png)

@HarshCasper sir while submitting PR I am getting these issues, could you please help me how to solve these?

[2021-01-09 14:37] Ayush7614 commented on #682
@HarshCasper plss sir review it and assigned me this issue

[2021-01-10 06:28] Ayush7614 commented on #682
@HarshCasper sir plss review it and assign me this issue

[2021-01-10 09:57] snake-arch commented on #448
I would like to work on this issue (SWOC'21 participant)

[2021-01-10 10:03] a-k-r-a-k-r commented on #677
I would also like to work on this issue, incase it is not solved till now

[2021-01-10 11:00] sohamsshah commented on #448
@snake-arch Yes sure, go ahead. Let me know if you need any tips on performing this task. Best of luck for your competition!🙌

[2021-01-10 14:20] vybhav72954 commented on #677
@HarshCasper I really wanted to do this but was out of the station, hence wasn't able to `assign` it to myself. Hopefully, this will reduce the size of the Repo

[2021-01-12 20:01] Zircoz commented on #677
@sakshikhachane With python, I have created a log of files & folders which have images on this repo. Please ping me in any one of these places to discuss about division of work: Discord: Zircoz#1053 , [Telegram](https://t.me/Zircoz) , [Discord DWOC RottenScript Channel](https://discord.gg/T2YWhcGr) or lmk if any instant messaging platform you may prefer.

[2021-01-13 04:34] #569 closed

[2021-01-13 04:54] #587 closed

[2021-01-13 05:22] HarshCasper commented on #682
Why is a Script needed for it?

[2021-01-13 05:23] HarshCasper commented on #627
Don't use links directly. Refer [this](https://github.com/TesseractCoding/NeoAlgo/tree/master/Python) to better understand how local references are created.

[2021-01-13 05:36] HarshCasper opened #688 "Hunt Dead Code [IMPORTANT]"
## Description

Hunt the Dead Code.

Since the Project has a lot of Code and Script now, we don't know, if all of them fits the purpose. This is because some of the Scripts might have been deprecated because of changing dependencies or because of slacking up in the review purpose. This Issue is `Open for all` who would like to hunt some dead code.

Feel free to set it up, on your Personal System a

[2021-01-13 06:07] Ayush7614 commented on #682
Sir so what you think it is a valid issue or not according to your project rotten scripts but emoji using python is a very common in python that is not in the project so thats why i will create a issue so if you are like it then plss assign me under DWOC

[2021-01-13 06:08] Ayush7614 commented on #682
Script like we have to use three module of python here to create a emoji

[2021-01-13 06:10] Ayush7614 opened #691 "Dice Rolling Simulator using Python-random"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
In this script we will create a classic rolling dice simulator with the help of basic Python knowledge. Here we will be using the random module since we randomize the dice simulator for random outputs.

[2021-01-13 06:11] Ayush7614 opened #692 "Dice Rolling Simulator using Python-random"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
In this script we will create a classic rolling dice simulator with the help of basic Python knowledge. Here we will be using the random module since we randomize the dice simulator for random outputs.

[2021-01-13 06:11] Ayush7614 commented on #692
@HarshCasper plsss review it

[2021-01-13 06:22] #692 closed

[2021-01-13 06:25] Ayush7614 opened #693 "Dice Rolling Simulator using Python-random"
* Aim
Dice Rolling Simulator using Python-random

* Details
In this Script we will create a classic rolling dice simulator with the help of basic Python knowledge. Here we will be using the random module since we randomize the dice simulator for random outputs.

[2021-01-13 06:26] #693 closed

[2021-01-13 12:02] CharvyJain commented on #627
Okay. Thanks

[2021-01-13 12:06] HarshCasper commented on #627
@CharvyJain Can you let me know how much time it would take you for making a PR?

[2021-01-13 12:16] #616 closed

[2021-01-13 13:43] CharvyJain commented on #627
I will complete by tomorrow evening.

[2021-01-13 14:10] CharvyJain commented on #627
@HarshCasper When local reference link is clicked, Should it open folder or direct script (.py) file ?

[2021-01-13 14:17] HarshCasper commented on #627
Folder is preferred.

[2021-01-14 05:27] Blastoise commented on #369
@HarshCasper Please add SWOC label in this issue so that my contribution is counted.

[2021-01-14 10:06] himanshu007-creator opened #695 "script to automate a website"
I would like to conrtibute by sharing code to automate a website.
The script can be run on CLI and VOILA,WEBSITE WILL OPEN!
please add DWOC label to it and assigne me this issue

[2021-01-14 11:44] CharvyJain commented on #627
PR - #696
Let me know if there are any changes to make ?

[2021-01-14 18:24] pawankm21 commented on #691
I would like to work on this issue

[2021-01-15 12:00] vybhav72954 commented on #624
@HarshCasper Consider me as your last option if no one asks to solve this.

[2021-01-15 12:06] vybhav72954 opened #697 "Spell Check Markdown Github Action"
**Is your feature request related to a problem? Please describe.**
We need a GitHub action to check the spellings, trust me we need it because I have done this 3 times already (#459, #523, #567).

Still just today I found a few problems, we need to format the old code base ourselves, but having an action to point out problems is never a bad idea.

**Describe the solution you'd like**
A GitHub acti

[2021-01-15 12:07] vybhav72954 commented on #697
@HarshCasper Am going to open a PR for this within a few minutes, hence am assigning this to myself, if you think it's useless or unnecessary, kindly mention it here and close the issue. Cheers

[2021-01-15 12:07] vybhav72954 commented on #697
/assign

[2021-01-15 12:43] vybhav72954 commented on #373
@Abjcodes Actually a Python script is useless here, you need to make a YAML file. The language is easy, but very strict, if you face trouble you can see #698

All these are GitHub actions only. You need to make a GitHub action that will trigger the `bot` used in this Repo.

The actions in my PR are working, but the PR is open as Harsh is yet to review

[2021-01-15 21:36] vybhav72954 commented on #628
Unable to understand these 2 points.

[2021-01-16 05:16] #628 closed

[2021-01-16 05:30] #627 closed

[2021-01-16 05:51] vybhav72954 commented on #628
@HarshCasper Is it possible that this can have DWOC label as well, DevScript Winter of Code?

[2021-01-16 08:10] vybhav72954 commented on #539
@HarshCasper You mentioned SOTA, i am assuming you want something like `LSTM` or `R-NN`

If I use `NLTK` because natural language is my place of interest, would it be fine? I can definitely guarantee that it would be more efficient than any Short term memory classifier, but the weight would be an issue.

Alternatively, I can make both of the scripts, and show the differences, I think that it would

[2021-01-16 09:13] vybhav72954 commented on #576
@HarshCasper So I was just going to make a PR,  but just one doubt, I don't want to upload a heavy well-trained model for the sake of the size of Repo, all I want to do is upload the most basic implementation of Deep learning for Music classification. I can explain steps in README that will give an idea to make it more efficient, but am I allowed to link my own REPOSITORY in the README, if people

[2021-01-16 11:45] HarshCasper commented on #539
Yeah. I was essentially exploring some new Modules that make Text Summarization as simple as a module import. You can definitely go ahead with the NLTK solution 👍

[2021-01-16 11:47] HarshCasper commented on #576
Yeah. Please go ahead!

Regarding the Model Size, you can upload it on a Google Drive and reference it there just for sake of it.

[2021-01-16 11:51] vybhav72954 commented on #539
So basically this if am not wrong?

[2021-01-16 14:29] a-k-r-a-k-r opened #703 "RGB to Gray"
**Description**
Simple to use GUI to convert RGB images to Gray scale images, using tkinter.

**Feature**
- Simple GUI
- easy to use
- convert and save image

**Labels**
- SWOC'20
- python
- tkinter
- Medium
- good first issue

[2021-01-17 05:06] pritamp17 opened #705 "PORT scanner in GOLANG"
**Is your feature request related to a problem? Please describe.**
A Golang script that will scan  IP and PORT of a network

[2021-01-17 05:09] pritamp17 commented on #705
please assign this to me under SWOC.

[2021-01-19 06:01] chetak123 commented on #524
can I take this issue as a DWOC participant please.

[2021-01-19 13:31] himanshu007-creator commented on #695
https://github.com/HarshCasper/Rotten-Scripts/pull/707 done sir. Kindly add DWOC label and level-3  tag to it.
Thank you!

[2021-01-19 13:36] himanshu007-creator commented on #658
i would like to work on this issue

[2021-01-19 15:25] avinal commented on #632
PR #706

[2021-01-21 08:36] avinal commented on #633
PR #709

[2021-01-21 09:19] Zircoz commented on #677
@HarshCasper I can edit the readme's text if it makes them better, right? Like in `python/heat your system` 's readme, the guy has only mentioned that it can drain battery; while doing that for longer periods can also reduce the life of hardware. So, i guess i can add it ?

[2021-01-21 09:24] HarshCasper commented on #677
Feel free to do that 👍

[2021-01-21 12:21] Sloth-Panda opened #710 "creation of discord bot using python"
would like to make a discord bot using python @HarshCasper

[2021-01-21 13:26] Dhriti-Roy commented on #710
Hey, Can I start working on it.

[2021-01-21 17:22] vaishnavi-1 opened #711 "Add a python script to detect the edges of the image"
I will add a python script that will act as canny edge detector and detect the edges of the images. I will use opencv for detecting the edges. I am a participant in DWOC and want to contribute. @HarshCasper Kindly, add the labels and please assign this issue to me.

[2021-01-21 17:55] himanshu007-creator commented on #703
DONE https://github.com/HarshCasper/Rotten-Scripts/pull/712

[2021-01-21 20:28] Rahul555-droid commented on #610
Hi Harsh I have the code and readme file ready and I see that I am still assigned to this issue,
 I can make the PR like before this time from my local git.

can you please count this for DWOC then?

Thanks.

[2021-01-22 11:48] oshi36 opened #713 "Automation of Google Chrome Dino Game"
I will be using python and its libraries such as pyautogui  and pillow to automate chrome dinosaur game with NLP to teach dino about the hurdles coming in between.

[2021-01-22 12:47] #401 closed

[2021-01-22 12:47] #534 closed

[2021-01-22 12:47] #697 closed

[2021-01-22 17:13] vaishnavi-1 commented on #711
\assign

[2021-01-23 02:48] HarshCasper commented on #703
Hi @a-k-r-a-k-r

Thanks for making this Issue!

Unfortunately, we don't use GUI Apps since, as the Repo name is evident, we accept only Scripts that we can use from Terminal. If you would like to work on a Script version, you are more than welcome.

@himanshu007-creator You are not allowed to take up any Issue and make a PR for the same, without explicit statement. Primarily because Issues created

[2021-01-23 03:28] HarshCasper commented on #695
Level -3 Tag for a PR that has a few `echo` and `sleep` command? I'm sorry but the PR that has been raised is a shallow quality PR, and is not even fit to be reviewed and merged. Apart from that, I don't find the Issue to be worth taking up as well, since it has no functionality whatsoever.

Thanks for making an Issue and a PR, but it is not fit to be carried forward!

[2021-01-23 03:28] #695 closed

[2021-01-23 03:48] #632 closed

[2021-01-23 04:02] HarshCasper commented on #610
Sure. Please go ahead

[2021-01-23 04:03] #583 closed

[2021-01-23 04:03] HarshCasper commented on #539
Yeah

[2021-01-23 04:05] HarshCasper commented on #710
Hello @Sloth-Panda and @Dhriti-Roy

Appreciate your enthusiasm to work on this. Can you please let me know what would be the purpose of the Discord Bot?

[2021-01-23 04:07] HarshCasper commented on #711
Looks interesting. Assigned you the Issue to see the final outcome

[2021-01-23 04:09] HarshCasper commented on #713
Thanks for taking up this Issue @oshi36

Can you please let me know if you are participating on behalf of some OSS Program like SWoC or DWoC?

[2021-01-23 04:20] HarshCasper opened #714 "Create a Contribution Guideline for Python"
## Description

Create a Contribution Guideline for Python. The Contribution Guideline should help new Contributors to understand all the necessary steps before raising a PR. It should broadly cover these parts:

- Using tools like PyLint for Code Quality Check
- Making proper directories, naming conventions and making the Python README changes
- Adding Screenshot Images through Imgur
- Formatting

[2021-01-23 04:25] oshi36 commented on #713
@HarshCasper yes, I am a participant of DWoC.

[2021-01-23 12:38] a-k-r-a-k-r commented on #703
Hi @HarshCasper thanks for the reply. I'm closing the issue for now.

[2021-01-23 12:38] #703 closed

[2021-01-23 17:43] Sloth-Panda commented on #710
@HarshCasper my thought is quite generic about it like implementing that on a discord channel basically for moderating that server  or if you have any server can be implemented there too.

[2021-01-24 08:22] vybhav72954 commented on #714
@HarshCasper Can i take this, rather make an extension here.

SO here is what my plan was ----

I was planning to make a new `styling guideline` for the repo, one thing I have noticed is, people don't use auto styling code tools, so the guideline I was planning to make was related to thin only.

Although your idea is a bit different, we can incorporate them together as well.

[2021-01-24 08:47] vybhav72954 commented on #714
The reason why i want to do this is, I have made several styling actions for this Repo, but users actually don't care a lot about failing actions (I have an idea to sort this as well), so it would be better to make a guide which will ensure that we reduce those errors in action in the first pplace.

[2021-01-24 12:30] vybhav72954 opened #718 "Irregular Directory Names"
This is in relation to #688

While looking for dead code, I found multiple Repos with names that don't align with the naming convention.

I think we should change them for the sake of aesthetics.
Considering we have a new `README` as well now, one will have to change the Links in it as well.

@HarshCasper If you think that we need to rectify them, you can assign me or anyone else for that matter,

[2021-01-24 15:46] vybhav72954 commented on #539
@HarshCasper This is taking time because for some reason I can't install `neologdn` package, I don't know why its happening either :|

[2021-01-25 15:04] avinal commented on #635
PR #719

[2021-01-25 16:46] avinal commented on #636
Work in progress

[2021-01-26 00:55] #660 closed

[2021-01-26 03:37] #635 closed

[2021-01-26 04:06] #633 closed

[2021-01-26 04:23] shivangisahay14 commented on #714
I would like to contribute

[2021-01-26 04:24] shivangisahay14 commented on #711
I would like to contribute to this issue.

[2021-01-26 04:24] shivangisahay14 commented on #677
I would like to work on this issue.

[2021-01-26 07:49] vaishnavi-1 commented on #711
@shivangisahay14 I am already working on this issue and it will be done by tomorrow....Kindly, look at other issues.

[2021-01-27 04:52] Ayush7614 opened #723 "Discovering Subdomains with Python"
**Is your feature request related to a problem? Please describe.**
Discovering Subdomains with Python

**Details**
Python Script to List all the subdomains of a website and stored it in a CSV file.

[2021-01-27 04:53] Ayush7614 commented on #723
We need to create a subdomain.txt file and run a dictonary attack. We added a subdomain.txt file with popular 1000 subdomains and you can find more subdomain.txt files..

[2021-01-27 04:54] Ayush7614 commented on #723
@HarshCasper sir plss assign me this issue under DWOC

[2021-01-29 05:52] #576 closed

[2021-02-01 07:27] AnshMishra2001 commented on #688
Can I work on this issue?

[2021-02-01 15:55] avinal commented on #656
Hello @HarshCasper, I am starting to convert all readme files from `markdown` to `reStructuredText`. Just for safety purposes, I am keeping the actual Readme along with them. If everything works finally then we can remove all markdown in a pull request. But I am a bit confused, should I do this in a separate branch or main branch. First method will require newer files to be added again.

[2021-02-02 11:15] #585 closed

[2021-02-02 11:16] #664 closed

[2021-02-02 11:17] #658 closed

[2021-02-03 05:16] #666 closed

[2021-02-05 05:57] pawankm21 commented on #710
I would like to work on this issue, I am already half way through in making a discord bot

[2021-02-05 12:29] #369 closed

[2021-02-05 12:35] #678 closed

[2021-02-06 06:03] pritamp17 commented on #375
@HarshCasper please assign this issue to me in python.

[2021-02-06 08:28] avinal commented on #656
@HarshCasper, please see this!

[2021-02-06 15:19] snake-arch commented on #448
Pull request made for Issue #448 Background extractor for static video feed

[2021-02-07 05:09] kumarankm commented on #662
Hello,
Can I work on this issue?

[2021-02-07 05:37] vybhav72954 commented on #662
This is after you already made a PR 8 hours ago 🤣
Although as I completely forgot about this @HarshCasper assign him 😄 I will unassign myself

[2021-02-07 08:44] kumarankm commented on #662
Sorry, I didn't read the guidelines properly😅. Later I come to know that first, we need to get assigned.
Anyway thanks😃

[2021-02-07 09:46] vybhav72954 commented on #662
@kumarankm Thank you for contributing, I did forget that this was assigned to me so it's my mistake too. There are many more unassinged issues, see if you can sort them.

Meanwhile, lets wait for @HarshCasper to review your PR

[2021-02-07 12:17] HarshCasper opened #732 "Find Unfollowers on Github"
## Description

There are a lot of people who follow people and unfollow them as well, later. While we don't exactly know, under what circumstances is the `Unfollow` button clicked, but we for sure, don't know who unfollowed us.

Build a Script/CLI that can track the Usernames who unfollowed you recently on Github.

## Languages

- Python
- Javascript
- Golang
- BASH

[2021-02-07 12:23] HarshCasper opened #733 "Export Notion Page as a Website"
## Description

Convert a Notion Page as a Static Website using a handy Script at use. Find some inspiration [here](https://benborgers.com/posts/50) and [here](https://github.com/leoncvlt/loconotion).

## Languages

- Python
- Javascript

[2021-02-07 17:27] kumarankm commented on #662
Thanks, @vybhav72954  . Sure I will check for unassigned issues. If you don't have a clear idea of what I did in this code you can check my blog in dev to.
https://dev.to/kumarankm/merging-a-pdf-using-javascript-527i

[2021-02-07 17:28] vybhav72954 commented on #662
Would love to through that :)

Although am not a maintainer nor a reviewer 😅

[2021-02-07 18:27] madhurima99 opened #734 "Add watermark to images"
I would like to add two python scripts that can add a watermark to an image using either logo or text.

@HarshCasper I'm participating in DWOC. It would be great if you assign this issue to me.
Thank you.

[2021-02-08 06:38] RutvikJ77 opened #735 "Extracting video to images at required frame rate."
**Describe the solution you'd like.**

The script will allow users to extract images at the desired rate or as per the time interval specified in arguments. It can be useful to extract training images for deep learning purposes.

I would like to take this issue and I am participating in Mexilli's Winter of Code.

[2021-02-09 03:01] vismitap commented on #732
Hey! I would like to work on this issue using javascript as part of SWoC and DWoC. Please assign this issue to me!

[2021-02-09 05:18] vybhav72954 commented on #733
I can do this one @HarshCasper

[2021-02-09 05:23] vybhav72954 commented on #733
Justa small request beforehand, as am participating in MWoC, kindly see the labels accordingly.

Moreover my 4  PRs are open, might be 5. Please Review them

[2021-02-09 07:45] nimit2801 commented on #14
Hey! @HarshCasper can I work on this issue and is this open for MWoC?
I'll make a PR soon anyways very cool idea actually.

[2021-02-09 09:11] pritamp17 opened #736 "Distance calculating app."
Is your feature request related to a problem? Please describe.
An app that can show the distance between your current position(located using user's current IP) and user searched position on Map.

Additional context
This app will have a frontend too, to show searched position on the map.

[2021-02-09 09:12] pritamp17 commented on #736
please assign this to me in Python, under SWOC.

[2021-02-09 19:11] avinal commented on #656
![image](https://user-images.githubusercontent.com/74113200/107414713-657d8e80-6b38-11eb-96ad-51b99490a8b4.png)

@HarshCasper, Please see if this looks right, I have converted all files to rst using bash scripting and pandoc, just need to connect and resolve issues, it will ready in  few days, I will soon be giving a live demo.

[2021-02-10 06:21] #539 closed

[2021-02-10 06:26] vybhav72954 commented on #539
@HarshCasper Assign proper labels if possible

[2021-02-10 06:28] #714 closed

[2021-02-10 06:45] #624 closed

[2021-02-10 06:52] HarshCasper commented on #656
I will create the same by Evening. Apologies for missing this out in a drain of notifications.

[2021-02-10 06:52] HarshCasper commented on #656
Damn! This looks awesome 🚀

[2021-02-10 07:51] avinal commented on #656
@HarshCasper, Thanks. This theme has more interesting features, one of the most awesome of them is inbuilt binder support, we can run scripts(mostly python) right on the website. I haven't tried them much but sounds cool.

[2021-02-10 13:54] HarshCasper opened #738 "Script to display top posts from Hashnode"
# Description

Add a Script to display top posts from Hashnode. Take a look at the Hashnode API [here](https://engineering.hashnode.com/introducing-hashnode-graphql-api-public-beta-cjydzvp59001q2gs1b5zxaeaf) and the Playground [here](https://api.hashnode.com/).

The Script should ideally fetch the top posts that are trending on Hashnode as of now. You can also use flags to pass arguments for vario

[2021-02-10 15:13] HarshCasper commented on #656
Hi @avinal

Thanks for the efforts and contributions!

I have created a branch named `rotten-scripts-website` and enabled GH-Pages over it. Let me know if you need anything else.

Also as a gentle request, can you please create a new discussion thread and post all your progress over there? It would be easier, to take a look over the progress and let the other contributors share their opinions. Tha

[2021-02-10 15:23] HarshCasper commented on #688
For sure. There are a lot of scripts so feel free to work on a bunch and try to break them up and see if they work or not. If not, raise an Issue here or raise a PR with proper fixes 👍

[2021-02-10 15:24] HarshCasper commented on #718
Feel free to raise a PR for the same. Also add the naming conventions in the Guidelines 👍

[2021-02-10 15:28] HarshCasper commented on #736
Why do we need a Frontend when we don't even have GUI Apps in the Project?

[2021-02-10 15:35] HarshCasper commented on #524
Please go ahead!

[2021-02-10 15:36] #538 closed

[2021-02-10 15:49] vybhav72954 commented on #718
@HarshCasper naming Conventions are in Guidelines already

Can i have SWOC or MWOC label as well?

[2021-02-10 16:29] avinal commented on #656
sure @HarshCasper, will do that by tomorrow.

[2021-02-10 17:10] #674 closed

[2021-02-10 17:13] HarshCasper commented on #641
@all-contributors please add @kritikaparmar-programmer for code

[2021-02-10 17:13] HarshCasper commented on #641
@all-contributors please add @kritikaparmar-programmer for documentation

[2021-02-10 17:16] HarshCasper commented on #641
@all-contributors please add @Sumit-Sahu for code

[2021-02-10 17:16] HarshCasper commented on #641
@all-contributors please add @Sumit-Sahu for documentation

[2021-02-10 17:17] HarshCasper commented on #641
@all-contributors please add @howardshin1 for code

[2021-02-10 17:17] HarshCasper commented on #641
@all-contributors please add @howardshin1 for documentation

[2021-02-10 17:18] HarshCasper commented on #641
@all-contributors please add @twozero88 for code

[2021-02-10 17:18] HarshCasper commented on #641
@all-contributors please add @twozero88 for documentation

[2021-02-10 17:19] HarshCasper commented on #641
@all-contributors please add @GoswamiTushar for code

[2021-02-10 17:19] HarshCasper commented on #641
@all-contributors please add @GoswamiTushar for documentation

[2021-02-11 06:37] RutvikJ77 commented on #735
/assign

[2021-02-11 06:48] RutvikJ77 opened #744 "Leaderboard update for MWoC"
# Description

Create a labels.yml file in github/workflow with the required code. Please check out this link for more reference https://mexili.github.io/winter_of_code/#/winter_of_code?id=scoring-system-for-winter-of-code-mentor-requirements

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powershell
- [ ] Python
- [x] Other (yml)

## Checklist:

- **Details on the Script**

| name

[2021-02-11 07:19] HarshCasper opened #745 "Script to collect Facebook Timeline Posts"
# Description

Add a Python Script to collect the links and details of all Facebook Timeline Posts using the [Facebook Graph API](https://developers.facebook.com/docs/graph-api/). Data should be stored in a CSV for better access and usage.

## Language

- [X] Python
- [X] Javascript
- [X] Golang

## Checklist:

- **Details on the Script**

| name            | about

[2021-02-11 09:18] vybhav72954 commented on #744
@RutvikJ77 This is not an additional script but a feature, I know that you are an avid contributor. Feature Request template if used wouldn't have caused these cluttered labels 😄

[2021-02-11 10:26] RutvikJ77 commented on #744
Oh! My bad 😅. I get it now. One more thing, I have one more script to contribute. It basically creates stop-motion video from the input file. So that would be counted as an additional script right? Additionally, just a suggestion while creating this description I got a bit confused, maybe you can make them clutter-free? 😅

[2021-02-11 10:53] RutvikJ77 commented on #744
Now I get it unnecessary labels are being added. A grave mistake on my front 😓

[2021-02-11 12:21] HarshCasper commented on #744
No worries @RutvikJ77

We want everyone to learn here and contribute as well!

I personally learn a lot from all your PRs so keep them coming. Coming to the other questions, please send PRs from different branches which makes it easy to track and mitigates merge conflicts.

[2021-02-11 12:54] RutvikJ77 commented on #744
Got it! Thanks 👍 so should I update the current ones?

[2021-02-11 12:58] vybhav72954 commented on #744
Its fine actually, cause o your contribution I noticed a small problem in the YML files that I have configured, thanks for that, keep contributing 😀

[2021-02-11 13:21] HarshCasper opened #750 "Add Mexili Winter of Code to Open_Source_Events"
## Description

Add Mexili Winter of Code to `Open_Source_Events`.

[2021-02-11 13:23] HarshCasper opened #751 "Add Cross WOC to Open_Source_Events"
## Description

Add Cross Winter of Code to `Open_Source_Events`.

[2021-02-11 13:34] Saransh-cpp commented on #750
Hi there! I am new here:), I'd like to take this issue as a part of MWoC.

[2021-02-11 13:47] HarshCasper opened #752 "Script to scrap Twitter Data"
# Description

Add a Script to scrap Twitter Data in a neat-CSV file with the following fields:

1. Tweets
2. Retweets
3. Likes
4. Pinned (if present)
5. Hashtags, Videos, Photos

## Language

- [X] Go
- [X] Javascript
- [X] Python

## Checklist:

| name            | about                                                  | labels  | assignees                                                      |

[2021-02-11 13:58] HarshCasper commented on #750
Sure. Next time, if you are the first on the Issue thread and would like to take up the Issue, just comment: `/assign` and a Bot will assign you that automatically :)

[2021-02-11 14:03] Saransh-cpp commented on #750
Okay! Thanks for the tip! I'll start working.

[2021-02-11 15:00] Ayush7614 commented on #751
Plsss assign me this issue

[2021-02-11 15:09] HarshCasper commented on #751
Are you a Cross Winter of Code Participants @Ayush7614 ?

If yes, please use `/assign` to auto-assign the Issue 😉

[2021-02-11 15:16] Ayush7614 commented on #751
Yess i am Participant

[2021-02-11 15:16] Ayush7614 commented on #751
/assign me

[2021-02-11 15:54] Saransh-cpp opened #754 "A new Twitter bot with a different functionality (replying to tweets and tweeting images and texts) than the already existing one"
# Description

## Adding a Twitter bot that replies if a particular keyword is tweeted while mentioning the bot, and the bot also tweets images and texts after a certain interval of time

I was going through the code of the already present Twitter bot and I found that a script for replying to particular tweets (not retweeting) and tweeting texts and images after a specific interval of time were mi

[2021-02-11 15:56] Saransh-cpp commented on #754
/assign

[2021-02-12 08:47] #670 closed

[2021-02-12 08:52] HarshCasper opened #756 "CLI Script to understand PR Workflows"
# Description

Create a CLI Script which can help us better understand the Pull Request Workflows on the Project with some important statistics:

- How many PRs are open?
- How long have the PRs been open?
- Number of Comments on open PRs?
- Merged and Closed PRs

You can come up with your own customization on what you are aiming to build. Some good resources to check out on how to build this can

[2021-02-12 08:58] HarshCasper opened #757 "Github Actions: Auto-Close Issues if the PR is merged"
# Description

In many of the cases, I found that the Issues are not closed when the PR is merged. We can have a Github Action which can take care of closing the Issues when the PR is merged automatically. Few edge cases we can cover are:

- Does the PR contain an Issue? If not, remind the contributor to link the Issue to the PR (You can add labels as well)
- Is the Issue assigned to more than one

[2021-02-12 09:11] HarshCasper opened #758 "Report: Present a report on the state of Pull Requests"
## Description

Up till now, nearly 65+ Contributors have contributed to Rotten Scripts with more than 400+ Pull Requests created and 350+ Issues created. I want to better understand on how easy has the contributions been for the Contributors.

Since the Project has been a part of many Open-Source Programs, I need to understand how many PRs have been merged and how many PRs were closed. You can al

[2021-02-12 09:59] Sukriti-sood commented on #752
I want to work in this issue , Still I only know javascript .

[2021-02-12 10:01] HarshCasper commented on #752
You can work on it only using Javascript :)

Please have a look at our [Style Guidelines](https://github.com/HarshCasper/Rotten-Scripts/blob/master/STYLE_GUIDELINES.md) if you are working on it!

[2021-02-12 11:38] #750 closed

[2021-02-12 13:45] vybhav72954 commented on #757
@HarshCasper I can do this and #758 too, but would be better if someone else takes them for now. I know there are people here who are better than me at that

[2021-02-12 14:02] HarshCasper commented on #757
Assigning you this. Feel free to take #758 as well, if no one takes it up for a couple of days

[2021-02-12 14:44] nimit2801 commented on #14
Why do we need to web scrap? We already have Reddit's API for that. @HarshCasper can we use that. And I would like to use Javascript/Python.

[2021-02-12 16:45] deephunt3r opened #761 "Bash script to find details of an IP address"
### I would like to create a bash script to find the details of a given IP address.

 Features of the script:

Can be used in windows, Linux, macOS, and also on Termux.
 Can be used to track the country, region, ISP, latitude, and longitude of the IP

[2021-02-12 16:48] deephunt3r commented on #761
@HarshCasper can you please assign it to me under crosswoc.

[2021-02-12 21:20] vismitap commented on #732
Hey! The current directory structure is as follows for Javascript:
![image](https://user-images.githubusercontent.com/47056243/107823253-7e3eac00-6da5-11eb-969c-6af9b13234bf.png)
Should I make a new folder called Github Unfollowers or add the files in the Who_Don't_Follow_You directory itself which is actually for Instagram and edit the readme?
Current readme for Who_Don't_Follow_You:
![image](htt

[2021-02-13 01:38] DiegoCaraballo commented on #752
Hello @HarshCasper
I would like to work with this issue in Python.
Would the extraction be for a username?

[2021-02-13 07:25] vybhav72954 commented on #757
@HarshCasper Can you give me an idea by the way of what you want again?

I mean PR has the `fixes` and other related keywords

So it should automate that.

Do you want to close an issue even if a PR has no fixes thing in its body.

Reminding people to open an issue is definitely possible and straight forward

[2021-02-13 07:56] vybhav72954 commented on #677
@HarshCasper May I solve this, please?

I was going to hunt for dead code and the images are bugging me out 🤦🏻

@Zircoz Else you can tell me whats the progress

[2021-02-13 07:58] Zircoz commented on #677
My bad, I will complete this in next 7 days or before. I have done around 76ish images and i have it marked somewhere on discord

[2021-02-13 08:10] vybhav72954 commented on #677
@Zircoz Would it be Ok, If you do the images, and I do the READMEs?

I was hunting for Deadcode anyways, and also as the website deployment is due, I can get the READMEs done by today only

[2021-02-13 08:23] vybhav72954 opened #762 "Enforce PEP-8 guidelines in the Python Codebase"
@HarshCasper The name is obvious in itself, this is in conjunction with #688

I will open a PR after I refactor at least 10 directories, so as not to simply clutter up the Issues and PRs.

Or shall I do it in one go?

[2021-02-13 08:33] Zircoz commented on #677
@vybhav72954 what has to be done in readmes?

[2021-02-13 08:36] vybhav72954 commented on #677
As you can see in #755

Avinal has setup an awesome static website.

The READMEs which are not following the template of this Repo are causing problems.

I was planning to update the READMEs according to the Template

[2021-02-14 11:52] #744 closed

[2021-02-14 11:58] RutvikJ77 opened #765 "Quantum Computing script to generate random numbers"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description
The script will use Quantum gates to create random numbers.

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powershell
- [x] Python
- [ ] Other (P

[2021-02-14 11:58] RutvikJ77 commented on #765
/assign

[2021-02-14 12:02] RutvikJ77 commented on #765
/assign

[2021-02-14 14:21] HarshCasper commented on #765
Few questions:

- What is the actual purpose of generating random numbers? Classic Computing does that quite well, isn't it?
- What Quantum Computing language will you use? Are you planning to use Q# ?
- What is the specific advantage it provides over other implementations?

[2021-02-14 14:36] HarshCasper opened #766 "Improve Documentation [Important] (Read Comments)"
## Description

Update incomplete README. As many of the Contributors might have noticed, we have a long list of Scripts along with appropriate documentation on how to launch and work with them.

Unfortunately, a lot of Scripts have been pushed without a lot of strongest checks and reviews. We can work on improving the documentation for scripts that lack a proper information.

Thanks to @avinal we

[2021-02-14 14:39] HarshCasper commented on #677
@Zircoz and @vybhav72954 Please feel free to create a new discussion thread where you can coordinate the work!

[2021-02-14 14:40] Zircoz commented on #677
Ah tiny update: the work is almost done and will be completed by tomm morning if everything in my life works as planned 😎

[2021-02-14 14:43] HarshCasper commented on #762
Please go ahead. Just use the `/assign` bot and feel free to work on any improvements 😄

[2021-02-14 14:54] #713 closed

[2021-02-14 14:58] HarshCasper commented on #757
Apparently not. Take a look at your PR [here](https://github.com/HarshCasper/Rotten-Scripts/pull/699) and the corresponding Issue [here](https://github.com/HarshCasper/Rotten-Scripts/issues/660).

Even though the PR was merged, the Issue was not closed automatically. So the prime responsibility of the Bot should be to close the Issue if the PR is merged.

If there is no Issue linked, they should n

[2021-02-14 14:59] HarshCasper commented on #752
Sure. Yes.

The extraction should be from the Username. Assigning you the same :)

[2021-02-14 15:02] vybhav72954 commented on #757
That makes sense. I can incorporate that one.

[2021-02-14 15:03] vybhav72954 commented on #677
@Zircoz That's awesome 👍🏻

[2021-02-14 15:08] HarshCasper commented on #14
Sure. Go ahead

[2021-02-14 15:29] vybhav72954 commented on #766
@HarshCasper Can i take this one, considering I am doing the styling anyways in #762
after all the images are sorted out in the readme as mentioned in #677

I will deal with the READMEs

[2021-02-14 16:36] DiegoCaraballo commented on #752
Thanks @HarshCasper
Can I work with selenium or does it have to be with a particular library?
Regards!

[2021-02-14 17:09] HarshCasper commented on #752
Please feel free to use anything :)

[2021-02-14 17:13] HarshCasper commented on #766
Sure. Please do it in batch and let me know which batch you are working on.

[2021-02-14 17:41] HarshCasper commented on #766
Just as Note: Anyone can work on this! Just comment the batches that you like to work on and make a PR 😉

[2021-02-15 04:19] RutvikJ77 commented on #765
Great Questions!
- Quantum Computing gates are quite different from the classical gates and require an intricate understanding of the matrix algebra. Nextly, anyone who is practising quantum computation may require a few examples as to how quantum gates can be used to manipulate the classical world. Thereby leveraging the power of both the quantum and classical worlds.
- My preferred choice would

[2021-02-15 07:21] Sukriti-sood commented on #752
@HarshCasper In the Twitter script do we need to download a video or need the link of video

[2021-02-15 07:34] HarshCasper commented on #752
Link is fine, since we are storing everything in a CSV.

[2021-02-15 11:03] lopeselio commented on #738
Can I take this up  for Javascript?

[2021-02-15 11:25] DiegoCaraballo commented on #752
Hello @HarshCasper @Sukriti-sood
I am already working on this, but I have some confusion with the expected result.
What exactly would be the desired output for each of the fields?
Thanks

[2021-02-15 12:48] HarshCasper commented on #752
Having a CSV file with these fields would be great:

1. Tweets
2. Retweets
3. Likes
4. Pinned (if present)
5. Hashtags, Videos, Photos

We don't need to download all of that. Having their URLs would simply do the trick

[2021-02-15 12:48] HarshCasper commented on #738
Just use `/assign` and a bot will assign you this.

[2021-02-15 16:14] #761 closed

[2021-02-16 04:34] #705 closed

[2021-02-16 12:39] pritamp17 opened #771 "Anime tracker script"
______________________________________________________________________________________________________________________
-->

# Description

Python Script that can give anime info such as
1. Number of episodes release
2. Genres
3. Date of release
4. Rating

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [x] Python

[2021-02-16 12:40] pritamp17 commented on #771
Please assign this issue to me in python.

[2021-02-16 21:25] DiegoCaraballo commented on #752
Hello @HarshCasper
The only thing I am missing is the hashtag, what do you mean by that?
Is there a place on Twitter that shows the hashtags that a particular user has used?
Regards

[2021-02-17 05:27] Sukriti-sood commented on #752
what I understand is In particular tweet what hashtags are used like #100daysofCode.

[2021-02-17 05:30] Sukriti-sood commented on #752
@HarshCasper  In the tweet video , some of the video urls are not working @DiegoCaraballo  Do you also face this issue.

[2021-02-17 14:09] DiegoCaraballo commented on #752
Hello @Sukriti-sood @HarshCasper
Perhaps I have misunderstood the issue.
I start the solution from a user, example: @DiePyCar (Twitter)
From this user I extract the Tweets, Retweets, Likes, Pinned, Videos, Photos, but I don't understand the hashtag part.

[2021-02-17 14:14] DiegoCaraballo commented on #752
For this part of Issue I use the Twitter API and had no problems with the Photos and Videos links. At least the ones I could review.

[2021-02-17 14:21] HarshCasper commented on #752
Hi @DiegoCaraballo

I was looking for a solution to have the Hashtags scrapped as well. This can be used to track and analyze the most common hashtags that the person uses. For example, many Developers use hashtags like #100DaysOfCode, #Javascript and more.

If the Client or the API that you are using, does not provide that feature, you can skip that part. Or you can process the tweet and extract

[2021-02-17 14:32] DiegoCaraballo commented on #752
@HarshCasper ahh ok.
But would the hashtag be in the same column of the CSV as the photos and videos?
¿O el hashtag, las fotos y los videos serían 3 columnas diferentes?
Example:
**Hashtags, Videos, Photos**
Link Video
Link Video
Link Photo
#hashtag
#hashtag
#hashtag

[2021-02-18 04:55] #710 closed

[2021-02-18 05:22] #677 closed

[2021-02-18 06:14] HarshCasper commented on #752
They can be different columns!

[2021-02-18 06:48] pritamp17 commented on #771
Please add SWOC label also,  u will solving this issue under SWOC.

[2021-02-18 07:02] nimit2801 commented on #14
@HarshCasper I've researched a bit and found out to use the Reddit API, I need OAuth Token. I can do things with OAuth and get memes. But it will need a secret each time you make a request. Do you think I should use Reddit's API or try to scrape data with some python/js library.

[2021-02-18 10:11] HarshCasper commented on #14
Both the approaches are okayish for me. Please go ahead with the one that you find the most customizable.

[2021-02-18 17:26] DiegoCaraballo commented on #752
Hello @HarshCasper
Before I submit the pull request, do I need to modify the Python README.md file?
Do I add it in alphabetical order?
And should I change the numbering of the following?
Thanks!

[2021-02-18 20:44] vismitap commented on #756
Hey! I would like to work on this issue as a part of DWoC. Please assign this to me!

[2021-02-19 05:43] Aayush-hub commented on #736
@HarshCasper Can I work on this under Mwoc and Swoc labels?
 I will make GUI using python which takes input of locations and give result of distance between locations.

[2021-02-19 06:25] Aayush-hub opened #775 "Dino Game Automater"
# Description

"Python Script to automate Dino Game(No-Internet game)."

## Language

- [x] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ------------------------------------------------------ | ------- | -----------------

[2021-02-19 06:26] Aayush-hub commented on #775
@HarshCasper Can I work on this issue under SWOC and MWOC labels?

[2021-02-19 10:03] HarshCasper commented on #11
/assign

[2021-02-20 07:40] HarshCasper commented on #775
Hi @Aayush-hub

Thanks for creating the Issue!

Unfortunately, we already have an implementation for the same. Can you have a look on the same and suggest me ways in which you can improve it.

[2021-02-20 07:42] HarshCasper commented on #771
Hi @pritamp17

You have been working on a lot of Issues and created many PRs. Can you drop me a mail [here](mailto:erbeusgriffincasper@gmail.com) and let me know all the PRs that you made and the apt points so that I can get the Leaderboard updated.

Thanks!

[2021-02-20 07:43] HarshCasper commented on #752
Please don't update it now. I have realized that it is unfriendly for new contributors to update them. I will soon create a way to have it flexible without caring about alphabetical order and more. You can make the PR (Excited to have it) :)

[2021-02-20 07:43] HarshCasper commented on #736
@Aayush-hub Can you see my above message which states: `Why do we need a Frontend when we don't even have GUI Apps in the Project?`

[2021-02-20 09:52] Aayush-hub commented on #736
@HarshCasper  So, if project demands working on terminal, I can make a script which works on terminal. Can I go ahead sir?

[2021-02-20 15:36] pritamp17 commented on #771
@HarshCasper I have sent the email .

[2021-02-20 18:08] CharvyJain opened #779 "Voice Recorder Application Using Python"
# Description

This Script is a voice recorder implemented using Tkinter.

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powershell
- [X] Python
- [ ] Other (Please specify)

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- |

[2021-02-20 18:09] CharvyJain commented on #779
/assign

[2021-02-21 06:17] #735 closed

[2021-02-21 06:41] RutvikJ77 opened #781 "Improve the python readme file. The content is repeating."
# Description
The python folder readme file content has repeated content.

## Checklist

|name|about|labels|assignees|
|----|-----|------|---------|
|Bug| Unnecessary redundancy !|bug,MWoC, easy, good-first-issue|self-assign |

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Python'
2. Click on 'README.md'
3. See error

**Expected behavior**
Single occurrence for the projects.

**Scree

[2021-02-21 06:43] RutvikJ77 commented on #781
\assign

[2021-02-21 06:50] RutvikJ77 commented on #781
/assign

[2021-02-21 06:56] RutvikJ77 commented on #781
lol! The issue is fixed.

[2021-02-21 06:56] #781 closed

[2021-02-21 17:14] achalesh27022003 commented on #779
@CharvyJain mam  I would like to work on this. pls assign me this under DWoC.

[2021-02-21 17:16] achalesh27022003 commented on #766
Is this issue open for DWoC too?

[2021-02-21 17:38] achalesh27022003 commented on #552
is it similar to web scraping? @HarshCasper  sir.

[2021-02-21 17:38] achalesh27022003 commented on #552
[Reference](https://www.geeksforgeeks.org/reading-selected-webpage-content-using-python-web-scraping/)

[2021-02-22 01:20] DiegoCaraballo commented on #752
Hello @HarshCasper
I have uploaded my Pull Request, but I have had some errors. Could you clarify what it is?
Thanks

[2021-02-22 07:24] #732 closed

[2021-02-22 08:49] HarshCasper commented on #779
Hi @CharvyJain

Thanks for creating the Issue. Please don't use Tkinter since we don't have a provision of a GUI-App in the Project. Instead use a CLI or a simple Script that can make it possible.

[2021-02-22 08:50] HarshCasper commented on #766
Yeah. Go ahead

[2021-02-22 08:50] HarshCasper commented on #752
Please ignore them for now.

[2021-02-22 08:50] HarshCasper commented on #736
Can you give me a brief gist on how a CLI App will work in this case?

[2021-02-22 10:58] Aayush-hub commented on #736
@HarshCasper The app I made is helpful is calculating distance between two geolocations in kilometers. It uses python geopy module. It asks user to enter starting and ending location, and converts it into locations longitude and latitude to calculate distance.

#### Sample Screenshot:
![Capture](https://user-images.githubusercontent.com/65889104/108699104-d9ea0180-752a-11eb-8d75-283b6ed6e957.png)

[2021-02-22 17:30] CharvyJain commented on #779
@HarshCasper Sure! I can use CLI.

Assign me under DWOC

[2021-02-23 10:43] vismitap commented on #732
Please add level-X tag also to this! 😅

[2021-02-23 18:13] sohamsshah opened #786 "Real Time Image/Marker tracker Augmented Reality based Web Script"
# Description

A Script to track Image/Markers in Real Time Web Application.
In Augmented Reality applications, a particular element/event is triggered/shown based on some defined `Image` or a `Marker`. Once Image or a Marker is tracked, some object/event can be shown to the user in order to give an acknowledgement of the functionality.

This Script can be a good start-point for anyone who wants t

[2021-02-24 06:52] Aayush-hub commented on #736
@HarshCasper Can I go ahead with this script??

[2021-02-25 06:06] Aayush-hub commented on #775
@HarshCasper I am unable to find dino script in the repo, can you please link it here?

[2021-02-25 18:45] DiegoCaraballo commented on #165
Hello @HarshCasper
I would like to work on this issue.

[2021-02-26 04:40] pritamp17 opened #789 "BITCOIN Price Tracker"
Track Bitcoin Price In Real-Time.

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powershell
- [x] Python

[2021-02-26 04:42] pritamp17 commented on #789
@HarshCasper please assign this issue to me under SWOC.

[2021-02-26 06:04] anirudhsai20 commented on #682
Hi @HarshCasper . Please allow me to work on this issue under SWOC .

[2021-02-26 06:33] anirudhsai20 opened #790 "Enhancement of README.md file"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

README.md enhancement

| name            | about                                                  | labels  | assignees

[2021-02-26 06:34] anirudhsai20 commented on #790
Hi @HarshCasper . Please assign me this issue under SWOC.

[2021-02-26 16:04] #752 closed

[2021-02-27 13:42] vybhav72954 opened #792 "A COVID Tracking WhatsApp Bot, customizable enough for every user."
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

A covid tracking whatsapp bot leveraging SMS-APIs.

## Language

- [x] Python

## Checklist:

- **Details on the Script**

I want to make a Whatsapp Bot f

[2021-02-27 13:43] vybhav72954 commented on #792
/assign

[2021-02-27 15:01] #718 closed

[2021-02-27 15:52] vybhav72954 commented on #665
/assign

[2021-02-27 15:53] vybhav72954 commented on #665
Lol this is so funny, Amazing Bug XD

[2021-02-27 15:53] vybhav72954 commented on #665
@HarshCasper Can you please see this PR, or else I will be unassigned once again XD. I will see whats causing this bug as well

[2021-02-28 03:52] #14 closed

[2021-02-28 04:51] HarshCasper commented on #552
Hello @achalesh27022003

Yes

[2021-02-28 04:52] HarshCasper commented on #665
Sure. Reviewed and some tiny changes are suggested

[2021-02-28 04:52] pritamp17 commented on #789
/assign

[2021-02-28 04:56] HarshCasper commented on #682
@Ayush7614 and @anirudhsai20

I don't find any merit for having a script for creating emoji. Maybe I will tag other maintainers: @sohamsshah @seema1711 who can better find the purpose behind it.

[2021-02-28 04:59] HarshCasper commented on #736
Sure @Aayush-hub

[2021-02-28 05:00] HarshCasper commented on #775
Find it [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Chrome_Dino_Script)

[2021-02-28 05:01] HarshCasper commented on #779
DWOC is already over. If you plan to work on it go ahead. Otherwise, I can open this Issue for others

[2021-02-28 05:08] HarshCasper commented on #789
@pritamp17 : Just a heads-up. Today is the last day for SWoC

[2021-02-28 05:15] HarshCasper commented on #790
@anirudhsai20

Thanks for making the Issue and detailing a lot about it!

We already list our Open Source Events [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Open_Source_Events).

Coming to the second part, can you tell me which research papers have cited this project? I am generally curious to know if someone is actually using it in some way or the other.

[2021-02-28 05:52] #792 closed

[2021-02-28 06:01] HarshCasper opened #796 "Propose a new Python README"
## Description

Propose a new Python README for contributors. You can take some inspiration from the presentation method followed in [NeoAlgo](https://github.com/TesseractCoding/NeoAlgo) to present the scripts in an easy to go manner, without making a lot of changes and edits.

Currently the Python README is hard to edit and make sense of. New Contributors always face a problem while editing the R

[2021-02-28 06:09] Aayush-hub commented on #775
@HarshCasper Sir, the program is fine but, personally I think it's messed up and not beginner friendly as we don't need 3 `.py` files to automate game and its readme quick start file structure is not clear about how to start. The automation can be done in one file itself.

[2021-02-28 06:18] RutvikJ77 opened #799 "Stopmotion videos from a normal video."
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description
Creating stop-motion videos is a tedious process. This script will convert normal videos into stop motion videos.

## Language

- [ ] Bash
- [ ] Go
- [ ] J

[2021-02-28 06:19] RutvikJ77 commented on #799
/assign

[2021-02-28 07:23] sohamsshah commented on #682
@Ayush7614 and @anirudhsai20

I agree with Harsh. This piece of code might be used in some small chunk of an application; but independent script for implementation of this doesn't make much sense. Maybe you can brainstorm and modify the script so to provide value?
Eg. "A script that automatically adds emoji based on Sentiment of the text provided" - can be a legible script. You can find similar so

[2021-02-28 08:43] pritamp17 commented on #789
ok👍

[2021-02-28 08:48] pritamp17 opened #800 "Get WIFI Passwords"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description
A Python Script which when Executed on the target machine will send all the WIFI names and their respective passwords stored in it, through Given Email.

#

[2021-02-28 08:49] pritamp17 commented on #800
/assign

[2021-02-28 08:50] CharvyJain commented on #779
@HarshCasper Can I do under SWOC ? I will make PR today.

[2021-02-28 08:57] #665 closed

[2021-02-28 09:22] HarshCasper commented on #779
Go ahead! I will be available the entire day for PR reviews.

[2021-02-28 11:22] #765 closed

[2021-02-28 13:56] #799 closed

[2021-02-28 16:56] CharvyJain commented on #779
@HarshCasper You can open this Issue for others.

[2021-03-01 03:36] HarshCasper opened #805 "Remove the Project Admin Portion from README"
## Description

Remove the Project Admin Portion from the README file. As of now, my picture and details are displayed on the README as the Project Admin.

As the Project has grown, it would be better if the term "Project Admin" is replaced by "Maintainers". As of now, these are the official maintainers of the Project:

- Harsh Mishra ( @harshcasper )
- Soham Shah ( @sohamsshah )
- Seema Saharan (

[2021-03-01 03:52] HarshCasper opened #806 "Delete Tweets automatically"
# Description

Delete Tweets automatically. For an active Twitter user, there is a lot of ramblings that people do, and it is always best to keep the timeline sacred, to prevent any controversy. As a Twitter User, I would like to have a script that can delete the tweets automatically. But then again, it should not be a dumb delete. We can customize it to have a few features like:

- Passing the ti

[2021-03-01 03:59] HarshCasper opened #807 "Script to download Khan Academy Videos"
# Description

Create a Script to download videos from Khan Academy. The Script should be available with some default options like:

- Downloading a Course by passing ahead the URL
- Search the courses interactively and downloading them ahead
- Downloading all the courses all together

You are free to have your own customization as part of it and come up with your own unique ideas.

## Language
-

[2021-03-01 04:11] HarshCasper opened #808 "Script to crawl Web Browser History and generate meaningful insights"
# Description

Create a Script that can crawl up my Internet Browser History (Chrome/Firefox) and generate useful insights on the websites I visited and the time spent on each of them. As an end output, you can generate a graph to show the time distribution across the various apps and a CSV file listing down all the websites (excluding the subdomains) to understand the time spent on each of the pl

[2021-03-01 09:46] HarshCasper opened #809 "Preventing reporting the Project as a "Jupyter Notebook" Repo"
## Description

Majority of the Scripts on the project are either in Python, Javascript and Golang. Some of the contributors started contributing Jupyter Notebooks as well, in a bid to have a better visualization for the scripts that they wrote. It not only enhanced the understanding for a user but for scripts that relied on AI/ML, it gave a better insight into the functionality.

However, Jupyter

[2021-03-01 09:52] HarshCasper opened #810 "Add Powershell and BASH to the README"
In the section `Languages used in this project`, we don't have BASH and Powershell included. It would be good to have these portions as well.

[2021-03-01 10:00] HarshCasper opened #811 "[Proposal] Scripts in Rust"
## Description

Rotten Scripts traditionally hosts scripts around Python, Javascript and Golang. It comes as a no surprise since these languages have a community centered around them, with some awesome packages and libraries for almost every development needs.

However, since we are looking at things from a more diverse point of view, we would love to have scripts in various languages as well. And

[2021-03-01 12:05] vybhav72954 commented on #811
This is one great idea.

[2021-03-01 13:05] subhamagrawal7 commented on #805
I would like to try this. Could you assign it to me?? Also, should I just put the Linkedin links below images or do you want any other links as well??

[2021-03-01 13:53] DiegoCaraballo commented on #165
Hello @HarshCasper
It had occurred to me to do a search in google, example: "MR. Robot" filetype: torrent
And from there collect the .torrent files. Or should I search specific pages?

[2021-03-02 15:00] pganguli commented on #807
Since the current labels do not mention bash, I'm asking this; is it okay if this feature is implemented using bash scripting, that internally depends on the presence of the youtube-dl binary in $PATH ?

[2021-03-02 15:09] pganguli commented on #762
In pull request #804, @vybhav72954 mentioned that there are still around 50% formatting issues left to correct. If no further work is being done on this, I'd be happy to take over from where it was left off and (hopefully) close this issue. I'm asking for this assignment for GSOOC'21.

[2021-03-02 15:15] pganguli commented on #809
I'd like to work on this for GSSOC'21.

[2021-03-02 15:16] vybhav72954 commented on #762
@pganguli Thanks for reminding me, I will open a separate issue, say by tomorrow, explaining what is left, you can take that issue by using `/assign`.

@HarshCasper Does that sounds fine to you?

[2021-03-02 15:28] #661 closed

[2021-03-02 15:46] pganguli commented on #808
How do you suggest to calculate the amount of time spent on a particular domain (including subdomains)? As far as I can tell, the browsing history DBs of both Firefox and Chrome/Chromium store the time of access only, not the time of leaving the website. Even if we try to gague the time spent on a website A1, given that the history entry for website A1 is followed by website A2, by subtracting the

[2021-03-02 16:01] pganguli commented on #762
Thanks. A description of what's left to be done will help me a lot.

[2021-03-03 06:42] saaalik commented on #810
I rushed to do the same, but the readme has already been update to have BASH and Powershell in `Languages used int this project` section. You can close this issue

[2021-03-03 07:48] saaalik commented on #809
You have added `.gitattributes` in python folder, I think it is supposed to be added in the main directory

[2021-03-03 08:37] pganguli commented on #809
It can be added it the root of any directory that contains the files that are to be acted upon. Since the Python dir contains all the *.ipynb files, I think it is better to put our .gitattributes file in the root of that dir, rather than the repo root.

[2021-03-03 10:32] #762 closed

[2021-03-03 11:54] #810 closed

[2021-03-03 11:55] HarshCasper commented on #809
Why do we have two Pull Requests for the same issue :sweat_smile:

I would generally advise for everyone to wait until the maintainer assigns someone for the Issue. If the Issue has been assigned to someone only then you can make a PR.

[2021-03-03 11:59] HarshCasper commented on #808
That's a very good question. Thanks for bringing this up @pganguli !

Maybe as a walk around, we can ideate on a Chrome Extension that can help simplify few things for us. The extension can track the websites we are visiting and using a simple API endpoint, we can communicate this data to a script.

However this whole implementation would be an overkill for the current scope of the Issue and Proje

[2021-03-03 12:04] HarshCasper commented on #807
I wanted this to be done the hard way :sweat_smile:

No worries. You can still attempt it using BASH and can assume that youtube-dl binary is present.

[2021-03-03 12:06] HarshCasper commented on #165
Your approach seems doable.

[2021-03-03 12:10] vybhav72954 commented on #808
Once made an extension for a different purpose, but am pretty sure special-purpose APIs like `chrome.idle`, `chrome.runtime` can solve these problems.

Again you will need an `eventListener` along with `FocuseWindows` i imagine.

If you are planning to use JS, that would probably be the way to go.

If you are planning in Python like @HarshCasper Said, an extension on a framework can help

[2021-03-03 13:14] pganguli commented on #807
Even with the easy approach, it can get 'messy' pretty quickly :sweat_smile: .
Here's a half-ccoked script that scrapes their website for topics and prints out the sub-topics under them:
[ka.txt](https://github.com/HarshCasper/Rotten-Scripts/files/6076161/ka.txt)

Right now, I'm thinking of adding some more scraping logic to have it print out the titles of the links (instead of the barely readable

[2021-03-03 14:25] HarshCasper commented on #807
Looks awesome!

We can review the approach once the PR is made. Everyone is open to take up any Issue they feel like.

[2021-03-03 14:42] pganguli commented on #807
Thanks for the assignment. I should have a working version in about a week from now (let's say, 15th March). Polishing it might take a few more days.

[2021-03-04 03:10] sohamsshah commented on #808
Yes, this might be a challenging feature. Though, it is one of many features/things we can track by browsing history. To start, one can keep it agile and implement the must-haves and then along the way keep adding and brainstorming others.

By browser history crawling we can:
- Which sites are most visited
- Explains users' intent
- Browsing Time can be used to sort content
- In turn can be a prod

[2021-03-04 10:16] #775 closed

[2021-03-05 09:17] Saransh-cpp commented on #754
I am so sorry for the delay, I got busy with my internal examinations. I will un-assign myself to make room for others, I will take this up again if no one works on it and when my exams are over.

[2021-03-05 13:41] kmryashasvi opened #817 "Add banner of crosswoc to the readme file"
I will add banner of crosswoc to the readme file so that, people will know it is associated to crosswoc.
 Moreover, I will associate link of the crosswoc website to its banner such that, if someone clicks the banner on readme file, it will redirect them to the website of crosswoc.

[2021-03-05 14:07] DiegoCaraballo commented on #165
Hello @HarshCasper
I was analyzing and it was not possible to extract the torrents using Google.
I find it more productive to use a website like: https://thepiratebay.org/search.php
Can I extract the torrents from here?

[2021-03-07 13:09] HarshCasper opened #818 "Script for random giveaways on Twitter"
# Description

Create a Script for a random giveaway on Twitter. I recently noticed Daily.dev organizing a giveaway [here](https://twitter.com/dailydotdev/status/1367807241466871810). Being one of the winners (or a random selection, I would say), I was really interested if we can have such a giveaway script that can randomly pick up people from RTs or Replies and randomly pass us a batch of people

[2021-03-07 13:10] HarshCasper commented on #817
This Project is a part of CrossWOC but we don't need to add the banner on the main README. This project is also a part of other FOSS Programs, and it would be counter intuitive in that case.

[2021-03-07 13:19] kmryashasvi commented on #817
Okay then I am closing this issue
Thank you

[2021-03-07 13:19] #817 closed

[2021-03-07 21:05] sohamsshah opened #819 "Color Picker from Image/Video feed using Python"
# Description

Pick the color from the pixel of the image which is mouse-clicked and print the RGB value of the color. Color Picker is one of the fundamental snippet widely used during Computer vision applications. Anyone who is interested to explore Computer Vision can take this issue.

## Language
- [X] Python

## Checklist:

- **Details on the Script**

| name            | about

[2021-03-07 21:17] sohamsshah opened #820 "Optical Character Recognition (OCR): Recognize the text content in different languages from Images"
# Description

OCR is a popular text recognition technology to detect text from the images. It is widely used in automation of billing, documentation, scanning, etc. applications.

## Language Preferred but not limited to

- [X] Javascript
- [X] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees

[2021-03-07 21:34] sohamsshah opened #821 "Remove Background from an Image using Python"
# Description

Remove the background from an image in python using image manipulation libraries such as scikit-image, opencv etc.

## Language

- [X] Python
## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees                                                      |
| --------------- | ---------------------------

[2021-03-08 05:43] Itsaadarsh commented on #818
Hey there @HarshCasper, I'd like to work on this feature. So if it's not already assigned to anyone I'd like you it assign it to me so that I could get started right away.

Language : `JavaScript`

[2021-03-08 06:19] HarshCasper commented on #818
Please have a start. Let me know on this thread if you need assistance with any part.

[2021-03-08 06:57] vybhav72954 commented on #805
@subhamagrawal7 The image should redirect to GitHub Profile, while the name should be linked to LinkedIn Profile.

I will provide the Linked-In links here soon, kindly confirm once again so that  I can assign this to you.

[2021-03-08 06:59] vybhav72954 opened #822 "Welcome to GirlScript Summer of Code '2021"
Hello, Everyone ✨, Hope you guys are doing fine! 🙌

Thanks for showing your interest in being a part of the [GirlScript Summer of Code](https://gssoc.girlscript.tech/) 💥

We are super delighted to have you on board for your Contributions in [Rotten Scripts](https://github.com/HarshCasper/Rotten-Scripts) 🙌

We would be floating the links of communication challenges as soon as possible, where we wil

[2021-03-08 07:12] vybhav72954 commented on #756
@vismitap Any Updates?

[2021-03-08 07:13] vybhav72954 commented on #738
@lopeselio How are you? Any updates?

[2021-03-08 07:28] vismitap commented on #756
Yeah sorry! Give me 2 days, I will work on it as a part of GSSOC.😅

[2021-03-08 07:39] vybhav72954 commented on #756
Waiting :)

[2021-03-08 09:33] haripriya9647 commented on #805
Hey I would like to work on this issue

[2021-03-08 09:37] vybhav72954 commented on #805
I will assign this to you if @subhamagrawal7 doesn't respond by evening.

[2021-03-08 14:41] abh33 commented on #779
I would like to work on this under GSSOC'21

[2021-03-08 14:46] kshittijagrawal commented on #779
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:47] kshittijagrawal commented on #766
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:49] kshittijagrawal commented on #427
Hey there!
I'd like to contribute to the project. I want to address and fix this issue. My implementation will be in python with a clean code and documentation. Kindly provide me with this issue.
I'm also a GSSOC'21 participant.

[2021-03-08 14:53] TITHI007 commented on #819
I would like to work on it
Pl.  Assign it

[2021-03-08 14:55] sohamsshah commented on #819
@TITHI007 Sure! Let me know if you need any assistance re: solving the issue.

[2021-03-08 15:06] abh33 commented on #820
I would like to work on this issue. I am a GSSOC'21 participant.
Is there any specific use-case OCR that needs to be applied?? For example identifying billboards, etc.

[2021-03-08 15:17] HarshCasper commented on #766
Thanks for the interest!

Can you take up a batch of Scripts lacking proper documentation and make a PR for? Not much, but 5-7 of them in single batches would be good.

[2021-03-08 15:21] sohamsshah commented on #820
Sure, I am assigning this issue to you. Not specific but yes as an example test-case it is a good practice to add meaningful applications to the project. Billboards, paper bills, hard copy of documents etc. can be included. Make sure if you are using an image reference, you give credits/refs from where you are using.

[2021-03-08 16:41] kshittijagrawal commented on #766
Sure, I'll try my best @HarshCasper

[2021-03-08 17:41] pi-squared-4 commented on #821
I am GSSOC'21 participant and I would love to work on this issue, can you assign me this?

[2021-03-08 18:32] priyanshu20 commented on #786
I'd like to work on this as a GSSOC '21 Participant.

[2021-03-08 18:57] sohamsshah commented on #821
Okay great. Let me know if you need any assistance for implementing this. Make sure you follow the styling guidelines :)

[2021-03-08 18:59] sohamsshah commented on #786
@priyanshu20 I have assigned this issue to you. Let me know if any help is needed from my end.

[2021-03-08 19:18] vybhav72954 commented on #805
@haripriya9647 Am assigning this to you

[2021-03-09 03:31] subhamagrawal7 commented on #805
Really sorry for the delay..was little busy yesterday...let me know if this issue still remains unresolved.

[2021-03-09 07:43] subhangi2731 commented on #745
can you assign this issue to me?

[2021-03-09 07:44] subhangi2731 commented on #754
can you please assign this to me?

[2021-03-09 07:58] subhangi2731 commented on #811
can you please assign me this?

[2021-03-09 08:09] srimontidutta commented on #691
Hello, can I please work on this issue as a part of GSSoC 21?

[2021-03-09 08:11] srimontidutta commented on #639
Hello, can I please work on this issue as a part of GSSoC 21?

[2021-03-09 08:14] pganguli commented on #807
Can a maintainer please add the 'Assigned' tag? @HarshCasper @vybhav72954

[2021-03-09 08:16] srimontidutta commented on #444
Hello, can I please work on this issue as a part of GSSoC 21?

[2021-03-09 08:18] deepthiteki commented on #796
HI @HarshCasper,
Can I work on this under GSSOC'21

[2021-03-09 11:26] sohamsshah commented on #682
Since this script addition perhaps doesn't provide any utility to the project; I am closing this issue. There are a lot of other interesting issues OPEN on the repo; or you can also come up with idea and we can discuss as well for contributions.

[2021-03-09 11:26] #682 closed

[2021-03-09 17:50] priyanshu20 commented on #786
@sohamsshah If I use Ar.js , their starter code basically does the required task, what specifically do I have to create?

[2021-03-09 18:24] Ayushjain2205 opened #824 "Script to keep PC awake"
# Description

A script to make the PC avoid going into standby mode.
The script will automatically perform mouse clicks and keystrokes which will keep the PC awake and the user need not worry about the PC entering into standby mode.

## Language

- [ ] Bash
- [ ] Go
- [ ] Python

## Checklist:

- **Details on the Script**

| name            | about

[2021-03-09 18:27] Ayushjain2205 commented on #824
/assign

[2021-03-09 19:01] vybhav72954 commented on #579
@Siddhant-K-code Can you confirm the status!!!

[2021-03-10 03:32] Siddhant-K-code commented on #579
I tried it, but unable to implement this!!

[2021-03-10 06:48] vybhav72954 opened #825 "Update README Template"
# Intro

Recently we removed all the Images from the Repository, the images mostly lie in the READMEs, we now prefer using Image Hosting websites in order to keep the repo size in check.

# Problem

The [Readme Template](https://github.com/HarshCasper/Rotten-Scripts/blob/master/TEMPLATE_README.md) still hasn't been updated accordingly.

# Solution

A small GIF, explaining how an image can be hoste

[2021-03-10 06:49] vybhav72954 commented on #805
@haripriya9647 You are working on this?

[2021-03-10 07:42] telly-tubby commented on #771
Can I work on this as a GSSOC participant?

[2021-03-10 09:05] SSHREYA71 commented on #691
I will like to work on this issue

[2021-03-10 09:15] vybhav72954 commented on #790
@anirudhsai20 Kindly update!!

[2021-03-10 09:17] vybhav72954 commented on #779
@abh33 Am assigning this to you, kindly acknowledge ASAP as there are others as well

[2021-03-10 10:19] anirudhsai20 commented on #790
Hi! I'm afraid this repo has not been cited by a research paper yet. I wish that reserach papers do make use of this useful repo.

[2021-03-10 10:33] vybhav72954 commented on #790
I understand, thank you for contributing though!!! Have a look at open issues as well.

[2021-03-10 10:33] #790 closed

[2021-03-10 11:07] pi-squared-4 commented on #825
I am a gssoc'21 participant.
Can you assign me this issue. I would love to work on it.

[2021-03-10 11:23] abh33 commented on #779
Hey thanks. I will start working on this.

[2021-03-10 11:34] Sukriti-sood commented on #375
@HarshCasper I would like to work on

[2021-03-10 12:45] vybhav72954 commented on #825
Sure thing. As this is an easy documentation change, I am sure 2 days are enough? Try to Report by 12th March?

[2021-03-10 12:46] vybhav72954 commented on #375
Sure thing, In case you need any help, feel free to ask me.

[2021-03-10 12:47] vybhav72954 commented on #779
@abh33 Feel free to ask me anything in case you are stuck or facing issues

[2021-03-10 12:57] pi-squared-4 commented on #825
Okay, I'll do my best.

[2021-03-10 13:03] haripriya9647 commented on #805
Hey yes I am GSSoc participant and I am working on this issue.

[2021-03-10 14:39] pi-squared-4 commented on #825
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/66795444/110646065-8808d300-81dc-11eb-9cd3-ff45ee0489d0.gif)

This will do?

[2021-03-10 14:51] vybhav72954 commented on #805
Sure thing.

For Discussion, we can use the GitHub discussion tab for now. Link - https://github.com/HarshCasper/Rotten-Scripts/discussions

LinkedIn

Harsh: https://www.linkedin.com/in/harshcasper/
Soham: https://www.linkedin.com/in/soham-shah-a97b5917b/
Seema: https://www.linkedin.com/in/seemasaharan/
Vybhav: https://www.linkedin.com/in/vybhav-chaturvedi-0ba82614a/

[2021-03-10 15:06] pi-squared-4 commented on #825
Sure, will do.

[2021-03-10 15:11] SSHREYA71 commented on #796
Hi @vybhav72954  , Could i be assigned this for contribution

[2021-03-10 15:14] vybhav72954 commented on #796
@deepthiteki Am sorry I missed your comment, u still want to work on the README?

[2021-03-10 15:15] vybhav72954 commented on #796
@SSHREYA71 am sorry but @deepthiteki was first, but i have a solution, just like a Python Readme, we do have a JavaScript Readme, with the same problem, I can assign that to you if you want to.

[2021-03-10 15:18] vybhav72954 commented on #619
I can do that for sure, but a small problem here.

As you can see, the issue doesn't explain what the script actually is. So what I suggest is, please tell me, here in the comments, what you will do in this script, explain to us a bit what kind of script will it be, and what would be the dependencies. I will assign you right away.

[2021-03-10 15:19] SSHREYA71 commented on #796
@vybhav72954  I have messaged you more one more issue, "send your location" one, if You can assign me to that, it will be great else, javascript readme will also be fine. I can learn it and then do it.

[2021-03-10 15:20] pi-squared-4 commented on #825
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/66795444/110652201-28152b00-81e2-11eb-843a-2fc3da6f5b0b.gif)

This works?

[2021-03-10 15:21] vybhav72954 commented on #796
@SSHREYA71 I can assign both to you, for #619, kindly tell us what you propose, and I will assign you right away, moreover, I will make a new issue for JS README and I will assign you that, how does that sound?

[2021-03-10 15:22] vybhav72954 commented on #825
@pi-squared-4 If am not wrong, we are missing the online hosting part in this GIF

[2021-03-10 15:23] vybhav72954 opened #826 "New JavaScript README"
As proposed in #796

We need a new JS template as well. The details have been mentioned in #796 already, using the guidelines provided n that issue, propose a new JS template.

[2021-03-10 15:24] vybhav72954 commented on #826
@SSHREYA71 I can assign this to you!!!

[2021-03-10 15:29] SSHREYA71 commented on #619
I have not done this in python, but i did make an app on flutter to get the location. But i know i need libraries like json and requests and get api's . And hope to learn more through the process of doing it.

[2021-03-10 15:29] pi-squared-4 commented on #825
![update_readme](https://user-images.githubusercontent.com/66795444/110653568-63fcc000-81e3-11eb-9581-92d61aaaa475.gif)

Sorry, my bad. Glitched on my end. Now?

[2021-03-10 15:30] SSHREYA71 commented on #826
Sure! It will be a great start. I am eager to work on this.

[2021-03-10 15:31] vybhav72954 commented on #825
LGTM, Open a Pull Request please, and remember to host this GIF as well XD

[2021-03-10 15:32] pi-squared-4 commented on #825
XD. Yes sure.

[2021-03-10 15:37] pi-squared-4 commented on #825
![image](https://user-images.githubusercontent.com/66795444/110654884-8c38ee80-81e4-11eb-8ad4-0701a3d3e762.png)

This is a part of CONTRIBUTING.md and looks like this.

[2021-03-10 15:41] deepthiteki commented on #796
hi @vybhav72954
Yeah, I still want to work on this.
Thank you

[2021-03-10 15:59] vybhav72954 commented on #825
I need a few changes, but before anything, please see if the branch from which you made the PR, is a branch from master or any other branch?

[2021-03-10 16:02] pi-squared-4 commented on #825
Sorry, sorry. This is my first time contributing to open souce.
I will fix it .

[2021-03-10 16:09] vybhav72954 commented on #825
Take your time, there is always a first time.

[2021-03-10 16:17] HarshCasper commented on #826
Good Luck @SSHREYA71

@vybhav72954 is a great mentor and please reach out to him, if you have any difficulty solving this.

[2021-03-10 16:19] pi-squared-4 commented on #825
I created a new PR, check if everything works accordingly.

[2021-03-10 16:19] HarshCasper commented on #825
@pi-squared-4

Great work. Please take your time and its good to make mistakes at first so that some concepts become clear from the latter. Let us know if you are having any difficulties.

[2021-03-10 16:25] HarshCasper commented on #758
Hi @subhangi2731

Over to you. Let us know if you need any help.

[2021-03-10 16:28] HarshCasper commented on #771
A PR is pending for the same. If it sees no progress, take up the Issue with pleasure.

[2021-03-10 16:33] HarshCasper commented on #619
I'm still not very convinced with the base idea. Why do I need a script to send location to my "loved ones" when existing Apps do that really well.

I'm closing this Issue as of now, because I don't really see any value in this.

[2021-03-10 16:33] #619 closed

[2021-03-10 16:36] #809 closed

[2021-03-10 17:13] sohamsshah commented on #786
@priyanshu20 You can take a set of images/markers and show an AR object on the screen and trigger event based on each detection. For example, you take markers representing a location (like AruCo Markers are used in Drones); when a marker is detected, show an object and trigger that specifies that location.

This addition isn't application specific but an enhancement for AR development. So, you can

[2021-03-10 17:37] SSHREYA71 commented on #826
Thank you so much. Surely i will reach out to him.

[2021-03-10 18:01] sohamsshah commented on #821
@pi-squared-4 Any specific reasons why you deleted the PR?

[2021-03-10 18:04] pi-squared-4 commented on #821
I did not.

[2021-03-10 18:07] pi-squared-4 commented on #821
I am sorry, I am contributing for the first time. So I may have messed up something, can you help me out ?

[2021-03-10 18:07] vybhav72954 commented on #821
@pi-squared-4 You deleted the PR by mistake i assume, and then rather than reopening the PR, you restored the branch, I have opened  the PR so @sohamsshah PLease review the PR

[2021-03-10 18:08] vybhav72954 commented on #821
Don't worry man, I have done similar things a lot of times XD, I even recently had to make a clone of a PR because I messed up git logs, it happens 😆

[2021-03-10 18:12] pi-squared-4 commented on #821
Alright, alright.

[2021-03-10 18:22] vybhav72954 commented on #821
LOL Never XD

[2021-03-10 18:37] sohamsshah opened #830 "Broken Link and Name in Python Folder"
# Description
In the `/Python` folder, the dir - [Merge_2_PFDs](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Merge_2_PFDs) is misspelled accidentally. This has perhaps caused error while accessing the link from the `README.md` file list of the scripts in Python.

Please look into this and resolve:
- Rename the Directory as `Merge_2_PDFs`
- In that folder, there is a file named

[2021-03-10 18:42] sohamsshah commented on #826
@SSHREYA71 [This](https://github.com/ryanmcdermott/clean-code-javascript) might be useful for your implementation of documentation. Let me or any of the mentors know if you want any assistance for this.

[2021-03-10 18:44] sohamsshah commented on #821
@pi-squared-4 You did good work man. I have reviewed your PR. Make the changes and its good to be merged! And this is best part of OSS, collaboration. Never hesitate to ask questions :)

[2021-03-10 18:46] vybhav72954 commented on #826
@sohamsshah @HarshCasper @SSHREYA71 Ok so this an error on my side. What I actually wanted was a JavaScript README which is easily editable, but by mistake, I wrote Template.

Though I have made this clear to Shreya over discord, I wanted to notify you guys as well.

My Bad!!!

[2021-03-10 18:58] vybhav72954 commented on #751
@Ayush7614 You recently closed the PR, you need any help? or shall I assign this to somebody else?

[2021-03-10 18:59] sohamsshah commented on #826
Ah, gotcha. No worries ;)

[2021-03-10 19:01] vybhav72954 opened #831 "Add GSSoC'21 in Open_Source_Events"
Add GSSoC'21 in Open_Source_Events

Link to the [directory](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Open_Source_Events)

[2021-03-10 19:02] aish2002 opened #832 "Movie Info Telegram Bot"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description
A telegram bot in Python language which uses web scraping to.scrape IMDb website. This bot replies to a movie name with genre and rating of the movie and l

[2021-03-10 19:03] aish2002 commented on #832
/assign

[2021-03-10 19:39] Priya730 commented on #830
Hey! I would like to work on this issue, kindly assign it to me.

[2021-03-10 21:03] vybhav72954 commented on #831
Best of Luck, You can ask for help if required.

[2021-03-10 21:29] priyanshu20 commented on #786
I'm afraid I wont be able to work on it right now. Sorry for inconvenience.

[2021-03-11 02:51] HarshCasper commented on #832
@vybhav72954 The `/assign` seems to not work. Can you please have a look at the action?

[2021-03-11 04:10] Subhangini commented on #831
Is there any deadline for submitting PR for this issue

[2021-03-11 04:11] vybhav72954 commented on #832
@HarshCasper The issue label bot needs to run first, only after the issue has been labeled `up-for-grab` the assign action works. OP did it instantly

[2021-03-11 04:12] vybhav72954 commented on #831
This is not a major change, so I think, by today evening is an ample amount of time?

[2021-03-11 05:15] pi-squared-4 commented on #825
Did you merge my pr ?

[2021-03-11 06:10] vybhav72954 commented on #830
Hi Priya, this is a very small change, can you do this by evening 4 p.m.?

[2021-03-11 06:24] NEERAJAP2001 opened #834 "Translator Script in Python"
# Description
It's a python script to translate one language to another.
Uses Google Trans Library so requires : ```pip install googletrans==3.1.0a0```

## Language
- [x] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels  | assignees  |
| --------------- | ------------------------------------------------------ |

[2021-03-11 07:24] devRawnie commented on #806
I am a gssoc'21 participant and would like to work on this issue. I have some intermediate knowledge of python and javascript. Please assign this to me.

[2021-03-11 07:27] vybhav72954 commented on #806
Sure thing.

[2021-03-11 07:56] SSHREYA71 commented on #826
Sure,  Thank you.

[2021-03-11 08:20] NEERAJAP2001 commented on #834
/assign

[2021-03-11 08:32] RohiniRG commented on #579
I would like to work on this issue using the python library of snscrape which would be a better alternative to tweepy. I would be glad ot give it a try.

[2021-03-11 08:45] iamakkkhil commented on #152
Is this issue open yet? If yes, I would love to work on this issue because I have worked on projects involving PyPDF2 module of python. Also I am a GSSOC' 21 Participant

[2021-03-11 08:45] devRawnie commented on #806
Alright. Thank you. Will try to deliever a good script

[2021-03-11 08:55] iamakkkhil commented on #291
I would like to work on this issue, also I am a GSSoC'21 Participant. If assigned can you change the label accordingly?

[2021-03-11 08:57] Priya730 commented on #830
Yes!

[2021-03-11 09:00] vybhav72954 commented on #830
I willl review it soon

[2021-03-11 09:01] Priya730 commented on #830
Sure! Thanks!

[2021-03-11 09:57] #830 closed

[2021-03-11 09:58] vybhav72954 commented on #291
@iamakkkhil Sure thing, try to reply within a week

[2021-03-11 10:06] vybhav72954 commented on #152
Hi there, we already have a script for this [here](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Merge_2_PDFs).

If you can upgrade this script somehow, throw me your suggestions and i will assign this to you.

[2021-03-11 10:07] vybhav72954 commented on #579
Awesome @RohiniRG Keep me posted in case you face any problem

[2021-03-11 10:08] vybhav72954 commented on #834
@HarshCasper What do you think about the viability of the Issue?

[2021-03-11 12:31] kshittijagrawal commented on #427
Hey @HarshCasper !
Should I add a GUI to the script or simple command line will do the job?

[2021-03-11 13:52] vybhav72954 commented on #427
@kshittijagrawal It is preferable if you keep a simple CLI script

[2021-03-11 15:29] #825 closed

[2021-03-11 15:32] vybhav72954 commented on #825
@pi-squared-4 Great Job, Just a pointer:

- It is always preferable to make changes in as few commits as possible.
- So next time, try to make all the changes in 1 commit.
- Also, i believe you can write better commit messages, cause you did that in some cases.

Thank you contributing, would love to see you again on this project, look for other issues as well if you want 👍🏻

[2021-03-11 16:40] rahulraikwar00 commented on #756
Hey! I would like to work on this issue as a part of GSSOC21. Please assign this to me!

[2021-03-11 16:44] vybhav72954 commented on #756
@vismitap Can you confirm the status. @rahulraikwar00 I will assign if i will receive n update

[2021-03-11 16:51] rahulraikwar00 commented on #756
update ? what kind of?

[2021-03-11 16:58] vybhav72954 commented on #756
No update from @vismitap as the issue is already assigned to him.

[2021-03-11 16:59] vismitap commented on #756
@vybhav72954 I am having my exams now, so could not complete. It's ok, please assign @rahulraikwar00. I will claim another issue in some days. So sorry!😣

[2021-03-11 17:03] vybhav72954 commented on #756
Nevermind, please focus on your exams for now, you are always welcome here. Do have a look at the open issues once your exams are over., and thank you for the timely update.

@rahulraikwar00  Assigning this to you. Best of Luck, in case of any problem feel free to ping me.

[2021-03-11 17:07] pganguli commented on #807
PR #839 raised. Since this issue has been assigned to me now, can a maintainer please add the "GSSOC'21" tag to both this issue and the linked PR? Thanks :)

[2021-03-11 17:25] gokulsoumya commented on #811
I've started a discussion on #838 regarding rust programs.

P.S. I'd like to work on this as part of GSSoC'21.

[2021-03-11 18:01] vybhav72954 commented on #811
@gokulsoumya Thank you for showing interest, I will get back to you ASAP

[2021-03-11 19:54] rahulraikwar00 commented on #756
What should I name this tool?
Like..
Example: prreport , prview, or prworkflow
Suggest me a memorable short name?

[2021-03-11 20:08] vybhav72954 commented on #756
Lets keep it prworkflow only XD

[2021-03-12 05:39] kshittijagrawal commented on #427
Hey @vybhav72954 !
Looks like your project already has a Cryptocurrency-Converter CLI version. I'll add a new directory to implement the GUI version of the same.
Will that be okay?

[2021-03-12 05:52] vybhav72954 commented on #427
@HarshCasper Please see to this

A PR was made in #615 which had a typographical error in the Body of PR and hence even after merging the issue wasn't closed.

@kshittijagrawal Before working on GUI, can you check if you can make the current script better by introducing a functionality or something, cause we don't have any GUI script in the project. Rest @HarshCasper will decide.

[2021-03-12 07:00] rahulraikwar00 commented on #756
@vybhav72954 there is 2 ways to get details about the project
1. Through full url : we can take full url of project from user .
2. Through username and project repo : ex :- "username/repo"

What should I do?

[2021-03-12 07:04] vybhav72954 commented on #756
Username/Repo is a better option

[2021-03-12 10:02] iamakkkhil commented on #291
Hey there are total of 6 things :
1. Heading (Name of pblm statement, time , std input and output)
2. Problem statement (with images if any)
3. Input
4. Output
5. Example
6. Note

So how many of them I need to scrape ?
and will it be fine if I scrape <li> tags as get_text() or do you need it separately?

[2021-03-12 11:45] Rupa-421 opened #841 "Word cloud generator using python"
needed **This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

 I want to add python scripts for generating word cloud which is a famous data visualization technique used.

## Language

- [ ] Bash
- [ ] Go
- [

[2021-03-12 11:58] vybhav72954 commented on #841
@Rupa-421 Welcome to Rotten-Scripts.

We have this script [already](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/Create_Word_Cloud).

Can you make this better, if yes tell us how and I will assign this to you

[2021-03-12 12:02] SmritiAgrawal04 commented on #640
Hi! Is this issue being worked upon? I'm a participant of GSSOC'21 and want to work on the same, please assign me this issue.

[2021-03-12 12:05] vybhav72954 commented on #640
@SmritiAgrawal04 Sure thing!!!

[2021-03-12 12:07] SmritiAgrawal04 commented on #605
Hi! Is this issue being worked upon? I'm a participant of GSSOC'21 and want to work on the same, please assign me this issue.

[2021-03-12 12:11] vybhav72954 commented on #605
Hey @SmritiAgrawal04 we have a script for the [same](https://github.com/HarshCasper/Rotten-Scripts/tree/master/Python/RSA_Key_Generation)

KIndly go through this once, if you can make this script better, suggest me ideas and I will assign you the same.

[2021-03-12 12:38] Rupa-421 commented on #841
Yeah ,I can make it better it take input of only text file according to present code but I can add feature to add even Excel and CSV file's then I will read the data from those files and convert them to string by that I can generate wordcloud.So if you like this feature you can assign me 😁

[2021-03-12 12:45] rahulraikwar00 commented on #756
@vybhav72954  it Looks like this for now yet to add more options and functionality,
and one thing to ask is , can i cache the api response in a json file because it would make this really fast.
![Screenshot_14](https://user-images.githubusercontent.com/54519734/110941773-dcd45700-835e-11eb-9ea3-226cafab607d.png)

[2021-03-12 12:50] SmritiAgrawal04 commented on #605
Hey! I went through the script. It does store the public and private key files but does not do the actual encryption and decryption procedures on any file. Also these files(pem files) are not saved as per user requirements, can you please check? For further analysis,please assign me the issue.

[2021-03-12 13:05] vybhav72954 commented on #841
Excel and CSV files sound good to me, @HarshCasper What do you think?

[2021-03-12 13:06] vybhav72954 commented on #756
@HarshCasper @sohamsshah

[2021-03-12 13:09] vybhav72954 commented on #605
@HarshCasper What do you think? I think that the script we currently have is lacking the encryption part as well, and the idea is good to go from my side. @sohamsshah @seema1711

[2021-03-12 13:15] vybhav72954 commented on #756
This looks good to me!!!

I think making a Json file is a good idea for API response. This will make the script more useful.

[2021-03-12 14:07] rohank2502 opened #842 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 14:07] rohank2502 opened #843 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:37] vybhav72954 commented on #843
@rohank2502 The script follows `all-contributors` specification. How is your suggestion better?

[2021-03-12 14:38] vybhav72954 commented on #842
@HarshCasper Over to you

[2021-03-12 14:53] iamakkkhil commented on #291
Also, can you help me out that how to deal with mathjax code.
Suppose if N is in mathjax format and after scraping it becomes $$$n$$$. how to solve this

[2021-03-12 15:06] rohank2502 commented on #842
Thanks !

On Fri, Mar 12, 2021 at 8:08 PM vybhav72954 ***@***.***>
wrote:

[2021-03-12 15:11] rohank2502 commented on #843
Means ?

[2021-03-12 15:11] vybhav72954 commented on #842
Kindly note that the issue hasn't been assigned.  Please wait for the PA to check the viability of the issue, then only start working on it.

[2021-03-12 15:15] vybhav72954 commented on #843
This project follows [this](https://allcontributors.org/) method for updating the contributors' list. How is the solution that you want to provide is better than the one we are already using

[2021-03-12 15:50] rahulraikwar00 commented on #756
@vybhav72954  i've completed the basic structure of tool prworkflow
should i push it ? i need to confirm whether it is going in the right direction ?

[2021-03-12 16:09] HarshCasper commented on #756
@rahulraikwar00 In my opinion, you can make a PR and keep it as a draft. It would ensure that your progress is completely logged up on our side. Good work mate!

Coming to the caching part, JSON is a good way.

[2021-03-12 16:12] #805 closed

[2021-03-12 16:26] sohamsshah commented on #820
@abh33 are you working on this?

[2021-03-12 16:28] abh33 commented on #820
Yes. I am working on this. I will create a Pull request by tomorrow.

[2021-03-12 17:01] rahulraikwar00 commented on #756
I don't know how to convert pull request into draft
And do I need to download whole project if I want to push my files?
I mean do I need to setup whole rotten-scripts project locally to work on it?

[2021-03-12 17:01] Sukriti-sood commented on #375
@vybhav72954 Should I use Linkedin API or automate it using selenium.

[2021-03-12 17:05] HarshCasper commented on #756
I will do it for you.

You just need to clone it up. No installations or anything required.

[2021-03-12 17:05] vybhav72954 commented on #756
Check the [CONTRIBUTING GUIDE](https://github.com/HarshCasper/Rotten-Scripts/blob/master/CONTRIBUTING.md). This will help you with setting up Rotten-Scripts.

talking about draft, I will do that, or you can do that yours as well!!! The option is on top right after you will make the PR.

[2021-03-12 17:08] vybhav72954 commented on #375
@Sukriti-sood
Though I will prefer API, you can use Selenium as well. As per my understanding, it's better to use API.

[2021-03-12 17:14] RohiniRG commented on #579
Hello! So I am almost done with the code, but what details associated with the hashtags should I add to the file (Eg.username, tweet, date, time, location, id, etc. or should I add them all?) And also, what file format should I go with (.txt, .csv, .json, .pdf) ?

[2021-03-12 17:15] rahulraikwar00 commented on #756
Ya ..that is what I'm talking about is there any way to clone a perticular folder? Or have to clone whole project?

[2021-03-12 17:17] HarshCasper commented on #756
@rahulraikwar00 : Whole Project

[2021-03-12 17:41] vybhav72954 commented on #756
Why you closed the PR?

[2021-03-12 18:03] rahulraikwar00 commented on #756
I've uploaded file directly 😅, some files were missing
I'll do it  by tomorrow evening 👍🏻
And is it ok if i push files with virtualenv folder?

[2021-03-12 18:53] vybhav72954 commented on #756
I don't think we need virtualenv folder. Any specific reason you want to push it?

The `bin`, `lib` and all other directories shouldn't be pushed to repo, and you can keep them in your directory though `.gitginore` will take care of it.

[2021-03-12 22:48] rahulraikwar00 commented on #756
Some checks are failing! What should I do?
Spelling check! 😅 Prworkflow Don't make sense

[2021-03-13 02:33] Siddhant-K-code commented on #579
Yes, you can add them all. in a `.csv` format { and, make user-defined fileNameProvidedByUser.csv => just ask for the input of fileName}

[2021-03-13 06:24] NEERAJAP2001 commented on #834
@vybhav72954 Can This issue get GSSOC Tag?

[2021-03-13 06:46] vybhav72954 commented on #834
Please wait till @HarshCasper can confirm the viability of the issue. I suggest not starting a PR

[2021-03-13 09:10] rahulraikwar00 commented on #756
@vybhav72954 please review my pr

[2021-03-13 14:54] sakar97 opened #847 "Create AWS_EC2-Instance[Python]"
# Description

Deploying EC2 instance on AWS using a single python script. I can see there is a Golang script for the same but not the python script.

[2021-03-13 14:56] sakar97 commented on #847
Assign me for this issue, I will work on this [GSSoC21]

[2021-03-13 15:03] vybhav72954 commented on #756
@rahulraikwar00 Let me check

[2021-03-13 15:08] vybhav72954 commented on #847
Sounds good to me :)

[2021-03-13 17:17] seema1711 commented on #605
Yes, @vybhav72954, these are different scripts, and I think @SmritiAgrawal04 can start working on the new one.

[2021-03-13 17:20] vybhav72954 commented on #605
@seema1711 Thank you for confirming!!!
@SmritiAgrawal04 You are on roll. Please feel free to ask me anything.

[2021-03-13 18:43] vybhav72954 commented on #843
@rohank2502 Please update

[2021-03-13 18:47] vybhav72954 opened #849 "Make PyLint ignore Module Docstring"
# Description
The PyLint report generates an error ```C0114 (missing-module-docstring)``` for most of the Python files.

We don't need this sanity check for our Repo.

So we can make sure that PyLint ignores it.

**Expected behavior**
PyLint should ignore Missing DocString.

**Additional context**
The solution is rather simple and requires some small edits it in this [config file](https://github.c

[2021-03-13 19:03] vybhav72954 commented on #824
@Ayushjain2205 Updates please

[2021-03-13 19:08] vybhav72954 commented on #796
@deepthiteki Any updates?

[2021-03-13 19:24] priyanshu20 commented on #849
Hey @vybhav72954 in the config file under Message controls there is a list of codes that are disabled. To fix the issue do we have to add C0114 do the list?

[2021-03-13 19:30] vybhav72954 commented on #849
@priyanshu20 You just need to add the ID there, yes!!!

[2021-03-13 19:45] priyanshu20 commented on #849
Thank you , I was confused by the level2 tag, and thought I did not understand the issue completely.

[2021-03-13 19:50] vybhav72954 commented on #849
Yeah, I labeled it by mistake. SMH

[2021-03-14 03:58] HarshCasper commented on #842
I don't think we need it as of such. We are expanding more by adding new languages like Rust, Elixir so they would need to expand dynamically. On the other hand, if you have ideas to make the README more flexible and beautiful, you can create an Issue for sure.

[2021-03-14 03:58] #842 closed

[2021-03-14 03:59] HarshCasper commented on #843
I don't think we need a new contributor section.

[2021-03-14 03:59] #843 closed

[2021-03-14 03:59] HarshCasper commented on #841
Looks good to me! Assigned 🎉

[2021-03-14 05:39] Ayushjain2205 commented on #824
@vybhav72954  almost done with the code will make a PR in a days time

[2021-03-14 11:09] subhangi2731 commented on #758
hello sure.. I am working on this Can you tell me ur discord username for reaching u out??

[2021-03-14 12:49] SmritiAgrawal04 commented on #605
Hey! I'm done writing the script. Please look into it and suggest improvements.

[2021-03-14 16:38] Supriya1702 commented on #822
@vybhav72954  I am a GSSOC'21 Participant. I would like to contribute to this. Could you specify the changes needed in the documentation?

[2021-03-14 17:02] srimontidutta commented on #444
Should I submit it in .ipynb or .pdf format?

[2021-03-14 18:47] vybhav72954 commented on #444
@srimontidutta Jupyter will work

[2021-03-14 18:50] vybhav72954 commented on #758
@subhangi2731 You can find the channel rotten-scripts in discord of GSSOC

[2021-03-15 07:10] RohiniRG commented on #579
@vybhav72954 @HarshCasper @seema1711 could you please have a look at the PR and let me know if there is something I need to work on

[2021-03-15 09:04] NEERAJAP2001 opened #856 "Script for BitCoin Mining in Python"
# Description

It's a script to mine bitcoin but It actually won't reward any bitcoin as the difficulty level is 20 which requires huge processors for rewarding.
So, It's a fun project to understand how hashing, etc works.
I will give complete details in a pdf file to understand everything from scratch.
I would Like to work on this issue as well as part of GSSOC-21.
Thanks

## Language

- [ ] Bash

[2021-03-15 09:57] NEERAJAP2001 commented on #856
/assign

[2021-03-15 14:17] iamakkkhil commented on #291
@vybhav72954 @HarshCasper @seema1711 could you please have a look at the PR and let me know if there is something I need to work on

[2021-03-16 12:58] rahulraikwar00 commented on #756
@vybhav72954  These features has been added! Apart from these, if you want to add anything, please let me know
1. How many PRs are open? How long have the PRs been open?
2. Number of Comments on open PRs?
3. Merged PRs
4. Closed PRs

[2021-03-16 19:53] Debashish-hub opened #858 "Face Recognition and Facial Expression Recognition in python"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description
I would like to create a script of Face recognition which can detect the face of a person and show his/her name from the database and another script that w

[2021-03-17 05:28] NEERAJAP2001 commented on #834
any updates @vybhav72954?

[2021-03-17 07:26] Riddhima-jain commented on #745
Hey, can you assign this issue to me?  ( I'm a participant of GSoc'21 )

[2021-03-17 10:43] vybhav72954 commented on #756
@HarshCasper @sohamsshah @seema1711 WHat do you guys think?

[2021-03-17 10:44] vybhav72954 commented on #858
This looks good to me

[2021-03-17 10:56] vybhav72954 commented on #834
I will get this done by tonight for sure

[2021-03-17 18:04] XZANATOL commented on #757
Hi, I'm a GSSOC participant and I am interested on help solving this issue. I've recently began learning Github Actions and I've read your requirments. I think I can help fullfil 2 out of 3 requirments.

## What I can fullfill
1) Build an action that can check whether or not the PR has a valid issue number linked to it. (with adding ReadyToReview tag)
2) Build an action to automatically close rela

[2021-03-17 18:14] vybhav72954 commented on #757
Generally, we don't assign multiple people to the same issue in this repo so it wont be a problem.

How are you planning to fulfil these2 events, walk me through and I will assign this to you.

[2021-03-17 18:40] #831 closed

[2021-03-17 18:45] HarshCasper commented on #834
I don't think translator scripts hold much value. My reasoning being:

- People generally prefer Web-based Translators
- Translation Script essentially here is as easy as installing a module and calling it
- People generally would not use a CLI for this

Thanks for creating the Issue!

[2021-03-17 18:45] #834 closed

[2021-03-17 18:46] #832 closed

[2021-03-17 19:03] aaadddiii opened #861 "Heart disease prediction"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

Please include a summary of the issue.
This is machine learning model trained using ucl heart disease dataset , the script predicts whether a person has h

[2021-03-17 19:34] XZANATOL commented on #757
First event will get triggered using any of the following triggers "edited, synchronize, opened, reopened", the event will be divided into 2 jobs.
1) check for valid issue links
2) If found, label it as "Ready_to_Review", If not: comment a message for the author of the PR to remind him to edit the PR.

Second event will get triggered on closing a PR and checking it subflag of .merged whether it's

[2021-03-17 19:38] vybhav72954 commented on #757
I like the idea. Do send me your `yaml` file here.

[2021-03-17 19:44] XZANATOL commented on #757
I've one that i was testing this morning on this repo
https://github.com/XZANATOL/Github-actions-test/blob/main/.github/workflows/pr_issue_checker.yml
The other one didn't build it yet, but my algorithm to it is ready

[2021-03-17 21:06] rahulraikwar00 commented on #756
@vybhav72954
@HarshCasper
Can we access the "repository pulse" through GitHub api? if not is there any alternative?

[2021-03-18 03:23] sagniknayak commented on #861
I am a GSSOC '21 participant.
I would like to work on this issue.
Please assign me for this.

[2021-03-18 03:36] aaadddiii opened #865 "Script to find Network passwords"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

This script find all the network passwords stored in a windows computer

## Language

- [x] Python

## Checklist:

- **Details on the Script**

Wifi passw

[2021-03-18 03:39] aaadddiii commented on #861
/assign

[2021-03-18 03:39] aaadddiii commented on #865
/assign

[2021-03-18 04:01] sagniknayak commented on #861
/assign

[2021-03-18 04:02] sagniknayak commented on #861
How do I self-assign this issue?

[2021-03-18 04:03] sohamsshah commented on #756
Great work @rahulraikwar00
I guess the features you have added are great. Curious, if we can access the tags/label on the PR, so more custom search/filter can be made on each feature? For example, Number of PRs open with tag "X" and Number of comments on open PR with tag "X" and so on. This can be a great use-case for a Repository for checking on PRs that are under "GSSoC 21" or "Under-review" or

[2021-03-18 04:09] sagniknayak commented on #861
/assign

[2021-03-18 04:11] sagniknayak commented on #861
I cannot assign myself this issue because it has already been assigned you @aaadddiii. Could you please help me with this?

[2021-03-18 05:19] #579 closed

[2021-03-18 06:03] vybhav72954 commented on #861
@sagniknayak Author mentioned their GitHub handle in the body of the issue, so its assigned to him, please take other issue

[2021-03-18 06:08] vybhav72954 commented on #579
@RohiniRG Kudos to you!!! Looking for more from you. @Siddhant-K-code Thank you for help

[2021-03-18 06:31] devRawnie commented on #806
I was able to make one functionality. I am working towards adding more along with a command line interface for the same

[2021-03-18 06:36] RohiniRG commented on #579
Thanks a lot! @vybhav72954 @HarshCasper @Siddhant-K-code it was a great first experience! Looking forward!

[2021-03-18 07:44] iamakkkhil commented on #610
I would like to work on this issue.
I am a GSSOC 21 participant.
if assigned please change the tags accordingly.

[2021-03-18 07:44] RohiniRG commented on #466
Hello! I would like to work on this issue if it is still available as a participant of GSSoC 21, as I have worked on similar wikipedia scraping projects before. If assigned, please change the tags accordingly.

[2021-03-18 08:06] vybhav72954 commented on #610
Assigned. Best of Luck!!!

[2021-03-18 08:07] vybhav72954 commented on #466
@RohiniRG Best of Luck!!!

[2021-03-18 08:50] Sukriti-sood commented on #375
@vybhav72954  I have confusion regarding skills , Do I need to scrap skills which are endorsed by someone or everything which written in Skill and Endorsement Section in Linkedin Profile, And Sorry for delay ,I will do this soon.

[2021-03-18 08:52] vybhav72954 commented on #375
Endorsed ones only. If skills arent endorsed, a message depicting the same will do the job

[2021-03-18 13:03] vybhav72954 commented on #858
@Debashish-hub The issue is still assigned to you. Looking forward to a new PR.

[2021-03-18 13:27] NEERAJAP2001 commented on #856
@HarshCasper is this issue viable for GSSOC-21
Thanks

[2021-03-18 14:00] SmritiAgrawal04 commented on #640
Are you planning to assign this to me?

[2021-03-18 14:09] vybhav72954 commented on #640
This is awkward 😛
My bad, I thought I assigned it to you already 😓

[2021-03-18 14:10] vybhav72954 commented on #640
Thanks for reminding

[2021-03-18 14:29] sohamsshah opened #869 "Markdown to HTML converter"
# Description

This Script would convert markdown files into HTML. Can be extremely useful for developers who are implementing modern text enhancement features as most blog sites, note apps etc. are adapting markdown support.

## Language

- [X] Javascript
- [X] Python

## Checklist:

- **Details on the Script**

| name            | about                                                  | labels

[2021-03-18 14:37] vybhav72954 commented on #856
This looks good, you can start working @NEERAJAP2001

[2021-03-18 17:27] XZANATOL commented on #757
@vybhav72954 any updates?

[2021-03-18 17:54] vybhav72954 commented on #757
Sorry i was a bit busy with things. I will review this by tomorrow for sure.

[2021-03-18 18:48] divyanshu887 commented on #869
/assign

[2021-03-18 19:49] SmritiAgrawal04 commented on #640
haha, no issues. Will work on it. Thanks!

[2021-03-19 00:34] BJSwaroop commented on #766
Can I work on this @HarshCasper . As I am a beginner in coding I want to Update the Documentation.

[2021-03-19 00:49] BJSwaroop opened #870 "Broken Image link [Documentation]"
# Description
As I am new to open source. I am contributing in documentation first.

About - The image link has been broken in the file Automate_Telegram[Python]. I want to change the link and fix that.

"Found a bug in Automate_Telegram[Python]."

I am participating in GSSoC '21
I need label of GSSoC '21

Assignees - @vybhav72954 @HarshCasper Can I work On this issue?

**screenshots**
![image](ht

[2021-03-19 00:50] BJSwaroop commented on #870
I want to work on this.

[2021-03-19 00:51] BJSwaroop commented on #870
/assign

[2021-03-19 07:44] vybhav72954 commented on #870
Cool! Please go through the whole Repo. And try to find a few more broken link, update them as well in the same PR, accordingly, I will put the difficulty label.

[2021-03-19 07:47] vybhav72954 commented on #766
@BJSwaroop

Yes you can

[2021-03-19 07:48] vybhav72954 commented on #858
Are you working on this? @Debashish-hub

[2021-03-19 07:51] Debashish-hub commented on #858
Yes

[2021-03-19 08:31] vybhav72954 opened #872 "Change the spell checking action!"
So some of you might have noticed, the spell-checking action is a bit of a mess.

It creates too much noise, and is usually ignored by the contributors and maintainers.

I want to change the action (I made it in the first place and it's not up to the mark).

Go to the [action](https://github.com/HarshCasper/Rotten-Scripts/actions/workflows/md_spell.yml), figure out the problems, search for solutio

[2021-03-19 15:18] sohamsshah commented on #869
@divyanshu887 Do let me know if you need any assistance while working on this.

[2021-03-19 15:20] sohamsshah commented on #819
@TITHI007 are you working on this? Do let me know if you are facing any roadblocks while implementing this.

[2021-03-19 16:15] #291 closed

[2021-03-19 18:49] DiegoCaraballo commented on #872
Hello @vybhav72954

The documentation says the following:

When and if the run finds spelling errors, you have two options:

- Correct spelling mistakes in relevant files

- Add the relevant words to a custom word list, to be ignored

If you do the latter, you must add the following to the spell checker settings, in the dictionary:

       word lists:
       - .wordlist.tx

In my opinion, words sh

[2021-03-19 19:00] vybhav72954 commented on #872
@DiegoCaraballo Thanks for having a look at this, but here you can see, we have a [wordlist](https://github.com/HarshCasper/Rotten-Scripts/blob/master/.github/linters/.wordlist.txt)

[2021-03-19 19:03] DiegoCaraballo commented on #872
@vybhav72954
Yes, I understand it, but the ones that give an error are others:

![1](https://user-images.githubusercontent.com/21015263/111830382-9d60ba00-88cc-11eb-8fba-a934138db61f.PNG)

[2021-03-19 19:09] vybhav72954 commented on #872
Oh, wait!
I haven't mentioned the wordlist in the YAML file.

That's my mistake!

But there is another problem in the action, As you might have noticed, all the MD files in the codebase are being checked for every PR.

`wordlist` can solve a small part of the problem, but the major problem will remain the same.

In case you want you can add the wordlist in the action workflow.

[2021-03-19 19:55] rahulraikwar00 commented on #756
I was trying for almost 2 days..
But we can't access tags directly from pull request through GitHub api
We have to make request for each request to get labels
I'm trying some other things
Like GitHub graphQL api
May be this functionality can be achieve by this ..
Give me couple days more.. I'll definitely come with a solution 👍🏻

[2021-03-19 20:10] vybhav72954 commented on #756
Please take your time

[2021-03-20 00:06] DiegoCaraballo commented on #745
I am waiting for the approval of the following PR: [#859](https://github.com/HarshCasper/Rotten-Scripts/pull/859)

I would like to solve the following challenge if possible.

Regards

[2021-03-20 08:48] #849 closed

[2021-03-20 15:02] XZANATOL commented on #757
@vybhav72954 Any news?

[2021-03-20 17:49] subhangi2731 commented on #754
@HarshCasper can you please guide me on this on how the functionalities can be implemented?

[2021-03-20 19:02] rahulraikwar00 commented on #756
@HarshCasper @vybhav72954
GitHub graphQL api use authentication token instead of username and password
Which is kinda make things complex
To generate a token and thn login into script and thn use it..
I've tried to utf-8 base64 string for authentication header but it didn't worked
And a good news is that with data mining using graphQL we can get whatever we need in our script
Like ; tag , assignee

[2021-03-21 05:23] anandhu-eng commented on #466
hello....im a gssoc 21 participant and a python enthusiast.. i would like to contribute to this project.
please do assign it to me:)

[2021-03-21 08:02] Pretty-19 commented on #869
@sohamsshah  new to open-source was interested in contributing.

[2021-03-21 12:36] Sukriti-sood commented on #375
@vybhav72954  I have added PR but it failed many checks, Can you help me to resolve them

[2021-03-21 18:53] TITHI007 commented on #819
@sohamsshah yeah
Did the Pull request
Pl. Do check it out and let me know if anything to be improved .

[2021-03-22 01:21] mdPial commented on #540
I would like to work on that under GSSoC'21.

[2021-03-22 06:16] RavjotSandhu commented on #821
Is it still open?

[2021-03-22 12:13] #807 closed

[2021-03-22 12:15] #427 closed

[2021-03-22 12:23] #165 closed

[2021-03-22 12:39] #610 closed

[2021-03-22 15:42] sohamsshah commented on #869
Thank you for the interest. If Divyanshu isnt working, I will assign this issue to you. Else, there are many open issues on the Repo, you can work on those as well or if you have some good automation script idea, feel free to create an issue and lets discuss.

[2021-03-22 17:22] sohamsshah opened #881 "Notify Real Time Stock Market Updates via a Slack Bot using Slack API"
# Description

This Script must add a Slack Bot to the workspace which notifies the user whenever there is an update in the Stock Market Prices.
This Slack Bot will help the user be notified. Idea is to make this Script handy for the people investing in Stock Market. Moreover, this script isn't limited to just this idea. On Brain storming an amalgamation of multiple APIs to serve a specific need c

[2021-03-22 17:24] sohamsshah commented on #881
@vybhav72954 @HarshCasper @seema1711 any views upon this?

[2021-03-22 18:00] iamakkkhil commented on #641
@all-contributors please add @iamakkkhil  for documentation

[2021-03-22 18:04] RohiniRG commented on #641
@all-contributors please add @RohiniRG for code

[2021-03-22 20:50] varshith-k commented on #766
@vybhav72954 I'd like to work on few documentations, Can i?

[2021-03-22 20:52] varshith-k commented on #869
@sohamsshah I'm Interested in this. If no one is picking up it in time, Please assign this to me.

[2021-03-22 20:55] varshith-k commented on #779
Is this issue still open @vybhav72954 ?

[2021-03-22 21:07] abh33 commented on #779
I am actually working on this.

[2021-03-22 21:16] Ayushjain2205 opened #884 "Script to notify user with live cricket score"
# Description

A to notify user with latest cricket score. The user will get desktop notifications with live cricket score updates.
This live match information will be scraped from cricbuzz and then live match information will be shown to user inform of desktop notifications

## Language

- [ ] Javascript

## Checklist:

- **Details on the Script**

| name            | about

[2021-03-22 21:16] Ayushjain2205 commented on #884
/assign

[2021-03-22 21:20] Ayushjain2205 commented on #884
/assign

[2021-03-23 02:43] #861 closed

[2021-03-23 03:53] divyanshu887 commented on #869
yes i am on it @sohamsshah

[2021-03-23 04:34] sohamsshah commented on #869
Okay great. 🙌

[2021-03-23 06:38] aish2002 opened #885 "Temperature Conversion"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

Script to convert temperature from one scale to another. (3 scales- Kelvin, Fahrenheit, Celsius)

## Language

- [x] Python

## Checklist:

- **Details on

[2021-03-23 06:40] aish2002 commented on #885
/assign

[2021-03-23 09:02] rahulraikwar00 commented on #756
@seema1711 can you please help me?

[2021-03-23 09:05] HarshCasper commented on #756
@rahulraikwar00 To be simple, we can go with your existing script now. Next we can build on it to add more features to the same. What do you think?

I'm personally fine with either of them.

[2021-03-23 09:12] Sukriti-sood commented on #738
/assign

[2021-03-23 09:45] rahulraikwar00 commented on #756
But existing script does nothing except display open pulls .!
And now I have come forward very much, it is 10 times better than the one I was working on.
And it will fish by tomorrow evening, then we'll decide ..I think so.!
@HarshCasper  now it's a full fledged cli tool
And the key features are:
  1. Can display - Open , close , merge
  2. Search with tags as suggested by @sohamsshah
  3. It has

[2021-03-23 09:49] sohamsshah commented on #756
Good work 💪 @rahulraikwar00 I loved the never-give-up attitude haha.

I agree to @HarshCasper on the point that if the implementation is getting more complicated and tedious, you can surely improve later; and current work is also good.

But I believe if you can implement such good feature, I encourage this and also more than happy to help, if you need any.

[2021-03-23 10:00] rahulraikwar00 commented on #756
Thank you 😁
I don't worry about if this count as a single pull request.
The thing is during this project I learnt a lot things.
Sometimes it took me to reach up to 3rd page of Google 😂
So I don't want to let my "mehnat" waste.
So I want do this.
Yes I need help,
I searched a lot but unable to find the way to verify graphQL api using username and password.
Please let me know if you find.

[2021-03-24 07:44] Tarun-Kamboj opened #888 "Python Script to schedule a google meet."
# Description

Python Script to schedule a google meet, send invitation to the respective emails and set an event for the meet in the calendar too. The script will take email ids and time as input and create a google meet for these email ids at the specified time. These email ids will also receive an invite in the gmail inbox and an event will also be created in the calendar of these email ids for

[2021-03-24 07:45] Tarun-Kamboj commented on #888
/assign

[2021-03-24 07:45] Tarun-Kamboj commented on #888
/assign

[2021-03-24 09:12] srimontidutta commented on #444
I have added the Jupyter and readme file. Please check it @vybhav72954

[2021-03-24 14:26] SmritiAgrawal04 commented on #734
Can I work on this issue?

[2021-03-24 14:40] SmritiAgrawal04 commented on #423
May I work on this issue?

[2021-03-25 07:03] rahulraikwar00 commented on #756
@sohamsshah can you please review it

[2021-03-25 08:30] manas221 commented on #639
Hello there , can i work on this issue as a contributor for the gssoc'21 ?
If possible ,please assign this to me.
Thank you.

[2021-03-25 11:47] XZANATOL commented on #524
@HarshCasper Hi, is this issue free for the grab? because these is a participant already assigned and these is the "Up-For-Grab" label here..

[2021-03-25 15:34] manas221 commented on #639
/assign

[2021-03-25 20:27] haarsh01 commented on #663
Hey, I am a GGSOC'21 participant. Can I work on this issue,? If it is open please assign it to me.

[2021-03-26 00:16] XZANATOL commented on #524
/assign

[2021-03-26 05:55] rahulraikwar00 commented on #641
@all-contributors please add @rahulraikwar00 for Code

[2021-03-27 03:35] vybhav72954 commented on #766
Yes PLease. Open a PR as soon as you have sorted out a few.

[2021-03-27 03:52] vybhav72954 commented on #734
Requested to wait till Sunday, as we have a PR for the same, the author has posted no updates so if by Sunday there are no updates, I will assign this to you.

[2021-03-27 03:56] vybhav72954 commented on #639
@srimontidutta Sorry i missed this notification. YOu want to work on this?

@manas221 Srimoni asked first so I would like to wait for a response from her side, if there are n updates I can assign this to you for sure.

[2021-03-27 04:45] vybhav72954 commented on #758
@subhangi2731 Any updates??

[2021-03-27 04:47] vybhav72954 commented on #663
@haarsh01 Sure thing!!!

[2021-03-27 04:53] vybhav72954 commented on #821
A PR for this is open!

[2021-03-27 05:01] vybhav72954 commented on #639
@manas221 @srimontidutta
The issue is already open in #771

Am closing this issue for the same reason.
A PR is open as well, but we haven't received any updates from the OP.

The issue will be marked open if there are no further updates.

[2021-03-27 05:01] #639 closed

[2021-03-27 06:16] srimontidutta commented on #639
@vybhav72954 So then, can you please clarify if this issue is assigned or not?

[2021-03-27 06:18] srimontidutta commented on #771
@vybhav72954 What will the process be of reassigning this issue in case a PR is not made?

[2021-03-27 14:31] vybhav72954 commented on #771
@srimontidutta THere is a PR already #777

Although we have asked for a few changes but no response from OP. Lets wait for 2 more days, else we will close the PR cause of no updates and you can take this issue

[2021-03-27 14:51] #888 closed

[2021-03-27 14:55] #736 closed

[2021-03-28 07:15] RituCs commented on #818
Hello , I would like to contribute on this issue.If no one is working on this issue then please assign me.

[2021-03-28 07:28] Itsaadarsh commented on #818
Hey @RituCs, yes please go ahead I'm caught up in some work at the moment.

[2021-03-28 07:32] SmritiAgrawal04 commented on #423
Hi,

Please review the idea I have for this. I'm planning to go through each python script in the codebase and check on each code line through regular expressions if it gets or sets any environment variable. If it does so, I'll be using a set/dictionary to save that variable. Finally having read all the scripts I'll write this set/dict to output file.

Let me know if you find this correct or sugge

[2021-03-28 08:21] vybhav72954 commented on #818
Thnks for confirming

[2021-03-28 08:22] vybhav72954 commented on #423
@HarshCasper What do you think?

[2021-03-28 18:48] Yuvraj-kadale opened #895 "Meeting Bot"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

A python bot that aims to join the google meetings at a **_scheduled time_** in our absence.

## Language

- [ ] Bash
- [ ] Go
- [ ] Javascript
- [ ] Powe

[2021-03-28 18:56] Yuvraj-kadale commented on #895
/assign

[2021-03-29 03:15] manas221 commented on #789
Hi, I would like to work on the go implementation of the issue for gssoc.

[2021-03-29 03:15] manas221 commented on #789
/assign

[2021-03-29 14:57] anuragmukherjee2001 opened #900 "Google Browser Clone"
**This template is strictly for requesting New Scripts, if you want a new feature (automating this Repo,**
**a change in structure) in the Repo,**
**or you want to report a Bug. There are other templates which you should follow**

# Description

The browser will contain all the basic functionalities that a browser should have. It has a home button which takes the browser directly to the home page,